[2021-04-12 16:12] DoS007 opened #284 "Difference between pylance and intellicode for python"
I didn't find any information about that. Can someone name the differences between pylance extension and additionally installing intellicode extension for python programming on vscode (since pylance already uses ai?)? (Or maybe the appropriate place to get these information)

Thanks, greets, DoS

[2021-04-12 22:07] markw-t commented on #284
@DoS007 - IntelliCode (for Python in VS Code) has only one feature at present: it provides the prioritized "stars" at the top of the completions list which show the most likely completions for your current coding context at the top of the completions list. You can read about what the IntelliCode extension for Visual Studio Code provides [here](https://docs.microsoft.com/en-us/visualstudio/intellic

[2021-04-14 15:55] Migisen opened #285 "An empty model is passed, no starred suggestions"
**Product and Version** [VS/VSCode]: VSCode 1.55.2
**OS Version** [macOS/Windows]: Arch Linux
**IntelliCode Extension Version**: 1.2.12
**Target Platform or Language** [e.g. Node.js]: Python 3.9
Intellicode can't load a model, no errors in output.

### Intellicode output:

[code]
### Language server output:
[code]
### Python output:
[code]

**Steps to Reproduce / Scenario:**

1. Install python, py

[2021-04-15 14:03] DoS007 commented on #284
@markw-t Thank you.

I read your both links and tested myself.  So everything which the IntelliSense addon adds is to move some popular used APIs to the top. Ok, I thought at first it would also add more things like further completion recommendation like tabnine or kite (because of the naming 'artificial intelligence-assisted ').

Pylance doesn't provide this either ('code completion' probably mea

[2021-04-15 14:58] markw-t commented on #284
Thanks for the feedback! PyLance's code completion is the non-starred part of the completions lists.

I'll tag @savannahostrowski to address your question on comparison of PyLance and Jedi.

[2021-04-15 17:29] savannahostrowski commented on #284
@DoS007 We don't currently have any documentation on the differences between JediLSP and Pylance but we are working on it. I'll update here when that's available.

[2021-04-16 14:03] DoS007 commented on #284
@savannahostrowski Thank you. Sounds good.

[2021-04-16 18:58] pgroene commented on #285
@savannahostrowski who can investigate why the model would be empty?

[2021-04-16 19:16] savannahostrowski commented on #285
@jakebailey Do you have any insight into this?

[2021-04-16 19:18] jakebailey commented on #285
That log message seems like a red herring to me; those aren't Pylance logs.

If trace logging for Pylance is enabled, we can see if IC failed to load for some reason.

[2021-04-16 19:54] Migisen commented on #285
In trace logs I saw, that pylance could not download the insider build for some reason.
So, I turned off pylance insiders build and starred completions are appearing now.
Thanks for help!

[2021-04-19 18:50] DavidObando commented on #285
Thank you for the feedback. Closing.

[2021-04-20 08:54] mart-256 opened #286 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.2.12`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.55.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-04-20 08:55] mart-256 commented on #286
[code]

[2021-04-20 17:49] shwetha1729 commented on #286
Hi @mart-256 - sorry you are hitting this issue. Could you give us more detail on when you're seeing this issue so that we can try to reproduce it?

From the error message this looks like a connection issue, if you're behind a proxy or firewall that could be the reason for the connection being rejected.

Thanks,
Shwetha

[2021-04-26 18:40] DavidObando commented on #286
Hi @mart-256, are you still running into issues getting IntelliCode to work?

[2021-05-04 17:51] TylerLeonhardt opened #287 "Support Workspace Trust"
# Support Workspace Trust

Hello :wave:  I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as *Workspace Trust*. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code befor

[2021-05-06 12:39] aleksa-stojsic commented on #269
Update on this issue. I think you are right @minestarks, I've noticed that properties don't get self-closing brackets ```()``` when I type enter in VSCode, or even ```(``` instead of Enter. I'll have to do some testings on the new machine with Ubuntu subsystem on my laptop. While I'm lerning, typing some new projects, I can post the updates on this issue here if that helps. Testing things with Int

[2021-05-07 00:03] markw-t opened #288 "IntelliCode should rank suggested usings from C# analyzers"
**Feature Request:**

In many cases developers would prefer to have their favourite "usings" remembered and suggested at the top of the list as appropriate. Could IntelliCode rank this list?

See https://twitter.com/arcadio_g_s/status/1390422813576630272

![image](https://user-images.githubusercontent.com/12836119/117379682-d65cea00-ae8c-11eb-9a63-3983a5d52f7d.png)

[2021-05-10 14:53] markw-t commented on #171
Thanks Peter; the intent of #102 is to cover all possible scenarios where users might want an offline ability to use IntelliCode's base completions by means of some sort of download. We don't yet have support for this but that issue is meant to collect all the votes for such a capability in one place. Does that make sense?

[2021-05-10 18:36] markw-t commented on #102
To ensure it's clear: we are now using this issue to track the entire notion of having IntelliCode's base completions feature work for machines that are fully offline with no internet access. It's what you should upvote if this scenario is important to you (as it is to many who have already commented and voted above)

[2021-05-10 18:45] DavidObando commented on #287
Hi @leti367 can you look into this?

[2021-05-12 01:41] #205 closed

[2021-05-12 05:41] pingu8007 opened #289 "Environment variable `NODE_EXTRA_CA_CERTS` doesn't work."
**Product and Version**: VSCode
**OS Version**: Windows
**IntelliCode Extension Version**: v1.2.13
**Target Platform or Language**: Java

## Steps to Reproduce / Scenario:

1. Connect to a supervised network that MITM your connection with self-signed certificate.
2. Set environment variable `NODE_EXTRA_CA_CERTS` to the path where your root certificate located.
3. Start VSCode and open any Java pro

[2021-05-12 12:29] devanghingu commented on #57
Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.
i m facing same issue right now after update.

[2021-05-12 12:39] devanghingu opened #290 "i got an error. "Sorry, something went wrong activating IntelliCode support for Python.""
I just updated **vscode** after lunch. And i got following error in notification.

Therefore i checked output window and i got following logs there.
`Language server is set to Pylance.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Cached model is up to date.
Activating

[2021-05-12 15:56] markw-t commented on #57
@devanghingu, @EralpCelebi sorry to hear this. It would help to see the contents of your Python and VS IntelliCode output windows as this will often give clues as to what is going on.  Can you open a new issue with that information please? /cc @savannahostrowski  @luabud

[2021-05-13 00:23] tzm41 commented on #290
Same. IntelliCode version 1.2.13. Python version 2021.5.829140558.

[2021-05-13 10:41] devanghingu commented on #57
@markw-t  i updated with new issue Please check #290

[2021-05-13 11:58] kamilpiwko commented on #290
Same here. Pylance v2021.5.1, Python v2021.5.829140558. Working in WSL2.

[2021-05-13 15:00] markw-t commented on #290
Tagging relevant folks:
1. @savannahostrowski @luabud for Python & Pylance
2. @DavidObando @osobeso @leti367 for IntelliCode

[2021-05-13 15:13] savannahostrowski commented on #290
Hey folks - could you tell me what version of Python you are using?

In terms of Jupyter, we have plans to make it an optional dependency, but currently the two extensions are tightly coupled because the Jupyter extension was created from the core Python extension.

[2021-05-14 04:33] devanghingu commented on #290
Hi @savannahostrowski,
i m using following python version is my **ubuntu 18.04**.

[2021-05-14 13:27] DimitrisBovasianos commented on #290
downgrade the version worked for me so far.

[2021-05-14 14:41] devanghingu commented on #290
about what?

[2021-05-14 18:54] savannahostrowski commented on #290
@devanghingu Could you try and update the Python extension? We just released a new version which might fix this.

cc: @jakebailey in case there's more to follow up on.

[2021-05-15 04:40] devanghingu commented on #290
@savannahostrowski  Thanks for a quick update.
I tested on both machines. It works fine now. :smiley:  

[2021-05-15 17:31] markw-t commented on #290
Thanks for confirming, @devanghingu !
@tzm41 @kamilpiwko I'm not sure if your Python versions are similar to @devanghingu's - but if they are @savannahostrowski 's suggestion may work for you too. If not can you share your Python versions ?

/cc: @jakebailey

[2021-05-17 11:36] kamilpiwko commented on #290
Looks that after today's update everything got back to normal. Thanks a lot!

[2021-05-17 15:36] markw-t commented on #290
Closing out based on @kamilpiwko and @devanghingu's confirmation that the Python extension update fixed them. @tzm41 if you are still seeing problems please share your Python versions.

[2021-05-17 15:36] #290 closed

[2021-05-17 17:05] tzm41 commented on #290
Issue fixed. Thank you for the work!

[2021-05-17 17:20] markw-t commented on #290
That's great to hear @tzm41 ! Thanks for confirming.

[2021-05-17 18:41] DavidObando commented on #289
Hi @pingy8007 can you help us understand what is the goal of this setup? This is a scenario we currently don't support due to security reasons, but we'd like to learn more from you.

Thanks!

[2021-05-18 17:55] leti367 commented on #287
Thanks, @TylerLeonhardt. I've already updated package.json in our repo.

[2021-05-18 18:37] TylerLeonhardt commented on #287
@leti367 can I ask what you set it to?

[2021-05-19 07:51] pingu8007 commented on #289
Hello @DavidObando, I'm trying make IntelliSense work inside our corporation network.
Our corporation network is supervised and all traffic are scanned by MITM with self-signed certificates. The traffic to IntelliCode service is also tampered.
The self-signed root certificate is deployed through Group Policy. For application that acquire certs from Windows Trust Store there is no problem at all. B

[2021-05-19 15:24] krishnan-unni opened #291 "Sharing team models in git (non github) repo"
Question
---------------

In the Team completions models, according to this document here: https://docs.microsoft.com/en-us/visualstudio/intellicode/custom-models#types-of-team-completions-models the repository associated team models could be shared as long as they are git-sourced.

But in the document it only explains on how to integrate to GitHub repos and Azure pipelines.

I have a git repo whi

[2021-05-19 22:09] DavidObando commented on #287
Hi @TylerLeonhardt, we set it to:
[code]

We'll continue testing and will react to any unwanted effects. Our updated extension has already been published to the marketplace. Thanks!

[2021-05-20 17:11] Aditya-R-K opened #292 "Activating Python extension Error while activating Python: {}"
Moving repro details to body:

Language server is set to Pylance. Acquiring model Acquiring model 'intellisense-members-lstm-pylance' for python Querying IntelliCode service for available models. vs-intellicode-python was passed a model: {}. Downloading model. Starting download of https://intellicodeprodstorage.blob.core.windows.net/models-prod-output/Output_E61945A9A512ED5E1A3EE3F1A2365B88F8FE_E4

[2021-05-21 11:16] Rakshitjn opened #293 "Python Intellisense Not working!!!"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2021-05-21 17:02] markw-t commented on #291
Hi @krishnan-unni.

Sorry for the inaccuracy of the documentation here – we will correct that. Whilst the distribution mechanism we use to associate team models with a repository works with any flavor of git repo, the only path we support for setting up automatic retraining and distribution of a team model as part of your CI processes is via GitHub actions or Azure DevOps tasks, as you note.

Howe

[2021-05-21 17:52] markw-t commented on #291
I've fixed the doc issue so I'm closing this issue out; let me know if the machine-associated route works for you @krishnan-unni

[2021-05-21 17:52] #291 closed

[2021-05-21 17:54] markw-t commented on #293
tagging @savannahostrowski and @luabud .

@Rakshitjn please can you give a few more details about your Python setup:
1. What version of the Python extension are you running?
2. What version of VS Code are you using?
3. What Python runtime are you using?
4. It would be particularly helpful to see the contents of your Python and VS IntelliCode output windows for debugging purposes. You can check the

[2021-05-21 17:57] markw-t commented on #292
Tagging @savannahostrowski @luabud for this as it seems likely a PyLance/Python issue.

[2021-05-21 17:59] markw-t commented on #292
@Aditya-R-K can you give us a few more details please?
1.What version of the Python extension are you running?
2.What version of VS Code are you using?
3.What Python runtime are you using?

[2021-05-22 06:49] rlgloden commented on #102
Another vote for air-gapped installs.

[2021-05-22 10:16] Rakshitjn commented on #293
tagging @markw-t , @savannahostrowski and @luabud .
1. Python Extension - v2021.5.842923320
2. VS code - Version: 1.56.2 (system setup)
                    Commit: 054a9295330880ed74ceaedda236253b4f39a335
                    Date: 2021-05-12T17:13:13.157Z
                    Electron: 12.0.4
                    Chrome: 89.0.4389.114
                    Node.js: 14.16.0
                    V8: 8.9.

[2021-05-23 16:08] Aditya-R-K commented on #292
Version 3.9.5

[2021-05-23 16:08] Aditya-R-K commented on #292
Python Version = 3.9.5

[2021-05-23 16:09] Aditya-R-K commented on #292
Python version = 3.9.5
VS code version = 1.56.2
What is runtime version ?

[2021-05-23 16:21] markw-t commented on #292
Thanks @Aditya-R-K ! Runtime is the Python version (yours is 3.9.5 from the above).

By my Q1 I meant the version of the Python extension in VS Code that you are running (e.g. on my machine it is v2021.5.842923320, see the extensions pane on VSCode below):
![image](https://user-images.githubusercontent.com/12836119/119268539-4b783100-bba8-11eb-9d24-1256897ce1e5.png)

[2021-05-23 16:27] markw-t commented on #293
3. This is the version of Python you are running (e.g. if you're running Python 3 it might be 3.7.8 64 bit for instance)

Based on 4 it looks like you are having a problem with activating the whole Python extension. This is one for @savannahostrowski and @luabud .

[2021-05-24 10:28] Rakshitjn commented on #293
Tagging @markw-t , @savannahostrowski and @luabud .

python version - 3.8.6 64 bit

Now, what should i Do??

[2021-05-24 14:06] csturmer opened #294 "Intellicode suggestions ignore the 'else' keyword in the java language"
**Product and Version** [VS/VSCode]:
Version: 1.56.2
Commit: 054a9295330880ed74ceaedda236253b4f39a335
Date: 2021-05-12T17:44:30.902Z (1 wk ago)
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS: Darwin x64 18.7.0

**OS Version** [macOS/Windows]:
macOS Mojave 10.14.6

**IntelliCode Extension Version**:
v1.2.14

**Target Platform or Language** [e.g. Node.js]:
Java

[2021-05-24 15:37] markw-t commented on #294
Hi @csturmer - it looks like this is a question regarding the regular auto-completion/IntelliSense for Java (no "stars" are shown in your screen shot, so it doesn't seem like IntelliCode is involved, unless I'm missing something?).  As such I'm tagging @Eskibear to take a look as it seems like a Java extension question.

[2021-05-24 15:42] csturmer commented on #294
Hi Mark,

Sorry.  I am fairly new to VSCode and not sure where to direct things yet.  Thank you for passing it  to the correct place/person.

BTW Love this editor!

--Carl--

[2021-05-24 15:47] markw-t commented on #294
No problem at all, glad to help. And glad you are enjoying VS Code!

I hope you have chance to install the [IntelliCode extension for VS Code](https://aka.ms/vsic/xtn/vscode) and would love to hear any feedback you have there.

[2021-05-24 15:48] AntonyM71 commented on #102
And another +1 for air gapped installs

[2021-05-24 15:50] markw-t commented on #294
BTW for Java extension pack issues, you may want to file (and search for others filing) at https://github.com/microsoft/vscode-java-pack/issues

[2021-05-24 15:50] savannahostrowski commented on #293
Follow-ups:

1. What language server are you using (python.languageServer)?
2. Could you paste your logs from the Python output window so we can have a look?

![image](https://user-images.githubusercontent.com/8949415/119373052-dae71800-bc6c-11eb-84bc-be444631fa50.png)

[2021-05-24 16:14] csturmer commented on #294
I had both IntelliCode and the JavaExtensionPack installed.  I was trying different things to see if I could resolve the issue. I sure might have had IntelliCode disabled when I did the screen cap.  I was having trouble telling where one extension's features started and another stopped so I was thrashing around a bit.  In the end I just took a wild guess that it might be IntelliCode.  After your c

[2021-05-24 17:19] markw-t commented on #294
I think this will end up being a core Java extension pack issue, but I'll let @Eskibear make the final call and migrate to the other repo's issues as appropriate.  From the screenshot it appears you're seeing a partial match listing in IntelliSense (so it matches the characters e l s and e but not necessarily contiguously) -  @Eskibear can comment on whether that is expected given the else stateme

[2021-05-24 17:42] csturmer commented on #294
Sorry, still tinkering over here.  It appears to be a bit more complicated than 'it never includes else'.

If I simply find a blank line in a .java file and type else, it is at the top of the suggestions list.

However if I type in:

if( )
{
}
else

It does not appear in the suggestions list.

Examples:

[2021-05-24 18:39] #287 closed

[2021-05-25 02:17] Eskibear commented on #294
@csturmer That's probably because when there's syntax error, Java Language Server doesn't recognize it as a valid if-block.

For example if you type in:
[code]
"else" should appear in the suggestion list.

BTW, it's behavior of Java Language Server, if you have further issues/thoughts, please open ticket in https://github.com/redhat-developer/vscode-java/issues

[2021-05-25 03:58] csturmer commented on #294
Hi!

The reason I brought this up in the first place was because it became very frustrating to have to hit escape or enter and then backspace to remove the space after an else statement because it was not offering else as the first item in the list of suggestions.

Typically I don't have a syntax error when I am coding up an if else but the example I provided was not as careful, it was simply an e

[2021-05-25 04:11] csturmer commented on #294
Hi!

Tell you what though.  I will keep an eye on my specifics and see if there is something else that is triggering it.  I will make sure that if I have an incomplete or incorrect if else statement I recognize the mistake and see if there are any other things that might cause the issue.

Thanks for you time on this!
--Carl--

[2021-05-25 04:23] Eskibear commented on #294
@csturmer Thank you for all the information. If you have further findings or thoughts, I strongly recommend that you open new issues in Java extension repository, so that more developers working on or using that extension will see it. And hopefully we can improve the overall experience which also benefits other developers.

[2021-05-25 11:15] Rakshitjn commented on #293
Tagging @savannahostrowski
Actually, there is no option for python in my output section
![030c681a-4a02-4858-851d-752415771533](https://user-images.githubusercontent.com/64477084/119488834-9f397480-bd78-11eb-97e1-6953ab01dabb.jpg)

[2021-05-25 18:14] markw-t commented on #294
Given the comments above I'm closing this item out - per @Eskibear please go ahead and raise new issues on the Java extension repo for maximum visibility @csturmer and thanks for all your comments!

[2021-05-25 18:14] #294 closed

[2021-05-27 10:32] Rakshitjn commented on #293
Tagging @markw-t , @savannahostrowski and @luabud .
Hey, anyone here to help me??

[2021-05-27 14:44] luabud commented on #293
Hi @Rakshitjn, I think it may be a bad install of the Python extension. Can you try uninstalling it?

![image](https://user-images.githubusercontent.com/45497113/119846358-eb8ecc80-bebe-11eb-9c3b-f248d9705d85.png)

After you uninstall it, close VS Code and open it again, then install the Python extension once more. The reload may not be necessary but it's worth doing it just in case.

If it doesn'

[2021-05-28 10:07] Rakshitjn commented on #293
Tagging @markw-t , @savannahostrowski and @luabud .
I have tried all things possible like reinstalling extension, even I reinstalled Vs code but still nothing changed!

[2021-05-28 11:16] Aditya-R-K commented on #292
Python = v2021.5.842923320
@markw-t  sorry for late reply I'm busy for some days

[2021-05-28 11:23] Aditya-R-K commented on #292
I'm redirected when clicked on error msg to "Visual  Studio intellicode "  v1.2.14
@markw-t

[2021-05-28 13:50] markw-t commented on #292
Thanks @Aditya-R-K .

Tagging @luabud and @savannahostrowski as from the error message you were seeing it seems like IntelliCode has correctly completed downloading its model, but the Python extension itself is failing to activate.

[2021-05-28 16:15] savannahostrowski commented on #292
@jakebailey for his insight.

If this is reproduceable, can you please enable trace logging in your settings.json via "python.analysis.logLevel": "Trace" and paste your logs from the Python and Python Language Server windows?

[2021-05-28 16:54] jakebailey commented on #292
"Python extension Error while activating Python" implies that it's a Python extension problem so their logs may be more telling.

[2021-06-03 13:40] Aditya-R-K commented on #292
I have tried to paste it but it is read-only can't edit the defaultsetting json file

[2021-06-03 15:04] jakebailey commented on #292
You don't want to edit the default settings, but your user settings.

You can also find the setting in the settings UI by searching for the name "python.analysis.logLevel".

[2021-06-03 17:17] mage1k99 opened #295 "Language server extension command failed. Exception: Error: command 'python.intellicode.loadLanguageServerExtension' not found"
**Product and Version** [VS/VSCode]: 1.57.0-insider (user setup) (commit 20df87725d3ce4a501187f0240c2f159aa0ad2a5)
**OS Version** [macOS/Windows]: Windows 10 (10.0.19042)
**IntelliCode Extension Version**: v1.2.14
**Target Platform or Language** [e.g. Node.js]: Python
**Language Server** : Pylance
**Pylance Extension** : v2021.6.0
**Python Extension** : v2021.6.897246044-dev
**Python Version**: 3.

[2021-06-03 17:36] solarmist commented on #295
I'm hitting this issue as well. It started this week.

[code]

[2021-06-03 17:38] solarmist commented on #295
Here's the log from the Python extension
```Error 2021-06-03 10:31:54: stderr jediProxy Error (stderr) /Users/solarmist/.vscode-insiders/extensions/ms-python.python-2021.5.842923320/pythonFiles/completion.py:590: DeprecationWarning: Providing the line is now done in the functions themselves like `Script(...).complete(line, column)`
  script = jedi.Script(

Error 2021-06-03 10:31:54: stderr jediPro

[2021-06-03 18:13] Rebel154 commented on #293
I'm having the same issue as above. I've uninstalled/installed both the python and the VS Intellicode extensions with no change. Likewise, I've restarted VS Code and my PC too.

The error message is:

"Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details."

Visual Studio Code - Insiders

Version: 1.57.0-ins

[2021-06-03 18:57] rickstaa commented on #293
@Rebel154 I had the same problem. I managed to fix it using the following steps:

1. Remove the python extension.
2. Make sure the python extension insiders config `"python.insidersChannel": "daily"` statement is removed from your `settings.json`.
3. Remove the Intellicode extension.
4. Reinstall the python extension.
5. Reinstall the Intellicode extension.

After these steps, I was able to re-ena

[2021-06-03 19:11] Rebel154 commented on #293
@rickstaa I just followed your instructions above and the problem persists. I'm now on the latest VS Code too. One difference is that you're running Linux whilst I'm on Windows 10.

Thanks for the advice though.

[2021-06-03 19:15] rickstaa commented on #293
@Rebel154 Ah, so the steps only work on Linux. That might be helpful for the developers trying to solve this issue. If somebody experiences problems after following the steps on Linux, please comment below.

[2021-06-04 02:10] mj-crabtree opened #296 ""Language server extension command failed. Exception: Error: command 'python.intellicode.loadLanguageServerExtension' not found""
![image](https://user-images.githubusercontent.com/66781848/120735527-aaac3e80-c4e2-11eb-8087-69209c0565c7.png)

from settings.json: `"pylance.insidersChannel": "off",`

[code]

**Product and Version** [VS/VSCode]:
[code]

**OS Version** [macOS/Windows]: win10 19043.1023
**IntelliCode Extension Version**: 1.2.14
**Target Platform or Language**: Python 3.9.5 (tags/v3.9.5:0a7dcbd, May  3 2021, 17:27

[2021-06-04 05:33] frankjlin16 opened #297 "Issue with activating IntelliCode support for TypeScript/JavaScript"
**Product and Version** [VS/VSCode]: VS Code v1.56.2
**OS Version** [macOS/Windows]: Windows 10 Pro
**IntelliCode Extension Version**: v1.2.14
**Target Platform or Language** [e.g. Node.js]: JavaScript

**Steps to Reproduce / Scenario:**
1. Opened a Java file. IntelliCode activates correctly.
2. Next, opened a JavaScript file and IntelliCode throws activation error
![image](https://user-images.git

[2021-06-04 11:24] Rakshitjn commented on #293
Tagging @markw-t , @savannahostrowski and @luabud .
Hey anyone here helping me?? I am stuck!!!!

[2021-06-04 12:33] Aditya-R-K commented on #292
@jakebailey
No setting found
![image](https://user-images.githubusercontent.com/84246389/120801679-17fdb500-c55f-11eb-82fb-2a50e9e7cb51.png)

[2021-06-04 12:53] Aditya-R-K commented on #292
Thanks for helping me, don't know how but the python is working now

[2021-06-04 12:53] #292 closed

[2021-06-04 15:51] luabud commented on #293
If you run the command "Extensions: Open Extensions Folders" from the command palette, it will open the folder where all extensions live. Sometimes when uninstalling extensions VS Code may leave a few folders behind and that could cause issues.
Can you try deleting all the ms-python.python folders as well as the intellicode ones? You will probably need to close VS Code before you delete them.

[2021-06-04 19:09] Rebel154 commented on #293
@luabud  I've just deleted both extensions again (I assume that is what I should have done first) and located the extensions folder. There are no remaining folders related to the two extensions in the that folder.

[2021-06-04 20:40] #40 closed

[2021-06-04 20:40] MisinformedDNA commented on #40
Closed due to lack of interest.

[2021-06-05 11:18] Rakshitjn commented on #293
@luabud  Hey, I tried this but nothing happened it is showing ("Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.")

[2021-06-05 17:12] Rebel154 commented on #293
@luabud I didn't immediately reinstall the two extensions last night when I was doing the testing. However, I have just reinstalled them both and the error message is no longer popping up.

This is the VS IntelliCode Output text. Looks like something has changed somewhere, but I know not what.

`Language server is set to "Default". Pylance is used as current language server.
Acquiring model
Acquir

[2021-06-06 06:02] Rakshitjn commented on #293
Is ut working now?

[2021-06-06 10:48] Rebel154 commented on #293
@Rakshit It appears to be working for me at the moment.

These the 2 outputs from the extensions;

[VS IntelliCode Output.txt](https://github.com/MicrosoftDocs/intellicode/files/6604052/VS.IntelliCode.Output.txt)
[Python Output.txt](https://github.com/MicrosoftDocs/intellicode/files/6604053/Python.Output.txt)

[2021-06-07 18:39] ayim commented on #296
Hi @mj-crabtree, thanks for checking in with us about this issue.
I tried to repro with the same Python/Pylance/VSCode Insiders versions and wasn't able to run into this issue.

Has this issue happened again for you?

[2021-06-07 19:18] luabud commented on #293
Thanks for confirming that it's working for you now, @Rebel154. I'm honestly not sure what was causing the issue, my best guess is that it was a bad installation sort of problem.

@Rakshitjn is is still not fixed for you?

Just for future reference, my guidance for those who face this issue is:
- Make sure you have the latest version of VS Code
- Close VS Code
- Delete the Python, Pylance and Inte

[2021-06-07 19:29] mj-crabtree commented on #296
hi!

the issue seems to be persisting. i've since reinstalled python, ensured it's present in path, insiders has been updated and no update extensions are available on my end. if there's anything you'd like to see then let me know!

looking through the python output, this keeps cropping up when opening python files

[code]

[2021-06-08 11:06] Rakshitjn commented on #293
@luabud It is still not working for me!!!

[2021-06-08 15:43] Paril commented on #266
Just noting that this is still an issue. Can't get it to work with Pylance on latest Insiders VSCode.

[2021-06-08 15:55] luabud commented on #293
@Rakshitjn can you try it on VS Code Insiders? You can install it here: https://code.visualstudio.com/insiders/
And then install the Python and IntelliCode extensions on it. You can install it side by side with regular VS Code, one should not impact the other at all. The only difference is that VS Code Insiders get updated more regularly than "regular" VS Code.

The underlying problem is that the

[2021-06-09 10:41] Rakshitjn commented on #293
Hey @luabud, Thanks for suggesting me VS Code Insiders!! The Insider is working for me! Thanks for your help!!

[2021-06-09 10:41] #293 closed

[2021-06-09 19:40] karbassi commented on #296
As @mj-crabtree has noted, it's still persisting.

<details>
<summary>python output</summary>

[code]

</details>

<details>
<summary>VS IntelliCode</summary>

[code]

</details>

<details>
<summary>Information</summary>

[code]

[code]

[code]

[code]

</details>

[2021-06-09 19:43] karbassi commented on #296
Related to #295

[2021-06-10 18:49] Vikin05 opened #298 "Got an error: "Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.""
I got following error in notification.

Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

Therefore i checked output window and i got following logs there.

Language server is set to Pylance.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for

[2021-06-10 19:12] KelvemC opened #299 "Problem"
Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

Output python:
User belongs to experiment group 'pythonaacf'
User belongs to experiment group 'pythonJoinMailingListVar3'
User belongs to experiment group 'pythonJediLSP'
User belongs to experiment group 'pythonDiscoveryModuleWithoutWatcher'
User belong

[2021-06-10 20:56] ayim commented on #298
Hi @Vikin05 thanks for reporting this!
What version of Operating System, VS Code, Python, and Pylance are you using?

[2021-06-10 20:58] ayim commented on #298
May be related to #295, #296.
Repro'd in...

* VS Code 1.57.0 and 1.57.0-insider.
* Python: v2021.5.842923320
* Pylance: v2021.6.1
* OS: Windows 10 21H1 Build 19043.1057

[2021-06-10 20:59] ayim commented on #296
Hi there! Aaron from the Intellicode team here - we're looking into this.

Repro'd in...

VS Code 1.57.0 and 1.57.0-insider.
Python: v2021.5.842923320
Pylance: v2021.6.1
OS: Windows 10 21H1 Build 19043.1057

[2021-06-10 20:59] ayim commented on #295
Hi there! Aaron from the Intellicode team here - we're looking into this.

Repro'd in...

VS Code 1.57.0 and 1.57.0-insider.
Python: v2021.5.842923320
Pylance: v2021.6.1
OS: Windows 10 21H1 Build 19043.1057

[2021-06-10 22:23] Vikin05 commented on #298
Thanks @ayim. It has been fixed and working fine for me now.

[2021-06-10 22:43] ayim commented on #295
@mage1k99 @solarmist

Please upgrade to 2021.5.926500501 of the Python extension and let us know if the issue persists:
[marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-python/vsextensions/python/2021.5.926500501/vspackage](url)

[2021-06-10 22:43] ayim commented on #296
@karbassi @mj-crabtree

Please upgrade to 2021.5.926500501 of the Python extension and let us know if the issue persists!
[marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-python/vsextensions/python/2021.5.926500501/vspackage](url)

[2021-06-10 22:44] ayim commented on #299
@KelvemC @Kubo-SVK @Tes3awy

Please upgrade to 2021.5.926500501 of the Python extension and let us know if the issue persists!
[marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-python/vsextensions/python/2021.5.926500501/vspackage](url)

[2021-06-10 22:46] ayim commented on #298
@GeGrieftGames @noelleleigh @GPla

Please upgrade to 2021.5.926500501 of the Python extension and let us know if the issue persists:
[marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-python/vsextensions/python/2021.5.926500501/vspackage](url)

[2021-06-10 22:47] mj-crabtree commented on #296
[code]

looks good on my end! no issues to speak of from from intellicode or python.

[2021-06-10 22:49] Kubo-SVK commented on #299
Works fine for me. No more errors.

[2021-06-11 01:03] karbassi commented on #296
@ayim Fixed on my end as well. 🎉

[2021-06-11 06:36] mage1k99 commented on #295
yes, I have updated and the issue is fixed, thanks for the response :)

closing the issue

[2021-06-11 06:36] #295 closed

[2021-06-11 14:40] #298 closed, assigned to nobody

[2021-06-14 18:56] #296 closed

[2021-06-14 18:58] #299 closed

[2021-06-16 20:57] 4310V343k opened #300 "Typo in vsintellicode.modify.editor.suggestSelection"
**Product and Version** [VS/VSCode]: Code 1.57.0 (https://github.com/microsoft/vscode/commit/b4c1bd0a9b03c749ea011b06c6d2676c8091a70c, 2021-06-09T17:18:42.354Z)
**OS Version** [macOS/Windows]: Windows_NT x64 10.0.19042
**IntelliCode Extension Version**: v1.2.14
**Target Platform or Language** [e.g. Node.js]: VS Code

**Steps to Reproduce / Scenario:**

I'm pretty sure it should be `automaticallyOv

[2021-06-16 21:10] vivlimmsft commented on #300
This isn't a typo, it is intentionally written in past tense. IIRC (it's been a while since I looked too closely at it), the setting is used to store state tracking _whether_ our extension set suggestSelection to override the default.

[2021-06-17 02:10] showgood163 opened #301 "Cannot download models behind proxy and python extension fails to run properly unless manually restart the extension"
I'm in an IPv6 only enviroment. I can update extension but cannot download any models for python. The python extension fails to run properly unless manually restart the extension. This problem is very annoying.

Error Log:

[code]

[2021-06-17 09:53] rickstaa opened #302 "Intellicode insiders edition breaks emmet abbreviations"
**Version:** 1.58.0-insider
**Commit:** a81fff00c9dab105800118fcf8b044cd84620419
**Date:** 2021-06-17T05:16:54.194Z
**Electron:** 12.0.11
**Chrome:** 89.0.4389.128
**Node.js:** 14.16.0
**V8:** 8.9.255.25-electron.0
**OS:** Linux x64 5.8.0-55-generic
**IntelliCode Extension Version**: v1.0.6 (insiders)

**Steps to Reproduce / Scenario:**

1. Enable the visual studio intellicode insiders extension.

[2021-06-17 09:54] rickstaa commented on #302
/bug /insiders

[2021-07-01 21:54] leti367 commented on #302
I reproduced this bug. Seems the emmet UI is blocked, if we enable 'tab' for emmet, and press 'tab', we can still get emmet completion items. IMO this seems like a bug in vscode API.

[2021-07-03 18:03] sergiycheck opened #303 "Warning to necessary await statements"
**Product and Version** [VSCode]: May 2021 (version 1.57)
**OS Version** [Windows]: Microsoft Windows 10 Pro. Version: 10.0.19042 Build 19042
**IntelliCode Extension Version**: v1.2.14
**Target Platform or Language** : JavaScript

**Steps to Reproduce / Scenario:**

	const fruitBasket = {
		apple:27,
		grape:0,
		pear:14
	}

	const sleep = (ms) => {
		return new Promise(resolve=>setTimeout(resolve

[2021-07-04 15:02] theGirrafish commented on #263
@Eskibear Do you know the current status for this bug? I'm currently on VSCode 1.57.1 and IntelliCode 1.2.14 and still having this issue. This ticket has been open for over 6 months now, is it still only waiting on a release?

[2021-07-05 01:48] Eskibear commented on #263
@theGirrafish It was released with IntelliCode 1.2.12 several months ago.

I cannot reproduce it on my machine. Can you provide more details? e.g.
* enable/disable IntelliCode extension, see if it's the same behavior?
* what's the version of extension "Language Support for Java by Red Hat"?
* Is your JDK correctly configured and what's your project type?
* ...

[2021-07-05 19:04] theGirrafish commented on #263
@Eskibear After looking more into it, it only seems to be a problem when I have my maven project set to use Java 8, while my `java.home` path is set to use Java 11 (this is because the Java by Red Hat extension requires Java 11+ for language support).
When I change my maven project to use Java 11, the documentation works as expected.

I'm using:

- Language Support for Java by Red Hat version 0.80

[2021-07-06 08:28] Eskibear commented on #263
I'm also using JDK 11 to launch Red Hat Java extension, and JDK 8 for my Maven project. And everything works fine.

Please give it a try. Let's first figure out which extension is wrong. If the issue is still there no matter whether IntelliCode is enabled or not, you should open a ticket here
 https://github.com/redhat-developer/vscode-java/issues .

And if possible please provide a sample project

[2021-07-06 20:43] leozd1 opened #304 "Erro no intelliCode com python"
Issue Type: <b>Bug</b>

Aparece essa mensagem sempre que uso o python no visual code
"Houve um erro ao ativar o suporte do IntelliCode para Python. Verifique as janelas de saída "Python" e "VS IntelliCode" para obter detalhes."

Como resolver?
Agradeço qualquer ajuda

Extension version: 1.2.14
VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:07.755Z)
OS vers

[2021-07-07 10:42] rickstaa commented on #302
@github-actions Bad decision.

[2021-07-07 14:59] markw-t commented on #302
You are right @rickstaa - adding product-issue as this is a bug.

[2021-07-09 01:15] Z3ROD4RK commented on #266
I just ran into this issue ....for one minute its working ..I close vs code for like 2mins, I return and now I have this problem that won't let me do anything ! Help?

[2021-07-09 06:44] leti367 commented on #302
@rickstaa, This issue is fixed in vscode-insiders 1.59.0. Thanks!

[2021-07-09 15:04] markw-t commented on #266
Tagging @luabud and @savannahostrowski to see if we can gather more info to help diagnose and solve this

[2021-07-09 16:14] sonicbhoc commented on #280
I have the same question.

[2021-07-09 16:29] markw-t commented on #266
@Paril @Z3ROD4RK it would be very helpful for us to see the logs associated with the failing sessions you are both seeing.

To view these, please bring up the Python output window (View menu... Output... and select Python in the drop down at the right hand end), then paste the entire log into a text file and attach to this bug. They should have diagnostic information and stack traces for the failu

[2021-07-10 20:19] #302 closed

[2021-07-12 18:51] markw-t commented on #303
Hi @sergiycheck  . This appears to be a general TypeScript problem rather than IntelliCode. Tagging @uniqueiniquity who should be able to help you route this to the right repo for the issue.

[2021-07-12 18:51] #303 closed

[2021-07-12 19:10] DavidObando commented on #304
Oi @leozd1,

Você pode ver a janela de saída para VS IntelliCode e para Python, e colar o conteúdo aqui? Precisamos ver quais erros são relatados para ser útil. Você pode ver a janela de saída invocando-a através do menu:

Uma vez que a janela de saída esteja visível, selecione a saída VS IntelliCode para ver quais erros são relatados.

[2021-07-12 19:23] uniqueiniquity commented on #303
Hi @sergiycheck,
If you believe this is an issue with TypeScript, please file an issue on https://github.com/microsoft/typescript.
However, I was able to resolve the issue by changing the `reduce` operations `initialValue` to `Promise.resolve(0)`.
Note that providing annotations for `getNumFruit` caused a more helpful error to be produced.

[code]

[2021-07-12 21:46] #256 closed

[2021-07-13 04:01] leozd1 commented on #304
Olá, aqui esta o anexo referente ao erro do IntelliCode

***@***.***D77782.9F9F25A0]

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: David ***@***.***>
Enviado:segunda-feira, 12 de julho de 2021 16:10
Para: ***@***.***>
***@***.***>; ***@***.***>
Assunto: Re: [MicrosoftDocs/intellicode] Erro no intelliCode com python (#304)

Oi @leozd1<https://github.com/leoz

[2021-07-15 03:41] starlord13599 opened #305 "Vs-code IntelliCode (Auto-complete) works very slow in in wsl2 remote-env"
Issue Type: <b>Bug</b>

The issuse i've been facing is  the vs-code auto-completion works very slow in wsl2 environment. As soon i type my snippet shortcut and press tab the auto complete does not work

I have been looking and searching into this issue for a long time but nothing works.

Please help, its been decreasing my productivity,

Thank you in advance,

Extension version: 1.2.14
VS Code ver

[2021-07-15 03:49] markw-t commented on #305
Sorry you're seeing this issue. Can you help us narrow things down a little bit?

1. What languages are you coding in when you see the slowdowns
2. If you disable IntelliCode extension, do things improve or stay about the same? This will help us narrow down the possible root causes

Thanks!
Mark

[2021-07-15 04:01] starlord13599 commented on #305
Basically I code in JavaScript using Node and React framework.

Yes, If I turn off the IntelliCode extension the auto-completion, which is provided by other extensions (React/Redux snippets, Node snippets  etc)  works just fine and fast.

But turning on the IntelliCode lags things.

[2021-07-15 14:03] sergiycheck commented on #303
It worked. Warnings disappeared with using `Promise.resolve(0)`  from target js file.

[2021-07-15 15:02] markw-t commented on #305
Thank you for the rapid response. I have a couple of further follow-ups to clarify and help the team understand:
1. When you say "type your snippet shortcut and press tab" - which specific snippet shortcut are you talking about? Do you see this with all items in the method/property list in JavaScript, or just certain ones?
2. You mention that the issue is problematic specifically on a WSL2 environ

[2021-07-15 17:14] starlord13599 commented on #305
Thank you for still being in contact with me.

Basically it happens to every snippets, including the built in onces such as you mentioned above.

When i first started facing this issue i instantly tested it without WSL2, it was working fine and fast but it seems bit laggy when using WSL2 environment, Now i am not sure why that's happening.

[2021-07-16 14:38] markw-t commented on #305
Thanks for the details and sorry for the inconvenience; we will take a look and see if we can reproduce this behavior; if not we may need your help capturing some traces.

[2021-07-18 14:15] gamerdev7 commented on #81
So is there any update when are we getting C# intellicode.

[2021-07-19 22:00] DavidObando commented on #304
Você poderia colar o texto da janela de saída aqui? O e-mail que recebi não tinha anexos.

[2021-07-20 07:24] oersoy1 commented on #102
Hi, is there any estimate for completion? Pardon me for being pushy but seems like many people need this and it has been in the radar for over 2 years now.  For the record, my team and I were asked to switch to servers that are completely off the internet so that we can work on sensitive data this we cannot use `Intellicode`

[2021-07-20 10:45] leozd1 commented on #304
Olá, parece que a última atualização resolveu esse problema, não recebi mais o erro ao iniciar o vs code, agradeço a ajuda

Obter o Outlook para Android<https://aka.ms/AAb9ysg>

________________________________
From: David Obando ***@***.***>
Sent: Monday, July 19, 2021 7:00:21 PM
To: MicrosoftDocs/intellicode ***@***.***>
Cc: leozd1 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/i

[2021-07-21 19:47] max-sixty commented on #102
Has anyone tried the approach described by @vivlimmsft [here](https://github.com/MicrosoftDocs/intellicode/issues/4#issuecomment-450935237) from 2019 recently — that looks very promising, though potentially would need some tweaks for new versions?

Separately — if you want to leave a +1, then add a thumbs up to the post; there's really no need to create lots of notifications by announcing your +1

[2021-07-21 21:06] MetricMike commented on #102
vivlimmsft's method works, *except* that `IntelliCodeModels-v2.json` is now `cache/models.json` relative to the extension folder (so `extensions/visualstudioexptteam.vscodeintellicode-1.2.14/cache/models.json`. Actual models can be anywhere, just be sure to update the `filePath` key with their location.

[2021-07-23 01:49] max-sixty commented on #102
Thanks for replying @MetricMike .

Unfortunately I get errors (slightly abbreviated output):
[code]

@vivlimmsft 's solution has "analyzerName": "intellisense-members",`, rather than `intellisense-members-lstm` / `intellisense-members-lstm-pylance`, so maybe that's out of date? I tried changing the string in `models.json` but no luck.

Is there a location we can download the later models?

[2021-07-23 02:34] MetricMike commented on #102
@max-sixty try with the model at https://prod.intellicode.vsengsaas.visualstudio.com/api/v1/model/common/python/intellisense-members-lstm-pylance/output/latest ? Here's my models.json with that model, which appears to be working on my local? I don't work with python much so ¯\_(ツ)_/¯

I just switched out `intellisense-members` on the orignal post with `intellisense-members-lstm-pylance`. I suspect

[2021-07-23 03:01] max-sixty commented on #102
I think I got it working, it was a fairly obvious replace. Here's a script that I think should package it up from a local machine, but YMMV, no assurances.

[code]

[2021-07-23 03:13] max-sixty commented on #102
@MetricMike thanks a lot! I managed to miss your message. You were absolutely right. Hopefully both of ours are helpful for people

[2021-07-26 16:32] kolappannathan opened #306 "Error: CLI Warning: 0 : The 'CSharp' analyzer was not able to collect data from the codebase."
**Product and Version**: GitHub IntelliCode Team Completions action
**OS Version**: Microsoft Windows Server 2019
**IntelliCode Extension Version**:  1.0
**Target Platform or Language**: C#

**Steps to Reproduce / Scenario:**
1. I tired to run the GitHub action on my [Web API boilerplate repo](https://github.com/kolappannathan/dotnet-web-api-boilerplate) which is a standard ASP.NET Web API project

[2021-07-26 18:48] markw-t commented on #306
@osobeso can you take a look?

[2021-07-26 21:11] osobeso commented on #306
@kolappannathan Hi, thanks a lot for taking the time of submitting this issue.
After further review it seems that the main problem is that the github agent's MSBuild version is not compatible with dotnet 5 sdk, therefore it's not being able to build the solution to extract patterns from it.

The current version being used by the default github agent seems to be 16.10.31424.327
(I got that info by

[2021-07-28 14:15] NatoBoram commented on #133
Dead link

[2021-07-28 17:08] DavidObando commented on #304
Obrigado, vou fechar este tíquete agora.

[2021-07-28 17:08] #304 closed

[2021-07-29 09:06] mezoni commented on #133
Google is developing Dart SDK very slowly (at least important and significant improvements).
It is unlikely that you can expect something from Google for Dart language , which requires the allocation of human resources for development.

[2021-08-04 01:11] davawen commented on #108
Please add this!

[2021-08-06 07:45] mart-256 commented on #286
yes....my intellicode does not work at all

[2021-08-09 20:14] osobeso opened #307 "Support .NET 5 on Team Completions Github Action and ADO Task."
C# extractor is not able to extract patterns from .NET 5 projects because we're using MSBuild and it can't find the dotnet 5 libraries needed to compile.

**Product and Version** [VS/VSCode]: Github Action / ADO Task.
**OS Version** [macOS/Windows]: Windows agent
**IntelliCode Extension Version**: NA
**Target Platform or Language** [e.g. Node.js]: C#

**Scenario:**

1. Currently .NET 5 is not bein

[2021-08-09 20:17] osobeso commented on #306
@kolappannathan Hi, Visual Studio has been updated by the Github team on the windows agent, but I'm still able to repro the issue.
We're currently working on this, as it seems it has to do with us using MSBuild to extract the code patterns from the codebase.
That is causing issues with our process so **for now .NET 5 and beyond is currently not supported by this Github Action**.

We will let you k

[2021-08-09 20:17] #306 closed

[2021-08-19 18:04] pauloneves commented on #165
I had this problem using the Ssh remote extension and here is how I solved it.

My local machine is a Windows machine. I have a local cntlm proxy executing with my configuration. Remote SSH works flawlessly, downloading extensions using this proxy.

My remote machine is a linux machine. In my .bashrc I set my http*_proxy variables to another proxy. In my terminal, these variables are correctly set

[2021-08-20 11:03] renjieQ commented on #113
thanks. It's work for me.

[2021-08-23 07:32] Johnapolitan opened #308 "Extension not functioning in Node.js"
**Product and Version** [VSCode]: 1.59.1
**OS Version** [macOS/Windows]: Windows 10 Home Build 1909 OS Build 18363.1256
**IntelliCode Extension Version**: v1.2.14
**Target Platform or Language** [e.g. Node.js]: Node.js

I've installed the program but there aren't any IntelliCode autocompletion. I've read the official websites for debugging and have tried:

- Restarting VS Code
- Uninstalling the e

[2021-08-24 12:27] FazeelUsmani commented on #266
### Intellisense is not working

Unable to navigate in VS code python file. Yesterday, it was working fine, but don't know what happened today. Tried several things but no use.

Here's the error message:
[intellisense and Python error image](https://files.slack.com/files-pri/T030UACV4-F02C5DPFG7L/image.png)
and vscode version is >1.5.0 on macOS Big Sur v1.5.2

Here are the vscode details:
Version:

[2021-08-24 17:16] jakebailey commented on #266
I'm thinking that any report that contains `command 'python.intellicode.loadLanguageServerExtension' not found` is due to a change in the Python extension, where it finishes activating before Pylance has loaded (and IC tries to send this command too quickly). The IC extension may need to use some other signal to know when it's safe to try and send us the model.

[2021-08-24 21:10] orliec opened #310 "BUG"
Issue Type: <b>Bug</b>

Logged Out

Extension version: 1.2.14
VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:31.568Z)
OS version: Windows_NT ia32 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) W-2140B CPU @ 3.20GHz (4 x 3192)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled

[2021-08-25 12:45] Johnapolitan commented on #308
Reinstallation of VS Code fixes the problem

[2021-08-25 12:45] #308 closed

[2021-08-25 16:47] FazeelUsmani commented on #266
Okay, is there any fix? @jakebailey

[2021-08-30 18:43] DavidObando commented on #310
Hi @orliec, can you be more specific about the bug that you're experiencing? If you have time please log a new bug with the steps to reproduce, the observed behavior, the expected behavior and if possible also attach IntelliCode's log window output for reference. Thanks!

[2021-08-30 18:43] #310 closed

[2021-09-03 04:29] bnicholas89 commented on #290
I'm getting the same error now.
Python Version: 3.9.6

Output:

Language server is set to "Default". Pylance is used as current language server.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Cached model is up to date.
Activating Python extension
Language server extensi

[2021-09-09 06:23] leidegre opened #311 "TypeScript statement completion with symbols does not always work"
This is in reference to this [issue](https://github.com/microsoft/vscode/issues/132683#issuecomment-915792750_) that I originally opened with the VS Code team. All the information you need can be found in that issue.

The problem for me is that a TypeScript type with symbols only doesn't get proper completions. I have to either disable the IntelliCode extension or change the IntelliCode setting `v

[2021-09-14 02:09] shaunm-msft opened #312 ".NET 3.1 installation fails"
When I open vscode from WSL, I get this error:

Downloading the .NET Runtime.
Downloading .NET version(s) 3.1.18 ... Error!
Failed to download .NET 3.1.18:
Command failed: "/home/shaunm/.vscode-server-insiders/extensions/ms-dotnettools.vscode-dotnet-runtime-1.2.0/dist/install scripts/dotnet-install.sh" -InstallDir "/home/shaunm/.vscode-server-insiders/data/User/globalStorage/ms-dotnettools.vscode-

[2021-09-16 10:30] chascruzrm opened #313 "Intellisense not working properly on Angular templates"
Issue Type: <b>Bug</b>

When editing a html component's template file, I type a component ts object's name while between in {{ }} and intellisense does not show right object properties and methods. It just shows snippets and other extensions' stuff.
Using Angular 11.2.14

Extension version: 1.2.14
VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS

[2021-09-20 18:46] markw-t commented on #313
Tagging @jessetrinity as this appears to be a JS IntelliSense problem?

[2021-09-20 20:11] jessetrinity commented on #313
@chascruzrm are you able to update angular (just to rule out issues with that version)? I created a new project with `ng-new` which defaulted to Angular 12.2. Also, which version of TypeScript is your project using.

I am not familiar with Angular development in VSCode, so full steps to reproduce this issue in a new project would be helpful.

[2021-09-20 20:21] jessetrinity commented on #313
Also, are you using an extension for Angular development?

[2021-09-20 21:22] leti367 commented on #312
https://github.com/dotnet/vscode-dotnet-runtime/issues/159 is open to track this issue. I will also check if there's any solution to bypass this issue.

[2021-09-24 00:03] leti367 commented on #312
The new version of '.NET Install Tool for Extension Authors' has been released and it fixes issue. Let me know if you still see the issue(you might need to uninstall '.NET Install Tool for Extension Authors' to get rid of cache issue).

[2021-09-25 06:30] DionatanGG commented on #313
I think you should install the Angular Language Service plugin first, that's what power up your angular templates to bring all the autocomplete stuff.

[2021-09-25 06:40] DionatanGG commented on #313
As an example, for me it's working as expected.
Angular 12.1.3, Typescript 4.3.5

![image](https://user-images.githubusercontent.com/44219120/134761561-9a6596a3-29fc-4541-bbf6-1ec290f15915.png)

[2021-09-27 18:55] markw-t commented on #313
Closing out as this appears to be a question of which language service plugins you have enabled, and not an IntelliCode issue.

[2021-09-27 18:55] #313 closed

[2021-09-30 20:48] shaunm-msft commented on #312
I uninstalled the retail Intellicode and installed IntelliCode Insiders for WSL. I got the same dotnet installation error. Interestingly, Intellicode Insiders thinks it is installed. I can hover and see examples on GitHub, so it must be installed and working. Maybe the error was left over from a previously installed extension; I'm not sure.

I tried installing on another machine. That machine rece

[2021-09-30 20:48] #312 closed

[2021-10-01 08:03] danjdewhurst commented on #92
I'd be very interested in this too.

[2021-10-07 04:32] ivanlegranbizarro opened #314 "Intellicode is not displaying starred suggestions"
**Product and Version** [VS/VSCode]: 1.60.2
**OS Version** [macOS/Windows]: Mac OS 11.6
**IntelliCode Extension Version**: 1.2.14
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1.You just write code in a .py file. Intellisense works perfectly, but IntelliCode starred hints are never displayed. They only happen with Python. With Javascript / Typescript I

[2021-10-15 14:02] shivamdattapurkayastha99 opened #315 "vs code during loading extensions causes high cpu load and becomes unresponsive"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2021-10-16 16:31] #315 closed

[2021-10-16 16:32] shivamdattapurkayastha99 commented on #315
Resolved after reinstalling

[2021-10-19 01:49] DachuanZhao commented on #49
Same problem . And I only open a proxy in windows , not in wsl2 . What should I do ?

[2021-10-19 06:02] OmkarGharat opened #316 "Intellisense doesn't suggest any methods or properties when I use classname like (container) but when I use document , it is showing suggestions."
**Product and Version** [VS/VSCode]: vscode
**OS Version** [macOS/Windows]: windows 1.61.1
**IntelliCode Extension Version**: 1.2.14
**Target Platform or Language** [e.g. Node.js]: Javascript

**Steps to Reproduce / Scenario:**

1. vscode Intellisense doesn't suggest any methods or properties when I use classname like (container) but when I use document or document.body , it is showing suggestions

[2021-10-29 15:17] bbishop-neovest opened #317 "When querying IntelliCode service: Error: certificate has expired"
When I install the IntelliCode extension into Azure Data Studio, I get the following error stream in the Output view:

[code]

**Product and Version** Azure Data Studio Version 1.33.0; VS Code: 1.58.0:
**OS Version** Windows 10:
**IntelliCode Extension Version**: 1.2.1
**Target Platform or Language** MSSQL:

**Steps to Reproduce / Scenario:**

1. Install the extension
2. Open or construct a T-SQL

[2021-11-01 18:51] markw-t commented on #317
It looks like you are having some networking issues here - can you confirm you're sitting behind some sort of proxy server? /cc @DavidObando @vivlimmsft

[2021-11-02 04:51] dnhuy4869 opened #318 "IntelliCodeCppPackage does not load correctly"
**Product and Version** [VS]: Visual Studio Professional 2019
**OS Version** [Windows]: Home Single Langue
**IntelliCode Extension Version**:  Latest

I always get this error. I already tried all way i found in google.
- Delete ComponentModelCache, repair Visual Studio
But that error always come after few times usage. Please fix it
![osqFR](https://user-images.githubusercontent.com/73681373/139788

[2021-11-04 14:49] tarekahf opened #319 "Most of the cases, I get the error "Couldn't download IntelliCode model""
**Product and Version** [VS/VSCode]:
Visual Studio IntelliCode
Id: visualstudioexptteam.vscodeintellicode
Description: AI-assisted development
**OS Version** [macOS/Windows]: Windows
**IntelliCode Extension Version**: 1.2.14
**Target Platform or Language** [e.g. Node.js]: SQL and Java
**VS Code Version**:
Version: 1.61.2 (user setup)
Commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
Date: 2021-10-1

[2021-11-04 17:51] tarekahf commented on #49
I got the same problem. The solution was to stop the company VPN, remove Proxy settings made for vs code, and restart vs code. Now, the IntelliCode module is downloaded. You can check the results in Output view/Extensions.

[2021-11-04 17:53] tarekahf commented on #319
There is an issue for sure. I found a work-around here:

https://github.com/MicrosoftDocs/intellicode/issues/49#issuecomment-961281661

[2021-11-05 02:35] Vincent0706 opened #320 "Unable to read IntelliCode metadata."
When I open vscode, the python LSP report such information:
![image](https://user-images.githubusercontent.com/82581024/140448717-a11a3941-42c2-44d4-bb8b-fb3cd0753bb8.png)
[code]
And the path "d:\Visual Studio code\extensions\visualstudioexptteam.vscodeintellicode-1.2.14\cache" is the old vscode extension path.

[2021-11-08 07:24] kamasylvia commented on #81
+1

[2021-11-08 08:26] pidgeon777 commented on #81
+1

[2021-11-08 19:59] DavidObando commented on #320
Hi,

Can you check if your file system is writable under `d:\Visual Studio code\extensions\visualstudioexptteam.vscodeintellicode-1.2.14\cache`? If it's read-only, or if the storage drive is full, you may see the error above.

If the issue is related to the path being read-only, you can fix that by setting "vsintellicode.modelDownloadPath" explicitly to a writable directory in settings.json.

[2021-11-08 20:03] DavidObando commented on #319
Thank you for posting the issue, we've been trying to cover proxy and VPN scenarios for a while and we know we have gaps. We will continue to work on improvements to this experience, but for now I'll be closing this issue as you seem to be unblocked.

[2021-11-08 20:03] #319 closed

[2021-11-09 04:32] Vincent0706 commented on #320
OK, thanks a lot.

[2021-11-09 04:32] #320 closed

[2021-11-12 21:58] yiannis-had commented on #197
It's still happening :(

[2021-11-15 19:49] DavidObando commented on #318
Hey,

Next time you get that same error, can you please share the ActivityLog.xml file that's in the mentioned path with us? You may want to send this via the "report a problem" button in Visual Studio rather than uploading it here.

![image](https://user-images.githubusercontent.com/950290/141844668-e9296bb6-e037-476c-93e4-7a5696e69d63.png)

Thanks!

David.

[2021-11-15 19:49] #318 closed

[2021-11-15 19:52] DavidObando commented on #316
@OmkarGharat let us know if you have any additional questions. Thanks!

[2021-11-15 19:52] #316 closed

[2021-11-21 14:23] ishallbethat commented on #165
can IntelliCode model support work without internet access ?  My VScode does run within corporate network and we don't have internet access.  And i hope IntelliCode model supports offline installation or works without internet access.

[2021-11-22 10:50] 235337218 opened #321 "suggestion"
Issue Type: <b>Feature Request</b>

: 1.62.3 (user setup)
: 2021-11-17T08:11:14.551Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042

It seems that this visual studio intellicode plug-in cannot complete the syntax it intelligently prompts.
For example, in a C language file:
When entering "print", it can prompt the "print" statement, b

[2021-11-22 17:04] markw-t commented on #321
Thanks for raising this @235337218 ; IntelliCode is the AI-assisted "starred completions" in IntelliSense - you can see more at https://docs.microsoft.com/en-us/visualstudio/intellicode/intellicode-visual-studio-code .  IntelliCode doesn't support C files in VSCode so I'm closing out this issue..

It seems like the problem you are mentioning is a core IntelliSENSE (autocompletion) problem for C in

[2021-11-22 17:04] #321 closed

[2021-11-22 17:18] isidorn opened #322 "Enable IntelliCode to run on VS Code on the web"
:wave: I'm Isidor, a PM from the VS Code team, and we recently announced VS Code for the Web at https://vscode.dev/, which provides a free, zero-install Microsoft Visual Studio Code experience running entirely in your browser.  You can learn more [here](https://code.visualstudio.com/docs/editor/vscode-web).

We'd like to ensure that Intellicode can run in the web, and we have a guide for enabling

[2021-12-08 11:14] ranasrule opened #323 "Intellicode suppport for VB.NET in VS 2022"
Is there any reason why the "Suggestions" feature of Intellicode in Visual Studio 2022 isn't available for VB.NET ?

![Screenshot 2021-12-08 161049](https://user-images.githubusercontent.com/5023419/145199180-da3593ce-6aae-490a-b1ea-430e7ff7f464.png)

[2021-12-08 17:10] markw-t commented on #323
We prioritize features based on customer feedback, so we're happy to take upvotes on this item from VB.NET developers to help us with that prioritization.

I assume that you're looking for the repeated edit detection capability of IntelliCode Suggestions, as described [here](https://docs.microsoft.com/visualstudio/intellicode/intellicode-suggestions), to work for VB.NET as well as C#?

Thanks
Mark

[2021-12-08 17:20] ranasrule commented on #323
Thanks for the reply. Yes, that's exactly what I'm looking for.

[2021-12-09 12:55] isidorn opened #324 "Adopt the pre-release extension version"
Hi VS Code PM here 👋

Refs: https://github.com/microsoft/vscode/issues/15756

VS Code now supports pre-release extensions. Docs that should help: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#prerelease-extensions

I know IntelliCode has a separate IntelliCode insiders extension. Ideally IntelliCode would adopt to our pre-release support and we would deprecate that

[2021-12-12 00:53] pixeldashgames commented on #280
same question here

[2021-12-13 16:33] markw-t commented on #280
I believe this issue is a dupe of #81 in this repo. If folks agree I'll merge its votes into that item.

[2021-12-15 19:31] shtau1 commented on #30
yes, please!

[2021-12-22 01:19] nativvstudios commented on #81
Suprised C# support isn't already added since I mean... Y'know. But besides the point any official stance on this?

[2021-12-24 04:23] tacosontitan commented on #280
Yes, it's a dupe.

[2022-01-06 03:41] ayim commented on #324
@isidorn Happy New Year! Sorry for the delay with getting back to ya here.

Reading through the docs right now.. have a question:

1) Would we have the ability to restrict installation of pre-release versions to say, users on a certain domain?
The nature of AI products means that we often require fairly extensive internal testing before we release to public preview

2) We do indeed have three exte

[2022-01-06 10:34] isidorn commented on #324
@aiym Happy New Year to you too! No problem with the delay.
This conversation is about moving the insiders one to pre-release, so the one that is public.

Currently we do not have support to restrict installation of a particular extension to some domains.
We have heard similar requests for "hidden" extensions already. Here's an issue that is tracking that https://github.com/microsoft/vsmarketplace

[2022-01-06 15:59] vivlimmsft commented on #324
One challenge with this is that there is no overlap between our main extension and the insiders extension - they each provide a different set of features. Changing to the pre-release model would require us to produce a pre-release extension which contains both the functionality of the main extension and the current insiders extension, which is not out of the question but we should have a clear rea

[2022-01-06 18:09] isidorn commented on #324
@vivlimmsft that's fair. If you think that having two parallel extensions since they are so different is a better fit then that might be the way to go.

I created this issue that you consider using the pre-release support. Since I think in the end it would be a better experience for the users.

[2022-01-06 20:30] ayim commented on #324
In general, I think the pre-release support is an improvement for most extensions - we just have a very niche use case/strategy for how we split things.

Added a comment to #292, this would help us move our third extension (the one currently consuming line completions API) into  Marketplace.

[2022-01-16 04:10] YUMEYA opened #325 "Activating IntelliCode for Python failed."
**Product and Version** [VS/VSCode]: VS Code 1.63.2
**OS Version** [macOS/Windows]: PC running Windows 11, Server running Ubuntu 20.04.3 LTS
**IntelliCode Extension Version**: v1.2.15
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. Run VS Code on PC, then connect to server via Remote Development SSH extension.
2. I install Python 3.10.1 and create vir

[2022-01-17 14:49] ivanlegranbizarro commented on #314
Hello again... Is there any news about it? The problem still persists and is very frustrating.

Thanks in advance, and sorry for the inconvenience.

[2022-01-18 14:47] k4dmandu commented on #4
I was also looking for a solution because my company's firewall had delayed the download for ages. Here is an update of @Bwin4L solution for VSCode 1.63.2:

1. Download model file from: https://intellicodeprodstorage.blob.core.windows.net/models-prod-output/Output_E61945A9A512ED5E1A3EE3F1A2365B88F8FE_E4E9EADA96734F01970E616FAB2FAC19?skoid=bf9239ea-04ee-49e6-8b41-ee3069ca2a1b&sktid=975f013f-7f24-47

[2022-01-18 17:57] DavidObando commented on #314
Hi @ivanlegranbizarro, we're still looking into this without a repro at hand. Is this happening in an Intel or M1 processor?

[2022-01-18 21:12] ivanlegranbizarro commented on #314
First of all, thank you for your interest.

I confirm that these problems occur on a machine with an M1 chip

[2022-01-20 20:42] Armog opened #326 "Can't hide IntellCode corner icon in phantom toolbar"
How can I hide IntellCode main corner icon with an empty phantom toolbar???

**Product and Version** [VS/VSCode]: 2022
**OS Version** [macOS/Windows]: Win10
**IntelliCode Extension Version**: 2.2.1835.37509

![icon](https://user-images.githubusercontent.com/48124710/150418745-7dd46ae8-01aa-46fc-b677-a20d1bc8282f.png)
1. Open VS 2022
2. Turn off all toolbars and status bar
3. See on the icon in an

[2022-01-22 18:36] TrajcheKrstev opened #327 "Not getting code suggestions"
Whenever i open a java file, it stops giving me Intellisense code suggestions once it automatically imports project. It works fine for a few secs before the project gets imported and then i lose all suggestions and i only get "Language support for java by red hat" suggestions. Even something like sysout doesn't show up. This is probably a stupid question but i haven't been able to figure out what

[2022-01-27 07:19] tjx666 opened #328 "[BUG][javascript] "types" compiler option in jsconfig.json doesn't work"
When I enable this extension, you can see that I can still get the suggest from @types/node.

![image](https://user-images.githubusercontent.com/41773861/151309609-806682b5-04be-4fa1-b296-8df2785243fc.png)

But no issue in typescript project or disable this extension in js project:

![image](https://user-images.githubusercontent.com/41773861/151309878-3eee2de4-654a-49b0-bb92-af98d1a38ab7.png)

VSC

[2022-01-27 07:39] tjx666 commented on #324
It's strange that stable version update date late that insider version 😳

[2022-01-28 16:59] ayim commented on #325
@DavidObando this seems to be a language server issue to me.
If you agree, let's reroute to Python team?

[2022-01-28 17:00] ayim commented on #326
@Armog could you submit this via the [Find a Problem mechanism](http://aka.ms/vsreportaproblem)?
We're curious how ya got into an empty toolbar state

[2022-01-28 17:04] ayim commented on #327
Tagging @Eskibear, would you mind taking a look at this issue?
Appreciate you looking into this, it seems like a Java language problem on first look

[2022-01-28 17:08] ayim commented on #328
Happy Friday @minestarks, the question here seems to be relating to JS/TS IntelliSense support rather than IntelliCode. Mind taking a look here for us?

[2022-01-28 23:47] minestarks commented on #328
@tjx666 This may be by design, but I'm not sure. could you file this in https://github.com/microsoft/vscode ?

[2022-01-31 11:30] rayate2410 commented on #4
Still facing this issue. Running VSCode on Windows 10 and want to open projects via SSH from a SLES VM.
I'm behind a corporate proxy.

Trying to make intellisense work for Java. Failed after trying different approaches:

1. Setting proxy variables on both Windows and Linux.
2. Setting NODE_TLS_REJECT_UNAUTHORIZED=0
3. Downloading model files directly as suggested by @k4dmandu

Nothing seems to be

[2022-02-01 09:46] nzig opened #329 "Option to disable "Interested in API usage examples?" toast"
A while ago I got this message:
![image](https://user-images.githubusercontent.com/7372858/151945747-775db55c-9c98-4d06-81c4-e6d09d9d0d33.png)
I installed the extension but didn't like it so I uninstalled it. Now every time I open VSCode I get the same message. Is there a way to disable this? I do not want to install the extension.

Clicking "No, Thanks!" makes it go away, but when I open VSCode a

[2022-02-02 00:25] ayim commented on #329
@osobeso are you the right person to look into this?

[2022-02-02 00:28] ayim commented on #328
Moved to https://github.com/microsoft/vscode/issues/141975

[2022-02-02 00:28] #328 closed

[2022-02-02 00:29] ayim commented on #327
Note: China team is on Chinese New Year holiday this week.

[2022-02-02 08:22] osobeso commented on #329
@nzig Hi, I'm sorry you're experiencing this.
This is definitely a bug.

Short answer is there is a way to disable it. If you go to File > Preferences > Settings and type Visual Studio IntelliCode in the search box, you'll notice there's a setting with the title of "Features: Api Examples".
If you mark that as disabled, you will get rid of this notification.

The not so short answer is this is def

[2022-02-02 10:30] tjx666 commented on #328
@ayim thanks, I have no free time because the Spring Festival...

[2022-02-02 15:51] Eskibear commented on #327
@TrajcheKrstev
It’s strange because in the first screenshot, suggestions should also include types starting with letter S.

A few detailed questions below:
- what’s the version of intellicode extension and Java language support by redhat?
- Does this issue occur when intellicode is disabled?

[2022-02-02 16:10] nzig opened #330 "123"
Issue Type: <b>Bug</b>

# Behaviour

XXX

## Expected vs. Actual Behaviour

XXX

## Steps to reproduce:

[**NOTE**: Self-contained, minimal reproducing code samples are **extremely** helpful and will expedite addressing your issue]

1.

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.8.12
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc

[2022-02-02 16:10] #330 closed

[2022-02-02 16:11] nzig commented on #330
Filed in error, sorry.

[2022-02-02 16:20] nzig commented on #329
Thanks, I've disabled that setting as you suggested and it did stop the notification.

This is the output of the "report issue" feature in VScode:

Extension version: 1.2.16
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:39:46.686Z)
OS version: Linux x64 5.16.4-arch1-1
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs

[2022-02-04 11:05] markw-t commented on #325
@luabud this seems like a LS issue - where should it be filed?

[2022-02-04 23:47] luabud commented on #325
@markw-t  I think this can be transferred to https://github.com/microsoft/pylance-release/, but in the mean time -- @YUMEYA, would you mind trying the "Python: Restart Language Server" command from the command palette (View > Command Palette...) and see what happens?

[2022-02-05 04:17] ayim opened #331 "In unknown circumstances, tab to accept does not work for IntelliCode completions"
**Product and Version** [VS/VSCode]: VSCode, version unknown
**OS Version** [macOS/Windows]: unknown
**IntelliCode Extension Version**: IntelliCode Completions 1.0.7
**Target Platform or Language**: JS/TS

**Steps to Reproduce / Scenario:**

GIF provided by customer:
![Picture1](https://user-images.githubusercontent.com/10951869/152628318-f90b1deb-8fe4-4886-93a7-97b9938b9ece.gif)

[2022-02-05 13:59] markw-t commented on #325
Thanks @luabud. Unfortunately I can't move this from a microsoftdocs to a microsoft repository automatically @luabud @YUMEYA .

@YUMEYA since this is most likely a pylance issue, can I ask you to copy across to https://github.com/microsoft/pylance-release/ - I can do this on your behalf but the issue would then be in my name making it harder for you to track? It would also be great to hear if @lua

[2022-02-07 08:30] olabogen commented on #331
OS: PopOS 21.10
Version: 1.64.0
Commit: 5554b12acf27056905806867f251c859323ff7e9
Date: 2022-02-03T04:23:11.224Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.15.15-76051515-generic snap

Ekstensions:
apollographql.vscode-apollo
bmewburn.vscode-intelephense-client
christian-kohler.npm-intellisense
christian-kohler.path-intellisense
codeSTACKr.co

[2022-02-07 09:25] markw-t commented on #331
I understand that you can't post proprietary source code so have a few follow up questions:

1. Does the problem occur for most/all JavaScript/TypeScript code that you see "grey text" predictions for? Or just a small proportion of code? For instance is it only for code like that shown in your GIF with Promise constructs? Does it always occur in that particular place in the code (i.e. is it reliabl

[2022-02-07 09:32] markw-t commented on #325
No problem @YUMEYA - for further follow ups can I ask if you can open an issue at https://github.com/microsoft/pylance-release/ as we believe this could be a language server rather than IntelliCode problem.

[2022-02-07 13:57] YUMEYA commented on #325
@markw-t @luabud I opened new issue at pylance's repo. Should the issue here be closed?

[2022-02-07 14:29] markw-t commented on #325
Closing as migrated to https://github.com/microsoft/pylance-release/issues/2341 by @YUMEYA  (Thanks!)

[2022-02-07 14:29] #325 closed

[2022-02-07 19:03] ayim commented on #331
@olabogen I love my extensions too!
We were unable to reproduce on our end, do you use the Tab key with any other of your extensions?

CC: @juihanamshet1

[2022-02-08 08:08] olabogen commented on #331
I got the same result in a completely different project. Attached is the logging output for Intellicode.
[vscode-intellicode-log.txt](https://github.com/MicrosoftDocs/intellicode/files/8021852/vscode-intellicode-log.txt)

My keyboard shortcuts when I search for TAB
![2022-02-08_08-59](https://user-images.githubusercontent.com/3792494/152944172-8082d2da-026f-41d7-bee6-25c37fb2b973.png)

I will test

[2022-02-08 08:14] olabogen commented on #331
Tested the TypeScript repo. I Was able to remove and retype with a few extra TABs and got the correct result.
I was also able to reproduce the same issue with the promise instantiation. Looks like there is something in my setup.

[2022-02-08 17:56] osobeso commented on #329
As an update, we were able to identify the issue, and have rolled out a new version (1.2.17) with a fix for this issue.

[2022-02-08 17:56] #329 closed

[2022-02-08 22:14] ayim commented on #329
@nzig, out of curiosity, what didn't you like about the extension?
It's currently experimental and we're open to suggestions!

[2022-02-09 03:01] leiyang opened #332 "doesn't show python code suggestion"
it doesn't give me any code suggestion from intellicode and  the output is

Language server is set to Pylance.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Cached model is up to date.
Activating Python extension -------------------> seems stop here ?

[2022-02-09 08:24] mseele opened #333 "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings."
**Product and Version** [VS/VSCode]: 1.64.1
**OS Version** [macOS/Windows]: Darwin arm64 21.3.0 macOS 12.2
**IntelliCode Extension Version**: 1.2.17
**Target Platform or Language**: Java

**Steps to Reproduce / Scenario:**

After updating to VSCode 1.64.1 i always get the following error:

[code]

I'm behind an proxy, but everything else works like expected.

[2022-02-09 10:50] markw-t commented on #332
Thanks for letting us know that it's fixed for you @leiyang - I'll close this item but if the problem recurs please do let us know. It would be good to see the output of the Output-Python tab as well as the IntelliCode one, since this may have important data about the source of the failure too.

[2022-02-09 10:50] #332 closed

[2022-02-11 06:29] mseele commented on #333
Problem has been fixed with VSCode Update 1.64.2

[2022-02-11 06:29] #333 closed

[2022-02-14 20:43] browneye1826 commented on #331
Same issue here.
It randomly/intermittently fails to acknowledge TAB. 3 out of 5 times it ignores TAB altogether.

macOS 12.2.1
IntelliCode Completions 1.0.7
VS Code 1.64.2
Python
![Image 2022-02-14 at 15 35 37](https://user-images.githubusercontent.com/59311049/153943234-721af116-57c4-4745-9bea-dd369fa9fd70.jpg)

[2022-02-14 22:24] ayim commented on #331
@vivlimmsft @DavidObando is...
1) this enough information to attempt to repro
2) or should we schedule some time to do some coding with each user to diagnose?
3) something else?

What's the best way to proceed here.

[2022-02-14 22:40] vivlimmsft commented on #331
@ayim this should be enough to investigate. It doesn't look like either of you have custom bindings for the tab key, (they would probably show up in your screenshots with a source other than `Default`) so I suspect another extension, some of the extensions olabogen has installed seem like they _could_ have some interaction with inline completions. I can install the full set and try to reproduce th

[2022-02-14 23:44] vivlimmsft commented on #331
@olabogen , in the original gif that you shared, how many times did you press tab after typing `new Promise`? If you were to press tab again, is the completion inserted?

Here's a recording of how we expect it to work:
https://user-images.githubusercontent.com/27872315/153964841-ad0b84cf-0c6e-4e5c-8122-974e024beda6.mp4

When the [IntelliSense list](https://code.visualstudio.com/docs/editor/intelli

[2022-02-15 00:20] browneye1826 commented on #331
Here ya go @vivlimmsft:
<details>
<summary>Extensions (the last 3 are installed but disabled)</summary>

4tron.stack-overflow-view
aaron-bond.better-comments
alexcvzz.vscode-sqlite
almenon.arepl
bmalehorn.shell-syntax
cdonke.github-explorer
cstrap.flask-snippets
Dedsec727.jekyll-run
deerawan.vscode-dash
dongli.python-preview
donjayamanne.python-environment-manager
formulahendry.code-runner
FushiAr

[2022-02-15 00:42] vivlimmsft commented on #331
@browneye1826 I'm not seeing any obvious issues with `Tab` to insert with your config and extension set. Could you please confirm whether the IntelliSense list is shown in the cases where the completion isn't being accepted, and if what you're seeing is consistent with what I described in [this comment](https://github.com/MicrosoftDocs/intellicode/issues/331#issuecomment-1039690615)?

[2022-02-15 01:16] browneye1826 commented on #331
@vivlimmsft, yes, pretty sure that the list is always visible when this issue happens.
However, when Tab doesn't work, it doesn't work regardless of how many times it's pressed.

[2022-02-15 07:45] browneye1826 commented on #331
Or it can be given as an option to user in settings to  go with Tab or double-Tab.
I much agree with @olabogrh, you guys are doing magic @vivlimmsft!
(Can't imagine life without VS Code.)

[2022-02-15 11:59] nzig commented on #329
@ayim The API suggestions took up too much space in the tooltip. I would rather see the normal tooltip with the parameters and docstring first. Even if the examples came last, I don't want the tooltip so large that it hides a lot of code. Maybe if it was hidden by default with some option to expand it when needed, I would consider using the extension.

[2022-02-15 12:59] OneCyrus commented on #81
looks like an artificial limitation to push Visual Studio licenses?

[2022-02-15 19:35] ayim commented on #331
@olabogen I believe I've reproduced your issue on my end, seems to happen for me when `intellicodeCompletions.braceCompletions` is enabled. Try disabling this setting and see if this resolves the issue (we're working on a new implementation).

[2022-02-15 21:58] ayim commented on #326
We'll be fixing this as a part of our work to align code completion settings interfaces within VS

[2022-02-15 21:59] ayim commented on #270
@rubikron, would have the following information to share with us?

Product and Version [VS/VSCode]: ??
OS Version [macOS/Windows]: ??
IntelliCode Extension Version: ??
Python Language Server setting in use (Jedi/Microsoft/Pylance)?

[2022-02-15 22:02] ayim opened #334 "Add detailed docs page for whole line completions to Microsoft Docs."
See title.

[2022-02-15 22:02] ayim commented on #327
@[TrajcheKrstev](https://github.com/TrajcheKrstev) bump!

[2022-02-15 22:03] rubikron commented on #270
What is this for?

Thanks,
Rubikron

[2022-02-15 22:04] ayim commented on #324
@tjx666 the stable and insider extensions have different goals - one contains AI assisted development tools that we think is ready for consumers. The other contains experiments that we might not end up shipping at all

[2022-02-15 22:04] #324 closed

[2022-02-15 22:05] ayim commented on #284
@luabud is it still relevant for us to have documentation comparing JediLSP and Pylance?

[2022-02-15 22:05] #300 closed

[2022-02-15 22:06] ayim commented on #317
@bbishop-neovest are you still experiencing this issue?

[2022-02-15 22:09] ayim commented on #113
Looks like this is working now.

[2022-02-15 22:10] ayim commented on #322
Update here: we're working on an implementation for JS/TS.
CC: @lei-msft

[2022-02-15 22:20] bbishop-neovest commented on #317
This is not an issue anymore. I will close the ticket.

[2022-02-15 22:20] #317 closed

[2022-02-16 02:41] #284 closed

[2022-02-16 02:42] ayim commented on #273
@laurava21 just wanted to check in and see if you were having any further issues

[2022-02-16 02:42] #273 closed

[2022-02-16 02:43] ayim commented on #263
hey hey @theGirrafish! Just wanted to make sure this is working for you - are you seeing any further issues?

[2022-02-16 02:44] ayim commented on #190
@fsrmlgd are the libraries that you're looking for autocompletions from installed and imported?
Let us know if you're still experiencing issues, thanks!

[2022-02-16 02:49] ayim commented on #200
This seems to relate to jedi, which is now deprecated in lieu of Pylance

[2022-02-16 02:49] #200 closed

[2022-02-16 02:52] ayim commented on #154
Going to close this for now. Customers can feel free to re-open if they encounter this

[2022-02-16 02:52] #154 closed

[2022-02-16 02:53] ayim commented on #261
Closing since this works for the customer

[2022-02-16 02:53] #261 closed

[2022-02-16 02:54] ayim commented on #187
Closing this issue since jedi has been deprecated

[2022-02-16 02:54] #187 closed

[2022-02-16 02:57] ayim commented on #180
Going to close this for now, since Microsoft and Jedi language servers are deprecated.
Customers are welcome to re-open if they're continuing to experience with Pylance

[2022-02-16 02:57] #180 closed

[2022-02-16 02:58] ayim commented on #129
Going to close for now, seems like this has been fixed.

[2022-02-16 02:58] #129 closed

[2022-02-16 03:01] ayim commented on #221
@haikalmol thanks for opening this issue!
If you're continuing to experience performance issues, please let us know and reopen this bug!
-A

[2022-02-16 03:01] #221 closed

[2022-02-16 03:27] ayim commented on #329
Gotcha, appreciate the feedback!

[2022-02-16 03:27] ayim commented on #270
Hi rubrikon, looks like you filed a bug with us a while ago.
Just wanted to see if you were still having issues with IntelliCode in VSCode for Mac.

Cheers,
Aaron

[2022-02-16 03:42] ayim commented on #283
@z20240 are you still experiencing issues here?

[2022-02-16 03:54] rubikron commented on #270
No I am not having issues anymore.
I got a new laptop and haven’t had the same issue

Thanks for checking up
Rubikron

[2022-02-16 07:12] olabogen commented on #331
Thanks @ayim. I will run with this a full day today and report back.

[2022-02-16 18:35] ayim commented on #331
@browneye1826 mind shooting us a GIF the next time this happens? Also happy to hop on a call with ya if you manage to repro (ping me on Twitter @aaronyim or at my work email aayim@microsoft.com)

[2022-02-16 18:36] ayim commented on #270
Sweet, you take care!

[2022-02-16 18:36] #270 closed

[2022-02-16 23:42] luabud commented on #284
@ayim potentially! it's still on our backlog but we haven't made progress yet

[2022-02-17 01:36] ayim commented on #284
@luabad gotcha, i'll leave this item for y'all to track in your repo then, thanks!!

[2022-02-17 07:34] olabogen commented on #331
I did not have this issue yesterday. Will pay attention to this and post if it happens again, but this seems to have solved it.

[2022-02-17 08:03] browneye1826 commented on #331
@ayim it seems to be working all smoothly now! Will keep monitoring and revert if I spot anything amiss again.
You guys are the best!

[2022-02-17 09:10] Jarek300 opened #336 "Intellicode seems not to understand my Result class"
I'm using custom class Result to return result object or error message from a function. Example of function declaration

Result<Chart> CreateChart();

and usage

Result<Chart> chart = CreateChart();
if (chart.Data == null)
    return chart.Error;

I have a lot of lines similar to "if (chart.Data == null) return chart.Error" but unfortunately intellicode never predicts that lines.

    public class

[2022-02-17 19:46] ayim commented on #331
Sweet, feel free to re-open the issue or open a new one if you run into differnet issues.
We've removed the setting for now since we'll have an improved brace completions coming soon.

[2022-02-17 19:46] #331 closed

[2022-02-17 19:47] ayim commented on #327
@[TrajcheKrstev](https://github.com/TrajcheKrstev) feel free to reopen this issue, going to close for now since we don't have a reproducible issue.

[2022-02-17 19:47] #327 closed

[2022-02-20 19:14] Imsharique opened #337 "VS intelliCode issue"
**Product and Version** [VS Code/1.64.2]:
**OS Version** [Windows 10, Version- 21H2, OS build-19044.15526]:
**IntelliCode Extension Version**: VisualStudioExptTeam.vscodeintellicode
**Target Platform or Language** [Java]:

**Steps to Reproduce / Scenario:**

1. I am facing the below issue. Kindly, help [ASAP!]
![image](https://user-images.githubusercontent.com/99683703/154859873-10fa25cc-7dad-4f77

[2022-02-21 02:11] Eskibear commented on #337
As mentioned in the notification, can you check these output windows and attach detailed logs?

[2022-02-21 04:10] Imsharique commented on #337
Hi @Eskibear, thanks for the reply.

[2022-02-21 08:03] #337 closed

[2022-02-21 08:04] ayim commented on #337
@imsharique appreciate you reaching out! Always love to hear about bugs and potential improvements :)

[2022-03-03 11:26] jiayouzl commented on #314
my macbook pro m1pro in bugs！no⭐
inter windows yes
inter macos yes
m1pro macos no⭐
myemail:jiayouzl@vip.qq.com

[2022-03-03 11:28] jiayouzl opened #338 "Intellicode is not displaying starred suggestions help me！"
my macbook pro m1pro in bugs！python3.9.10 no⭐
inter windows yes
inter macos yes
m1 macos no⭐
m1pro macos no⭐
myemail:jiayouzl@vip.qq.com
Thank you very much！

[2022-03-03 13:01] jiayouzl commented on #338
Language server is set to "Default". Pylance is used as current language server.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Cached model is up to date.
Activating Python extension

[2022-03-03 13:07] jiayouzl commented on #338
版本: 1.64.2 (Universal)
提交: f80445acd5a3dadef24aa209168452a3d97cc326
日期: 2022-02-09T22:00:58.347Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin arm64 21.3.0

[2022-03-03 13:08] jiayouzl commented on #338
Thank you very much！

[2022-03-08 05:50] jiayouzl commented on #338
my macos version 12.2.1

[2022-03-09 08:09] usmanchaudary commented on #225
@markw-t thank you very much for your detailed response.. problem resolved.
thanks again

[2022-03-09 18:38] markw-t commented on #225
Thanks for letting me know it worked @usmanchaudary !

Please do let us have any other feedback on your experience with IntelliCode, good or bad, we are always looking to improve!

[2022-03-12 16:46] scott-parkhill commented on #81
I'm really surprised this support isn't here yet, you'd think Microsoft would want to build tools that encourages C#'s use and uptake. I'd love if this was a feature and it seems like there are a ton of others who want this too. It's interesting they chose to support Java but not C#. I'm almost inclined to believe @OneCyrus, even if it is kind of conspiratorial.

[2022-03-13 12:06] uzumakiSANJAY opened #339 "Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2022-03-13 14:26] markw-t commented on #339
Hi; sorry you are hitting this.

Please can you check the "Python" and "VS IntelliCode" output windows in VS Code, and paste their contents here so we can debug the problem?

In addition, can you tell us what OS you are using, and if you are a Mac user whether you are using an M1 processor machine.

Thanks!

Mark

[2022-03-14 02:02] tymtam2 opened #340 "Dead link"
![image](https://user-images.githubusercontent.com/1097613/158092191-ab569030-4782-40ab-9ee1-7134c3d42611.png)

It seems that link at the beginning of the article is dead: https://marketplace.visualstudio.com/items?itemName=VisualStudioExptTeam.VSIntelliCode
![image](https://user-images.githubusercontent.com/1097613/158092063-fbb9f6f5-7b80-4152-9b36-0b47101d50d6.png)

BTW. The same link appears in

[2022-03-14 21:50] markw-t commented on #340
Fixed docs issue dead link with [166](https://github.com/MicrosoftDocs/intellicode-pr/pull/166).

Handing to @osobeso to look at the Azure DevOps training extension equivalent issue.

[2022-03-19 14:49] KCN6512 opened #341 "extension is doesn't work"
Issue Type: <b>Bug</b>

At start of Vs code notification text me that extension is not working

Extension version: 1.2.17
VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 2600 Six-Core Processor             (1

[2022-03-19 14:50] KCN6512 commented on #341
Visual Studio IntelliCode *

[2022-03-21 03:20] starjasmine opened #342 "Since a certain version of update, IntelliSense works too slow and strange"
Issue Type: <b>Bug</b>

Hi all. Hope you are doing great!
I appreciate all those great works you do for public!

It's hard to say when was the first time it has started to happen.
While I'm editing my Java (Spring boot) code, IntelliSense does not work at all
or it works too slow.
And as the screenshot below explains, it seems like the feature conflicts with other extensions like GitLens.  (The as

[2022-03-21 03:27] jiayouzl commented on #338
Is anybody there?

[2022-03-21 16:37] Shibli2316 opened #343 "Python intellisence not working"
Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.
This issue is popping whenever i am trying to open my python files.

[2022-03-21 17:05] markw-t commented on #342
Thanks for raising this - it appears to be an issue with the core Java support rather than IntelliCode as such, so I'm tagging @Eskibear  to see this issue.

[2022-03-22 02:44] Eskibear commented on #342
@starjasmine This can be any of below:
- performance of core Java support
- performance of Spring Tools extension (if installed)
- performance of IntelliCode (less likely)
- performance of gitlens (less likely)
- above extensions compete for CPU
- networking issue as you are running vscode in remote

A simple way to identify the culprit is, you disable above extensions and enable them one by one,

[2022-03-22 11:45] starjasmine commented on #342
@Eskibear Thanks for your comment.

[2022-03-22 11:45] #342 closed

[2022-03-22 18:14] connor4312 opened #344 "Annoying intellicode prompt appears on every window reload"
Issue Type: <b>Bug</b>

1. Open a python file
2. See an "interested in seeing API usage examples?" notification
3. Dismiss it
4. Reload and open a python file again
5. See the annoying notification again
6. Optional: disable the extension to stop the notification spam 😉

The notification dismissal should be persisted.

Extension version: 1.2.17
VS Code version: Code - Insiders 1.66.0-insider (b096

[2022-03-23 16:54] alejovelas commented on #343
I have the same problem, please say me if you have the solution. tnks

[2022-03-23 18:24] markw-t commented on #343
Hi @Shibli2316 and @alejovelas . @leti367 can help you investigate this but we need some further information from you.

Could you please help to provide the logs for both IntelliCode and Python? To get the logs, on VSCode, you can click on 'View' -> 'Output'. Then choose 'VS Intellicode' and 'Python' for logs (just paste the results from each one of them into this issue).

Also, it would be super

[2022-03-23 21:45] alejovelas commented on #343
Hello Mark!!!

Thanks for your help. I copy the log you request.

the log of vs IntelliCode:

`Language server is set to "Default". Pylance is used as current language server.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Cached model is up to date.
Activating Python ex

[2022-03-23 23:53] leti367 commented on #343
@alejovelas, thanks for the logs. Based on the logs, In your case, there's an issue to activate python extension:
"errno: -4058, code: 'ENOENT', syscall: 'scandir', path: 'C:\\Users\\javelasquezc\\AppData\\Local\\Continuum\\anaconda3'"
Can you help to double check if this directory exits or not?

[2022-03-25 05:11] jmw6121 opened #345 "not activated"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2022-03-25 15:14] markw-t commented on #345
Thanks for your report. We need some further information to understand the problem you are seeing and respond.

Please can you provide the following information:

1. Is the problem in VS or VS Code?
2. What operating system are you using? (MacOS/Windows/??)
3. What is the version of the IntelliCode extension you have installed?
4. What language are you using when you see the problem? (JavaScript,

[2022-03-25 15:16] markw-t commented on #344
tagging @osobeso to take a look at this.

[2022-03-25 15:31] KCN6512 commented on #341
Language server is set to Pylance.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Cached model is up to date.
Activating Python extension
Error while activating Python: {}

[2022-03-25 16:22] markw-t commented on #341
Thanks for sharing the IntelliCode window contents. - Could you share the Python window ones too as this may help pin down the problem that is happening activating Python?

[2022-03-25 16:54] alejovelas commented on #343
Hi Leti367!

I checked the directory. The folder Continuum is empty, I should re install anaconda?

[2022-03-25 16:58] leti367 commented on #343
Yes, please reinstall it. Thanks!

[2022-03-26 08:31] #341 closed

[2022-03-26 08:32] KCN6512 commented on #341
Thanks you for help!

[2022-03-26 18:24] markw-t commented on #341
You're welcome; out of interest what fixed this for you?

[2022-03-28 19:03] ayim commented on #263
Gotcha - I'm going to close this for now, but feel free to reopen if you're finding issues with it in the future!

[2022-03-28 19:03] #263 closed

[2022-03-29 08:34] osobeso commented on #344
Hi @connor4312
The state should be saved when you select the 'No Thanks' option, instead of dismissing.
The reasoning behind this mechanism, is that a 'dismissal' can be either user triggered (clicking the 'x') or time triggered (the user ignores the notification enough time for it to be hidden from view, this is usual on VsCode non-insiders).

Can you try selecting the 'No Thanks' option and seei

[2022-03-29 15:23] connor4312 commented on #344
I suggest making "No Thanks" instead "Don't Show Again" to make this action explicit; that's what most of our notifications do, for example the devcontainer suggestion.

[2022-03-29 18:17] osobeso commented on #344
Thanks for the suggestion on the verbiage. I think we can add that change in the near future; I like it!
As for the persisted state, we do use local storage. The setting is an extra flag used to deactivate the promotion of the new extension (and also can be activated/deactivated by targeted notification when se to default).

[2022-03-31 15:08] ivanlegranbizarro commented on #314
Hello. Any advance? Thanks :)

[2022-04-01 04:01] jiayouzl commented on #314
Hello. Any advance? Thanks :)

[2022-04-02 01:56] jiayouzl commented on #314
They ignore us

[2022-04-02 05:25] leti367 commented on #314
@ivanlegranbizarro @jiayouzl , it's already in our backlog. I will provide some updates next week.

[2022-04-02 05:49] ivanlegranbizarro commented on #314
@leti367, thank you so much for your attention! :)

[2022-04-04 07:01] saeed-barari commented on #81
Are they really from Microsoft though? the vscode intellicode's devs

[2022-04-04 17:05] ayim commented on #338
Hi @jiayouzl, sorry for the late update here & thanks for your patience.
We have the ability to diagnose on M1 Mac now & are working on it.

[2022-04-04 18:34] vladivanov20 opened #346 "[renderer1] [error] Already at root scope: Error: Already at root scope"
Issue Type: <b>Bug</b>

Full Trace:
[code]

Steps to replicate:
1. Install extension
2. Create python file
3. Start writing the following snippet:
[code]
4. Check your Output window (Log (Window))

Extension version: 1.2.18
VS Code version: Code 1.66.0 (e18005f0f1b33c29e81d732535d8c0e47cafb0b5, 2022-03-30T05:50:41.156Z)
OS version: Linux x64 5.4.0-81-generic
Restricted Mode: No

<details>
<summary

[2022-04-04 18:47] DavidObando commented on #346
@osobeso can you please take a look at this?

[2022-04-04 20:53] ayim commented on #210
Hi @karenc3, if you're still experiencing this issue, would you mind opening a new issue?

[2022-04-04 20:53] #210 closed

[2022-04-04 20:55] ayim commented on #46
Hi @[Quillee](https://github.com/Quillee), were you able to get this working?
Let us know if you weren't successful or if you're having trouble by re-opening this issue.

Cheers!

[2022-04-04 20:55] #46 closed

[2022-04-04 20:57] ayim commented on #30
Tagging @[StevenBucher98](https://github.com/StevenBucher98)

[2022-04-04 20:57] ayim commented on #29
Tagging @[StevenBucher98](https://github.com/StevenBucher98)

[2022-04-04 20:58] ayim commented on #190
Hi @fsrmlgd would love to hear back from you!
Feel free to reopen the issue

[2022-04-04 20:58] #190 closed

[2022-04-04 20:59] ayim commented on #283
@z20240 would love to hear from you if you're still experiencing issues.
Feel free to open a new ticket!

[2022-04-04 20:59] #283 closed

[2022-04-04 21:01] ayim commented on #280
@markw-t, merging and closing.

[2022-04-04 21:01] #280 closed

[2022-04-04 21:01] ayim commented on #81
This is the parent issue for #280.
#280 had 5 votes at the time of closing, merging them here.

[2022-04-04 21:02] ayim commented on #286
Hi @mart-256 are you still experience issues here?
Feel free to open a new issue if you are, would love to hear from you.

[2022-04-04 21:02] #286 closed

[2022-04-04 21:02] ayim commented on #279
Hi @samdruster are you still experience issues here?
Feel free to open a new issue if you are, would love to hear from you.

[2022-04-04 21:02] #279 closed

[2022-04-04 21:03] ayim commented on #275
@markw-t does this issue occur because we don't compiler filter these results?

[2022-04-04 21:34] pedro15 commented on #81
I hope we can get this feature soon!

[2022-04-04 22:22] ayim commented on #268
@leti367 do you remember the outcome here?

[2022-04-04 22:23] ayim commented on #266
@fazeelusmani would you mind trying again?
We're curious if you're still seeing this issue.

-A

[2022-04-04 22:24] ayim commented on #262
Hey @vishalverma116, we'd love to hear from you if you're still seeing this issue.
Feel free to open a new issue, going to close this one

[2022-04-04 22:24] #262 closed

[2022-04-04 22:24] ayim commented on #259
Hey @m00ke5h, we'd love to head from you if you're still seeing this issue.
Feel free to start a new thread if you are!

[2022-04-04 22:24] #259 closed

[2022-04-04 22:25] ayim commented on #246
Hey @SBurk7, we'd love to hear from you if you're still seeing any IntelliCode related issues.
Feel free to open a new thread.

[2022-04-04 22:25] #246 closed

[2022-04-04 23:31] ayim commented on #245
@Andrey-Yur have you seen this problem repeat itself?
Would love to hear from you if it has - feel free to open a new issue!

-A

[2022-04-04 23:31] #245 closed

[2022-04-04 23:33] ayim commented on #124
@[damnedOperator](https://github.com/damnedOperator) @j-i-m-s-t-e-r  @damnedOperator @oailton @morhimi
Have y'all been seeing this issue recently? Would love to hear from you if you have, please feel free to open a new issue.

[2022-04-04 23:33] #124 closed

[2022-04-04 23:35] ayim commented on #236
@vengotimahesh143 have you still been seeing this issue? Would love to hear from you if you have - feel free to open a new issue!

[2022-04-04 23:35] #236 closed

[2022-04-04 23:35] #244 closed

[2022-04-04 23:37] ayim commented on #218
@richbon75 thanks for giving IntelliCode a try.

Are you still using IntelliCode these days?
Did HTTP proxy environment variable work for you?

[2022-04-04 23:37] #218 closed

[2022-04-04 23:39] ayim commented on #208
Hey folks! This looks like a duplicate of #81, gonna merge these votes into that item if it's cool with y'all!

[2022-04-04 23:39] ayim commented on #81
Noting a request for C# support in Linux
https://github.com/MicrosoftDocs/intellicode/issues/208

[2022-04-04 23:39] ayim commented on #208
-

[2022-04-04 23:39] #208 closed

[2022-04-04 23:41] ayim commented on #297
@frankjlin16 would love to hear from you if you're still seeing this issue.
Feel free to open a new issue!

[2022-04-04 23:41] #297 closed

[2022-04-04 23:44] ayim commented on #197
Hey @yiannis-had, are you still running into this issue?
Would love to hear from you if you are, feel free to file a new bug!

[2022-04-04 23:44] #197 closed

[2022-04-04 23:45] ayim commented on #207
Hey @MHDFahz are you still running into this issue?
Would love to hear from you if you are, feel free to file a new bug!

[2022-04-04 23:45] #207 closed

[2022-04-05 00:01] ayim commented on #250
@[bolamsydhom](https://github.com/bolamsydhom) we'd love to hear from you if you're still experiencing issues.
Please feel free to open a new issues!

[2022-04-05 00:01] #250 closed

[2022-04-05 00:05] ayim opened #347 "Package model in extension to enable offline support and proxy scenarios"
Creating an issue here to gather customer feedback and frequency of offline/proxy scenarios occuring.

**Problem:**
Today, users who install the extension also need to download the model from a remote server.

**Opportunity:**
In Visual Studio 2022+, IntelliCode models come out of the box if the extension installed.
I would like to explore this scenario for IntelliCode in VSCode to enable customer

[2022-04-05 00:06] ayim commented on #347
@davidobando I'm looking for engineering input here on...
1) the feasibility of packaging models in the extension
2) the current user experience of configuring a proxy in VSCode - I see a number of issues in the repo relating to the difficulty of configuring a proxy?

[2022-04-05 00:07] ayim commented on #347
**Language:** Java
**Connectivity:** Offline server (Red Hat Enterprise Linux 7)
**Other Extensions:** Remote-SSH

https://github.com/MicrosoftDocs/intellicode/issues/238

[2022-04-05 00:07] ayim commented on #238
Heyo! I'm tracking this scenario in a broader issue
https://github.com/MicrosoftDocs/intellicode/issues/347

[2022-04-05 00:07] #238 closed

[2022-04-05 00:08] ayim commented on #102
Another issue:
Language: Java
Connectivity: Offline server (Red Hat Enterprise Linux 7)
Other Extensions: Remote-SSH

https://github.com/MicrosoftDocs/intellicode/issues/238

[2022-04-05 00:08] ayim commented on #347
This seems to duplicate
https://github.com/MicrosoftDocs/intellicode/issues/102

[2022-04-05 00:09] ayim commented on #102
@DavidObando I'm looking for engineering input here on...

the feasibility of packaging models in the extension
the current user experience of configuring a proxy in VSCode - I see a number of issues in the repo relating to the difficulty of configuring a proxy?

[2022-04-05 00:09] #347 closed

[2022-04-05 00:13] ayim commented on #242
@osobeso looks like we updated the libraries so that we support environment variables now.
Does that mean that this is fixed?

[2022-04-05 00:26] ayim commented on #260
@DavidObando I vaguely remember us saying that we support ARM on your raspberry pi, is this true?

[2022-04-05 00:29] ayim commented on #157
@[chdecourcel](https://github.com/chdecourcel) thanks for opening this issue!
Hope IntelliCode's still been helpful for you if you're continuing to use it.

If you're still seeing this issue, we'd love to hear from you!
Feel free to open a new issue

[2022-04-05 00:29] #157 closed

[2022-04-05 00:31] ayim commented on #102
A few more upvotes here:
https://github.com/MicrosoftDocs/intellicode/issues/165

[2022-04-05 00:31] ayim commented on #102
Another user with an unreliable internet connection:
https://github.com/MicrosoftDocs/intellicode/issues/233

[2022-04-05 00:32] ayim commented on #233
Hey! Tracking this issue in #102 now

[2022-04-05 00:32] #233 closed

[2022-04-05 00:33] ayim commented on #102
Chinese users are unable to download the model, but seem to be able to download the extension:
https://github.com/MicrosoftDocs/intellicode/issues/99

[2022-04-05 00:33] ayim commented on #99
Now tracking in 102.

[2022-04-05 00:33] #99 closed

[2022-04-05 00:36] ayim commented on #188
@[adilcpm](https://github.com/adilcpm) if you're continuing to see issues, we'd love to hear from you.
Please give us a shout in a new issue!

[2022-04-05 00:36] #188 closed

[2022-04-05 00:38] ayim commented on #336
@jarek we're going to review this with the team.
We have some model improvements we're working on, hopefully they'll take into acct this scenario!

[2022-04-05 00:41] ayim commented on #123
I think our new extension addresses this. It does whole line autocompletes and interacts with the IntelliSense menu.
https://marketplace.visualstudio.com/items?itemName=VisualStudioExptTeam.vscodeintellicode-completions

[2022-04-05 00:41] #123 closed

[2022-04-05 00:43] #145 closed

[2022-04-05 00:45] ayim commented on #118
We now have a form of this through whole line autocomplete in VS Code
https://marketplace.visualstudio.com/items?itemName=VisualStudioExptTeam.vscodeintellicode-completions

[2022-04-05 00:45] #118 closed

[2022-04-05 01:05] ayim commented on #41
@melkayam92 let us know if you're still seeing issues here! We'd love to hear from you.

[2022-04-05 01:05] #41 closed

[2022-04-05 01:10] ayim commented on #301
@showgood163 sorry for the late reply here - if you're still running into issues, we'd love to hear from you.

[2022-04-05 01:10] #301 closed

[2022-04-05 01:11] #278 closed

[2022-04-05 01:12] ayim commented on #311
@leti367 is this still an issue?

[2022-04-05 01:13] ayim commented on #307
@osobeso what's the latest on this?

[2022-04-05 01:14] ayim commented on #214
@luisfergromo thanks for filing this issue.
I know it's been a while!
We'd love to hear from you if you're still seeing issues, feel free to file a new issue with us.

[2022-04-05 01:14] #214 closed

[2022-04-05 01:16] ayim commented on #178
@[xbprm](https://github.com/xbprm) sorry for the late reply!
I know it's been a while - we'd love to hear from you if you're still seeing issues.
Hopefully you've found a solution in the meantime.

[2022-04-05 01:16] #178 closed

[2022-04-05 01:16] ayim commented on #305
@starlord13599 any chance you're still seeing issues with this?

[2022-04-05 01:17] ayim commented on #172
@patrick984 @alkaideemo thanks for filing this issue.
We'd love to hear from you if you're still seeing problems - feel free to file a new bug!

[2022-04-05 01:17] #172 closed

[2022-04-05 03:45] starlord13599 commented on #305
No @ayim , working fine now, thanks for the help.

[2022-04-05 05:01] jiayouzl commented on #338
Thank you

[2022-04-05 06:38] leti367 commented on #268
Did a quick look at it, it comes from two packages: "@vscode/extension-telemetry" and "request", we are using the latest version for both packages. The only thing we can do is to file new github issues for these two packages, but since this is a warning, I don't think they will fix it very soon.

[2022-04-05 07:04] leti367 commented on #314
At this point, we only support x64 for Mac OS, I will work on adding support for M1 machine. Also as mentioned in #338 We're acquiring M1 hardware to diagnose and test this, we will update with you as soon as we got it.

[2022-04-05 08:10] jiayouzl commented on #314
x64 macos no bugs。m1 and m1pro macos in bugs，my old 2020 macbook pro m1 Reshipment system only vscode and python3 environment Have a problem。

[2022-04-05 08:15] jiayouzl commented on #314
ok，thank。

[2022-04-05 13:17] richbon75 commented on #218
@ayim - I no longer work at the company with that restrictive proxy, so I can't test from within that network anymore.  It's working fine in my current environment, so it is ok to close this issue.  Thanks for your attention.

[2022-04-05 14:29] vladivanov20 commented on #346
Hey @osobeso @DavidObando! Any updates? Thank you :)

[2022-04-05 18:10] somedeveloperhappy commented on #81
At this point, I think you're right...

[2022-04-05 18:16] ayim commented on #58
@DavidObando is this something we can support & if so, did we already do this?

[2022-04-05 18:16] ayim commented on #165
Pinned and leaving this open just in case anyone needs this workaround.

[2022-04-05 18:17] #52 closed

[2022-04-05 18:19] ayim commented on #343
@leti367 is this more of an environment issue than an issue with our extension?

[2022-04-05 18:20] #266 closed

[2022-04-05 18:27] leti367 commented on #343
@ayim, it's not an issue from our extension.

[2022-04-05 18:31] #343 closed

[2022-04-05 18:31] #305 closed

[2022-04-05 22:38] ayim commented on #345
@jmw6121 would love to hear back on you.

Are you still seeing problems?
If so, need your help answering markw-t's questions

[2022-04-06 07:31] ivanlegranbizarro commented on #314
Yeah, thanks.

[2022-04-06 16:38] ayim commented on #345
@jmw6121 feel free to open a new issue if you're still seeing problems - we'll need a bit more detail to help us help you!

[2022-04-06 16:38] #345 closed

[2022-04-07 20:15] ayim commented on #339
@uzumakiSANJAY feel free to open a new ticket with more information if you're still looking for help - we'd love to hear from you!

[2022-04-07 20:15] #339 closed

[2022-04-07 22:33] ayim commented on #344
@osobeso wanted to check in on this:
1) was there a code change we needed to make/bug we needed to fix?
2) did we have a chance to make the language fix?

[2022-04-07 22:35] osobeso commented on #344
@ayim This will be fixed on our next release for VSCode, which will happen sometime around next week.

[2022-04-09 11:02] FendaRoadz commented on #343
Hi! I have this issue and cannot resolve it by myself. Please help. Thanx in advance! My intellicode output is

Language server is set to Pylance.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Cached model is up to date.
Activating Python extension
Language server exten

[2022-04-09 11:18] FendaRoadz opened #348 "Something went activating Intellicode support for python"
VS Code 1.66.1
Windows 10
IntelliCode 1.2.18
Python 3.10.4

Hello, i have the issue with IntelliCode. When i open VS Code and extensions are loading, the message "Something went activating Intellicode support for python" pops out.
I read couple similar issues but did not found the solution. I reinstalled all python related and vs code and all the extensions.
Please help, thanx in advance!

  Langu

[2022-04-11 12:15] Winson-Huang commented on #93
it seems you use remote-ssh, in remote-wsl it seems a bit different. If proxy service is in windows, use 127.0.0.1 in remote setting will be helpless, see https://github.com/MicrosoftDocs/intellicode/issues/165#issuecomment-1094972469

[2022-04-11 16:56] ayim opened #350 "Improve behaviour for C# Lambdas"
Customers on Twitter are reporting poor behaviour in lambda functions.
https://twitter.com/joshabartley/status/1513538633265029128
https://twitter.com/R2D221/status/1513558940637925382

We should:

- investigate and see if model improvements will improve this behaviour.
- see if model improvements will resolve this issue?
- is there anything else we should do here?

[2022-04-11 18:39] DavidObando commented on #348
@luabud This looks like a Python LSP issue? Can you take a look?

[2022-04-11 18:40] DavidObando commented on #348
/cc @brettcannon

[2022-04-12 17:59] brettcannon commented on #348
This would belong at https://github.com/microsoft/pylance-release .

/cc @judej

[2022-04-12 21:00] leti367 commented on #311
The fix is already in. The issue will be fixed in next release.

[2022-04-12 21:35] judej commented on #348
This looks like a dupe of https://github.com/microsoft/pylance-release/issues/2434

[2022-04-15 05:33] shaithal opened #352 "Intellisense for java not working"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Intellisense for java not working

Extension version: 1.2.18
VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:49:20.994Z)
OS version: Darwin x64 21.4.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2022-04-15 17:42] leti367 commented on #311
This issue should be resolved in the latest version: v1.2.19. Thanks!

[2022-04-18 18:23] ayim commented on #352
Hi @shaithal, sorry to hear that IntelliSense isn't working for you in Java.
Could you clarify whether you mean:

1) There is an issue with the IntelliSense dropdown for methods/classes and their documentation
2) There should be stars attached to methods that you aren't seeing
![image](https://user-images.githubusercontent.com/10951869/163855443-8bd47724-feda-4b97-b6fd-9e9ec834fffd.png)

[2022-04-18 19:55] vladivanov20 commented on #346
@osobeso @DavidObando Any updates on this issue? Thanks!

[2022-04-18 23:09] osobeso commented on #346
@vladivanov20 the responsible team is looking into it, we will update the ticket once we have published a fix.
Thanks!

[2022-04-19 16:04] vladivanov20 commented on #346
Thank you!

[2022-04-19 18:27] ayim opened #353 "IntelliCode Completions extension should take a dependency on the main IntelliCode extension."
**Context:**
AFAIK today, users can install the IntelliCode completions extensions WITHOUT the main IntelliCode extension being installed.

**Problem:**
This leads to poor prediction precision when the IntelliSense menu is open.

**Proposal:**
I would like to propose that he IntelliCode Completions extension adopts a dependency on the main IntelliCode extension.

**Followup Question:**
Does the In

[2022-04-20 18:49] osobeso commented on #346
@vladivanov20 Hi, we have updated the extension with a patch that fixes this issue.
Thanks for the feedback, I will close the issue for now but please let us know if you still have any issues.

[2022-04-20 18:49] #346 closed

[2022-04-20 20:18] vladivanov20 commented on #346
Thank you! Appreciate it

[2022-04-21 07:17] ercao opened #354 "Could I change the models file's cache path of this extension in vs code?"
Reporting a Problem
-------------------

i use nixos, and use nix to manage the vscode's extensions

[code]

[2022-04-21 21:16] Aslanimanesh457 opened #355 "JavaScript in Script Tags in Html Files"
**Product and Version** [VS/VSCode]:VSCode 1.66.2
**OS Version** [macOS/Windows]:Windows 10 10.0.19044
**IntelliCode Extension Version**: 1.0.10
**Target Platform or Language** [e.g. Node.js]:JS in HTML

**Steps to Reproduce / Scenario:**

1. When I write JS code in script tag in html files IntelliCode doesn't help me.Please Solve this problem.

[2022-04-25 03:19] codecycleteam commented on #322
@markw-t @gewarren @catycaldwell @ghogen @2percentsilk @DavidObando
Any update for the solution to this issue?
Make the VSCode extension compatible with https://vscode.dev and https://github.dev
Please consider this as DX improvement and give some priority for it.
Thanks

![Screenshot 2022-04-25 08 46 44](https://user-images.githubusercontent.com/84431724/165015141-ca230250-0c4a-44c8-966b-703fbcfd

[2022-04-25 03:25] beingminimal opened #356 "Make All VSCode extensions of Intellicode compatible with https://vscode.dev/ and https://github.dev/"
Feature Request
---------------
@markw-t @gewarren @catycaldwell @ghogen @2percentsilk @DavidObando
Make All VSCode extensions of Intellicode compatible with https://vscode.dev/ and https://github.dev/
Please consider this as DX improvement and give some priority for it.

Here is more info
https://aka.ms/vscode-web-extensions-guide
https://code.visualstudio.com/api/extension-guides/web-extensions

[2022-04-25 17:55] leti367 commented on #322
@codecycleteam , the support for IntelliCode JS/TS implementation is completed. We are waiting for changes from TS team to get it ready to release.

[2022-04-25 18:38] ayim commented on #352
@[shaithal](https://github.com/shaithal) would love to hear from you still! Feel free to reopen this issue if you're still experiencing issues

[2022-04-25 18:38] #352 closed

[2022-04-25 18:38] ayim commented on #344
Our fix should've gone out - @connor4312, appreciate you reporting this issue!

[2022-04-25 18:39] #348 closed

[2022-04-25 18:40] DavidObando commented on #356
Hi,

We're considering making some of the above extensions available for VSCode.dev and GitHub.dev, watch this space for upcoming updates.

Thanks!

[2022-04-25 18:51] DavidObando commented on #354
Hi @ercao,

You can do this by going to the IntelliCode extension settings and modifying the "Model download path" field, as seen here:

![image](https://user-images.githubusercontent.com/950290/165154507-5705cf10-c4ff-4eab-a0b0-d6044a75db45.png)

You may set this to any writable path you want.

Let me know if you run into any issues.

[2022-04-25 18:51] #354 closed

[2022-04-26 03:35] codecycleteam commented on #322
@leti367 Thanks a lot for your clarity. I appreciate it.

[2022-04-26 03:36] codecycleteam commented on #356
@DavidObando Thanks a lot for considering this request.

[2022-04-28 23:49] leti367 commented on #314
The changes are already in. It will be available for next "Pylance" extension release which is supposed to be next Wednesday.

[2022-04-29 05:07] ivanlegranbizarro commented on #314
Thanks a lot! I can't wait for see it!

[2022-04-29 05:26] jiayouzl commented on #314
Finally repaired, thank you!

[2022-04-30 17:14] kuznetsovoleh opened #357 "Couldn't download IntelliCode model."
**Product and Version** [VS/VSCode]: 1.66.2
**OS Version** [macOS/Windows]: MacOS 12.3.1
**IntelliCode Extension Version**: 1.2.20
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. Open python file or jupyter notebook to trigger Intellicode

**Problem**

Suddenly after starting the VSCode got this notification: Couldn't download IntelliCode model. Pleas

[2022-05-01 10:18] kuznetsovoleh commented on #357
Solved. Looks like it was a problems with Intellicode servers.

[2022-05-01 10:18] #357 closed

[2022-05-03 00:44] ayim opened #358 "IntelliCode Completions WLC extension very slow - not producing predictions"
Was trying to recreate https://github.com/microsoft/vscode/pull/110268/commits/2f7f100e4492dad6fc8d5c237798c09c3e90c740.
WLC initially gave some suggestions in the session, then stopped providing completions.

Language: TypeScript

Version: 1.66.2 (user setup)
Commit: dfd34e8260c270da74b5c2d86d61aee4b6d56977
Date: 2022-04-11T07:46:01.075Z
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js: 16.13.0
V

[2022-05-03 00:45] ayim commented on #358
WLC output window:
[output.txt](https://github.com/MicrosoftDocs/intellicode/files/8607112/output.txt)

[2022-05-03 00:50] ayim commented on #358
Restarted VSCode, reattempted:
[outputattempt2.txt](https://github.com/MicrosoftDocs/intellicode/files/8607703/outputattempt2.txt)

[2022-05-03 02:32] vivlimmsft commented on #358
Did you mean to link to another issue in the OP? I just see a commit in the vscode repo.
![image](https://user-images.githubusercontent.com/27872315/166396471-bd14b89a-dfde-43d2-820b-6de244f55282.png)

I've seen this timing-out issue on my own machine occasionally, I'll find some time to look into it.

[2022-05-03 05:24] ayim commented on #358
@vivlimmsft I was recreating the codechange in that commit on the VSCode repo for some testing - so that's a link to the 'file" and exact changes I was making

[2022-05-03 20:20] ryan-efendy opened #359 "Unable to uninstall "NET Install Tool for Extension Authors" extension"
**Product and Version** [VS/VSCode]: Version: 1.67.0-insider
**OS Version** [macOS/Windows]: macOS Monterey Version 12.1 (21C52)
**IntelliCode Extension Version**:  IntelliCode Insiders v1.1.8
**Target Platform or Language** [e.g. Node.js]: Node.js + TypeScript

![image](https://user-images.githubusercontent.com/12979345/166559201-722a5292-195d-46d8-bc2c-099ddc8083af.png)
![image](https://user-ima

[2022-05-05 22:45] ayim opened #360 "Dogfooding 5/5 Notes"
Thoughts:
1) Open decision: should we be suggesting single brackets that we don't close?
Hitting tab and closing this feels like more work
<img width="409" alt="image" src="https://user-images.githubusercontent.com/10951869/167035722-d4217868-0e2f-4c38-a806-d6127e1c9833.png">

PR: https://github.com/microsoft/vscode/pull/39972/commits/f4e80de2c935deef5fd00932f7023c5ed7c1d18c#diff-7aaf3f75660a11bc7

[2022-05-05 22:46] ayim commented on #360
Logs for #3
[timeout3.txt](https://github.com/MicrosoftDocs/intellicode/files/8636452/timeout3.txt)

[2022-05-05 22:46] ayim commented on #360
Version: 1.66.2 (user setup)
Commit: dfd34e8260c270da74b5c2d86d61aee4b6d56977
Date: 2022-04-11T07:46:01.075Z
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js: 16.13.0
V8: 9.8.177.11-electron.0
OS: Windows_NT x64 10.0.22581

<img width="765" alt="image" src="https://user-images.githubusercontent.com/10951869/167037141-f34ff1f6-7adf-4a80-bc0f-515fb54109f2.png">

[2022-05-05 22:47] ayim commented on #358
Thoughts to self:
Do we have the same crashing issues in Python? JS?
Do we have the same timeout/crashing issue on MacOS?

[2022-05-07 04:23] jiayouzl commented on #314
When will the update be released?

[2022-05-07 07:26] Benjamin-Lee opened #361 "Error: command '_typescript.configurePlugin' not found"
Issue Type: <b>Bug</b>

I used extension bisect to identify this extension as the culprit behind my TS language server not being able to start.

Extension version: 1.2.20
VS Code version: Code 1.67.0 (57fd6d0195bb9b9d1b49f6da5db789060795de47, 2022-05-04T12:14:47.100Z)
OS version: Darwin x64 21.1.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2022-05-08 23:03] DavidObando commented on #314
We were expecting the Pylance team to release last week, but there were unaccounted-for delays. They usually release on Wednesdays, almost every week. I hope that there will be no additional delays and we can see this fix go out this week.

[2022-05-09 18:27] DavidObando commented on #359
Hi @ryan-efendy this issue has been addressed with IntelliCode Insiders version 1.1.9. Can you please ensure 1.1.9 is working for you?

The fix on the IntelliCode side was to use .NET 6, which is compatible with M1 computers. You will no longer get the errors on trying to use the .NET install tool extension authors as you did before. So, in essence, you may not need to uninstall it anymore, and in

[2022-05-10 02:43] vivlimmsft commented on #358
The reason the requests are timing out is because of an unhandled error somewhere in the code that converts text into token ids. We call a function (`TextToIds`) which lives inside a wasm module, so the issue could be in that module, or could be in our wrapper code calling it incorrectly.

Two errors I've seen (this is not exhaustive, just giving some specific examples):
* RuntimeError: null funct

[2022-05-10 12:26] Dampop1 commented on #57
Error while activating Python: {"detail":{"name":"Error","message":"Activating extension 'ms-python.python' failed: command 'python.viewOutput' already exists."}}

[2022-05-10 18:03] jinu-jang commented on #358
How can I reproduce this bug?
Is there a certain context, or do I just have to use it for a bit?

[2022-05-10 18:18] ayim commented on #358
@jinu-jang https://github.com/microsoft/vscode/commit/2f7f100e4492dad6fc8d5c237798c09c3e90c740
^try making the code changes in this commit - should run into the bug

[2022-05-11 00:24] ayim commented on #344
<img width="561" alt="image" src="https://user-images.githubusercontent.com/10951869/167745136-f2c31f71-f3e5-410b-9209-2d0f43365316.png">
@osobeso looks like this is still occurring - mind taking a look?

[2022-05-11 00:34] osobeso commented on #344
Will take a look!

[2022-05-11 02:19] osobeso commented on #344
@ayim Created a PR to make the logic behind this less problematic. That will hopefully get rid of all the edge cases we've been experiencing.
I'll let you know once those changes are published on our Extension.

[2022-05-12 05:30] ivanlegranbizarro commented on #314
At last the problem has been solved. With this and Intellicode's new autocomplete... I'm freaking out with VSCODE right now.

Many thanks for your work!

[2022-05-12 16:26] dennorske opened #362 "VSC: Intellicode not respecting "Don't show again" on startup"
**Product and Version** [VS/VSCode]: Visual Studio Code
**OS Version** [macOS/Windows]: Windows 11, 21H1 22000.613
**IntelliCode Extension Version**:  1.2.20
**Target Platform or Language** [e.g. Node.js]: n/a - but i use a lot of python

**Steps to Reproduce / Scenario:**

1. Start up VSCode.
2. See reminder: "Do you want to see API usage examples" (or along those lines)
3. Click "Do not show aga

[2022-05-12 16:28] dennorske commented on #362
Closing this as it is a duplicate of https://github.com/MicrosoftDocs/intellicode/issues/344

[2022-05-12 16:28] #362 closed

[2022-05-12 16:33] dennorske commented on #344
I can confirm it is still happening and has been for quite a while now. We're multiple people at work getting slightly annoyed over it, so wonderful if you can take a proper look at it 🙏
Thanks for your help @osobeso! Looking forward to seeing it merged soon™️ 😊

[2022-05-12 17:00] DavidObando commented on #314
That's great to hear! We're happy to finally have all the IntelliCode extensions working on M1 computers. Enjoy!

/cc @leti367 who did all the heavy lifting here!

[2022-05-12 17:00] #314 closed, assigned to leti367

[2022-05-12 21:53] osobeso commented on #344
@dennorske  this will be fixed with today's new release!
Just make sure to select the 'Don't show again Option' next time you see it.
Thanks!

[2022-05-12 23:24] osobeso commented on #344
@dennorske  the new version of the extension has been published!
Thanks for the feedback and the patience!
Regards.

[2022-05-13 06:00] 7Bit420 opened #363 "IntelliCode Not Working On Install"
**Product and Version**: VSCode
**OS Version**: macOS
**IntelliCode Extension Version**: v1.2.21
**Target Platform or Language**: Javascript, Node and HTML

**Steps to Reproduce / Scenario:**

1. Install IntelliCode

I installed IntelliCode it wasn't working, I have uninstalled and reinstalled IntelliCode. It seems to have just broken for my laptop. IntelliCode is working on my desktop. There are

[2022-05-15 23:29] DavidObando opened #364 "IntelliCode completions can't activate on VSCode for Windows on ARM64"
Version: 1.67.1 (system setup)
Commit: da15b6fd3ef856477bf6f4fb29ba1b7af717770d
Date: 2022-05-06T12:36:59.783Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT arm64 10.0.22621
IntelliCode Completions: v1.0.12
Python: v2022.6.2
Pylance: v2022.5.1

IntelliCode completions can't activate on VSCode for Windows on ARM64. The issue is that the ONNX runt

[2022-05-15 23:32] DavidObando opened #365 "IntelliCode stars for Python doesn't work on VSCode for Windows on ARM64"
Version: 1.67.1 (system setup)
Commit: da15b6fd3ef856477bf6f4fb29ba1b7af717770d
Date: 2022-05-06T12:36:59.783Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT arm64 10.0.22621
IntelliCode: v1.2.21
Python: v2022.6.2
Pylance: v2022.5.1

IntelliCode stars for Python doesn't work on VSCode for Windows on ARM64. No stars are presented to users of Pytho

[2022-05-17 11:37] gisioraelvis opened #366 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.1`
- OS Version: `Linux x64 5.15.0-30-generic`
- VS Code version: `1.67.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///tmp/VisualStudioExptTeam.intellicode-api-usage-examples-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/

[2022-05-17 11:39] #366 closed

[2022-05-21 17:07] Pixfri opened #367 "Couldn't download IntelliCode model"
When I launch a JavaScript file on VS Code I have an error message: Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.

[2022-05-22 02:25] Omoeba commented on #367
It appears that the server `prod.intellicode.vsengsaas.visualstudio.com` is currently down.

[2022-05-22 02:25] xdhmoore commented on #367
I also get the above message when trying to use the java extension pack and Remote Containers. The VS IntelliCode Output is:
[code]

[2022-05-22 05:38] naks110 commented on #4
Started happening to me after updating VS Code to 1.67.2

Proxy settings set to Override by default, just a student writing some Java code.... No proxy or firewall problems anywhere.

Infact rest of the things which use internet in VSCode are working.... I wonder why the issue is going on since 2018... reopen it though

[2022-05-22 05:43] trolleyboy commented on #367
Also getting no response from `prod.intellicode.vsengsaas.visualstudio.com`. I've tried from several different networks so this doesn't seem to be a Proxy issue like most other posts point to.
Have tried connecting to the Traffic Manager IP's in different regions via static hosts file entry, still no go, so seems to be a global issue.

[2022-05-22 06:13] naks110 commented on #367
@vivlimmsft Looks like global issue, please help us out
Check: 20.81.69.210:443  , prod.intellicode.vsengsaas.visualstudio.com

Acquiring model 'intellisense-members' for java
Querying IntelliCode service for available models.
Couldn't reach service Error Message: connect ETIMEDOUT 20.81.69.210:443, (Error)
Could not reach the IntelliCode service. Checking the local model cache.
None of the cached

[2022-05-22 09:33] fifv commented on #4
Using proxy, same thing happens to me when I set proxy setting to 'on'.
If set to 'Override', then TLS error occurs:
`Couldn't reach service Error Message: Client network socket disconnected before secure TLS connection was established, (Error)`
I can use Intellicode behind proxy before without any error, but it suddenly not works recently. I even tried to clear reinstall vscode and Windows11, try

[2022-05-22 13:29] dottools commented on #367
I am having this issue as well. Does Intellicode download the model every single time VSCode is started up and not cache the model files? If so then that's a huge design flaw.

[2022-05-22 22:43] ADataGMan commented on #367
I'm also getting this in my remote development container when previously it was working fine.

This seems like a great reminder to support offline usage: https://github.com/MicrosoftDocs/intellicode/issues/102

[2022-05-22 23:03] JAndre761 commented on #4
Same happend for me and I also use Kasperky Total Security. Here is the output:
[code]
I tried reinstalling but doesn;t fix this issue ;(

[2022-05-22 23:04] trolleyboy commented on #367
Started getting a 503 response in VSCode output now...
[code]

A simple curl to what I believe is the API returns 503 now too...
[code]

**And now,** just as I was double-checking my curl command and the output, I got a 200 response with valid data. Restarted VSCode and the Intellicode output now looks good...
[code]

Backend issue resolved perhaps?

[2022-05-23 01:43] Omoeba commented on #367
Python appears to have recovered as well.

[2022-05-23 02:32] kansenchu commented on #113
Hi guys,

I'm getting the following error while trying to download from behind a corporate proxy.

`Acquiring model 'intellisense-members' for javascript
Querying IntelliCode service for available models.
Couldn't reach service Error Message: Socket is closed, (Error)
Could not reach the IntelliCode service. Checking the local model cache.
None of the cached models match.
Couldn't download Intelli

[2022-05-23 03:49] ayim commented on #113
Reopening @vivlimmsft @osobeso @leti367 any idea?

[2022-05-23 08:38] naks110 commented on #367
java model downloaded now...

[2022-05-23 21:53] ayim commented on #113
@kansenchu looks like we had an outage, mind trying again to see if this works for you?

[2022-05-24 02:35] kansenchu commented on #113
@ayim Nope, same error message. It could be something on my end but there aren't enough logs for me to figure out what's going on.

Right now I'm triggering the download by using VSCode's Reload Window function, is there a better way?

[2022-05-24 02:38] ayim commented on #113
RIP. None at the moment from the product side other than the fact that we're doing some investigation around #102.

Not sure what language you're writing right now, but you could use our whole-line autocompletions extensions for Python/JS/TS for now - comes packaged with the model. https://marketplace.visualstudio.com/items?itemName=VisualStudioExptTeam.vscodeintellicode-completions
^ Certainly wo

[2022-05-24 04:55] kansenchu commented on #113
A download URL would really help if there's no security concerns on your end ><

[2022-05-24 20:45] dyegros commented on #367
Got same error while trying get javascript model

No URL is showing (only IP address). It seems https://prod.intellicode.vsengsaas.visualstudio.com is down (not responding in fact, because no error is returned, only TIMEOUT).

No proxy used in my configuration. Try to open it on browser results in TIMEOUT too.

[2022-05-24 22:05] osobeso commented on #113
@kansenchu Sorry for the inconvenience. We were having intermittent issues with the server but it should be available now.

[2022-05-25 02:00] kansenchu commented on #113
@osobeso No change on my end. It could be a problem on my side. If there's a way to get more logs out of vscode I could maybe try and figure it out. I'm trying to get the download URL now to see if the corporate proxy has it blocked for whatever reason.

[2022-05-25 18:18] osobeso commented on #218
@Dragaan Thanks for bringing this up, it seems some regions are still affected. looking into it.

[2022-05-25 21:32] osobeso commented on #218
@Dragaan services have been restored and should be up and running on all regions. Please try again and let us know if you're still experiencing any issues.

[2022-05-27 08:25] #367 closed

[2022-05-27 12:10] ROBYER1 commented on #125
Any updates on this? It's been 3 years!

[2022-05-30 14:29] somedeveloperhappy commented on #81
Nah, too late. As someone who was initially very interested about IntelliCode, I've switched to Github's copilot and am not going back to some experimental IntelliCode that has a lot of licencing and telemetry stuff involved in it. Plus, copilot is way better than it's alternatives. I say copilot has already won the initial age of coders using AI for their codes

[2022-05-31 10:47] dan3266 opened #368 "Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2022-05-31 19:07] Faithfinder opened #369 "Bad performance"
Issue Type: <b>Performance Issue</b>

So, I'm doing some work requiring mass search and replace, and I've noticed bad performance - whenever I replaced an occurence, file saving hung up for a time. Some research led me to understanding that it's extension host, and Extension Bisect (https://code.visualstudio.com/blogs/2021/02/16/extension-bisect) led me to this extension. It also offered to file a

[2022-05-31 22:08] ayim commented on #369
@osobeso mind taking a look when you've got some time?

[2022-05-31 22:10] ayim commented on #368
Hi @dan3266, need some logs from ya.
Mind popping open the output windows (Ctrl+Shift+U) and copy pasting output from the IntelliCode and Python windows?

<img width="256" alt="image" src="https://user-images.githubusercontent.com/10951869/171292557-dbee0fa3-63d3-44c6-a9d2-f6e2f07ad90b.png">

<img width="305" alt="image" src="https://user-images.githubusercontent.com/10951869/171292604-3a6667e4-36

[2022-05-31 22:29] osobeso commented on #369
@Faithfinder Thanks for reporting this issue.
Would you mind sharing the number of lines the current file or files you're working with? If it's more than one file, it can be an average of line numbers.
We would like to do some stress testing on our side.
In the meantime, I'll advise you to disable the extension so that it doesn't impact on your user experience while we find a solution for it.

Tha

[2022-06-01 13:54] Faithfinder commented on #369
It's ~500 files, ranging from ~15 lines minimum to 2-3 thousands maximum, can't really tell an average but 300 line files seem to be prevalent. File size didn't seem to critically affect the duration of each hang up. The extension host hung up for at least 10 seconds on each replacement with cumulative effect reaching minute or two after ~10 files.

The project is a moderately sized monorepo where

[2022-06-01 14:31] Faithfinder commented on #369
https://github.com/microsoft/rushstack
This public repo is very similar in setup to ours and I can sort of reproduce the behaviour with it. Just do the same search setup and then click `replace all` on each file in sequence.
![image](https://user-images.githubusercontent.com/25051063/171428253-45b47ff9-fd02-4bec-ac93-7038dbfbe23b.png)
![image](https://user-images.githubusercontent.com/25051063/171

[2022-06-01 14:35] Faithfinder commented on #369
Oh! Another detail - right now I'm running WSL, but I've also encountered this problem on a purely Ubuntu machine, so not WSL related.

[2022-06-02 21:13] ayim opened #370 "Unpredictable behaviour upon backspace with IntelliCode Completions"
Version: 1.67.1 (system setup)
Commit: da15b6fd3ef856477bf6f4fb29ba1b7af717770d
Date: 2022-05-06T12:37:03.389Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22000

On first attempt, it gives me the correct imread function
![image](https://user-images.githubusercontent.com/10951869/171739247-5bbbdde6-e8d9-4eea-b12d-818c4e236a00.png)

If

[2022-06-02 21:15] ayim opened #371 "Python WLC does not respect my quotation style."
If i am using ''
![image](https://user-images.githubusercontent.com/10951869/171739626-b6b1dbd5-f755-4e3e-b45a-30f4c6b75275.png)

VSC WLC suggests ""
![image](https://user-images.githubusercontent.com/10951869/171739658-6099d51f-c7a6-4847-a604-1267f75a29a6.png)

[2022-06-02 21:17] ayim opened #372 "Weird brace completion behaviour for VSC WLC"
Creating a friction log to track behaviour/cases

[2022-06-02 21:18] ayim commented on #372
![image](https://user-images.githubusercontent.com/10951869/171740008-a503d310-0ee4-482d-83dc-5d73b5062005.png)
If I dismiss the prediction and type again, it will suggest an additional closing brace

[2022-06-02 21:22] ayim opened #373 "If I dismiss prediction in VSCode Python whole line autocomplete, the prediction reappears"
Version: 1.67.1 (system setup)
Commit: da15b6fd3ef856477bf6f4fb29ba1b7af717770d
Date: 2022-05-06T12:37:03.389Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22000

![image](https://user-images.githubusercontent.com/10951869/171740620-61337e27-223e-49d6-9053-9f2ab6de240c.png)

![reappears](https://user-images.githubusercontent.com/109518

[2022-06-02 21:29] ayim commented on #373
grey-text keeps showing on backspace when I've JUST deleted it?

![backwards walking](https://user-images.githubusercontent.com/10951869/171741603-0bc7c588-5161-468f-b6ac-6b37d1a6bdf6.gif)

[2022-06-02 21:35] ayim commented on #372
![image](https://user-images.githubusercontent.com/10951869/171742369-fe2616f7-00a9-4e5a-b30e-6d492a1aedd9.png)
we suggested a brace after the brace?

[2022-06-03 18:26] juihanamshet1 commented on #372
@ayim Thanks for catching this! I need the following information from you to repro this and any future bugs:
1. VS Code version
2. Code files
3. File type (for example, this looks like an .ipynb file)

[2022-06-04 17:48] pedro15 commented on #81
Same, i'll be switching to copilot, it does not make sense to wait forever for intellicode,
if you want to use intellicode you have to use VS community at least. Community is great, but i'm already used to the vscode workflow

[2022-06-05 02:37] ayim commented on #372
@juihanamshet1 we were discussing how to best track this stuff at Bug Bash.. came to the conclusion of using GitHub to do my friction logging + easily uploading GIFs for these 'issues' to group rough areas of feedback together.

Once a developer on our team feels like something is bug worthy or wants to scope it down, we'll open an ADO item to track the work for that.

Does that sound good to you?

[2022-06-06 05:32] zivsivron commented on #102
is there any chance to get the model lib for java developers? im working in an air gapped enviroment for a company in israel where we use a CDR machine to wash files before installing on company computers. so i downloaded the extension and washed it and installed it with no problems, but once i start VScode , it tries to go online and download a model for intellicode which it cant. i have it insta

[2022-06-06 15:43] juihanamshet1 commented on #372
@ayim That sounds perfect, thanks for the context! I think this is worth filing an ADO item for especially since we have native brace completion support from vscode now.

[2022-06-06 18:25] ayim commented on #368
Hi @dan3266, haven't heard from ya here.
Going to to close this item for now, feel free to reopen if you're still experiencing this.

[2022-06-06 18:30] dan3266 commented on #368
No solution

On Mon, Jun 6, 2022, 9:25 PM Aaron Yim ***@***.***> wrote:

[2022-06-11 20:25] sprinteroz opened #374 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.68.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:```json
{
	"messages": [],
	"activationTimes": {
		"codeLoadingTime": 1851,
		"activateCallTime": 10,
		"activateResolvedTime": 1575,
		"activa

[2022-06-12 06:28] aiyeola opened #375 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.1`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.68.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/imohd/AppData/Local/Temp/VisualStudioExptTeam.intellicode-api-usage-examples-unresponsive.cpuprofile.txt`

Find more det

[2022-06-13 05:29] arsh985 opened #376 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.68.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-13 18:46] ayim commented on #375
@osobeso do we need more information here?
Doesn't look like user's attached the cpu profile file

[2022-06-13 22:41] osobeso commented on #374
hi @sprinteroz can I get more details about the issue you are having or trying to report with this issue?
Thanks!

[2022-06-13 23:02] osobeso commented on #375
@aiyeola Hi what language were you working with? Was it python or javascript? Just so we have a sense of which language triggered this high cpu usage.
Thanks!

[2022-06-14 02:17] aiyeola commented on #375
Hi @osobeso. It's JavaScript

[2022-06-14 18:47] manasvip01 opened #377 "Extension Issue, is not providing suggestions for autocomplete"
1.VS Code Version: 1.68
2.OS Version (Windows): 64-bit operating system, x64-based processor
3. IntelliCode Extension Version: v1.2.21
4. Python: v2022.8.0

It should this once:
Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

My Visual Code IntelliCode is not working it is not auto-completing my comm

[2022-06-20 14:36] FazeelUsmani commented on #266
@ayim This is working now. Thanks!

[2022-06-20 18:54] markw-t commented on #377
@manasvip01 sorry you're seeing this issue. It will be very helpful to see the contents of your "Python" and "VS IntelliCode" output windows when the problem shows up, as they will have more detailed information on how things have failed. You can find these windows in VSCode by using the View menu to select Output. Once selected, the Output window will appear at the bottom part of your VS Code scr

[2022-06-20 18:56] markw-t commented on #376
@arsh985 we are unable to act further without more description on the problem you encountered - if you can provide some more details on the issue you saw, for instance the contents of your Output window in VSCode's IntelliCode section, and some details of what you were doing when you saw the problem, please feel free to reactivate.

[2022-06-20 18:56] #376 closed

[2022-06-20 18:58] markw-t commented on #374
We are unable to act further without more description on the problem you encountered - if you can provide some more details on the issue you saw, for instance the contents of your Output window in VSCode's IntelliCode section, and some details of what you were doing when you saw the problem, please feel free to reactivate.

[2022-06-20 18:58] #374 closed

[2022-06-20 19:00] markw-t commented on #375
Hey @aiyeola

We need the CPU date described in the bug to pursue this further:

⚠️ Make sure to attach this file from your home-directory:
⚠️file:///c%3A/Users/imohd/AppData/Local/Temp/VisualStudioExptTeam.intellicode-api-usage-examples-unresponsive.cpuprofile.txt

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

Please reopen if you can pro

[2022-06-20 19:00] #375 closed

[2022-06-22 14:52] alvinashcraft opened #378 "Feature request: Support Markdown for using IntelliCode with documentation"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Both
**IntelliCode Extension Version**: Latest
**Target Platform or Language** [e.g. Node.js]: Markdown (.md)

**Steps to Reproduce / Scenario:**

1. Open a .md file in VS Code with IntelliCode enabled and start authoring.
2. IntelliCode should start providing suggestions.

Markdown is currently working with GitHub Copilot

[2022-06-23 09:01] royal45mts opened #379 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.1`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.68.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/aldii/AppData/Local/Temp/VisualStudioExptTeam.intellicode-api-usage-examples-unresponsive.cpuprofile.txt`

Find more det

[2022-06-27 16:25] Bertowujek opened #380 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.1`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-27 18:27] ayim commented on #378
Hey @alvinashcraft - we don't have plans to support plain-text at the moment, but we'll keep this on our radar and checkin with our data science team.

-A

[2022-06-27 18:30] ayim commented on #380
Hi there, could you paste the information in your clipboard here?
We'll need the info to proceed.

Cheers!

[2022-06-27 18:31] ayim commented on #379
@royal45mts could you attach the file at the directory above?

[2022-06-27 18:42] alvinashcraft commented on #378
Thanks, Aaron!

[2022-06-30 16:22] turturel opened #381 "[question] building the VS Code IntelliCode extension from source"
Is there any way I can build the VS Code IntelliCode extension from source?

Thanks!

[2022-07-01 11:40] chirag127 commented on #81
well copilot is now paid , are you on your ?

[2022-07-01 11:54] jamesthurley commented on #81
I notice in the [recent announcement](https://github.com/omnisharp/omnisharp-vscode/issues/5276) about the C# extension in VSCode they said:

So perhaps this may still come in the future.

[2022-07-01 14:54] techwithanirudh opened #382 "Typescript crashed 5 times in 5 minutes"
Issue Type: <b>Bug</b>

Don't know!

Extension version: 1.2.22
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No
Remote OS version: Linux x64 5.4.0-1074-azure
Remote OS version: Linux x64 5.4.0-1074-azure

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2022-07-01 14:54] techwithanirudh opened #383 "Typescript crashed 5 times in 5 minutes"
Issue Type: <b>Bug</b>

Don't know!

Extension version: 1.2.22
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No
Remote OS version: Linux x64 5.4.0-1074-azure
Remote OS version: Linux x64 5.4.0-1074-azure

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2022-07-01 14:54] techwithanirudh opened #384 "Typescript crashed 5 times in 5 minutes"
Issue Type: <b>Bug</b>

Don't know!

Extension version: 1.2.22
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No
Remote OS version: Linux x64 5.4.0-1074-azure
Remote OS version: Linux x64 5.4.0-1074-azure

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2022-07-04 12:57] turturel commented on #381
for more context - the VS Code marketplace page for the IntelliCode extension points to this repository, however it doesn't seem to contain all the stuff needed to build the extension...

[2022-07-04 16:42] nilabhjaiswal opened #385 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.2`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-07-05 15:07] A-m-r-u-t-a opened #386 "run code not showing"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2022-07-05 15:08] A-m-r-u-t-a commented on #386
in my vs code there are not showing run code, what to do?

[2022-07-06 09:43] CRidge opened #387 "DevOps task: Failed to get personal access token for long model extraction"
I'm trying to get the DevOps "IntelliCode Team Model Training" task to work for our solution. I'm using classic pipeline, but the XAML-exported step look like this:

[code]

The intelliCode endpoint has been setup by me (with admin rights) and authorized. However, I get this in my output whatever I try to do, before the step fails:

[code]
I find no reference to these errors online. I have enabled

[2022-07-06 15:55] ayim commented on #384
Hey! Thanks for reporting - we're aware here. Closing this as it's a duplicate of #382

[2022-07-06 15:55] #384 closed

[2022-07-06 15:55] ayim commented on #383
Hey! Thanks for reporting - we're aware here. Closing this as it's a duplicate of #382

[2022-07-06 15:55] #383 closed, assigned to nobody

[2022-07-06 18:06] ayim commented on #382
Hi @techwithanirudh can you clarify which extension you're using?
Is this the IntelliCode extension that you expect to give you the stars?

[2022-07-06 18:06] ayim commented on #387
@osobeso does this give us enough info put a bug on our backlog and look at it?

[2022-07-06 18:07] ayim commented on #386
Hi @A-m-r-u-t-a could you clarify...
1) What you expect to see
2) What is happening

[2022-07-06 18:07] osobeso commented on #387
@CRidge @ayim The service endpoint is deprecated, please just run the task without that argument and it should work as expected.

[2022-07-06 19:50] Wizibeer opened #388 "getting assaulted while filing for financial aid"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2022-07-08 11:24] AndreaPi opened #389 "Does Intellicode send my code to the Microsoft servers?"
After I installed the extension, does it send any data to the Microsoft servers? In particular, does it send my source code back to the Microsoft servers? I know that GitHub Copilot can, and that's why I don't use it. What about Intellicode?

[2022-07-10 06:17] momo3334 opened #390 "Intellicode fails to build training model for c++ because of missing executable on path."
To report a problem with IntelliCode for Visual Studio Code, you're in the right place. Please copy and paste any details that are visible in the Output window logs for VS-IntelliCode and the language you're using.

**Product and Version** [VS/VSCode]: Community 17.2.5
**OS Version** [macOS/Windows]: Windows 10.0.25151 Build 25151
**IntelliCode Extension Version**:  2.2.2137.31885
**Target Platfor

[2022-07-10 12:08] techwithanirudh commented on #382
Yes

[2022-07-10 14:04] elwynynion opened #391 "Extension issue"
**Unresponsive** It makes my VSCode slow.

- Issue Type: `Bug`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.2`
- OS Version: `Windows_NT x64 10.0.21996`
- VS Code version: `1.69.0`

[code]

[2022-07-10 22:54] paustint commented on #391
I have also noticed a lot of performance issues and tracked it down to, I think, this extension. The extension constantly shows up as "unresponsive" in the list of running extensions.

I tried to save some files and get the dialog letting me know that prettier is waiting for available CPU to format/save the files (because something else is using all resources).

When I looked at the process explor

[2022-07-11 04:19] ayim commented on #382
@techwithanirudh we'll need a bit more info to proceed with this.
If you run into this error again, please paste in the info from the Output > VS IntelliCode window as shown below - thanks!

![image](https://user-images.githubusercontent.com/10951869/178187800-d051a439-eda4-40ef-a363-e072acd7900f.png)

[2022-07-11 04:27] ayim commented on #388
Hi Wizibeer, is there an issue you're experiencing related to our extension?
If there are, please file a new issue, cheers!

[2022-07-11 04:27] #388 closed

[2022-07-11 04:27] ayim commented on #386
Hi @A-m-r-u-t-a feel free to file a new issue with more information if you continue to experience issues related to the IntelliCode extension, thanks!

[2022-07-11 04:27] #386 closed

[2022-07-11 04:27] ayim commented on #377
Hi @manasvip01  feel free to file a new issue with more information if you continue to experience issues related to the IntelliCode extension, thanks!

[2022-07-11 04:27] #377 closed

[2022-07-11 04:29] ayim commented on #387
@Cridge let us know if this solution works for you. I will be pinning this issue for visibility to any other customers as well

[2022-07-11 09:54] avimar commented on #391
This just started happening to me yesterday - slow/no updates on syntax highlighting and pause on save.

I tracked it down via the dev panel console:

[code]

[2022-07-11 10:09] avimar commented on #391
Sent file via email (9mb, not sure what private-ish info is in it.)

Device name	WIN10
Processor	Intel(R) Core(TM) i7-9700K CPU @ 3.60GHz   3.60 GHz
Installed RAM	32.0 GB
System type	64-bit operating system, x64-based processor

[2022-07-11 11:07] osobeso commented on #391
Thanks @avimar
By any chance, are you working with a react project? Or what's the codebase's language?

[2022-07-11 11:58] avimar commented on #391
@osobeso: Not react.

It's happening inside a restify@6 server side .js backend file (express-like).

[2022-07-11 20:15] ayim commented on #389
To add some nuance here, there are two features that users must explicitly opt-in to that will mine the code locally...

- **What:** IntelliCode custom models for C++ and C# in Visual Studio
- **How it works:** Methods and their usages are mined locally then sent to the server to generate a more precise model. Again, this is NOT source code that is being sent.
- **Where:** The resulting model is s

[2022-07-12 01:37] markw-t commented on #381
Hi @turturel

The IntelliCode extension for VS Code is not open source at this time, so you cannot build from source.- sorry for any confusion caused by the repo link from the marketplace page. We use the repository solely for github's issue logging for the extension.

[2022-07-12 01:37] #381 closed

[2022-07-12 07:20] ayim opened #392 "VSC WLC friction logging 1.0.14"
![image](https://user-images.githubusercontent.com/10951869/178432099-e6813713-e64b-40df-8dd4-27cecac1d935.png)
this becomes
![image](https://user-images.githubusercontent.com/10951869/178432140-38ad0a4a-2fa2-4c14-9983-9355d07127e9.png)

[2022-07-12 07:21] ayim commented on #392
File:

import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, Flatten, Dropout, MaxPooling2D, GlobalAveragePooling2D
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.python.keras.models import Model
from tensorflow.python.keras.applications import xception

import os
import num

[2022-07-12 07:21] ayim commented on #392
Would love to not get 0 here.
Epochs and image height are going to be >0

![image](https://user-images.githubusercontent.com/10951869/178432304-fbd6f429-5384-4e46-b58e-771a396366ae.png)

[2022-07-12 07:21] ayim commented on #392
![image](https://user-images.githubusercontent.com/10951869/178432353-21ef1214-8f56-4680-aedd-d861b7ec7418.png)
still 0

[2022-07-12 07:23] ayim commented on #392
weird behaviour where I tried to delete the square braces to type 0.1

![image](https://user-images.githubusercontent.com/10951869/178432623-990d7531-2d04-460a-961f-1af16e638b35.png)

[2022-07-12 07:24] ayim commented on #392
For this number, it put me into snippet completion, nice.

![image](https://user-images.githubusercontent.com/10951869/178432946-3a3dcb89-4406-4740-9334-ccb64786ed66.png)

[2022-07-12 07:26] ayim commented on #392
Repeated suggestion.
Sorry, didn't have logging set to ALL
![image](https://user-images.githubusercontent.com/10951869/178433025-44d08ffb-b824-4040-9482-1d1cf7995eb2.png)

import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, Flatten, Dropout, MaxPooling2D, GlobalAveragePooling2D
from tensorflow.keras.preproces

[2022-07-12 22:52] Dalqin opened #393 "Instructions to disable starred recommendations are out of date."
Hello,

The instructions for `How do I turn starred recommendations off?` are different for VS2022 Version 17.3.0 Preview 2.0
Instead, I navigate to `Tools` -> `Options` -> `Intellicode` -> `General` and uncheck `Promote likely items in IntelliSense completion lists`

If this is out of date, would someone please update it? I visit this page every time I install Visual Studio since I never remember

[2022-07-13 20:28] AndreaPi commented on #389
thanks @ayim , that clarifies my doubts.

[2022-07-13 20:28] #389 closed

[2022-07-14 04:15] ayim commented on #393
Hey! This is on me to fix - thanks.

[2022-07-16 10:33] kolappannathan commented on #307
@DavidObando Do we have any updates on this?

[2022-07-19 22:30] mandalorianbob opened #394 "Causes Azure Sign in to Crash"
Issue Type: <b>Bug</b>

While this extension is active, if I sign into Azure using the Azure Account Extension, the extension host crashes. I used the Extension Bisect feature to diagnose the crash, and it said that this was the extension responsible.

Extension version: 1.0.14
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT

[2022-07-20 17:22] osobeso commented on #307
@kolappannathan I'm sorry for not being responsive enough with this topic.  I have not been able to prioritize this, mainly because this feature will be deprecated in the near future.

I will re-assess this problem see if it's worth fixing in the coming months.
In the meantime, I strongly recommend for you to use [Machine-associated models](https://github.com/MicrosoftDocs/intellicode/blob/main/do

[2022-07-21 07:56] kolappannathan commented on #307
@osobeso Noted. Thank you

[2022-07-22 18:47] mandalorianbob commented on #394
Nevermind, issue persisted.

[2022-07-22 18:47] #394 closed

[2022-07-26 16:15] Aloento opened #395 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.1.2`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.69.2`
![image](https://user-images.githubusercontent.com/11802769/181057734-b492f91c-7fb4-44b6-ba4c-3fb26695fcbb.png)

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-07-27 11:36] ferreteleco opened #396 "Intellicode Completions Crashes Ext. Host"
Issue Type: <b>Bug</b>

Just found that my Ext. Host was crashing continuouslly. Ran extension bisect method and found Intellicode Completions as the guilty one.

Extension version: 1.0.15
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:14:10.636Z)
OS version: Linux x64 5.15.0-41-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Valu

[2022-07-28 12:20] ngnlTeto commented on #396
Same here.
I worked on an Angular Projekt and it keep crashing the Ext. Host.
After that I tried to work on an "ASP.NET - API" with VS-Code (and the extension activated) and it worked fine.

[2022-07-28 16:45] AliMa3s opened #397 "Bug"
Issue Type: <b>Bug</b>

This Bug was found please fix it

Extension version: 1.1.10
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 9 3900X 12-Core Processor             (24 x 3793)|
|GPU Status|2d_canvas: enab

[2022-08-01 06:16] adi-FlocknGo commented on #396
Same here, I work in python and most of my projects are on Django, whenever I open VS Code, this extension crashes the extension host. Had to do a chain of bisecting the extensions enabled to see if this is the one failing. Disabling Intellicode Completions solved the issue for me, but this is nonetheless an important extension for developers as it saves a ton of time and effort in rewriting a lot

[2022-08-01 17:04] ayim commented on #397
@AliMa3s we'll need more information to help diagnose the issue. What was the issue that you saw?

[2022-08-01 17:59] juihanamshet1 commented on #396
Thank you for reporting this issue!
@ngnlTeto @adi-FlocknGo Would you mind sharing your System Info, VS Code version, and OS version, please?

For the VS Code information, in VS Code, if you click on Help -> About, you can copy the information and paste it here.

[2022-08-01 21:09] ayim commented on #392
Going to close this since we're now on 1.0.15.

[2022-08-01 21:09] #392 closed

[2022-08-01 21:10] ayim commented on #382
@techwithanirudh feel free to reopen this issue if you continue to experience issues.

[2022-08-01 21:10] #382 closed

[2022-08-02 01:38] osobeso commented on #395
Hi @Aloento thanks for reporting this.
This is a known issue we've been seeing on startup, and we're currently working on mitigating it. Will let you know once we publish the release containing a fix for this.

[2022-08-02 06:40] ngnlTeto commented on #396
I had this Error on this specs:

I don't know if this information helps but, I have almost 150 Extensions. Maybe it doesn't work with another extension installed.

[2022-08-02 10:09] ColdSpirit0 commented on #396
Same for me. If I close all files in vscode, then the host will start normally

[2022-08-03 05:57] juihanamshet1 commented on #396
@ColdSpirit0 @ngnlTeto @adi-FlocknGo @ferreteleco Please update the extension to v1.0.16 as soon it's available to you; it includes a fix for the issue you were facing. Let us know if it's resolved on your end.

If you run into the issue again, follow these steps to send us logs: In VS Code, Ctrl + Shift + P and Run the command "Developer: Open extension logs folder". It'll open up a folder, searc

[2022-08-03 06:38] ngnlTeto commented on #396
The fix works for me.

[2022-08-03 07:05] ColdSpirit0 commented on #396
It works for me too, thank you!

[2022-08-03 14:55] juihanamshet1 commented on #396
Glad to hear that! Thank you for the update

[2022-08-05 06:47] #397 closed

[2022-08-05 06:47] #396 closed

[2022-08-05 06:48] ayim commented on #380
If you are still experiencing issues, feel free to open a new issue with the attached data in your clipboard

[2022-08-05 06:48] #380 closed

[2022-08-05 06:48] ayim commented on #372
@juihanamshet1 do we already have a fix in/an ADO issue tracking this?

[2022-08-05 06:49] #344 closed

[2022-08-05 06:49] #358 closed

[2022-08-05 06:49] ayim commented on #358
Issue has been resolved

[2022-08-05 06:50] ayim commented on #379
@royal45mts feel free to reopen this issue by attaching the logs at the filepath noted above if you're still experiencing issues

[2022-08-05 06:50] #379 closed

[2022-08-05 06:51] #363 closed

[2022-08-06 19:09] bartoligerman497 opened #398 "IntelliCode in VSCode does not recognize "asp-for" tag error"
**Product and Version** [VS/VSCode]: 1.70 (user setup)
**OS Version** [macOS/Windows]: Windows_NT x 64 10.0.19044
**IntelliCode Extension Version**:  1.2.22
**Target Platform or Language** [e.g. Node.js]: C# ASP .NET 6 Razor

**Steps to Reproduce / Scenario:**

Hello!! I am programming in a .cshtml view and the IntelliCode does not recognize the asp-for tag.

This is in Visual Studio 2022:
![image

[2022-08-08 11:06] Htut1257 opened #399 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.2.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.69.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/NAYMYO~1/AppData/Local/Temp/VisualStudioExptTeam.intellicode-api-usage-examples-unresponsive.cpuprofile.txt`

Find more

[2022-08-08 18:34] markw-t commented on #398
The issue seems to be that the language service you are using for C# (I'm guessing perhaps OmniSharp?) is not providing the Quick Info popups that you see in Visual Studio. This isn't provided by IntelliCode (which only does the AI-assisted development features such as line completions and starred completion list items).

I think you may want to raise this issue in the repo for the C# language ser

[2022-08-08 18:34] #398 closed

[2022-08-08 18:36] osobeso commented on #399
This will be fixed once we implement the LSP server. Which should be ready in the following weeks.

[2022-08-10 09:45] mysticaltech commented on #92
Same! PHP support is needed. Thanks!

[2022-08-11 09:16] domjancik opened #400 "Slowness on larger files"
Type: <b>Bug</b>

Using extension Bisect, I have identified IntelliCode API Usage Examples to be causing slowness issues, primarily in TypeScript files, especially in larger ones.

IntelliSense would take a long time to load after changes
Prettier would take a long time to format
Saving was noticably delayed until all extensions finished
If using Vim extension, editing would be noticeably delayed

[2022-08-12 07:04] erjiaxiao opened #401 "Intellicode doesn't work. it shows "Failed to load ONNX runtime. Exception Error: The specified module could not be found." in logs"
**Product and Version** [VS/VSCode]: VScode
**OS Version** [macOS/Windows]: Windows
**IntelliCode Extension Version**: 1.2.22
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. I Installed VScode
2. I Installed Conda
3. I Installed Pylance
4. I Installed Intellicode
5. it finished downloading the intellicode model

And the intellicode dosen't work proper

[2022-08-12 18:42] juihanamshet1 commented on #372
The fix is in! :)

[2022-08-14 10:25] dungmv commented on #92
PHP is very popular, so it'll amazing if PHP supported

[2022-08-15 18:33] ayim commented on #401
@leti367 any idea what could be causing this?

[2022-08-15 22:35] leti367 commented on #401
Did a test on my x64 windows machine (win 11) seems I cannot reproduce this issue at this time.
Here are the extensions I have:
vscode 1.70.1
intellicode: v1.2.22
pylance: v2022.8.20
python:v2022.12.0

@erjiaxiao, can you help to check is your machine x64 or arm64?

[2022-08-16 03:03] erjiaxiao commented on #401
Thanks for testing! my machine is x64 and it has been working for me for 10 years or so. Does this matter? I try my another machine also x64 which I brought back this year and intellicode works properly on it. @leti367

[2022-08-16 05:21] leti367 commented on #401
We haven't added the onnx-runtime support for arm64 windows yet, so if you use IntelliCode extension on an arm64 windows, you will definitely see similar errors. But since you are using x64 windows, that's not the case.

[2022-08-16 13:54] erjiaxiao commented on #401
I see. maybe there is something wrong which is specific to my machine. and I can't reproduce it on my new machine too. so should we close this issue because it's so specific and can't be reproduced? @leti367

[2022-08-19 20:32] osobeso commented on #400
Hi @domjancik, thanks a lot for the feedback!
I'm happy to inform you that we have just published a new version with many improvements targeting performance on ts/js large projects.

I will close this issue for now but please feel free to re-open if you still experience performance issues.

[2022-08-19 20:32] #400 closed

[2022-08-19 21:52] osobeso commented on #399
Hi @Htut1257, thanks a lot for the feedback!
We have just released a new version that addresses these perf issues that you mention.

I will close this issue for now but please feel free to re-open if you still experience issues.

[2022-08-19 21:52] #399 closed

[2022-08-19 22:01] osobeso commented on #391
Hi @avimar @paustint @elwynynion
I'm happy to let you know that we have just published a new version of the extension that has some improvements to address the performance impact you were experiencing.

I will close the issue but please feel free to re-open if you are still experiencing this issue.

[2022-08-19 22:01] #391 closed

[2022-08-19 22:02] osobeso commented on #395
@Aloento Hi, we have just published a new version of the extension that should not have this problem anymore.

I will close this feedback ticket but feel free to re-open if you are still having problems.
Thanks!

[2022-08-19 22:02] #395 closed

[2022-08-22 17:52] ayim commented on #401
@erjiaxiao we'll keep this open to track this issue as we investigate :)

[2022-08-23 22:32] fireattack commented on #401
I have this issue on a Win7 machine as well. OP, which version of Windows do you use?

[2022-08-23 22:36] vivlimmsft commented on #401
Can you please copy & paste the contents of Help > About in VSCode? It's possible that you might be running the 32-bit version of VSCode.

[2022-08-23 22:37] fireattack commented on #401
Here you go:
[code]

No, it's the 64-bit one.

[2022-08-23 23:27] leti367 commented on #401
We are using onnxruntime-node package, not sure if win 7 is supported in this case. I will take a look at the onnx runtime build process to see if I can find something, otherwise we can open an issue to Onnx runtime repo.

[2022-08-24 04:39] prashant-rajoriya-kredx opened #402 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.2.0`
- OS Version: `Darwin arm64 21.6.0`
- VS Code version: `1.70.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///var/folders/2z/3_ymhx4j1vxbm1xw89n7ft6r0000gn/T/VisualStudioExptTeam.intellicode-api-usage-examples-unresponsive.cpuprofile.txt`

Find mo

[2022-08-24 19:19] osobeso commented on #402
Hi @prashant-rajoriya-kredx , please update your extension version to latest this issue has been fixed on 0.2.1.

[2022-08-24 19:19] #402 closed

[2022-08-25 14:59] omidshojaee commented on #57
I have this issue right now.

VSCode :
[code]
Python extension: v2022.13.12371004
VS IntelliCode extension: v1.2.23

Python output window:
[code]

VS IntelliCode  output:

[code]

[2022-08-29 13:34] Krish2649 commented on #57
same issue

Output:

`Error while activating Python: {"detail":{"name":"Error","message":"Activating extension 'ms-python.python' failed: Cannot find module 'c:\\Users\\Lenovo\\.vscode\\extensions\\ms-python.python-2022.12.1\\out\\client\\extension'\nRequire stack:\n- c:\\Users\\Lenovo\\AppData\\Local\\Programs\\Microsoft VS Code\\resources\\app\\out\\vs\\loader.js\n- c:\\Users\\Lenovo\\AppData\\L

[2022-08-30 11:05] Ks14021999 opened #403 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.2.23`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.70.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/krish/AppData/Local/Temp/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt`

Find more details here: https://github

[2022-09-04 10:13] Jagdish2022 opened #404 "Intellisense is not workin on VS Code please help me."
Below is the output result for VS Intellicode

Error while activating Python: {"detail":{"name":"Error","message":"Activating extension 'ms-python.python' failed: command 'python.viewOutput' already exists."}}

[2022-09-06 19:25] iRyoka commented on #49
Same problem here. Wsl2 on Win11. I do not use proxy and all vpn options are disabled.

=================
Version: 1.71.0 (user setup)
Commit: 784b0177c56c607789f9638da7b6bf3230d47a8c
Date: 2022-09-01T07:36:10.600Z
Electron: 19.0.12
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.22000
Sandboxed: No

[2022-09-11 10:09] Jagdish2022 commented on #404
@leti367

[2022-09-11 10:13] Jagdish2022 opened #405 "Error while activating Python: {"detail":{"name":"Error","message":"Activating extension 'ms-python.python' failed: command 'python.viewOutput' already exists."}}"
Error while activating Python: {"detail":{"name":"Error","message":"Activating extension 'ms-python.python' failed: command 'python.viewOutput' already exists."}}

[2022-09-11 10:31] Jagdish2022 commented on #57
I have the same issue:

Output:

VS Intellicode:
  Error while activating Python: {"detail":{"name":"Error","message":"Activating extension 'ms-python.python' failed: command
  'python.viewOutput' already exists."}}

Python:
  Starting Jedi Python language engine.
  ##########Linting Output - pylint##########

[2022-09-12 10:00] R00iBaard commented on #125
This would be really appreciated! 🥇

[2022-09-12 18:42] markw-t commented on #404
@leti367 this may be a PyLance team issue - please confirm and re-route as needed to their repository

[2022-09-12 18:43] markw-t commented on #405
Looks like a duplicate of #404

[2022-09-12 18:43] #405 closed

[2022-09-12 18:47] markw-t commented on #403
@Ks14021999  please can you attach the file:///c%3A/Users/krish/AppData/Local/Temp/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt file mentioned above to enable us to route or investigate this issue?

[2022-09-12 20:06] leti367 commented on #404
@Jagdish2022, based on the logs, the issue happens when we try to activate python extension. Can you share some more details of your environment? Seems I cannot repro this issue on my machine. Here is the info of my environment:
Version: 1.71.0 (system setup)
Commit: 784b0177c56c607789f9638da7b6bf3230d47a8c
Date: 2022-09-01T07:36:10.600Z
Electron: 19.0.12
Chromium: 102.0.5005.167
Node.js: 16.14.2

[2022-09-13 05:13] Jagdish2022 commented on #404
Version: 1.71.0 (user setup)
Commit: 784b0177c56c607789f9638da7b6bf3230d47a8c
Date: 2022-09-01T07:36:10.600Z
Electron: 19.0.12
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.22000
Sandboxed: No

Extension versions:
IntelliCode Verion: 1.2.25,
Python version: 2022.14.0
Pylance version: 2022.9.11

[2022-09-14 00:02] leti367 commented on #404
Still cannot reproduce with these extensions. Did you install any other extensions? I doubt one of them has duplicate command 'python.viewOutput'. Can you help to uninstall and check?

[2022-09-14 00:32] miqdadraza opened #406 "IntelliCode Completions do not work with long Jupyter notebooks"
For a while now, Intellicode completions (grey suggestions) do not work with longer Jupyter notebooks. The extension activates fine and models are downloaded fine but it will not bring up any suggestions in grey.

When I open a new Jupyter notebook, it starts working and I start seeing suggestions until the file becomes long and I save it. Once reopened, the suggestions stop. Pylance works fine as

[2022-09-14 17:41] justinwiley opened #407 "Link to privacy policy for IntelliCode is broken"
**Product and Version** [VS/VSCode]:1.71.0
**OS Version** [macOS/Windows]:Mac
**IntelliCode Extension Version**: v0.2.2
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1. Go to the install page for IntelliCode
2. Scroll to the bottom click the link in "It will never send your own custom function names. You can read more about the privacy characteristics of the

[2022-09-17 17:41] somedeveloperhappy commented on #81
with copilot out of the way, it would be an awesome timing for Intellicode to bomb the market for C# devs looking for a free AI helper.
+ just please don't make it take over out jobs like they're doing with artists. thanks

[2022-09-17 17:47] SupinePandora43 commented on #81
Intellicode has licensing quirks

[2022-09-17 17:58] somedeveloper00 commented on #81
any service that uses their own servers, most probably wants *your* data back as the fee. You can't expect a fully featured online server work for you without holding your data for their own sakes.
So as for being allowed to share *our* data or not, it all depends on the team's tech lead & the terms of your agreements with your project. Since it's a new thing, there's probably no rules about them

[2022-09-20 16:12] Jagdish2022 commented on #404
Hi @leti367,

My Issue got resolved.

I have uninstalled my python extension along with pylance and it started working now.

Thanks for your support.

[2022-09-26 14:49] PrattayDev opened #410 "java"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2022-09-26 14:50] PrattayDev commented on #406
not just python bro also in java language. same problem

[2022-09-26 14:51] PrattayDev commented on #407
same problem

[2022-09-26 14:53] PrattayDev commented on #401
my laptop hp envy x64 but intellicode shows problem though i installed its says its not activating

[2022-09-26 18:42] markw-t commented on #410
We need some more information to process this issue. Closing for now; feel free to open with more data on what happened and what error you are seeing.

[2022-09-26 18:42] #410 closed

[2022-09-26 23:24] #269 closed

[2022-09-27 02:09] erjiaxiao commented on #401
Hello @PrattayDev, I try vscode and intellicode in the WSL Ubuntu and they work pretty well. You could try it!

[2022-09-27 15:02] #338 closed

[2022-09-27 15:24] juihanamshet1 commented on #406
@miqdadraza Thank you for reporting the issue. Would you mind sharing the exact steps to reproduce the issue? What was the length/size of your file? If you could repro the issue with a file that you can share with us, that would be great!

@PrattayDev At the moment, this extension supports Python, with additional experimental support for JavaScript and TypeScript.

[2022-09-29 21:49] osobeso commented on #407
This has been fixed on version 0.2.3

[2022-09-29 21:49] #407 closed

[2022-09-30 09:51] liaochao2011 commented on #92
+1

[2022-10-01 03:03] gitvophu commented on #92
+1

[2022-10-01 12:05] Anmol-Agrawal-Codes opened #411 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.2.28`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2022-10-02 13:36] Anmol-Agrawal-Codes opened #412 "Not working"
Type: <b>Performance Issue</b>

Few days ago intellisence is working for java but now it is not working and don't know why also I have restarted the application many times but still it is not working.
Please resolve this issue as soon as possible.

Extension version: 1.2.28
VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:03:37.738Z)
OS version: Windows_NT x64

[2022-10-03 08:42] oovaa opened #413 "error highlight in java"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1. error highlight is not working with  java i have the extinsion package installed and it was working until this morning

[2022-10-03 19:10] markw-t commented on #413
I believe this is a core Java extension problem, rather than an IntelliCode issue. I'm tagging @Eskibear to confirm and help route this issue to the right repository

[2022-10-03 19:13] markw-t commented on #412
This appears to be a Java IntelliSense/Language service problem rather than IntelliCode (AI assisted development). Tagging @Eskibear to confirm and route to the right repository

[2022-10-03 19:15] markw-t commented on #411
This appears likely to be a Java language service issue. Tagging @Eskibear to help route to the correct repo

[2022-10-04 04:37] Unnoen opened #414 "API Usage Examples LSP using wrong path to supported calls JSON."
## Information
OS: _Windows 10_
OS Build: _19044.2006_
VSCode: _1.71.2 (user setup)_
IntelliCode Extension: _v1.2.28_
IntelliCode API Usage Examples Extension: _v0.2.4_

## Issue Summary
The IntelliCode API Usage Examples extension uses the wrong drive letter to access VSCode's User globalStorage directory in attempt to load the supported calls JSON files.

In the obfuscated distribution code (wit

[2022-10-04 12:44] tsonev7 opened #415 "Font in the suggestion box looks wrong"
It seems that the font in the suggestion box is different than the one for the VS code editor. I couldn't find any setting for that, so maybe it's a bug ?

<img width="529" alt="image" src="https://user-images.githubusercontent.com/3913549/193822231-2364148b-1587-4451-aa9e-59081dafb07f.png">

[2022-10-05 03:05] fireattack commented on #414
Can confirm, encountered the same error.

[code]

Obviously my `\Users\` isn't at `F:`.

[2022-10-05 06:24] oovaa commented on #413
i deleted the extensions and reinstalled them and nothing happen

[2022-10-05 18:17] osobeso commented on #414
@Unnoen @fireattack
Thanks a lot for reporting this.
I'll take a look and let you know once it's fixed!

[2022-10-05 22:50] markw-t commented on #413
Hi @oovaa , as mentioned I think this is a Java extension issue rather than anything to do with IntelliCode. IntelliCode solely provides the starred suggestions in the completions list for Java, and does not do any error highlighting.

I suggest you raise this issue at https://github.com/microsoft/vscode-java-pack/issues

[2022-10-05 22:50] #413 closed

[2022-10-05 22:51] markw-t commented on #412
Hi @Anmol-Agrawal-Codes

As mentioned I think this is a Java extension issue rather than anything to do with IntelliCode. IntelliCode solely provides the starred suggestions in the completions list for Java, the IntelliSense itself is provided by the Java extension.

I suggest you raise this issue at https://github.com/microsoft/vscode-java-pack/issues

[2022-10-05 22:51] #412 closed

[2022-10-05 22:54] markw-t commented on #411
Hi @Anmol-Agrawal-Codes
Can you give us a little more information on what symptoms you are seeing? If you see no IntelliSense for Java, I suggest you raise this issue at https://github.com/microsoft/vscode-java-pack/issues . If you're not seeing the starred items in the IntelliSense list, that might be an IntelliCode problem.
Thanks
Mark

[2022-10-10 14:55] Unnoen commented on #414
Version 0.2.5 appears to have fixed it, thanks!

[2022-10-10 14:55] #414 closed

[2022-10-10 18:39] markw-t commented on #415
Hi @tsonev7  - this appears to be a problem with the JavaScript language service, so it would be better to raise the issue on the VSCode repository at https://github.com/microsoft/vscode/issues

Thanks!
Mark

[2022-10-10 18:39] #415 closed

[2022-10-14 21:17] CubesterYT opened #416 "Small Spelling Issue"
I just wanted to point this out, but on the Intellicode extension page on The VS Marketplace has a small spelling error:

![image](https://user-images.githubusercontent.com/78769806/195945227-6e2c5ba8-bd81-4b5d-ab2d-adb469397908.png)

Nothing more, but otherwise, the extension's great!

[2022-10-17 06:52] #411 closed

[2022-10-17 18:08] ayim commented on #416
@CubesterYT, we're on it - thanks for letting us know!
If you're using the extension, let us know if you run into any bugs or problems

[2022-10-17 18:09] #404 closed

[2022-10-17 21:38] davidvalencia1 opened #417 "intellicode doesn't work at all"
Hi, I'm working on python and I installed the extension. It doesn't give me any installation errors. However, no suggestions appear in gray text. I've tried to disable various features like the deep learning system, but it still doesn't work. all active options as they come by default.
I think maybe I have to download some model, but I don't know how to do it

[2022-10-23 03:28] jexjws commented on #417
![picture](https://user-images.githubusercontent.com/65129712/197372008-4495d1a2-31a1-416a-9817-cb33c5da59c5.png)

[2022-10-23 04:00] davidvalencia1 commented on #417
Sorry that option doesn't even appear for me

[2022-10-24 18:40] raffian commented on #403
FYI - High cpu usage in vscode for me happens when I open folders containing lots of subfolder projects, but looking closely at my issue I discovered it had nothing to do with vsciode extensions - it was my company's real-time virus/malware endpoint security software, consuming 100% cpu and eating up nearly 6Gb of RAM. Just saying

[2022-10-24 18:42] ayim commented on #417
@davidvalencia1 happy to help you get this working.
Could you launch VS Code, View > Output > IntelliCode and IntelliCode Completions and paste the content into this issue?

<img width="882" alt="image" src="https://user-images.githubusercontent.com/10951869/197601373-9e281fda-52f3-4d77-9f84-d618bb4c689e.png">

[2022-10-24 22:16] ryzngard opened #418 "Variable names suggestion"
From https://github.com/dotnet/roslyn/issues/64669

[2022-10-26 12:39] colorsakura commented on #401
i have same issue

PC: Lenovo Yoga14s intel

[code]

[code]

intellicode log:
[code]

[2022-10-26 21:04] chiragClassplus opened #419 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `intellicode-api-usage-examples`
- Extension Version: `0.2.0`
- OS Version: `Darwin arm64 21.2.0`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-10-31 18:08] ayim commented on #419
Hi @chiragClassplus, thanks for the report.
What is the problem you're seeing? Could you paste the issue from your clipboard?

[2022-11-05 00:11] davidvalencia1 commented on #417
@ayim
hello, of course yes, this is what it shows me
![image](https://user-images.githubusercontent.com/114039494/200091650-6a90575f-3c0f-4ff6-8362-187cf5bdd0da.png)

[2022-11-09 06:59] rizwanali2014 opened #420 "Error while installing Intellicode extension"
**Product and Version** [VS/VSCode]:x64 1.73.0
**OS Version** [macOS/Windows]: window 10
**IntelliCode Extension Version**: 1.12.29
**Target Platform or Language** [e.g. Node.js]: Javascript language

**Steps to Reproduce / Scenario:**

1.
2.

[2022-11-09 13:10] Eskibear commented on #420
broken vsix packages downloaded due to networking issue, I'm afraid.

[2022-11-14 19:37] ayim commented on #420
@rizwanali - I'd recommend uninstalling and reinstalling the extension again

[2022-11-16 11:11] halloleo opened #421 "How to download IntelliCode models externally and install them manually"
I  run VS Code on an air-gapped machine (no internet). I was able to download externally the (Java) extensions I need and then install them manually. _Java_ development works now.

However, after opening a _JavaScript_ file (as part of a Java Web project) I get the following error: "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings."

So I need to dow

[2022-11-17 22:03] mjbvz opened #422 "Exclude platform specific bits from extension bundle"
visualstudioexptteam.vscodeintellicode-1.2.29

Hi, I noticed that the IntelliSense extension includes 35MB of what appears to be platform specific files under `/dist/runtimes`

<img width="516" alt="Screenshot 2022-11-17 at 2 02 59 PM" src="https://user-images.githubusercontent.com/12821956/202569481-5e5eeb76-3d64-4073-8c5c-25585380e841.png">

Can you use VS Code's [platform specific extension log

[2022-11-17 22:07] mjbvz opened #423 "Minify ms-vsintellicode-typescript/ts-intellicode-plugin.js"
visualstudioexptteam.vscodeintellicode-1.2.29

Hi I noticed that the IntelliCode extension includes a 10MB JS files under `./node_modules/ms-vsintellicode-typescript/ts-intellicode-plugin.js` which looks like this file is not currently minified.

<img width="1634" alt="Screenshot 2022-11-17 at 2 06 13 PM" src="https://user-images.githubusercontent.com/12821956/202570135-89bfdbaf-e2fe-4c67-a164-c53

[2022-11-17 22:28] mjbvz opened #424 "Extension includes a copy of typescript.js under `ts-morph`"
visualstudioexptteam.vscodeintellicode-1.2.29

Hi, I noticed that the VS Code IntellICode extension includes a full copy of typescript.js at `/node_modules/ms-vsintellicode-typescript/node_modules/@ts-morph/common/dist/typescript.js`

This adds 9.5MB to the extension's size on disk (and increases the download size). Is it possible to avoid this include, possibly by loading TypeScript dynamically o

[2022-11-20 13:06] Nicistarful commented on #125
Adding my five cents to bump this topic, would love to have IntelliCode on the Mac version of VS. Any updates on this?

[2022-11-25 06:18] microsoft-github-policy-service[bot] opened #426 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-29 08:54] jessutanto commented on #57
I have the same issue

Output
Python:
[ERROR 2022-10-29 9:47:52.455]: extension activation failed [Error: command 'python.viewOutput' already exists
	at s.registerCommand (/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/api/node/extensionHostProcess.js:92:109710)
	at Object.registerCommand (/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/ap