[2018-07-26 04:43] trobr opened #1 "Couldn't download IntelliCode model"
* OS:Ubuntu 16.04
* Version: 1.25.1

I have install the Visual Studio IntelliCode extension,but when i enable the Microsoft Python Language Server,a error has occur

    Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.

What might be the reason for this and how could i solution this?

[2018-07-26 14:50] k7shanmugam commented on #1
Are you behind a proxy or a firewall? Can you share the log entries from the output window (select 'VS IntelliCode' in the dropdown)?

@vivlimmsft - fyi

[2018-07-26 15:32] k7shanmugam commented on #1
Thanks. Are you able to reach the endpoint directly in your browser?

[2018-07-26 15:34] trobr commented on #1
Yes, I can reach the endpoint in chrome @k7shanmugam

[2018-07-26 15:49] k7shanmugam commented on #1
Are you using a proxy? Can you check your environment variables to see if you have set some for proxy? Also what does Chrome report for its proxy settings?

This is likely coming from some npm package we are using that doesn't handle the proxy settings.

[2018-07-26 16:09] trobr commented on #1
Does the HTTP proxy set in Bash have an impact?I had try to close the proxy server and  proxy setting in system setting before.But i am forgot to change the bash proxy setting.I am going to change this and try again later.If is usefull,I'll feed it back.Thanks for your advice!

[2018-07-27 05:45] trobr commented on #1
@k7shanmugam After I  modified the system environment variables it download success!You are right,Thanks!

[2018-07-27 05:45] #1 closed

[2018-07-27 10:44] aytacozkan opened #2 "supporting other languages"
will you support other languages such as  java, golang and javascript?

[2018-07-27 11:07] k7shanmugam commented on #2
Yes, we are looking into other languages. It is more of an experiment first to see if there is enough data for a given language to learn the patterns and see if the model can make predictions that are better than the default suggestions. If the results are good, we will certainly bring them online.

[2018-07-27 16:18] JeffHanna opened #3 "The Microsoft Python language service breaks CTags and the VS Code Outline view."
Switching away from Jedi to the Microsoft Python language service causes ctags.exe to throw errors while it is attempting to generate tags. It also neuters the recently added VS Code Outline panel. The Outline ever updates with navigable information such as method names, class names, etc...

Re-enabling Jedi and disabling the Intellicode extension restores both the CTags and Outline view functiona

[2018-07-27 16:59] markw-t commented on #3
@JeffHanna thanks for the report. For issues with the new Python language service itself, rather than the IntelliCode recommendations, please can you report at https://github.com/Microsoft/vscode-python/issues/new ?

Thanks for trying IntelliCode!

[2018-07-27 18:13] #3 closed

[2018-07-30 15:16] tamilupk opened #4 "Intellicode is unable to download its model behind proxy"
Getting error message 'Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.'

While all other VS Code functionalities, extensions are working fine behind the proxy.
![image](https://user-images.githubusercontent.com/29927891/43406327-fbdfbdcc-93e9-11e8-9d74-7cb8f1e497e6.png)

[2018-07-30 16:20] vivlimmsft commented on #4
Sorry that you're hitting this issue. Which OS are you using?

[2018-07-30 17:07] tamilupk commented on #4
Windows 7.
It takes the system proxy for everything else in VS Code.

[2018-07-30 18:10] tamilupk commented on #4
Still didn't work even after setting the environment variable (I am already using the same variable for other applications and it works)
I even tried setting it up in vs code settings and it didn't work.

[2018-07-30 19:36] vivlimmsft commented on #4
Can you please send the contents of your `VS IntelliCode` output window?

You can get there by:
1. Opening the Output window if it isn't visible (ctrl+shift+p Toggle Output)
2. Select VS IntelliCode from the combo box
![image](https://user-images.githubusercontent.com/27872315/43419222-31394528-93f5-11e8-9856-36141056934c.png)

[2018-07-30 19:58] tamilupk commented on #4
`Acquiring model 'PythonIntellicode-Completions'  with schema version between [1, 1]
Querying IntelliCode service for available models.
Endpoint: https://ppe.intellicode.vsengsaas.visualstudio.com/api/v2/repoAgnostic/analyzers/PythonIntellicode/models/latest?declaredName=Completions&minSchemaVersion=1&maxSchemaVersion=1
Could not reach the IntelliCode service. Checking the local model cache.
None

[2018-07-30 21:03] tamilupk commented on #4
Hi vivlimmsft,
Thanks for your support, I was getting error with the end point _

_
so I did a small hack, I hardcoded Uri in blobStore.js file to

This saved my day.

However I expect a permanent solution to this problem.

Thanks

[2018-07-30 21:09] vivlimmsft commented on #4
I'm glad you got it working.
We'll look into why we were able to download the blob using the proxy, but not contact the service. This will be fixed next update.

[2018-07-31 13:08] quartz010 commented on #4
@tamilupk  Hi! Same error here. And I download the  blobStore.js manually. But how to install it?

[2018-08-01 10:50] firasrb commented on #4
I have the same problem, but the proposed solution does not work for me. I think in my case it's a certificate problem. This is my output:

`Acquiring model 'PythonIntellicode-Completions'  with schema version between [1, 1]
Querying IntelliCode service for available models.
Endpoint: https://ppe.intellicode.vsengsaas.visualstudio.com/api/v2/repoAgnostic/analyzers/PythonIntellicode/models/latest?d

[2018-08-01 11:40] firasrb opened #5 "Can't uninstall / disable IntelliCode"
I have the issue described in https://github.com/MicrosoftDocs/intellicode/issues/4

Regular Intellisense is not working, so I am trying to disable or uninstall IntelliCode until a solution is available (and hoping that Intellisense will be enabled). This gives me the message:

Do I have to revert back to VS Code 1.24 in order to get regular Intellisense back, or is there some other way to remove

[2018-08-01 17:52] markw-t commented on #5
@firasrb , sorry that you're hitting issues with regular Python Intellisense.

Installing IntelliCode turns on the new Python language service, and it may be that the problems you are seeing with regular IntelliSense relate to that. For issues with the new Python language service itself, rather than the IntelliCode recommendations, please can you report at [their GitHub Issues Repo](https://github

[2018-08-01 17:56] markw-t commented on #4
@firasrb , do you by any chance happen to have a web diagnostic/debugging tool such as Fiddler enabled on the machine you are using? It's possible that the self-signed certificates such tools use are not properly recognized by our download infrastructure, causing the problem you are seeing - so if you do have such a tool installed, can you try uninstalling it and see if the problem persists?

Than

[2018-08-01 20:38] dakotahawkins opened #6 "PYTHONPATH set in "python.envFile" ignored"
**VS Code Version**: 1.25.1
**OS Version**: Windows 7
**Visual Studio IntelliCode Extension Version**: 1.0.1
**Python Extension Version**: 2018.7.1
**Target Platform or Language**: Python

**Steps to Reproduce / Scenario:**

I noticed that jedi seems to be picking up the `PYTHONPATH` set in my `.env` file, but turning that off to enable intellicode requires adding the same paths to `python.autoCom

[2018-08-01 21:03] markw-t commented on #6
Hi @dakotahawkins  - thanks for trying IntelliCode

From the description, I believe the problem you are seeing is with the new Python language service itself rather than IntelliCode. Please can you report it at [VSCode-python](https://github.com/Microsoft/vscode-python/issues/new) ?

Any messages you're seeing in the Python output window in Visual Studio Code when the failure occurs may be helpful

[2018-08-01 21:30] dakotahawkins commented on #6
@markw-t Thanks! I can file it with [VSCode-python](https://github.com/Microsoft/vscode-python/issues/new). I know they've fixed issues to make this work, so maybe they need to add something similar to support IntelliCode?

I never got far enough to see things in the Python output window. In my use case this is python for django running in docker, so it's not really ever run in the development env

[2018-08-01 21:38] markw-t commented on #6
@dakotahawkins , yes as you've discovered, IntelliCode will only work with the new MS Python Language Server, and we help you switch jedi off to achieve that.

IntelliCode is completely agnostic to the env file, that's entirely a language service responsibility.

[2018-08-01 21:42] dakotahawkins commented on #6
@markw-t Thanks for the explanation! I've filed in (I hope) the proper place.

[2018-08-01 21:42] #6 closed

[2018-08-01 21:54] markw-t commented on #6
Thanks @dakotahawkins ! Once things are working for you I look forward to your IntelliCode feedback 👍

[2018-08-02 09:14] firasrb commented on #4
@markw-t Thanks for the suggestion, but I don't have any of the those debugging tools on my machine.

It appears there are problems because I am on a network with a high level of security. There are always trouble whenever the self-signed certificates are involved, such as using pip for python packages. But I've never had any problems with VS Code extensions until now.

I found a workaround by ope

[2018-08-02 12:53] firasrb commented on #5
Thanks for the replay. As I mentioned in the other issue, I found a workaround to get the IntelliCode model.  This means I no longer need to resolve this issue.

It's great to know that you are working on an easier way to disable IntelliCode so that regular Intellisense may be used if need be.

[2018-08-02 12:53] #5 closed

[2018-08-02 17:14] jkeech commented on #4
@firasrb, My suspicion is that your network firewall/proxy is performing SSL termination with a self-signed cert (basically man-in-the-middle). If this is true, then you probably have that self signed cert in your trusted root cert store to make most application work in this configuration. For some reason, the library used by the extension to perform the download isn't seeing/honoring that extra c

[2018-08-02 17:48] jkeech commented on #4
@tamilupk, it looks like your machine might be configured to use an older TLS/SSL protocol. For security, the IntelliCode service requires TLS 1.2+. It looks like the blob storage url still supports TLS 1.0+, which would explain why that request works for you if you were negotiating with TLS 1.0 or TLS 1.1. Do you know what TLS protocols your machine is using?

[2018-08-03 07:14] firasrb commented on #4
@jkeech Yes, I can confirm. I'm on a corporate network with a self signed cert.

[2018-08-03 07:17] jkeech commented on #4
Thanks. I'll try to reproduce this and see what we can do to handle this case. Do you normally have to configure other apps to use the self-signed cert manually, or are they automatically able to pick up the cert (e.g from the cert store if you are on Windows)?

[2018-08-03 07:38] firasrb commented on #4
@jkeech
In most cases I don't have to do anything, but occasionally there are some issues.
Examples:
- In order to use conda I have to either disable verification (SSL_NO_VERIFY=1), or I have to add the certificate to cacert.perm in the certifi-package.
- pip only works when specifying the pypi hosts with --trusted-host
- Last time I tried Atom, I had to disable strict-ssl in order to get plugins

[2018-08-07 22:09] vivlimmsft commented on #5
Hi @firasrb, we just released a new version of the extension which adds a setting you can use to turn off VSCode IntelliCode without having to remove the extension (such as, if it was installed as part of the Python Extension Pack).

Just add this to user settings:
`"vsintellicode.python.completionsEnabled": false`

Viv

[2018-08-09 15:24] tamilupk commented on #4
@jkeech I could see TLS 1.2 is enabled in my machine, but couldn't verify which version the plugin is using.

[2018-08-16 19:36] levin-ilya opened #7 "Server initialization failed"
Starting Microsoft Python language server.
[Info  - 3:33:04 PM] Created Microsoft.PythonTools.Interpreter.Ast.AstPythonInterpreter instance from Microsoft.PythonTools.Interpreter.Ast.AstPythonInterpreterFactory
[Error - 3:33:05 PM] Server initialization failed.
  Message: Object reference not set to an instance of an object.
  Code: -32000
[object Object]

[2018-08-20 03:14] dpetukhov commented on #7
I have the same issue. What do you need to see the context? Maybe debug info or anything?
I'm using Code 1.26.1, python 2.7

Interesting detail: if I open new editor instance (Ctrl + Shift + N) and open folder with few simple python files, select interpreter Python 3.5 - it works.

It doesn't work only in my current huge Django project written in python 2.

[2018-08-20 03:35] dpetukhov commented on #7
Probably it's related to issue in Python Language server, not to the intellicode itself:

https://github.com/Microsoft/vscode-python/issues/2017

[2018-08-20 19:52] markw-t commented on #7
@levin-ilya, we think this is  https://github.com/Microsoft/vscode-python/issues/2017 per @dpetukhov 's comment above. Can you resolve if you agree?

[2018-08-20 20:40] levin-ilya commented on #7
Yup - I guess I’ll try installing the developer version...or just wait for the next release. Thanks!

[2018-08-20 20:40] #7 closed

[2018-08-23 11:04] amalrajks commented on #4
Enabling telemetry fixed this issue for me.

[2018-08-23 12:14] xqXQzzz1 opened #8 "brackets can't be auto-completed"
**VS Code Version**:1.26.1
**OS Version** [macOS/Windows]:Windows 10 17134.228
**Visual Studio IntelliCode Extension Version**:1.0.3
**Python Extension Version**:3.7
**Target Platform or Language** [e.g. Python]:
Python

rackets can't  be auto-completed

[2018-08-23 12:14] #8 closed

[2018-08-23 16:19] markw-t commented on #8
Thanks for raising and closing this @xqXQzzz1 - was this a settings issue or similar? Just want to make sure there is no bug here.

[2018-08-26 04:53] DanielSokil opened #9 "Output Opens Automatically"
**VS Code Version**: `1.26.1`
**OS Version** [macOS/Windows]: `Linux pop-os 4.15.0-33-generic`
**Visual Studio IntelliCode Extension Version**: `1.0.3`
**Python Extension Version**: `2018.7.1`
**Target Platform or Language** [e.g. Python]: `Python`

**Steps to Reproduce / Scenario:**
1.
Writing a forloop:
`for name in names`
The output shows up displaying errors:
![screenshot from 2018-08-26 00-52

[2018-08-26 10:30] Jarvis-GitHub opened #10 "autoComplete addBrackets was doesn't work"
**VS Code Version**: VS Code 1.27.0-insider
**OS Version**: WINDOWS 10
**Visual Studio IntelliCode Extension Version**: Visual Studio IntelliCode-Preview(1.0.3)
**Python Extension Version**: Python Extension Version:2018.7.1 (23 July 2018)
**Target Platform or Language**: Python 3.7

**Steps to Reproduce / Scenario:**

1. Select "Enable Visual Studio IntelliCode completions for Python
2.Select "Tr

[2018-09-05 21:26] gewarren commented on #10
@markw-t Can someone take a look at this?

[2018-09-05 23:44] markw-t commented on #10
Sorry for the delay in looking at this issue @Jarvis-GitHub . I'd like to figure out if this is a Python language service issue or an IntelliCode issue. Can you try uninstalling the IntelliCode extension and see if the problem still persists? If it does, then this problem should be reported at https://github.com/Microsoft/vscode-python/issues/new instead.

Thanks
Mark

[2018-09-06 20:18] markw-t commented on #10
Hi again @Jarvis-GitHub

This is a known limitation on the new Python language service. It's being tracked already at https://github.com/Microsoft/vscode-python/issues/1772

Thanks
Mark

[2018-09-06 20:18] #10 closed

[2018-09-11 19:31] mmjb opened #11 "VSCode version requirement in IntelliCode description misleading"
**VS Code Version**: Any
**OS Version** [macOS/Windows]: Any
**Visual Studio IntelliCode Extension Version**: <= 1.0.3
**Python Extension Version**: Any
**Target Platform or Language** [e.g. Python]: n/a

**Steps to Reproduce / Scenario:**

1. Plugin description says "This extension is only applicable for the July release of Visual Studio Code".
2. However, Plugin works fine with any version after

[2018-09-13 21:00] neilsustc commented on #9
@DanielSokil Did you solve it? I have tried the development build of Python extension but this issue still exists 🤔

[2018-09-13 23:54] DanielSokil commented on #9
@neilsustc No, I still have this issue.

[2018-09-14 00:04] DanielSokil commented on #9
Related to: https://github.com/angular/vscode-ng-language-service/pull/195/

[2018-09-14 00:14] DanielSokil commented on #9
@neilsustc The only way to currently stop output from showing up is: `"vsintellicode.python.completionsEnabled": false` Disabling the Beta linter and using default.

[2018-09-15 04:23] czfadmin opened #12 "When using the Microsoft python language server, the output panel pops up automatically, causing the user to terminate subsequent input."
Issue Type: <b>Bug</b>

When modifying a content on an existing python file, once I type dot after some objects, the Microsoft python language server will automatically pop the control panel and place the input focus on the output panel. Because I have to finish the relevant content in the back, but I don't want this unexpected automatic pop-up output panel to terminate my subsequent input behavio

[2018-09-17 22:41] gewarren commented on #11
@markw-t fyi

[2018-09-17 22:43] gewarren commented on #12
Same issue as #9? @markw-t fyi

[2018-09-20 18:23] Kusina opened #13 "Intellicode will disable ms-python.python"
**VS Code Version**: 1.27.2
**OS Version** [macOS/Windows]: window 7
**Visual Studio IntelliCode Extension Version**: 1.0.4
**Python Extension Version**: 2018.8.0
**Target Platform or Language** [e.g. Python]: python

**Steps to Reproduce / Scenario:**

1. Install intellicode and then enable
"ms python-language-server"
will make the python extension fail:
such as python.execInTerminal cannot found

[2018-09-21 15:49] gewarren commented on #11
@abuchholtzau Can you take a look at this and the other IntelliCode issues, since Mark is out for a bit?

[2018-09-21 16:39] abuchholtzau commented on #11
The marketplace page has already been updated to clarify this :)

[2018-09-21 18:57] #11 closed

[2018-09-21 18:58] gewarren commented on #13
@abuchholtzau Can you take a look at this one?

[2018-10-02 03:39] ramya-rao-a opened #14 "Please use the latest version of vscode-extension-telemetry dependency"
This extension uses version 0.0.17 of `vscode-extension-telemtetry`  module.

The latest version of `vscode-extension-telemtetry` module (0.1.0) uses the latest version of `applicationinsights` module (1.0.6) which has the fix to prevent unnecessary patching of the require and other 3rd party modules.

For more details, please see https://github.com/Microsoft/vscode-extension-telemetry/issues/16

[2018-10-04 23:18] HymanZHAN opened #15 "Python Language Server is taking all my RAM."
**VS Code Version**: 1.27.2
**OS Version** [macOS/Windows]: Pop_Os 18.04
**Visual Studio IntelliCode Extension Version**: 1.0.4
**Python Extension Version**:2018.8.0
**Target Platform or Language** [e.g. Python]: Python 3.7
**Steps to Reproduce / Scenario:**

1. Open a flask web project
2. Start typing and press ctrl+space to invoke IntelliSense

Problem:

The process Microsoft.Python.LanguageServ

[2018-10-05 20:09] markw-t commented on #2
As @k7shanmugam said, we're keeping our eye on other languages and will have more to say about this as we make progress. I'm closing this issue as I think we've answered the question :-)

Do let us know if there are particular languages beyond the ones listed that you're keen to see included.

Thanks !
Mark

[2018-10-05 20:09] #2 closed

[2018-10-17 23:31] gewarren commented on #14
@markw-t fyi

[2018-10-17 23:44] vivlimmsft commented on #14
Updated as of release 1.0.5.

[2018-10-18 07:42] svaikstude commented on #4
I get similar error. I am behind a corporate proxy.
HTTP_PROXY and HTTPS_PROXY are configured, strictSsl on VS Code disabled.
I can download the file via browser though.

`Acquiring model 'PythonIntellicode-Completions'  with schema version between [2, 2]
Querying IntelliCode service for available models.
Endpoint: https://ppe.intellicode.vsengsaas.visualstudio.com/api/v2/repoAgnostic/analyzers/Py

[2018-10-18 08:51] Bwin4L commented on #4
I'm also facing this issue at work everytime the extension gets updated because it wipes the model cache.
I'm behind a corporate proxy that also has MITM analysis and certificate injection.

I use the following steps as a temporary workaround until this issue is fixed:

1. Open the Endpoint URL that shows up in the Intellicode log (generally: https://ppe.intellicode.vsengsaas.visualstudio.com/api/

[2018-10-18 12:28] svaikstude commented on #4
So I managed to find a fix.

Apparently set HTTP_PROXY, was not working for me. I had to add this through Environment Variable  settings:
![image](https://user-images.githubusercontent.com/22123834/47154207-52e94680-d2ea-11e8-9713-ce59142a02d6.png)

And to fix Certificate error I had to add NODE_TLS_REJECT_UNAUTHORIZED=0 variable in the same way.

[2018-10-22 13:14] DarthSpock commented on #4
I get this error but I'm behind a corporate VPN that doesn't allow Internet connectivity. It connects only to the corporate intranet. I have to manually disable the VPN in order to receive updates and turn it back on afterwards. The model should be on the local drive and receive updates as needed. Is connectivity to the web really required to use this extension and if so, can you provide a method

[2018-10-24 01:15] ramya-rao-a commented on #14
Hey @vivlimmsft,

Just to confirm, you have updated `vscode-extension-telemtetry` to 0.1.0, correct?
When I logged the issue originally I was suggesting 0.0.22 after which I updated the issue description to 0.1.0

[2018-10-25 12:30] bharath144 opened #17 "Symbol (function/method) identification is incorrect"
Issue Type: <b>Bug</b>

If a method or function is decorated, when that method is looked up, the location is shown incorrectly.

### This works
def some_func()
  ...

### This doesn't
@some_decorator()
def some_func()
  ...

Some other line in the code gets highligted when the method is selected from the list (Ctrl + Shift + O). Also the method is incorrectly identified as a dictionary.

Extension

[2018-10-25 17:08] markw-t commented on #17
Hi @bharath144  - thanks for raising this issue.

The problem you're describing is actually with the new Python Language Service - please can you raise it at  https://github.com/Microsoft/python-language-server ?

Thanks

[2018-10-25 17:33] bharath144 commented on #17
Hello,

I wasn't aware of that. I chose the option to report a bug from VS Code directly (by selecting the extension) and that got me here. I have reported a bug there.

Should this bug be marked invalid or something like that?

Best,
Bharath

[2018-10-30 23:20] vivlimmsft commented on #14
No, it's currently to `0.0.22`. I will update `vscode-extension-telemetry` to `0.1.0` next release.

[2018-11-15 07:52] dearcharlie commented on #4
@Bwin4L
thanks.  it works after using your steps.

[2018-11-15 21:37] gewarren commented on #12
@jkeech Can someone look at this issue?

[2018-11-15 21:37] gewarren commented on #13
@jkeech Can you take a look please?

[2018-11-15 21:39] gewarren commented on #9
@jkeech Can you look at this issue?

[2018-11-15 21:49] markw-t commented on #13
Hi @Kusina . We believe this may be a problem with the Python language service itself. Please can you raise an issue at https://github.com/Microsoft/python-language-server/issues/  if you are still seeing this behavior?

[2018-11-15 21:49] #13 closed

[2018-11-15 21:50] markw-t commented on #12
Hi @czfadmin  . We believe this may be a problem with the Python language service itself. Please can you raise an issue at https://github.com/Microsoft/python-language-server/issues/  if you are still seeing this behavior?

[2018-11-15 21:50] #12 closed

[2018-11-15 21:50] markw-t commented on #9
Hi @DanielSokil . We believe this may be a problem with the Python language service itself. Please can you raise an issue at https://github.com/Microsoft/python-language-server/issues/  if you are still seeing this behavior?

[2018-11-15 21:50] #9 closed

[2018-11-15 21:54] markw-t commented on #17
Thanks @bharath144 . I'll close this bug out, assuming you've reported with Python already, at https://github.com/Microsoft/python-language-server/issues/

[2018-11-15 21:54] #17 closed

[2018-11-15 23:01] subramn commented on #4
Not working for me either. is there a workaround

[2018-11-16 13:52] gabrielclimb commented on #4
@Bwin4L
It works, but looks i have a new problem

Acquiring model 'PythonIntellicode-Completions'  with schema version between [2, 2]
Querying IntelliCode service for available models.
Endpoint: https://ppe.intellicode.vsengsaas.visualstudio.com/api/v2/repoAgnostic/analyzers/PythonIntellicode/models/latest?declaredName=Completions&minSchemaVersion=2&maxSchemaVersion=2
Could not reach the IntelliCo

[2018-11-18 18:18] forestbat opened #19 "Not a bug"
I heard that VSIC is trained from 2,000 excellent open source repositories，so is there any list contains these repositories' link？

[2018-11-19 21:13] gewarren commented on #19
@markw-t Can you comment on this question?

[2018-11-20 11:30] forestbat commented on #19
@markw-t

[2018-11-26 22:37] markw-t commented on #19
@forestbat we don't publish the list of repositories I'm afraid.

[2018-11-26 22:37] #19 closed

[2018-12-05 17:49] paterasMSFT opened #20 "Repeated suggestions"
**VS Code Version**: 1.29.1
**VS Code Inellicode Version**: 1.1.0
**OS Version** [macOS/Windows]: Windows 10
**Target Platform or Language** [e.g. Python]: TypeScript 3.1.4

Seeing many of the same suggestion:

![image](https://user-images.githubusercontent.com/35780775/49532681-16b67900-f88b-11e8-8594-6e22f11dc8c3.png)

They're all repeated exactly 10 times, except stack, which has 9 "stack"s and

[2018-12-05 18:23] minestarks commented on #20
Thanks for the report. Do you have a lot of `tsconfig.json`s in your project, by any chance? I wonder if the IntelliCode plugin is getting loaded separately for each project.

[2018-12-05 19:47] paterasMSFT commented on #20
Yes. There dozens of tsconfig.json files. I'v sent you a message on Teams, if you want to see anything specific.

[2018-12-06 07:22] svipas opened #21 "IntelliCode suggestions should be always first"
**VS Code Version**: 1.29.1
**OS Version** [macOS/Windows]: macOS latest
**Visual Studio IntelliCode Extension Version**: 1.1.0
**Python Extension Version**: -
**Target Platform or Language** [e.g. Python]: JavaScript / TypeScript

<hr>

### TypeScript
![image](https://user-images.githubusercontent.com/10441177/49567865-b16c9180-f937-11e8-9ef6-415f0c506a63.png)

As you can see `has` shouldn't be f

[2018-12-06 07:33] svipben opened #22 "It doesn't work on existing project, but works with a new one"
**VS Code Version**: 1.29.1
**OS Version** [macOS/Windows]: macOS latest
**Visual Studio IntelliCode Extension Version**: 1.1.0
**Python Extension Version**: -
**Target Platform or Language** [e.g. Python]: JS & TS

If I use it on my existing project it doesn't work, I simply don't get `star` icon near suggestions and order is alphabetical in JS or TS. But if I create a new project and create a ne

[2018-12-06 07:54] svipben commented on #21
Seems problem is with `Locality Bonus` setting if it's enabled order is not as good as supposed to be. So if I'm right then everything seems fine with this extension and the problems are from VS Code itself. To be 100% sure can someone from the team test and if everything is OK they can easily close this issue.

[2018-12-06 08:05] svipben commented on #22
What is really weird if I open a new untitled file in the existing project and set language as JavaScript I don't get any AI based suggestions, but if I open a new VS Code instance and open a new untitled file I get the AI based suggestions.

[2018-12-06 08:25] #21 closed, assigned to nobody

[2018-12-06 09:02] borekb opened #23 "Suggestions not popping up"
**VS Code Version**: 1.29.1
**OS Version** [macOS/Windows]: macOS
**Visual Studio IntelliCode Extension Version**: 1.1.0
**Target Platform or Language** [e.g. Python]: TypeScript

I'm not getting any IntelliCode suggestions in VSCode stable (1.29) at this point, while I do get them in Insiders (1.30). Are there known compatibility issues with other extensions? Or is this intended to work in Inside

[2018-12-06 12:47] svipben commented on #23
Try to run 2 VS Code instances, one with the existing project for e.g. your personal one or company which uses JS or TS. And another one empty (just click `CMD + SHIFT + N`). In both of them open a new Untitled file and set language mode to JavaScript. Does both doesn't show AI based suggestions? Try to do this on Stable VS Code (1.29.1).

I'm asking this because for me this issue occurs: https://

[2018-12-06 12:50] aexol opened #24 "Typescript React support"
Can you add typescript react support for typescript only. Right now when I am inside .tsx file Intellicode doesn't work. Only in .ts files.

[2018-12-06 12:51] borekb commented on #23
@svipben it behaves exactly like you described.

Interestingly, in 1.30, all works fine, be it a new or an existing project.

[2018-12-06 12:53] svipben commented on #23
I also found that in Insiders it works better, but didn't try to do the same with Insiders (as mentioned above). Thanks for testing it out!

Good news is a new version of VS Code will be released soon so for now I guess we need to wait :)

[2018-12-06 12:59] svipben commented on #24
If I'm right the same goes for `.jsx` too.

[2018-12-06 13:13] aexol commented on #24
yeah

[2018-12-06 14:37] ronjouch opened #25 "README: privacy practices need documentation"
The VSCode extension readme doesn't have a single sentence about your privacy / data-usage & collection practices.

Looking at the [Visual Studio (not VS Code) IntelliCode FAQ](https://docs.microsoft.com/en-us/visualstudio/intellicode/faq#q-what-makes-ai-assisted-intellisense-powered-by-intellicode-better-than-regular-intellisense), I read that:

and paragraph [Q. What happens when my model is tra

[2018-12-06 16:54] jkeech commented on #25
Thanks for your interest in IntelliCode! The VS Code extension does not include any custom model support, which is why the readme doesn't reference it today. Custom models are currently limited to C# in the VS extension.

If you train a C# custom model, you can directly view the data that is being sent to the IntelliCode service. See https://docs.microsoft.com/en-us/visualstudio/intellicode/custom

[2018-12-06 17:30] jkeech commented on #24
@minestarks Can you take a look a this? I'm able to see IntelliCode suggestions inside of a `.jsx` file as shown below:

![image](https://user-images.githubusercontent.com/746020/49600936-55a30800-f939-11e8-97ca-46ebf3d0d254.png)

[2018-12-06 17:32] minestarks commented on #24
@aexol @svipben  to make sure I understand -- you see suggestions in `.js` and `.ts` files, but not in `.tsx` or `.jsx` files?

[2018-12-06 17:32] jkeech commented on #23
IntelliCode is expected to work correctly in both 1.29 and 1.30, although there are some improvements coming in 1.30 which will make the experience a bit better. @minestarks, can you take a look?

[2018-12-06 17:33] jkeech commented on #22
@minestarks

[2018-12-06 17:57] aexol commented on #24
Yes I am able to see suggestions on React, but when I use other libs I cant. I might have overestimated intellicode support. There was a package doing intellisense based on what you've written before. Intellicode is hardcoded?

[2018-12-06 17:57] aexol commented on #24
@minestarks

[2018-12-06 17:59] minestarks commented on #24
It's trained on projects that use common libraries, and the model is static regardless of the contents of your project. We are certainly looking into making it smarter! (Check out our C# support for an example of how IntelliCode trains on your project).

May I ask what libs you're not seeing support for? I can vet our training coverage to make sure we include enough data for popular libraries.

[2018-12-06 18:05] aexol commented on #24
Haha my own libs :) Sure I'll wait for that feature. There was a guy I dont remember the name but it might be `https://tabnine.com/` this. I haven't use that yet but you may test it.

[2018-12-06 18:21] 2percentsilk opened #26 "[VS Code] Support for custom models in TS/JS"
**Target Platform or Language** [e.g. Python]: JavaScript/TypeScript

**Steps to Reproduce / Scenario:**
Bring custom model training for TS/JS to the IntelliCode extension for VS Code.

[2018-12-06 18:24] abuchholtzau opened #27 "[VS] TS/JS support in Visual Studio"
**OS Version** [macOS/Windows]: Windows
**Target Platform or Language** [e.g. Python]: TypeScript/JavaScript

**Steps to Reproduce / Scenario:**
Bring the TypeScript/JavaScript support into the Visual Studio IntelliCode extension

[2018-12-06 18:28] 2percentsilk opened #28 "[VS] Support for custom models in TS/JS"
**Product and Version** [VS/VSCode]: VS
**Target Platform or Language** [e.g. Node.js]: TypeScript/JavaScript

**Steps to Reproduce / Scenario:**
Bring custom model support to TS/JS in Visual Studio

[2018-12-06 18:39] 2percentsilk opened #29 "[VS] PowerShell support"
**Product and Version** [VS/VSCode]: VS
**Target Platform or Language** [e.g. Node.js]: PowerShell

**Steps to Reproduce / Scenario:**
Add PowerShell support to Visual Studio Intellicode

[2018-12-06 18:41] 2percentsilk opened #30 "[VS Code] PowerShell support"
**Product and Version** [VS/VSCode]: VS Code
**Target Platform or Language** [e.g. Node.js]: PowerShell

**Steps to Reproduce / Scenario:**
Add PowerShell support to the VS Code IntelliCode extension

[2018-12-06 18:44] vivlimmsft commented on #14
Fixed this back in VSCode IntelliCode 1.0.6

[2018-12-06 18:44] #14 closed

[2018-12-06 19:48] guidooliveira commented on #30
Yes Please!

[2018-12-06 20:51] minestarks commented on #23
Thanks @borekb for the report, I'll look into it. Can I close this as a duplicate of #22 ?

[2018-12-06 20:54] minestarks commented on #23
Also, if you could attach a tsserver log ("TypeScript: Open TS Server Log" from the command palette) that would be really helpful for me to root cause.

[2018-12-06 20:54] minestarks commented on #22
Thanks @svipben , I'm looking into this. If you could attach a tsserver log ("TypeScript: Open TS Server Log" from the command palette) that would be really helpful for me to root cause.

[2018-12-06 21:08] jkeech commented on #24
Thanks @aexol. I'm going to close this issue since the underlying issue is not with React or tsx/jsx files, but rather that IntelliCode currently does not support training custom models on your own libraries/code.

Feel free to 👍 #26 for this feature.

[2018-12-06 21:08] #24 closed

[2018-12-06 21:09] borekb commented on #23
Hi @minestarks, could you email me at `borekb@gmail.com` please? I'd reply with the log attached. It contains some paths that I'm not comfortable posting publicly.

What I can say now is that I've tried on another repo and there, all works fine. What is different with my problematic repo is that it's quite a large one – uses the monorepo pattern with many different TypeScript / JavaScript projects

[2018-12-06 22:22] ljtill commented on #30
+1 - would love to have PowerShell support!

[2018-12-06 22:52] minestarks commented on #23
We root caused this to the fact that the IntelliCode plugin doesn't load when using a TypeScript version from the workspace instead of VS Code's own version.

You can work around this for now by choosing to use TypeScript from VS Code and not the workspace:

![image](https://user-images.githubusercontent.com/16928427/49616694-89485700-f966-11e8-9ec8-96c254dbe2e8.png)

[2018-12-06 22:53] minestarks commented on #22
@svipben could you see if this solution resolves it for you? https://github.com/MicrosoftDocs/intellicode/issues/23#issuecomment-445059609

[2018-12-06 22:55] minestarks commented on #20
I'm still trying to hit a repro with your project but haven't been able to. Please feel free to send me logs if ever you hit it again.

[2018-12-07 07:17] svipben commented on #22
@minestarks You're right if I change to use VS Code TS version it works fine instead of workspace version.

[2018-12-07 07:17] #22 closed

[2018-12-07 09:13] chemzqm opened #31 "Could I build use the model for extension of other editor?"
I want to try the trained model from intellicode service in other editor as an extension, it that allowed?

[2018-12-07 10:35] ravidsinghbiz commented on #30
+1 - Yes Please.

[2018-12-07 12:46] opus131 opened #32 "No suggestions when using TS workspace version (3.1.6) instead of VS version (3.1.4)"
**Product and Version**: VSCode 1.29.1
**OS Version**: Windows 10 (64bit)
**IntelliCode Extension Version**: 1.1.0
**Target Platform or Language**: nodejs

**Steps to Reproduce / Scenario:**

1. Configure project to use a higher TS version than the currently shipped one (which is 3.1.4)
2. See it not working

I'd understand smth like "works only for TS X.Y.Z or higher" due to missing features in o

[2018-12-07 16:39] sivaecekrr opened #33 "Getting error during initial load of vscode for JS files"
Getting below error notification when opening the vscode after installing Intellicode.
This issue happens when js files is opened by default.

**Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.**

Visual Studio IntelliCode Version: 1.1.0

Version: 1.29.1 (user setup)
Commit: bc24f98b5f70467bc689abf41cc5550ca637088e
Date: 2018-11-15T19:13:36.375Z
Ele

[2018-12-07 16:46] manoj2994 commented on #30
yes

[2018-12-07 17:01] markw-t commented on #31
@chemzqm, no this is not permitted.

The models created and used by IntelliCode are only licensed for use in Visual Studio Code or Visual Studio. See https://aka.ms/intellicodeLicense for the license terms regarding Custom Model usage.

[2018-12-07 17:01] #31 closed

[2018-12-07 17:52] sivaecekrr commented on #33
@markw-t Thank you!. After performing the steps mentioned in #4 works for me.

[2018-12-07 17:52] #33 closed

[2018-12-07 18:52] jkeech commented on #32
@minestarks do you know why this happens? Is it due to the way IntelliCode plugins extend the language server? During activation, do have the ability to know which TS instance is being used and activate the plugin in the correct instance?

[2018-12-07 18:53] jkeech commented on #32
FWIW, this seems like a duplicate of #23

[2018-12-07 20:30] yalexopoulosQ opened #34 "[VS] VB.NET support"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2018-12-07 21:11] minestarks commented on #32
It is a duplicate. I'll close the other one in favor of this one since this one has a more searchable title.  https://github.com/MicrosoftDocs/intellicode/issues/23#issuecomment-445059609

Unfortunately, we lack a bit of infrastructure in VS Code and TypeScript to be able to determine version compatibility between TS and the plugin, therefore we simply disable all global plugins when using a works

[2018-12-07 21:12] minestarks commented on #23
Closing in favor of #32 with more specific description.

[2018-12-07 21:12] #23 closed

[2018-12-07 21:12] minestarks commented on #32
https://github.com/MicrosoftDocs/intellicode/issues/23#issuecomment-445059609

We root caused this to the fact that the IntelliCode plugin doesn't load when using a TypeScript version from the workspace instead of VS Code's own version.

You can work around this for now by choosing to use TypeScript from VS Code and not the workspace:

![image](https://user-images.githubusercontent.com/16928427/49

[2018-12-07 22:11] markw-t commented on #33
Great; out of interest which specific set of steps worked for you? (there are a few in #4 )

[2018-12-08 08:51] Nukepayload2 commented on #34
I think adding VB.NET support is easier than adding C++. Because VB can use the API usage telemetry data of C#. For example, if people usually write `if(string.IsNullOrEmpty(str))` in C#, when you are typing `If String.` in VB, IntelliCode should suggest `IsNullOrEmpty` in the VB editor.

[2018-12-08 21:02] sivaecekrr commented on #33
I had tried by switching the proxy and it worked. It does not work in office network. I had tried in home  network which doesn't have any firewall settings.

[2018-12-09 05:14] drewjanderson commented on #30
Huzzah!

[2018-12-10 05:26] SRGOM opened #35 "[VS Code] Rust support"
Can you add support for Rust too! (and powershell!)

Feel free to rewrite in Rust too ;)

[2018-12-11 08:40] DevTrong opened #36 "intellicode incorrect order on typing"
**Product and Version**: VSCode
**OS Version**: macOS and Windows
**IntelliCode Extension Version**: 1.1.0
**Target Platform or Language**: TypeScript

**Steps to Reproduce / Scenario:**

1. trigger intellisense
![image](https://user-images.githubusercontent.com/3624351/49787961-50bec980-fd28-11e8-89b6-aa55dd5730d3.png)

2. proceed writing desired method or property
![image](https://user-images.gi

[2018-12-11 17:20] jkeech commented on #36
@DevTrong, are you using VS Code Stable (1.29)? I believe this issue was recently fixed in Insiders, so it should be available in stable as soon as VS Code releases the next Stable build.

Stable (1.29):
![image](https://user-images.githubusercontent.com/746020/49817640-a2b22000-fd25-11e8-9977-9da2117b08d7.png)

Insiders (1.30):
![image](https://user-images.githubusercontent.com/746020/49817747-ec

[2018-12-12 03:49] gluons opened #37 "[VS Code] Ruby support"
**OS Version** [macOS/Windows]: Windows
**Target Platform or Language** [e.g. Node.js]: Ruby

**Steps to Reproduce / Scenario:**
Add Ruby support to VS Code IntelliCode.

[2018-12-12 08:33] DevTrong commented on #36
Tried it with VSCode Stable. Insider fixed it 👍

[2018-12-12 08:33] #36 closed

[2018-12-12 10:00] mrGibi opened #38 "IntelliCode and edit.suggestSelection: recentlyUsed* not working as expected"
**Product and Version** [VS/VSCode]: 1.29.1
**OS Version** [macOS/Windows]: macOS 10.14.1
**IntelliCode Extension Version**: 1.1.0
**Target Platform or Language** [e.g. Node.js]: TypeScript 3.1.4

**Steps to Reproduce / Scenario:**

![nagranie z ekranu 2018-12-12 o 09 55 08 2018-12-12 10_29_51](https://user-images.githubusercontent.com/29686195/49861604-86cd7d80-fdfc-11e8-8329-261d57156d2b.gif)

T

[2018-12-12 13:18] warrenbuckley opened #39 "[VS] Feature Request: Share custom models publicly for Open Source Repos"
**Product and Version** [VS/VSCode]: VS Professional 2017 - 15.9.3
**OS Version** [macOS/Windows]: Windows 10 - Build
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]: C#

**Scenario:**

I work for a company Umbraco where our CMS is written C# and is available on GitHub. It would be great for anyone who is working with the Umbraco source code and that includes our

[2018-12-12 17:02] jkeech commented on #39
@warrenbuckley, thanks for the suggestion. We are considering other ways of sharing models in the future, including having references to models checked in to the repo (although probably not having the model files themselves checked in since they can change somewhat frequently and would bloat the Git history).

The current sharing functionality can come close to mimicking this behavior. If you gene

[2018-12-12 18:52] mrGibi commented on #38
Yeap! I confirm that on Insiders its ok. Thanks!

[2018-12-12 18:52] #38 closed

[2018-12-12 21:18] markw-t commented on #39
@warrenbuckley as @jkeech says, thanks for this suggestion, it's definitely a scenario we're thinking about. If you're willing to chat further about this please drop me a line mwthomas at Microsoft dot com.

[2018-12-12 22:03] MisinformedDNA opened #40 "Feature Request: Use Git to determine authorship"
VS2017 15.8.9
Windows 10
Intellicode Extension: 2.0.265.7452
Target language: C#

The IntelliCode FAQ says

"Your code" is pretty loose here. To IntelliCode, "your code" is whatever solution you train on. To me, "your code" is code that _I_ wrote.

It would be awesome if IntelliCode could look at the Git history to see what code I, individually, wrote and give those lines more weight.

[2018-12-12 22:59] markw-t commented on #40
@MisinformedDNA  you're quite right about what IntelliCode considers "your code", with one minor tweak - it's whatever is in the solution**s** you've trained on.

It's actually deliberate that we learn patterns across the whole of the solution, because we're trying to create a model that leads users to discover and re-use common practices from their codebase (and of course from the broad set of co

[2018-12-12 23:20] jkeech commented on #40
This is an interesting suggestion. Are you implying that your preferences for which APIs to use should differ from other authors on the same project?

In general, we've been implementing tools that help people provide consistency across a given codebase (EditorConfig is one example). Most projects want to have consistency within their codebases including coding style, API usage patterns, etc, so t

[2018-12-13 12:34] melkayam92 opened #41 "Jump to definition not working properly in JS"
**Product and Version** [VS/VSCode]:  VSCode Version 1.30.0
**OS Version** [macOS/Windows]: macOS 10.14.2
**IntelliCode Extension Version**: latest
**Target Platform or Language** [e.g. Node.js]: React/JS.

**Steps to Reproduce / Scenario:**

1. Enable the extension.
2. Every import from node_modules, when I try to jump to the definition - it takes like 10 seconds and then goes to a build folder t

[2018-12-13 17:11] jkeech commented on #41
I don't think the IntelliCode extension should be invoked during "go to definition", so I'm not sure how it would be causing a delay in this case. @minestarks, can you take a look?

Unfortunately, there's not a way to disable IntelliCode for JS only.

[2018-12-13 19:14] jheidlage1222 commented on #4
Incase anybody comes across this for java or js/ts, I did this even though our proxies do not use certificates or any other kind of auth and it worked for me. Add environment vars like so.
NODE_TLS_REJECT_UNAUTHORIZED=0
HTTP_PROXY=http://proxyhost:8080

[2018-12-13 21:06] MisinformedDNA commented on #40
I would agree that IntelliCode's EditorConfig generation can help in bring consistency to code in terms of style or usage patterns.

- - -
**Side note:** Though I would argue that even existing code may not be a good standard where

- CMS (or other) source code is being used and makes up a significant portion of the code, even if most of the current development is done is separate files and projec

[2018-12-13 21:17] jkeech commented on #40
@MisinformedDNA, the models can actually be shared so that you have a single model for a solution, and other developers in the team can just add the existing model to their IntelliCode account. Once the model is added, if the model owner retrains the model, all users of the model get the updates automatically. You could see this evolving to have a CI build train and update the model, and all team

[2018-12-14 00:30] MisinformedDNA commented on #40
The CI idea is pretty cool. But, currently, if I train my model on projects A, B and C and someone else trains their model on projects C, D and E, we will get different IntelliSense for the same project which seems to conflict with your stated goal.

[2018-12-14 02:04] markw-t commented on #40
You're quite right @MisinformedDNA , we've enabled a system that doesn't yet _enforce_ consistency; however organizations/groups are free to train and share according to what makes sense for them, and it's possible for a group to agree that they wish to (as a standard for their group) have one person train on A,B,C and then share out their model links to maintain them. We think we may want to go f

[2018-12-14 03:11] MisinformedDNA commented on #40
Whatever standard model that a team agrees to, that model is only applied on top of an individual's model and, thus, the patterns of the team and the patterns of everything else on an individual's will be at odds with each other.

It really sounds to me like the individual model isn't nearly as useful as a team model with no individual models at all.

[2018-12-14 17:58] markw-t commented on #40
As we enhance and develop IntelliCode, we're interested in working out ways for teams to specify the model(s) that apply to their particular codebase, maintain models automatically (e.g. via their CI process) etc, and be more prescriptive in those cases where a team model is more appropriate as you suggest.

In the meantime, the current preview supports a variety of patterns of usage without presc

[2018-12-15 09:44] melkayam92 commented on #41
Hi @minestarks, thanks for the replay.

When I say 'works as expected' I mean both fast and jump to the right definition.
If you say it can't be related I can try again playing with other extensions as well..

I guess it slow because it tries to look at other folders, such as the dist folder which files there are pretty big.

[2018-12-17 15:51] popasUC commented on #34
Please add support for VB.Net in IntelliCode at the same level as C#.
Surely the lack of it cannot be for technical reasons, rather "political".

Why so little love for VB.Net in the past over 5 years?
Despite the cold shoulder from Microsoft, VB.Net is still at least as popular as C# (the latest TIOBE index shows it's still 2 X more popular than C#). Not only cold shoulder, but outright peer pres

[2018-12-17 19:02] minestarks commented on #41
I may certainly be wrong! I will try to reproduce locally. Thanks for the details.

I'm wondering if somehow Automatic Type Acquisition didn't kick in and we don't have typings for external libraries. Does IntelliSense appear to be generally slow/broken for external libraries?

[2018-12-17 23:06] abuchholtzau commented on #25
We've updated our general FAQs to be more clear about what we collect and added links to this explanation in both of the VS and VS Code pages.

[2018-12-17 23:06] #25 closed

[2018-12-18 00:36] ronjouch commented on #25
Thanks for the followup, @abuchholtzau . Link: https://docs.microsoft.com/en-us/visualstudio/intellicode/faq#-q-what-about-privacy-are-you-sending-my-code-to-the-cloud-what-customer-data-is-being-sent-to-microsoft . Archiving here the text as of today 2018-12-17:

[2018-12-18 12:09] melkayam92 commented on #41
Not only for external libraries.

For example:
import Example from '../comp/example/'

If I press on Example it takes 10 seconds if I press on the path - there is no delay.

[2018-12-20 03:55] WangCan2049 commented on #4
here is my error messages  @vivlimmsft
[code]

[2018-12-20 04:31] jheidlage1222 commented on #4
@vivlimmsft did you try setting the env vars per my comment above?
NODE_TLS_REJECT_UNAUTHORIZED=0
HTTP_PROXY=http://proxyhost:8080

Also, I would unset the https_proxy because the port is the same for both http and https.  Also be sure you are setting environment variables and not settings via settings.json because that won't work either.  Doing those steps caused intellicode to work for both type

[2018-12-21 15:41] sarathlalsaseendran opened #42 "How to train the model with existing codebase in visual studio code like visual studio?"
**Product and Version** [VSCode]
**OS Version** [Windows]
**IntelliCode Extension Version**: [Any]
**Target Platform or Language** [Typescript and Javascript]:

How to train the model with existing codebase in visual studio code like visual studio?

[2018-12-21 15:49] jkeech commented on #42
Custom models are currently only supported in Visual Studio for C#. If you would like to see custom model support for TS/JS in VS Code, please vote on #26 by adding a thumbs-up.

[2018-12-21 15:49] #42 closed

[2018-12-24 21:42] JasonBristol commented on #37
Yes please!

[2018-12-26 08:36] hjorslev commented on #30
Yes please!

[2018-12-26 18:38] kenkit opened #43 "I don't this text is supposed to be on the Intellicode vscode extension market place page"
This is the vscode extionsion page not VisualStudio IDE hence this feels wrong.
`For C#, C++ and XAML support in the Visual Studio IDE, check out the IntelliCode extension on the Visual Studio Marketplace.`

[2018-12-26 18:52] DavidObando commented on #43
Hi kenkit. The text is expected, its intention is to direct Visual Studio IDE customers to the extension for Visual Studio. The text does contain a hyperlink to the marketplace.

Thank you for your comment! We'll take it into account for future edits of this readme.

[2018-12-31 17:36] markw-t commented on #43
Thanks for the feedback @kenkit. As @DavidObando has indicated, this sentence in the extension page for Visual Studio Code is meant to direct users who are looking for C#, C++ and XAML support to use the Visual Studio extension, as we don't support those languages in Visual Studio Code at this point. I can see how we could make that point a little more clearly, and we'll take a look next time we u

[2018-12-31 17:36] #43 closed

[2018-12-31 18:41] kenkit commented on #43
I was offline for abit.
Thanks for looking into this @markw-t @DavidObando

[2019-01-02 15:10] MbProg opened #44 "AI Algorithm behind Intellicode"
Hello,
I wanted to ask if you could provide any information about the AI Algorithm used for Intellicode. It would be also great if you could give some insight what data you collect for learning your model and what features are used for the machine learning approach. I could not find any paper, article or blog describing that.

[2019-01-02 17:08] jkeech commented on #44
@MbProg, we have some details in our FAQ at https://docs.microsoft.com/en-us/visualstudio/intellicode/custom-model-faq#what-is-sent, which also describes how you can see the full contents of what is collected for learning the models.

[2019-01-02 17:59] vivlimmsft commented on #4
In the VSCode November 2018 update (1.30) an [experimental setting for enabling network proxy support](https://code.visualstudio.com/updates/v1_30#_network-proxy-support-for-extensions) was added, please try that and see if it helps.

If not, I've written some updated steps for manually downloading IntelliCode model blobs. We changed the service API & storage schema when we released version `1.1.0

[2019-01-02 18:04] MbProg commented on #44
Unfortunately you nowhere mentioned in the article what kind of AI algorithm you are using. There are academic papers which have researched on this issue and compared some AI algorithms like KNN and Bayesian network and association rule learning.
Could you provide some information about this and why you have decided to use it?

[2019-01-02 18:10] jkeech commented on #44
We aim to be fully transparent about which data we are using as input to the algorithm, but the exact algorithm that is used to generate the model from that data is proprietary at this time.

[2019-01-02 18:10] #44 closed

[2019-01-02 18:42] jheidlage1222 commented on #4
I am using Version 1.30.1 running in portable mode and I just tried setting http proxy support to override and that caused the intellicode extension to work as expected and I tried it for both typescript and java and that seems to have done the trick.  Belows the screen shot of my http/proxy settings.  Also I have my system proxy settings set via internet options and I have no environment variable

[2019-01-04 01:02] olegburov opened #45 "[VS Code] Golang support"
Please consider adding support for [Golang](https://golang.org/)

**Product and Version**: VS Code v1.30.1
**OS Version**: Windows 10 v1809
**IntelliCode Extension Version**:  v1.1.2
**Target Platform or Language**: Golang

[2019-01-04 15:34] sparky2708 commented on #4
I am getting:

`Acquiring model 'PythonIntellicode-Completions'  with schema version between [2, 2]
Querying IntelliCode service for available models.
Endpoint: https://ppe.intellicode.vsengsaas.visualstudio.com/api/v2/repoAgnostic/analyzers/PythonIntellicode/models/latest?declaredName=Completions&minSchemaVersion=2&maxSchemaVersion=2
Could not reach the IntelliCode service. Checking the local mod

[2019-01-04 16:59] jkeech commented on #4
@sparky2708, which version of the IntelliCode extension do you have installed? It looks like you are on an older version of the extension which will no longer be able to download new models from the service. We updated our endpoint to a different url in 1.1.1, and the old url was deprecated and then later removed. Can you try updating to the latest version of the IntelliCode extension (currently a

[2019-01-08 15:36] Quillee opened #46 "Extension tries to download forever"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows 10
**IntelliCode Extension Version**:  1.1.2
**Target Platform or Language** [e.g. Node.js]: JavaScript and Python

In the output the window, intellicode goes to download the models and seems to do this forever, it doesn't time out or anything. When I click on the link I get an error that the signature is malformed

[2019-01-08 17:17] jkeech commented on #46
@Quillee, are you behind any proxies or strict firewalls that could be blocking the download? If so, could you try enabling the VS Code setting that is described at https://github.com/MicrosoftDocs/intellicode/issues/4#issuecomment-450935237 to see if they fixes your issue?

The way the logic works is that it first contacts the service to see what the latest version of the model is, then it compar

[2019-01-08 21:23] DanJ210 commented on #23
@minestarks If I'm not using TypeScript but instead JavaScript and I'm not getting AI suggestions, does that count for this thread? I've created a new window and a blank new JS file but I'm still not getting any starred suggestions. Just the normal thing I've always seen.

[2019-01-08 22:01] Quillee commented on #46
@jkeech Thank you for responding. I did download the blobs and do as that comment said to do. Yet intellisense doesn't work at all when I am using intellicode.

[2019-01-08 22:33] jkeech commented on #46
@Quillee, I was referring to setting the VS Code setting for [enabling Proxy support](https://code.visualstudio.com/updates/v1_30#_network-proxy-support-for-extensions) rather than downloading the file manually. The proxy setting allows many users that are behind a proxy to have IntelliCode download the models automatically and avoids having to manually download the model file.

If you download th

[2019-01-09 00:05] Quillee commented on #46
Ohhhh, I will check when I get back to work tomorrow

[2019-01-09 12:07] OliverJAsh opened #47 "Not working with TypeScript in VS Code"
**Product and Version** [VS/VSCode]: VS Code
**OS Version** [macOS/Windows]: macOS 10.14.2
**IntelliCode Extension Version**: 1.1.2
**Target Platform or Language** [e.g. Node.js]: TypeScript

**Steps to Reproduce / Scenario:**

- Only this extension is enabled, plus no user settings: `code --user-data-dir temp .` and `--disable-extension` for every extension except this one
- Simple `.tsx` file

!

[2019-01-09 14:33] Quillee commented on #46
I tried setting the proxy setting to override and it still just stalls. I don't have an HTTP_PROXY env variable though. Also, I don't have a proxy server to use. Should that work without setting that variable?

[2019-01-09 15:12] jkeech commented on #46
Thanks for trying. If you aren’t in a network environment that uses a proxy, then the setting shouldn’t have any effect.

You said previously that when you clicked the link for the blob storage, it gave you an error saying the signature is malformed. The link should work in the browser as long as it is clicked within 30 minutes of being generated, since that is the expiration on the SAS token that

[2019-01-09 16:52] Quillee commented on #46
Okay I did as you asked. I am also going to include the error I am receiving to this comment when I go to download the blob.
[Here is the link that is generated when I go to a javascript file](https://cdsmprodstg.blob.core.windows.net/models-prod-output/Output_1A3F919CD5B7725108B03C349630A1C82B03_27727BA11B5A4F16B454DA26B9431CE7?sv=2018-03-28&sr=b&sig=j16Wl/flu5Yj+0xAatn1H72vgUaVSxid1ugWijgcHM0=&s

[2019-01-09 17:12] jkeech commented on #46
Ah, it looks like VS Code is doing some url decoding when you click the link, which is breaking the SAS signature. If you copy and paste the link directly in the browser, it should work (until it expires in approximately 5 minutes from this post): https://cdsmprodstg.blob.core.windows.net/models-prod-output/Output_1A3F919CD5B7725108B03C349630A1C82B03_27727BA11B5A4F16B454DA26B9431CE7?sv=2018-03-28&

[2019-01-09 17:25] Quillee commented on #46
Yeah, the link you gave me worked. Wouldn't VSCode have a trace since it runs in a browser? Can I use that?

[2019-01-09 17:38] jkeech commented on #46
That might be possible, but I'm not sure how to do it. VS Code has the dev tools built in, but the network tab doesn't appear to capture network traffic from extensions. Any way you can capture the network traffic should work -- it doesn't have to be Fiddler. I just need to see the HTTP request/response from blob storage to understand why it is hanging since I'm not able to reproduce the issue mys

[2019-01-09 19:01] jkeech commented on #47
This fix will be included in the next update of the VS Code IntelliCode extension.

[2019-01-09 19:01] #47 closed

[2019-01-10 19:21] DanJ210 opened #48 "Never Seen IntelliCode Work Once"
**Product and Version** [VS/VSCode]: 1.30.2
**OS Version** [macOS/Windows]: 1803
**IntelliCode Extension Version**:  1.1.2
**Target Platform or Language** [e.g. Node.js]: C# .Net, JavaScript

**Steps to Reproduce / Scenario:**

1. Install IntelliCode extension

I believe that's all we are supposed to do. I've never seen IntelliCode work once yet, in VS Code. I've created new projects and have edit

[2019-01-10 19:40] jkeech commented on #48
The VS Code extension for IntelliCode supports TS/JS, Python, and Java. C#, XAML, and C++ are supported in the Visual Studio extension for IntelliCode. You can see more details about the full set of supported languages and which versions of each editor and IDE they are supported in at https://visualstudio.microsoft.com/services/intellicode/.

Unfortunately, if you are using C# in VS Code, you will

[2019-01-15 14:34] DanJ210 commented on #48
I saw the stars come up the other day but when I backspaced and retyped the same thing they weren't there, I believe I was in C#. Yes I read about the supported languages.

I did create a new .js filed and typed `console.` and the stars did come up. I went back to C# files to try but I can't seem to get the stars to come up. Not like in Visual Studio.

So maybe I'm just not understanding when and

[2019-01-15 14:34] #48 closed

[2019-01-15 16:10] michaelsassurant commented on #44
@jkeech, after generating SCHEMA from the JSON that IntelliCode produces I have some idea of potential features, but is there a schema or documentation that Microsoft can provide to better understand how the data is collected? Some are obvious (i.e. "isInIfBlock") but others are not (i.e. "spanStart"). Appreciate any additional detail you can provide. Thanks,

SCHEMA:
         "Windows.System.Laun

[2019-01-17 00:12] jkeech commented on #44
Here is a description of what those members mean:

* `Windows.System.Launcher` in the schema you provided is the class name
* `LaunchUriAsync(System.Uri)` is a member name within the class
* `containingClass`: Array of classes where this member was invoked from
* `containingFunction`: Array of functions where this member was invoked from
* `isInConditional`: Array of values indicating whether an i

[2019-01-17 00:57] markw-t commented on #20
@paterasMSFT have you seen this issue again? If not, could you close this issue?

[2019-01-17 07:38] alan-he opened #49 "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings."
VS intellicode output(version:1.1.2):
Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Couldn't reach service Error Message: connect ETIMEDOUT 137.135.104.11:443, (Error)
Could not reach the IntelliCode service. Checking the local model cache.
None of the cached models match.
Couldn't download IntelliCode model. Please check your network connecti

[2019-01-17 07:39] alan-he commented on #49
404
"https://prod.intellicode.vsengsaas.visualstudio.com";

[2019-01-17 08:19] pgroene commented on #49
Sorry that you having this issue, can you provide me with some information:
OS version:

VS Code version:

Extension version:
1.1.2
Proxy settings:

The 404 on the URL is the default response of the API services when doing a get to a nonexisting page. You can reach the API services from your browser.

For the proxy settings, there are some changes in the latest release of VSCode, if you are not us

[2019-01-17 12:06] alan-he commented on #49
@pgroene, thanks! Your suggestion works. The key is setting  HTTPS_PROXY environment variable.

[2019-01-17 14:01] #20 closed

[2019-01-18 12:58] drweb86-work opened #50 "Extension works slow as hell on large TypeScript Angular project"
Hello

I recently had to disable that extension in my latest VS Code insider build.

Could you please make adapt that extension behavior to large projects. Navigation to definition takes forever.

Thank you.

**Product and Version** [VS/VSCode]: latest insider
**OS Version** [macOS/Windows]: Windows
**IntelliCode Extension Version**: last
**Target Platform or Language** [e.g. Node.js]: Node.JS

[2019-01-18 17:41] jkeech commented on #50
@drweb86-work, can you provide a minimal repro for this? IntelliCode should not be invoked during Navigate to definition, but we have also heard another report of this in #41 and would love to investigate further.

/CC @minestarks

[2019-01-18 23:30] markw-t commented on #50
@drweb86-work we are also assuming that turning the extension off relieved the performance problem, and turning it back on again brought it back - can you confirm?

/cc @minestarks @jkeech

[2019-01-19 10:18] drweb86-work commented on #50
@jkeech, I wish i could produce repro sample. But i can't because it is reproduced on a large angular project in company for about a 1.5 month. And after its disabling problem disappeared. I cant share the project source code since its not my property.

But issue disappeared for a while. After ~3 work days it happens again. Now i disabled all plugins and navigation to definition searches for defin

[2019-01-19 10:20] drweb86-work commented on #50
As far as i understand now something is broken in VS Code itself.

[2019-01-19 17:46] minestarks commented on #50
Would you be able to share a TSServer log when this happens? This is possible from the VS Code command palette: “TypeScript: open TS Server log” (or similar — I don’t remember the exact name, sorry).

Note that the log will contain possibly sensitive information about the source. If you’re not comfortable sharing here please feel free to email it to me at mineyalc@microsoft.com .

[2019-01-21 10:02] drweb86-work commented on #50
Hello

I just posted file on e-mail.

Thank you

[2019-01-22 03:23] stevencollinscn opened #51 "stop working/become slow with Python from time to time"
vscode: 1.30.2
intellicode: 1.1.2
os: Windows 10

For some reason, intellcode is not very unstable and always stop working after a while as I'm not getting any suggestions anymore. I tried to reload the window but it doesn't seem to fix the issue. Does the extension require internet connections or something? I wonder if you guys can consider adding an icon in the status bar to inform the users, li

[2019-01-22 17:20] minestarks commented on #50
After investigating online we narrowed down the issue to a ~30 second delay in `updateGraphWorker` (opening the project). The issue appears linked to the Angular language service plugin rather than IntelliCode. Closing the issue based on this information. Thanks @drweb86-work for helping us investigate!

[2019-01-22 17:20] #50 closed

[2019-01-22 18:06] jkeech commented on #51
@stevencollinscn, when the suggestions stop working, do you mean that all intellisense suggestions stop working, or just the starred IntelliCode suggestions are missing? If all intellisense suggestions stop working, that would most likely indicate a problem with the Python language server.

IntelliCode does require an internet connection to download the models, but once they are downloaded, the lo

[2019-01-23 02:08] stevencollinscn commented on #51
@jkeech Thanks for the detailed explanation. In my case, it seems that Intellisense stopped working as none of the suggestion showed up, started or unstarted. For those pandas methods, they never show up actually. I will comment on the issue you referenced and wish it will improve in the near future. Thanks again!

[2019-01-23 16:47] jkeech commented on #51
Thanks for confirming! In addition to the issue regarding pandas intellisense, you might also want to file a separate issue on the python-language-server repo about intellisense/completions stopping altogether after it's been open for a while.

Closing this issue since both of your issues are related to the underlying python language server.

[2019-01-23 16:47] #51 closed

[2019-01-23 18:05] AlcoholV opened #52 "Python dose not autocomplete methods from inherited class"
vscode : 1.30.2
intellicode : 1.1.2
os : Windows 10

I Can't found how to get autocomplete of inherited methods.
Am I misunderstanding about something?
Here is example.

[code]

[2019-01-23 18:15] AlcoholV commented on #52
I checked again and it doesn't work with the Microsoft Python Analysis Engine too.
Is this vscode own problem?

[2019-01-23 21:39] jkeech commented on #52
@AlcoholV, if the suggestions are not showing up in the completion list when IntelliCode is disabled, then that would indicate an issue with the Python language server. If you do see the members in the list, but just not the IntelliCode starred suggestions, then that would be an issue with the IntelliCode extension.

Can you confirm that you do not see those suggestions at all? If that's the case,

[2019-01-24 00:14] AlcoholV commented on #52
When Jedi enabled ("python.jediEnabled": true), I can see the members in the suggestions. but if I disabled both of Jedi & intellicode, I can't see the inherited members.

[2019-01-24 00:16] AlcoholV commented on #52
When Jedi enabled ("python.jediEnabled": true), I can see the members in the suggestions. but if I disabled both of Jedi & intellicode, I can't see the inherited members.
Is that a problem with Python language server?
Thank you.

[2019-01-24 00:40] jkeech commented on #52
Yes, that sounds like a problem with the language server itself.

[2019-01-24 17:22] jkeech commented on #52
@dhensen, that's a different issue. It looks like you are on an older version of the IntelliCode extension which points to our deprecated APIs. Can you update to the latest extension (1.1.2)? If that doesn't work, can you open a new issue?

[2019-01-25 06:51] jackyu1978 commented on #4
1、you can try to setting the http_proxy and https_proxy environment variable in system to your proxy。
2、when i set the environment, then it can connect my proxy,but it throw a error "unable to verify the first certificate"。 then i modify the file:

[2019-01-25 08:53] svipas opened #53 "[VS Code] JS/TS always selects the first suggestion"
**Product and Version** [VS/VSCode]: VS Code
**OS Version** [macOS/Windows]: macOS 10.14.3
**IntelliCode Extension Version**: 1.1.2
**Target Platform or Language** [e.g. Node.js]: JavaScript & TypeScript

**Steps to Reproduce / Scenario:**

1. Make sure you set `recentlyUsed` in `editor.suggestSelection` which is default in VS Code.
2. Disable this extension and try to use auto-complete and select

[2019-01-25 09:07] svipben commented on #53
Also, saw if I add `.` (dot) in the string I will get auto-complete which is not correct especially with such context:

<img width="677" alt="screenshot 2019-01-25 at 11 06 49" src="https://user-images.githubusercontent.com/10441177/51735911-54689e80-2091-11e9-8a71-10e17c25f66b.png">

[2019-01-25 18:19] jkeech commented on #53
I believe the first issue is by design, since the IntelliCode extension moves the recommended items to the top of the completion list, and by default it selects the most-likely recommendation. In many cases (but not all), the most likely recommendation does match the recently used member.

I can also reproduce the issue with IntelliSense popping up inside the string literal, but only when coming b

[2019-01-25 18:42] jkeech commented on #4
@jackyu1978, instead of doing that, can you try the setting the new VS Code setting referenced in https://github.com/MicrosoftDocs/intellicode/issues/4#issuecomment-450946911?

We also have some documentation for enabling the VS Code proxy support at https://docs.microsoft.com/en-us/visualstudio/intellicode/intellicode-visual-studio-code#q-im-having-trouble-getting-intellicode-to-download-models-b

[2019-01-25 18:42] #4 closed

[2019-01-28 05:46] bobjiang1988 opened #54 "The IntelliSense suddenly not working for java"
Here is the issue, Thank you.

https://github.com/redhat-developer/vscode-java/issues/779

[2019-01-28 17:03] jkeech commented on #54
Was it working previously? Based on the details in the other issue, it looks like your Java version is to low and is not supported. If you upgrade to 1.8.0_151 or higher it should work.

[2019-01-29 12:10] NENightElves commented on #54
@jkeech I got the same issue, you can see the detail in the link below:
https://github.com/redhat-developer/vscode-java/issues/779#issuecomment-458427251
Thank you!

[2019-01-29 16:22] minestarks commented on #53
@jkeech who should "win" in [this case](
https://github.com/MicrosoftDocs/intellicode/issues/53#issuecomment-45801216)7? IntelliCode or VS Code? They're both doing their best to push most relevant suggestions to the top :smile:

(Even if the answer is ideally IntelliCode, I'm actually not sure if a plugin like IntelliCode can override the final sorting done by VS Code.)

@svipben Do you have an ex

[2019-01-29 17:37] jkeech commented on #53
@minestarks, I would expect IntelliCode suggestions to show up at the top if the extension is enabled and it offers suggestions. Do you know why the IntelliCode suggestions are normally sorted at the top, but in this case, VS Code pushed two suggestions higher?

@svipben, the extension recommends the most likely (popular) suggestion **based on the current context**. Since the context continually c

[2019-01-29 18:38] svipas opened #55 "[VS Code] JS/TS string literal auto-complete bug"
**Product and Version** [VS/VSCode]: VS Code
**OS Version** [macOS/Windows]: macOS latest
**IntelliCode Extension Version**: 1.1.2
**Target Platform or Language** [e.g. Node.js]: JS/TS

If I add `.` (dot) in the string I will get auto-complete which is not correct especially with such context:

<img width="677" alt="screenshot 2019-01-25 at 11 06 49" src="https://user-images.githubusercontent.com/

[2019-01-29 18:38] svipben commented on #55
I'm separating issues from https://github.com/MicrosoftDocs/intellicode/issues/53

[2019-01-29 18:40] svipas opened #56 "[VS Code] JS/TS order of IntelliCode suggestions bug"
**Product and Version** [VS/VSCode]: VS Code
**OS Version** [macOS/Windows]: macOS latest
**IntelliCode Extension Version**: 1.1.2
**Target Platform or Language** [e.g. Node.js]: JS/TS

Sometimes I get this:

<img width="782" alt="screenshot 2019-01-28 at 08 24 00" src="https://user-images.githubusercontent.com/10441177/51818095-3475ec80-22d6-11e9-90aa-ef068bcb1d4a.png">

[2019-01-29 18:40] svipben commented on #56
I'm separating issues from #53

[2019-01-29 18:42] svipben commented on #53
Sorry for creating 3 issues in one. I separated `string literal` bug and `order` bug in two different issues.

[2019-01-29 18:45] minestarks commented on #53
@svipben oh thanks, that's really helpful. So this one is just tracking the fact that IntelliCode appears to disable/ignore the `editor.suggestSelection` setting correct?

[2019-01-29 18:48] svipben commented on #56
**How to reproduce?**

1. Create an empty untitled file of JS or TS type.
2. Look at my picture below and do everything in order and in the last one you should get order bug.

As you can see everything is OK, now select `big` from the list.
<img width="396" alt="screen shot 2019-01-29 at 20 46 09" src="https://user-images.githubusercontent.com/10441177/51932058-07752700-2407-11e9-89c1-dfae43ec52c0

[2019-01-29 18:55] svipben commented on #53
@minestarks Yeah, it looks like it doesn't work at all with IntelliCode. But I think you should carefully think of `recentlyUsed` because second time after you already selected something suggestions list will point to the recent one after typing `.` (dot) instead of showing suggestions list with IntelliCode suggestions at the top (like it's right now) and I kinda think it's correct behavior, **BUT

[2019-01-30 00:17] vivlimmsft commented on #53
Yes, the IntelliCode extension declares `configurationDefaults` for each language we support, which set `"editor.suggestSelection": "first"`.

You can override the setting by specifying a language-specific override setting for `editor.suggestSelection`. Could you please try the below, reload vscode, and try some suggestions?

[code]

[2019-01-30 02:13] bobjiang1988 commented on #54
@jkeech I've upgraded the java version to 1.8.0_201 and nothing effect

[2019-01-30 03:57] jkeech commented on #54
Thanks for the latest details on the other issue. This is definitely a bug in the Java IntelliCode implementation. We are investigating the root cause and will reply back when we have a fix.

[2019-01-30 04:21] akaroml commented on #54
@Eskibear  could you please take a look?

[2019-01-30 04:44] Eskibear commented on #54
@bobjiang1988
- For the original error log, it's due to the JDK version, and I think it has been resolved when as you've upgraded it to 8u201. (your latest log also indicates the activation has been completed)
- For the latest log you pasted in https://github.com/redhat-developer/vscode-java/issues/779#issuecomment-458791991 , I've gone through the code and indeed there's a potential NPE that can

[2019-01-30 05:40] svipben commented on #53
@vivlimmsft you're right, with this configuration it works. I understand why you kept `first` here, but maybe it's better to remove `configurationDefaults` and create a config like this:

[code]

Then user can decide which one is better for him.

[2019-01-31 01:41] bobjiang1988 commented on #54
@Eskibear

Maybe I didn't describe this issue clearly.

- I'm sure it worked very well even if my JDK version was 8u131. But I really don't known what I did to cause this issue.

- No effect after the upgrade except for the NPE . And it breaks all cases.

Code segment.

[code]

[2019-01-31 03:11] bobjiang1988 commented on #54
@Eskibear

You are totally right, VS Code doesn't send out the completion request.

Could you please help to check if it is conflict with **Spring Boot Tools**(Maybe the version of 4.1.1 RELEASE)? I disabled this extension and it starts working.

[2019-01-31 03:32] Eskibear commented on #54
Exactly. After disabling Spring Boot Tools v1.3.0, it works.

And for VSCode 1.31.0-insider, the IntelliSense works well with the spring extension **enabled**.

[2019-01-31 05:35] Eskibear commented on #54
There's a same issue https://github.com/spring-projects/sts4/issues/193 . Since it's proved to be Spring Extension issue, I suggest we close this one and track it there.

As for the unhandled NPE, i've already fixed it, should be shipped in next release of VSCode IntelliCode.

[2019-01-31 05:56] #54 closed

[2019-01-31 15:45] unique1o1 opened #57 "something went wrong activating IntelliCode support for Python."
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Linux
**IntelliCode Extension Version**:  1.1.2

**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. Open vscode
2. Wait for extensions to load

Experiencing problem with Visual Studio intellicode extension with following error on start:

[2019-02-01 17:09] markw-t commented on #57
@unique1o1 I'm glad that all is working correctly now; seems like it was a transient problem so it's hard to speculate on root cause.

Since you are no longer seeing the issue, I'm going to close it out, but if it re-occurs please don't hesitate to send along the VS IntelliCode and Python window info so we can look into it further.

[2019-02-01 17:11] markw-t commented on #57
If others are seeing this issue - please pass on your VS IntelliCode & Python output window traces so we can investigate. Thanks!

[2019-02-04 18:40] vivlimmsft commented on #57
Thanks for the log. I'll reopen this issue.

[2019-02-07 11:51] svipben commented on #53
Guys any news on this? I'm not pushing you though, but I'm interested if you're thinking about my suggestion to introduce that setting mentioned above. Thanks!

/cc @vivlimmsft @minestarks @markw-t @jkeech

[2019-02-08 21:03] leoniDEV commented on #39
One (safe and automatic) way to achieve this could be adding a field in the .nuspec file so IntelliCode acquire directly from the nuget package the link to the model

[2019-02-08 22:44] jwilkins88 commented on #57
Same problem over here.

**Python output:**

[code]

**Intellicode output:**

[code]

Intellicode version 1.1.3

[2019-02-08 22:50] jkeech commented on #57
Thanks @jwilkins88 and @davidpodrebarac! I think there's a race condition in the activation of both the IntelliCode and Python language server extensions. Even if the Python extension is loaded, the language server that the extension spins up might not be fully initialized yet. So if the Python extension loads, then the IntelliCode extension, then the Python language server initializes, we will hi

[2019-02-09 11:08] svipben commented on #53
@jkeech Thanks for response, so in all scenarios it would add these in my settings?

[code]

[2019-02-09 15:33] jkeech commented on #53
In the last scenario, it wouldn’t override your settings at all because you are already using a compatible setting at the global level.

[2019-02-09 18:26] svipben commented on #53
I like the last scenario then. It checks if it's `recentlyUsedByPrefix` or `first` if yes it doesn't do anything, but if it's a `recentlyUsed` it will change it to a `first` by overriding it like mentioned above.

[2019-02-10 14:01] svipben commented on #53
Also, you should consider this situation:

[code]

In this situation, it should respect whatever `editor.suggestSelection` you have because you don't see any suggestions and you're completing them by pressing `tab`. So in this situation, even `recentlyUsed` is possible. Currently, I'm using it and I guess I will stick with it, because suggestion popup is too noisy and distracting, if I really don'

[2019-02-10 18:01] taosx commented on #57
Found the same issue:

**Python output:**

[code]
**Intellicode output:**

[code]
Intellicode version 1.1.3

[2019-02-11 17:34] jkeech commented on #53
I think the general principle should be that we do not alter when the completion list shows up, but when it does show up, we ensure that the IntelliCode suggestions are the top/default options if you have the IntelliCode extension enabled.

In the scenario where you want different completion list sorting behavior that is conditioned on whether the list is visible or not -- I don't think this is po

[2019-02-11 18:15] svipben commented on #53
@jkeech Sounds good, waiting for an update then! Thank you 🔥

[2019-02-12 10:32] sandy081 opened #58 "Adopt extension for no reload on install"
Hi, I am a developer from VS Code and in the last release `1.31`, we added a new feature - no reload is required on installing an extension - https://code.visualstudio.com/updates/v1_31#_no-reload-on-install

But there are some exceptions to it as mentioned in the doc. If the extension is contributing to external contribution points, then the extension requires reload after installing. Hence, we a

[2019-02-12 21:55] Dafeesh commented on #57
Same issue:
**Python output:**
[code]
**VS Intellicode output:**
[code]

And something funny is going on with Jupyter, not sure if related?
[code]

[2019-02-12 22:57] tom1417 commented on #34
I would absolutely agree that VB.Net should be included into intellicode. VB as stated above has such broad applications to newer developers whereas c# can be intimidating to those who are not traditionally trained. Not only that, I personally prefer the natural expression that VB permits. Market VB as the Microsoft analog to Python instead of leaving it at the bottom of the list!

[2019-02-13 04:08] hochae commented on #57
In my case, it was working to reload VS Intellicode pack following the reinstall the Python extension pack.

[2019-02-14 20:45] jkeech commented on #57
A fix has been made for this issue and will be released in our next update (1.1.4).

[2019-02-17 01:45] a-eid opened #59 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.31.0`

[2019-02-17 02:51] jkeech commented on #59
@a-eid, can you attach the CPU profile file mentioned in the message? What language were you programming in when this happened?

[2019-02-17 02:56] a-eid commented on #59
[VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt](https://github.com/MicrosoftDocs/intellicode/files/2872613/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt)

@jkeech javascript.

[2019-02-17 02:59] jkeech commented on #59
Thanks!

/cc @minestarks @uniqueiniquity

[2019-02-19 21:09] jkeech commented on #59
@a-eid, did this happen when you first opened a JS file? Was it the first time you used IntelliCode for JS files? I looked through the trace, and the bulk of the time (5s) is spent in the model downloading/caching component of the IntelliCode extension.

3.9s is spent in the actual model download. This should only happen during initial extension activation, then the cached model is loaded for futu

[2019-02-21 05:39] a-eid commented on #59
@jkeech yeah that might be it, thanks.

[2019-02-21 05:39] #59 closed

[2019-02-25 19:31] andrenvillela commented on #4
I am running on linux debian.

I did everything as suggested on post of @vivlimmsft commented Jan 2, 2019, I see that I get the downloaded file on the folder /IntellicodeModels but when I start the vscode I get same error as below:

Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Downloading model.
Starting download of https://cdsmprodstg.blob.c

[2019-02-25 19:41] vivlimmsft commented on #4
From that log it looks like the download succeeded, but you're hitting issue #57 .
That should be fixed by our next update. For now you may be able to get past this by reloading the window.

[2019-02-25 20:18] andrenvillela commented on #4
same issue after reloading...

Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-python was passed a model: {"modelPath":"/home/andrevillela/.vscode/extensions/visualstudioexptteam.vscodeintellicode-1.1.3/IntellicodeModels/88630A1B4C077752096ECAA576B92C7D3FA1_AFE724E3F06E46849C99F748E987227C","modelId":"8

[2019-02-27 13:23] laissonsilveira opened #60 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Linux x64 4.15.0-33-generic`
- VSCode version: `1.31.1`

[VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt](https://github.com/MicrosoftDocs/intellicode/files/2910441/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt)

[2019-02-27 20:56] jkeech commented on #60
This is the second report we've seen for this issue. The other was #59. I took a look at the CPU profile; the trace captured the model download during extension activation, which took a couple seconds. It seems like the bulk of the time was spent in npm module loads, so maybe the webpack solution mentioned [here](https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#code

[2019-02-28 04:36] nandukanakan opened #61 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Linux x64 4.15.0-45-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/user/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Expla

[2019-02-28 06:39] Lxxyx opened #62 "【VS Code】Not working with setting: "typescript.tsdk""
**Product and Version** [VS/VSCode]:VSCode
**OS Version** [macOS/Windows]:Mac 10.13
**IntelliCode Extension Version**: latest
**Target Platform or Language** [e.g. Node.js]:TypeScript

**Steps to Reproduce / Scenario:**

1.define custom typescript.tsdk location in vs code
2. reload window, intellicode not working

[2019-02-28 14:45] GIacobellis opened #63 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Windows_NT x64 10.0.15063`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `d:\Profiles\giacobellis\VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode

[2019-02-28 17:55] jkeech commented on #61
Closing this as a duplicate of #60.

[2019-02-28 17:55] #61 closed

[2019-02-28 17:55] jkeech commented on #63
Closing this as a duplicate of #60.

[2019-02-28 17:55] #63 closed

[2019-02-28 17:57] jkeech commented on #62
@minestarks, @uniqueiniquity can you take a look at this? Is the IntelliCode plugin not being loaded by the custom typescript SDK?

[2019-02-28 18:01] minestarks commented on #62
Yes I believe this is the same as #32 , will confirm

[2019-03-01 00:38] jkeech commented on #60
I haven't been able to reproduce the high CPU warnings, but I can see that we are doing lots of small npm module loads as part of the http request to our service to download models. Based on the recommendations at https://github.com/Microsoft/vscode/wiki/Explain%3A-extension-causes-high-cpu-load, we can try using webpack to reduce the number and size of files that are loaded.

Our next update (1.1

[2019-03-03 12:46] elgorro opened #64 "Suggestions for Azure DevOps integration"
**Product and Version** [VS/VSCode]: VS
**OS Version** [macOS/Windows]: Win10
**IntelliCode Extension Version**:  2.1.6.62495
**Target Platform or Language** [e.g. Node.js]: C#

**Steps to Reproduce / Scenario:**

1. Assuming a team
2. Training a model via IntelliCode by one developer
3. Share the model with the team (copy the link, share the link, add the link for all members)
4. Security - (Ever

[2019-03-04 07:56] Eskibear commented on #55
Same issue here, when I want to type "..." within string literal, the auto-completion blocks me. E.g. following is a simple example to reproduce it.

![tmp](https://user-images.githubusercontent.com/2351748/53718370-f4d28f80-3e95-11e9-81ce-831b2e9b30b1.gif)

[2019-03-04 18:27] jkeech commented on #64
Thanks for the suggestion! Several of these ideas are things we are actively exploring. Stay tuned for more details!

[2019-03-05 20:48] Zolerii commented on #4
I was able to download the models after adding `process.env["NODE_TLS_REJECT_UNAUTHORIZED"] = 0;` to the IntelliCodeServiceProxy.js file before the API call.

The end result looks like the following.

[code]

[2019-03-06 05:38] edwardhu opened #65 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Linux x64 4.15.0-46-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/edward/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Exp

[2019-03-06 12:47] DragonFZJ opened #66 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Linux x64 4.15.0-29deepin-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/dragonf/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/w

[2019-03-06 16:56] jkeech commented on #65
Thanks for the report! Closing as a duplicate of #60. This should be fixed soon with version 1.1.4 of the extension.

[2019-03-06 16:56] #65 closed

[2019-03-06 16:56] jkeech commented on #66
Thanks for the report! Closing as a duplicate of #60. This should be fixed soon with version 1.1.4 of the extension.

[2019-03-06 16:56] #66 closed

[2019-03-06 17:09] jkeech commented on #53
We found out that extensions cannot programmatically set language-specific setting overrides using the VS Code APIs, so we are going to change the implementation slightly. The end result should be the same for you though -- if you have `"editor.suggestSelection": "recentlyUsedByPrefix"` set, IntelliCode will not interfere with that.

Here's the new logic, which should be available soon in the next

[2019-03-07 00:26] vivlimmsft commented on #53
We changed the implementation from what @jkeech mentioned above, because we found that [configurationDefaults](https://code.visualstudio.com/api/references/contribution-points#contributes.configurationDefaults) declared in `package.json` can **only** be applied to specific languages.

The new implementation, which is in 1.1.4, removes all defaults from our `package.json` and instead will apply `'e

[2019-03-07 04:48] dbryantm opened #67 "Extension causes high cpu load"
Hi, I'm not sure that I'm submitting this issue correctly, but hopefully I am. It just seems like intellicode was having high CPU load and VS Code sent me here so I figured I should go ahead and submit it. Thanks!

- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

Here's the file that was req

[2019-03-07 08:39] svipas commented on #53
Thanks, guys for the update. I'm really happy with these changes and I understand the reason. Good job!

[2019-03-07 09:32] andrenvillela commented on #4
Hi Zolerii, where could I find this IntelliCodeServiceProxy.js so I can change it and check if works...

[2019-03-07 15:35] Viou commented on #4
@andrenvillela
for me, it was here:
~/.vscode/extensions/visualstudioexptteam.vscodeintellicode-1.1.3/out/models

[2019-03-07 16:05] Classy-Bear69 opened #68 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.3`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/myUser/VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-ext

[2019-03-07 16:59] jkeech commented on #67
Thanks for the report! Closing as a duplicate of #60. This should be fixed soon with version 1.1.4 of the extension.

[2019-03-07 16:59] #67 closed

[2019-03-07 17:00] jkeech commented on #68
Thanks for the report! Closing as a duplicate of #60. This should be fixed soon with version 1.1.4 of the extension.

[2019-03-07 17:00] #68 closed

[2019-03-07 19:44] jkeech commented on #4
@andrenvillela, we just published version 1.1.4 which should fix the python command error (which is #57).

@Viou, you shouldn't need to edit the js file manually (and with version 1.1.4 it will be harder to do since we are now webpacking our extension for improved performance). Instead, the recommendation is to turn on the VS Code setting for network proxy support: https://code.visualstudio.com/up

[2019-03-07 19:45] jkeech commented on #60
Version 1.1.4 has been published to the marketplace with these perf improvements. Please update and let us know if you continue to see these high CPU load notifications. Thanks!

[2019-03-07 19:45] #60 closed

[2019-03-07 19:46] jkeech commented on #57
Version 1.1.4 has been published to the marketplace. Please update and let us know if you continue to see this problem. Thanks!

[2019-03-07 19:46] #57 closed

[2019-03-07 19:47] jkeech commented on #55
Version 1.1.4 with this fix has been published to the marketplace.

[2019-03-07 19:47] #55 closed

[2019-03-07 19:47] jkeech commented on #53
Version 1.1.4 has been published to the marketplace. Please give it a shot and let us know what you think. Thanks!

[2019-03-07 19:47] #53 closed

[2019-03-07 19:51] Zolerii commented on #4
@jkeech I tried that setting before making a manual change to the JavaScript file, but it did not work for me. I still saw the error.

[2019-03-08 01:36] lvytwjw opened #69 "python jediEnabled"
**Product and Version** [VSCode]:
**OS Version** [Windows]:
**IntelliCode Extension Version**: 1.14
**Target Platform or Language** [python]:

**Steps to Reproduce / Scenario:**

1.when i us Visual Studio IntelliCode, '"python.jediEnabled": true' in setting.json
2.then i can't get some IntelliCode. like define a  variate as str :a='' then str function can't show in the list

[2019-03-08 10:05] andrenvillela commented on #4
@jkeech I was already set as override then I change to on and IntelliCode is working again... Tks,

[2019-03-08 18:01] jkeech commented on #69
This is by design. IntelliCode Python support requires the Microsoft Python Language Server in order for the language server plugin to work. This means that it only works with `"python.jediEnabled": false`. The IntelliCode extension is supposed to prompt you with a toast in this case:

![image](https://user-images.githubusercontent.com/746020/54046398-04e5ba00-4189-11e9-9d46-7325be5915c5.png)

[2019-03-12 22:12] markw-t commented on #69
@lvytwjw , do you see the notification that @jkeech mentions above when you try to use IntelliCode with jediEnabled true?

[2019-03-14 12:06] Timgy1959 commented on #34
I agree - I use VB.Net out of choice and prefer to use it to show beginners how programming works. Being an older programmer I have experience in how daft some language centric developers can be.  Asking them to try resorting to writing the same in Assembler (as I had to for the much needed speed back then) usually shut them up.

[2019-03-14 15:53] Spoelle commented on #34
Same here: include VB.Net please !

[2019-03-14 21:41] KamasamaK opened #70 "[VS Code] Use enumDescriptions for enum"
**Product and Version**: VS Code 1.32.2
**OS Version**: Windows 10
**IntelliCode Extension Version**: 1.1.4

Please use `enumDescriptions` for each `enum` in your configuration. There is currently a configuration property `vsintellicode.modify.editor.suggestSelection` that has its `markdownDescription` containing a list of each option and their respective descriptions instead of utilizing the `enu

[2019-03-14 21:51] KamasamaK opened #71 "[VS Code] Restrict modifying editor.suggestSelection for specific languages"
**Product and Version**: VS Code 1.32.2
**OS Version**: Windows 10
**IntelliCode Extension Version**: 1.1.4

Currently, the change to `editor.suggestSelection` is done globally even though IntelliCode for VS Code only supports 3 languages, which can individually be enabled. It would be preferable to only override this for the languages that are enabled by using [language-specific editor settings](

[2019-03-14 23:06] jkeech commented on #71
This is by design -- please see the discussion on #53 for context. There's not a perfect solution here, but the reason why we recently switched from language-specific settings to language-agnostic settings is so that a user's explicit language-agnostic setting still takes precedence. Most VS Code users don't know about the language-specific overrides, and the settings UI doesn't make it easy to se

[2019-03-14 23:21] fbricon opened #72 "Intellicode for Java breaks Javadoc completion"
Create a java file with

[code]

See https://github.com/redhat-developer/vscode-java/issues/811

[2019-03-14 23:37] jkeech commented on #72
@Eskibear can you take a look at this?

[2019-03-15 02:37] KamasamaK commented on #71
Sorry, I didn't thoroughly think this through before posting. I see now that the API does not even allow setting language-specific configurations.

I do disagree with making this global change without asking/notifying just because it was left as the default. Also, the expectation according to [comment 470332077](https://github.com/MicrosoftDocs/intellicode/issues/53#issuecomment-470332077) appears

[2019-03-15 03:39] Eskibear commented on #72
Sure, we didn't do lsp to code conversion for this snippet. I'll provide a fix.

[2019-03-15 03:48] jkeech commented on #71
@KamasamaK, the behavior is as follows:

1) If a user has a compatible setting for `editor.suggestSelection`, regardless of how it was selected, nothing happens
2) If a user has explicitly picked a value for `editor.suggestSelection` which is incompatible with IntelliCode (currently, the only value that is incompatible is `recentlyUsed`), then IntelliCode will provide a toast notification explaini

[2019-03-15 14:29] erlis opened #73 "I have an issue for Visual Studio, don't know how to report it!"
While trying to report an issue I noticed the message:

_To report a problem with IntelliCode for Visual Studio, please use the "Report a Problem..." feature built into the tool._

So I realized I should not use this method to report a VS problem, but then I cannot find the "Report a Problem" anywhere on the tool.

How am I supposed to report a problem in VS again?

![image](https://user-images.gi

[2019-03-15 14:42] jkeech commented on #73
Help > Feedback > Report a Problem. There’s also an icon near the top right corner for feedback and you can select Report a Problem there as well. Let us know if you still have issues finding it.

[2019-03-15 15:42] moellnator commented on #34
VB.NET is my first choice for programming as well. As a scientist I always need a fast and reliable way of developing and testing algorithms, hardware control, data analysis, etc. VB.NET in conjunction with the Visual Studio makes rapid prototyping so simple, that I just need to think about the task not the code. This workflow would obviously benifit from IntelliCode for VB.NET. So, I also request

[2019-03-15 16:37] erlis commented on #73
I don't see the top right icon, but I saw the option on the Help menu, I was expecting something specifically for IntelliCode not a VS issue, but anyway, I'll submit using that.

Thanks!

[2019-03-15 16:39] markw-t commented on #73
Sorry for any confusion @erlis - we are using the general Visual Studio problem reporting system to collect feedback and issue reports. As long as you mention IntelliCode in your report, it will find its way to us. And thanks for trying IntelliCode!

Mark

[2019-03-15 16:51] erlis commented on #73
Thanks for clarifying... you can close this one now ;)

[2019-03-15 16:58] #73 closed

[2019-03-15 20:45] KamasamaK commented on #71
This issue is primarily about scenario 3. It does simplify configuration for the average user by taking it out of their hands. This generally results in a better completion experience for them when using languages that IntelliCode supports, but a likely diminished completion experience for all other languages.

[2019-03-17 01:33] bdcoder2 commented on #34
Alright - I'll be blunt - I think VB is a great language. Nearly every program / website / utility I have written is in VB.Net -- I started using BASIC over 40 years ago -- and still prefer it today (and yes, I do know how to code using at least 12 other programming languages).

However, it seems (recently) that VB.Net is being treated as a second class citizen by MS -- did anyone notice that only

[2019-03-18 05:40] SirTwsted opened #74 "Problems with Visual Studio IntelliCode - Preview & Python"
I keep getting an annoying error message.
Also,  When installing Python Extensions Pack, for some reason its over-writing my HTML extensions into DJango.
Not to mention a million other errors im getting after allowing a bunch of extensions to be updated.
Now im getting all sorts of problems with tons of extensions in my VSC.
and its driving me up the walls.
I wish VSC had a Discord Sever,  so I ca

[2019-03-18 15:59] jkeech commented on #74
@SirTwsted, sorry you are having so many problems with VS Code. The IntelliCode Python support does require the Microsoft Python Language server to function. Is there a reason that you can't switch to that version of the Python language server?

If you can't (or don't want) to use the Microsoft Python Language server, then the easiest thing to do is disable IntelliCode for Python. You can do this

[2019-03-18 20:10] RealFeorache opened #75 "Autocompletion Problem"
Product: VS Code, version 1.32.3
OS: Windows 10 build 17763.379
Intellicode Extension Version: 1.1.4
Language: Python

Enabled extensions:
1. Bracket Pair Colorizer 2
2. GitLens — Git supercharged
3. MagicPython
4. Material Icon Theme
5. Python
6. Todo+

Steps to Reproduce / Scenario:
1. Enable the Visual Studio IntelliCode - Preview Extension
2. Confirm the change from Jedi to Microsoft Python La

[2019-03-18 20:12] jkeech commented on #75
@RealFeorache, thanks for reporting! This looks like an issue with the Microsoft Python Language Server rather than IntelliCode. Can you try disabling the IntelliCode extension temporarily and seeing if this problem still happens?

If it is a problem with the Microsoft Pyhton Language Server, I would recommend re-posting this issue on their repo: https://github.com/Microsoft/python-language-server

[2019-03-18 20:17] RealFeorache commented on #75
@jkeech
I turned off the extension, and left the Microsoft Python Language Server turn on, not turning on Jedi, and I have got myself in a situation where I don't have any autocomplete suggestions again.
Did I understand you correctly? Please, confirm if I have done as you have asked and I will go re-post the issue on the repo of Microsoft Python Language Server.
Thanks.

[2019-03-18 20:27] jkeech commented on #75
@RealFeorache, yes, you understood correctly. Thanks for confirming! This is an issue with the Microsoft Python Language Server. Please open an issue on that repo. Closing this issue since it's not directly related to IntelliCode.

[2019-03-18 20:27] #75 closed

[2019-03-18 21:43] SirTwsted commented on #74
Thank you for understanding my situation  :)
I dont mind using it and have no problems in regards of the force-able choice when I get notified.
The problem I do have is, that even when I do elect to use it, it keeps nagging me that in order for me to use Python it requires me to use the Microsoft Python Language server....lol
Even though I elected to use, as I didnt mind using it  :)
Every single

[2019-03-18 22:15] jkeech commented on #74
@SirTwsted, can you confirm that you have the "python.jediEnabled": "false" setting set? The toast message should only show up if you have jediEnabled set to true.

[2019-03-18 22:33] SirTwsted commented on #74
Its turned on for some odd reason, but Ill now turn it off by "unchecking" the box.   :)
.
![Screenshot_51](https://user-images.githubusercontent.com/15247713/54568063-4c035480-49ac-11e9-861d-0ebd8378ef58.png)

[2019-03-18 22:34] jkeech commented on #74
After you turn it off, if you reload VS Code and open a python file, you should not see the toast message anymore.

[2019-03-18 22:46] SirTwsted commented on #74
*Smiles*  :D  feels so relieved.
the happiest man on this planet today  :D :D  Hahaha  :D :D
Thank you , thank you thank you :D

[2019-03-18 22:55] jkeech commented on #74
Glad it's working for you 😄! If you hit any other issues with IntelliCode, please let us know. Closing this issue.

[2019-03-18 22:55] #74 closed

[2019-03-20 09:24] tmueller79 opened #76 "Intellisense for custom dotnet dll loaded with clr"
**Product and Version** [VSCode]:
**OS Version** [Windows/Linux]:
**IntelliCode Extension Version**:  1.1.4

**Steps to Reproduce / Scenario:**

1. imprt clr
    sys.path.append(XYZ)
    clr.AddReference(NAMEOFDLL)
    from NAMEOFDLL import YOURCLASS
   YOURCLASS. (now the possibilities should appear)

[2019-03-20 12:13] pgroene commented on #76
Thank you for your feedback, IntelliCode is trained on frequently used public components. It will only give intellisence on those components. Currently, we have only custom training in the Visual Studio IntelliCode extension for c#.

-Peter [MSFT]

[2019-03-21 10:21] meanis opened #77 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.4`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\brahm\VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt
[VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt](https://git

[2019-03-21 21:58] jkeech commented on #72
We plan to publish a new version of the extension (1.1.5) on Monday with this fix. Thanks for reporting!

[2019-03-21 22:35] jkeech commented on #77
I took a look at the CPU trace, and VS Code hung for 10 seconds on a file system call when IntelliCode created the output window via `vscode.window.createOutputChannel("VS IntelliCode")`. Internally, it looks like the extension host process creates some rotating logs to store the output channel content, and for some reason the file system call was slow.

Unfortunately, I don't think there is much

[2019-03-21 23:57] vivlimmsft commented on #70
Done, it'll be in the next update (`1.1.5`). Thanks for reporting this!

[2019-03-27 23:47] jasonswearingen commented on #32
@minestarks  fyi I am getting the same problem, but using VSCode and it's built-in typescript (v3.3.3).  I disabled all extensions except intellicode (latest, v1.1.5) and then in the extension log output I see the following.

<details><summary>(click me for log)</summary>

[code]

</details>

this is with vscode 1.32.3

[2019-03-27 23:52] jkeech commented on #32
@jasonswearingen The first error in your log looks like it's coming from TSLint (`at TSLintPlugin.getCodeFixesAtPosition`), but the second one is originating from IntelliCode. It looks like the exception (in both cases) is happening on the TS language server though, so I'm not sure whether this is an IntelliCode bug or a TS language server bug just by looking at the callstack.

@minestarks / @uniq

[2019-03-28 00:08] jasonswearingen commented on #32
sorry, even though I choose "clear output" it reloaded all those old logs.    It looks like no new errors were spit out, but still no intellicode support is working.

i'll try turning on verbose logging, and will update this post in a few minutes with the "real" log.

[2019-03-28 17:14] RicaBenhossi opened #78 "Typo mistake in Intellisense configuration"
Issue Type: <b>Bug</b>

There is an option in Vsintellicode > Modify > Editor: Suggest Selection that has a typo mistake: it's written AutomaticallyOverrOde instead of AutomaticallyOverrIde.

![VSCodeTypoMistake](https://user-images.githubusercontent.com/15204313/55178478-3b996980-5164-11e9-9427-331437d3754b.png)

Extension version: 1.1.5
VS Code version: Code - Insiders 1.33.0-insider (b5f5db349f

[2019-03-28 17:26] jkeech commented on #78
The value `automaticallyOverrodeDefaultValue` is intended to indicate that IntelliCode has already done this in the past. IntelliCode automatically overrode the default value for you previously. It's not really a user-selectable value on it's own, but it's more of a state keeping mechanism to help troubleshoot why the `editor.suggestSelection` value might have changed.

`enabled` means you are all

[2019-03-29 08:21] RicaBenhossi commented on #78
Ohh sorry... I didn't notice that this was a kind of "status" feedback and not an option... It makes sense now.

Thank you so much for your explanation. One more time, sorry my misunderstanding,

[2019-03-29 08:21] #78 closed

[2019-03-29 09:11] RicaBenhossi commented on #69
I was facing the same issue. I don't know if it was a solution but in order to test, I open a new VSCode window, without a workspace or anything else, just a blank plain text file. I changed it to python language (using command Change Language Mode). Didn't work. But, when I opened my project again, it suddenly back working.

As I said, I don't know if it was a solution, but you can try these step

[2019-03-29 16:48] jkeech commented on #69
@RicaBenhossi, which version of the Python language server do you have (you can check from the Python output window)? I have seen that before with the older versions of the language server, but the newer versions seem to work better with files that are not yet saved to disk.

[2019-03-29 20:48] jkeech commented on #77
This issue has been fixed in VS Code.

[2019-03-29 20:48] #77 closed

[2019-03-30 18:12] RicaBenhossi commented on #69
I've installed Microsoft Python Language Server version 0.2.37.0 and Python 3.7.1.

VSCode
Version: 1.33.0-insider
Commit: 4039ea871879ef8f654f27df5c32d209104b3a44
Date: 2019-03-29T10:48:26.004Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.15.0-46-generic

[2019-04-01 09:45] RicaBenhossi commented on #69
I don't know if it is a new issue or is related with this one, but I noticed today that, although it might be working for me, when I choose a function like list(), dict(), print(), input() it doesn't add the parenthesis. I'm pretty sure that it brings us the parenthesis before...

Is this a new issue? Should I open a new one if it is or we keep it here?

[2019-04-01 14:02] jkeech commented on #69
@ricabenhossi, can you open a new issue for that? It will help if you also temporarily disable the IntelliCode extension and reload the VS Code window to confirm if the behavior around parenthesis changes. Thanks!

[2019-04-01 16:59] markw-t opened #79 "[VS] Make IntelliCode aware of methods/props on classes not yet in Using"
Feature Request
---------------
Product and Version** [VS/VSCode]: Both but initially VS
Target Platform or Language [e.g. Node.js]: Initially C# but any language with an equivalent of Using

Currently, IntelliCode suggestions filter to the existing set of usings in a C# file - when usings are not present, it cannot suggest items which are in them even if it knows they are likely from its training

[2019-04-01 17:32] sujayvsarma commented on #79
+1. Thanks @markw-t 😁

[2019-04-02 18:02] RicaBenhossi opened #80 "Not adding parenthesis after python command"
Issue Type: <b>Bug</b>

When we chose a command in python, IntelliCode completes the sentence, but without adding the parenthesis.

![NotAddingParenthesis](https://user-images.githubusercontent.com/15204313/55425211-3703f500-5558-11e9-8d00-7d88108d1700.gif)

Extension version: 1.1.5
VS Code version: Code - Insiders 1.33.0-insider (0ac111466ec925fd5ca180ab9893f51531e419b2, 2019-04-01T15:46:11.456Z)

[2019-04-02 18:06] RicaBenhossi commented on #69
That's odd... Even if I disable Intellicode extension, VSCode keeps suggesting me commands without adding parenthesis though. I don't know it is expected, but I've made some tests:
Perform a fresh install of VSCode and extensions -> no results
Install an old version (from more than one month ago) of IntelliCode extension and Python extension (ms-python.python) -> no results
Keep only the extension

[2019-04-02 18:47] DanielSSilva opened #81 "[VS Code] C# support"
Product and Version [VS/VSCode]: VS Code
Target Platform or Language [e.g. Node.js]: C#

Steps to Reproduce / Scenario:
Add C# support to the VS Code IntelliCode extension

[2019-04-02 22:55] jkeech commented on #80
Thanks for the additional details. This looks like a problem with the new Microsoft Python language server not supporting the `python.autoComplete.addBrackets` setting properly, which is not related to IntelliCode. I filed an issue on the Python language server repo instead.

[2019-04-02 22:55] #80 closed

[2019-04-02 22:57] #72 closed

[2019-04-02 22:57] #70 closed

[2019-04-03 09:24] sujayvsarma opened #82 "Intellicode does not offer recommendations in some argument completion scenarios"
In certain scenarios, IntelliCode seems to stumble and get tongue-tied. Here is an example. Type this code snippet:

[code]

When you hit the ",", there are two overloads that apply. One that requires the `JsonSerializerSettings` and the other that's looking for a list of `JsonConverter`s. However, IntelliCode gets confused and fails to suggest anything.

Instead, you get to see **IntelliSense**'s

[2019-04-03 17:23] RicaBenhossi commented on #80
Cool... Thank you @jkeech.

[2019-04-04 04:19] sujayvsarma commented on #79
I believe this request is related to already in-progress item https://github.com/dotnet/roslyn/issues/7053.

[2019-04-04 17:37] jkeech commented on #82
IntelliCode is not currently designed to give recommendations in 100% of scenarios. As an example, it will only offer suggestions when it is reasonably confident of the recommendations, which requires the model having seen enough training data of a similar pattern. This scenario is something that we should be able to handle in the future, but for now it's not expected to offer any recommendations.

[2019-04-05 05:03] sujayvsarma commented on #82
Yup, I was so caught up with seeing what IntelliCode does do that I forgot about the things it can't do (yet) and the gracefully-degrade scenarios. My bad :) What you (@jkeech) say is perfectly acceptable and reasonable. I would close this issue with that.

[2019-04-05 05:03] #82 closed

[2019-04-06 16:55] svod5306 opened #83 "It can not work correctly with tensorflow"
well,my python version is 3.6.5 64bit，and my tensorflow version is 1.13.1.
the simple code is:
import tensorflow as tf
but the intellicode can not auto show tf method after I typed tf.
It only can show if I write "import tensorflow.python as tf",but you know,this is not right.

[2019-04-07 15:44] h-bex opened #84 "Intellicode breaks Python Rename"
**Product and Version** [VSCode]: 1.33.0
**OS Version** [Windows]: Windows 10 (Windows_NT x64 10.0.17763)
**IntelliCode Extension Version**:  1.1.5
**Target Platform or Language**: Python
** Installed Extensions**: Python 2019.3.6352; Vim 1.3.0; IntelliCode

**Steps to Reproduce / Scenario:**

1. First make sure you have a code installation that **never** has the IntelliCode Extension installed.
2

[2019-04-07 16:18] jkeech commented on #84
@h-bex, this looks like a problem with the new Microsoft Python Language Server (which IntelliCode requires). Your steps 7-9 confirm that this behavior exists even if you don't have IntelliCode enabled/installed, but you do have the new Language Server enabled (which is what the "Enable it and Reload Window" prompt does). You should also be able to reproduce this problem without ever installing In

[2019-04-07 16:18] #84 closed

[2019-04-08 16:57] jkeech commented on #83
This is due to Microsoft/python-language-server#881. Once the issue is fixed in the language server and base intellisense shows up correctly for tensorflow, IntelliCode recommendations should show up as well.

[2019-04-08 16:57] #83 closed

[2019-04-09 10:27] AndreaLazz commented on #34
I agree with bdcoder2, VB.NET and C# should have the same features.

[2019-04-16 21:45] Vicharian commented on #34
+1

[2019-04-17 09:23] felixhao28 opened #85 "[VS Code] Question: How do you prevent the default completions from showing up as duplicates"
Related: https://github.com/Microsoft/vscode/issues/45864#issuecomment-483998252

I learned from VS Code side that there is [currently no way for an extension to suppress completions provided by other extensions from showing up](https://github.com/Microsoft/vscode/issues/45864#issuecomment-373394992). Yet somehow intellicode did it.

Notice (image below) there should be a "placeholder" provided by

[2019-04-17 14:04] jkeech commented on #85
You are correct that extensions cannot modify or suppress completion list items from other extensions. IntelliCode is not able to do this either. IntelliCode takes a different approach — we directly extend the other language servers/extensions and modify the completion list before they send the initial results back to VS Code. So VS Code gets the full list with some starred items from the beginnin

[2019-04-17 17:15] #85 closed

[2019-04-17 19:47] aabgaryan commented on #81
15 days already and nothing happened ..

[2019-04-17 20:03] jkeech commented on #81
@aabgaryan, this is a feature request which we are considering based in part on user demand compared to other features. We are actively tracking the number of up votes for various feature requests / enhancement issues, including this one, but we don't have anything additional to add at this time. Thanks!

[2019-04-17 20:34] jkeech commented on #56
@svipas, can you still reproduce this with the latest version of IntelliCode? I haven't been able to reproduce this locally.

[2019-04-18 02:19] felixhao28 commented on #85
Thank you!

That sounds like exactly what I am looking for, but how does that work? Is there any related document or samples?

[2019-04-18 02:57] jkeech commented on #85
The extension mechanism is different for each language server. I’m not sure if all are documented, so you might need to post issues on each language server that you are looking to extend. The TypeScript one looks like it is documented here though: https://github.com/Microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin

[2019-04-18 05:53] felixhao28 commented on #85
Thanks again. I am mostly interested in Python. And it seems I need to call an undocumented `python._loadLanguageServerExtension` command to load a python language extension .Net Core library.

![image](https://user-images.githubusercontent.com/2417391/56339261-066ebd00-61e0-11e9-8cc8-94e543669284.png)

The library needs to have a `LanguageServerExtensionProvider` class and a `LanguageServerExtens

[2019-04-18 06:25] svipas commented on #56
@jkeech I'm not using anymore IntelliCode :( But I recently tried it and I saw this issue with `"editor.suggest.localityBonus": true,` in JS.

[2019-04-18 15:45] filippobottega commented on #34
+1000 😉

[2019-04-18 16:48] jkeech commented on #56
@svipas Thanks for the details! Sorry to hear that you are not using IntelliCode anymore. If you don't mind sharing, I'd love to understand why. Please feel free to send me an email at john.keech@microsoft.com.

--

I'm able to reproduce this with locality bonus turned on if I'm typing within some block scope. The locality bonus seems to be applied by the editor after it recieves the completion li

[2019-04-20 07:09] svipas commented on #56
Even without any context it still mixes order of IntelliCode and IntelliSense auto-completions. So I guess it's not exactly related to locality bonus.

<img width="1552" alt="Screen Shot 2019-04-20 at 09 19 58" src="https://user-images.githubusercontent.com/10441177/56453602-954d1800-634d-11e9-95f1-de9dad5d8141.png">

I'm not using it anymore because I see no reason right now. I disabled suggestio

[2019-04-22 15:56] Yanpas opened #86 "NullPointerException in java"
**Product and Version** [VS/VSCode]: 1.33.1
**OS Version** [macOS/Windows]: ubuntu 19.04
**IntelliCode Extension Version**: 1.1.5
**Target Platform or Language** [e.g. Node.js]: java

**Steps to Reproduce / Scenario:**
Original issue: https://github.com/eclipse/eclipse.jdt.ls/issues/1003

Project example:
build.gradle:
[code]

src/main/java/Hello.java:
[code]

stack:
[code]

[2019-04-22 16:04] jkeech commented on #86
Thank for reporting this issue! @Eskibear, can you take a look?

[2019-04-22 16:15] jkeech commented on #56
Thanks for the feedback! It makes sense in your scenario to not need or want IntelliCode.

[2019-04-22 20:17] jkeech commented on #69
Closing this issue since it is by design that the Python IntelliCode support in VS Code requires the Microsoft Python Language Server instead of the Jedi language server.

[2019-04-22 20:17] #69 closed

[2019-04-23 00:07] Eskibear commented on #86
Sure, the NPE is confirmed, and I'll provide a fix for it.

[2019-04-24 05:36] wmpeng commented on #57
Same issue to me, and I got two different outputs:
[code]
and

[code]

It may seem to be related to the network?

[2019-04-24 06:01] takaragi17 commented on #57
@wmpeng
Faced same issue. That is caused by Microsoft/vscode-python#5437
Try downgrading the version of "Python" extension as mentioned by comments on above issue.

[2019-04-24 06:10] trobr commented on #57
Same issue too:
[code]

[2019-04-24 06:17] wmpeng commented on #57
It works for me.

[2019-04-24 10:21] zuozhiwen opened #87 "Cant activate IntelliCode for python"
Extension error messages:

Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-python was passed a model: {"modelPath":"c:\\Users\\DD\\.vscode\\extensions\\visua

[2019-04-24 11:56] Tympani commented on #57
The same issue
And still not work after I downgraded the version of "Python"
`Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-python was passed a model: {"modelPath":"/Users/hankinzhang/.vscode/extensions/visualstudioexptteam.vscodeintellicode-1.1.5/IntellicodeModels/88630A1B4C077752096ECAA576B92C7D3FA1

[2019-04-24 12:11] takaragi17 commented on #57
@Tympani
Did you disable automatic update extensions? If not, disable it and try downgrading again.

[2019-04-24 12:51] wenh06 commented on #57
I can't find a place to download an older version of the python extension.

[2019-04-24 12:59] wenh06 commented on #87
Try downgrade this extension by uninstalling it first and then choosing "Install Another Version..." Don't forget to disable auto updating extensions.

[2019-04-24 13:09] cdfmlr commented on #57
The same issue, too.
How did you solve it? I'm still puzzled. could you please offer any detail?

[2019-04-24 13:45] mecaxis14 commented on #57
Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-python was passed a model: {"modelPath":"c:\\Users\\Administrador.WIN-I8N98UV2N9N\\.vscode\\extensions\\visualstudioexptteam.vscodeintellicode-1.1.5\\IntellicodeModels\\88630A1B4C077752096ECAA576B92C7D3FA1_AFE724E3F06E46849C99F748E987227C","modelId":"88630

[2019-04-24 14:31] rafaelefucho commented on #57
Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Downloading model.
Starting download of https://cdsmprodstg.blob.core.windows.net/models-prod-output/Output_88630A1B4C077752096ECAA576B92C7D3FA1_AFE724E3F06E46849C99F748E987227C?sv=2018-03-28&sr=b&sig=B%2Bj7Y8oijuTf%2BKkZB2dQyrrFoP0fgdv0gx7DlI8hkLc%3D&se=2019-04-24T14%3A59%3A43Z&sp=r
Download compl

[2019-04-24 15:08] wmpeng commented on #57
If you are using vscode, you can do like this:

![批注 2019-04-24 230527](https://user-images.githubusercontent.com/17960972/56670565-a5664e00-66e5-11e9-9950-6db0a6fa8401.png)
![批注 2019-04-24 230804](https://user-images.githubusercontent.com/17960972/56670661-d8a8dd00-66e5-11e9-89a1-464d1e4aa589.png)

[2019-04-24 15:42] cdfmlr commented on #57
Thank you. It's do useful. I have solved my problems now.
By the way, I tried to *remove last extra comma from "~/.vscode/extensions/ms-python.python-2019.4.11881/package.nls.[language].json."* according to [Microsoft/vscode-python#5437](https://github.com/Microsoft/vscode-python/issues/5437), it's also useful.

[2019-04-24 16:50] jkeech commented on #57
Just to confirm, this is an issue with the Python extension that was recently updated (Microsoft/vscode-python#5437). The Python extension owners are rolling out a fix, but in the mean time, you can work around it by installing an older version of the Python extension temporarily. The IntelliCode activation error for python files is side-effect from the Python extension failing to load.

[2019-04-24 16:51] jkeech commented on #87
This is an issue with the Python extension that was recently updated (Microsoft/vscode-python#5437). The Python extension owners are rolling out a fix, but in the mean time, you can work around it by installing an older version of the Python extension temporarily. The IntelliCode activation error for python files is a side-effect from the Python extension failing to load.

[2019-04-25 00:12] #87 closed

[2019-04-25 00:39] takaragi17 commented on #57
Now fixed version (2019.4.11987) of Python extension has been released. Downgrading or manual fixing is no longer needed. Updating Python extension should resolve this issue.

[2019-04-25 05:59] futurehome opened #88 "Autocomplete not work under some circumstance"
Issue Type: <b>Bug</b>
In the code below, it can't autocomplete _finditer_ after _pattern_, actually, it doesn't show any suggestion after I input the '.' after _pattern_.

[code]

Extension version: 1.1.5
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2019-04-25 16:41] jkeech commented on #88
I'm able to reproduce this. It looks like an issue with the Python language server since it's not returning any completions lists at all. I filed Microsoft/python-language-server#1015 for this issue.

[2019-04-25 16:41] #88 closed

[2019-04-26 03:04] Eskibear opened #89 "[VSCode] better guide for language activation failure?"
Currently when failing to activate for one language, it looks like:
![image](https://user-images.githubusercontent.com/2351748/56779830-5ddbe100-680f-11e9-8480-600752de3c34.png)

Imagine that I'm a TS/JS dev using IntelliCode extension, for some reason I want to open and view content of a .java/.py file, and then it pops up an **error** message box saying I should install something to enable Intel

[2019-04-26 08:44] Eskibear commented on #86
Fixed in `vscode-intellicode-java@0.3.13`, now it looks like below:

![image](https://user-images.githubusercontent.com/2351748/56795206-85986c80-6842-11e9-8ae5-a74337848e4f.png)

[2019-04-26 15:54] OlafBr commented on #34
+ 2^64

[2019-04-26 20:53] jkeech commented on #89
Thanks for the suggestions. I think these are good ideas, and we will implement them soon.

[2019-04-27 09:42] patrikhuber opened #90 "Docs says it's just for C#"
This documentation says at the top:

I don't think that's true, blog posts and talks from MS advertise IntelliCode for C++ as well, and in fact IntelliCode is also installed with the C++ workload in VS 2019 Preview 2.
I'd guess this is an oversight and this documentation should state more supported languages than just C#?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-04-27 14:16] jkeech commented on #90
Thanks! These docs are currently being rewritten; I’ll make sure this section is made clearer.

The intent of this answer was to say something along the lines of “Base models are available for all supported languages (C#, XAML, C++ in Visual Studio; and TS/JS, Python, and Java in VS Code), but C# has some additional features, including custom models, argument completion, and editorconfig generatio

[2019-04-27 14:25] patrikhuber commented on #90
I see!

Following from your sentence, the C++ model doesn't have "argument completion"? Sounds like quite an essential feature but of course depends on what exactly "argument completion" is.
Also following from your sentence, Python in VS is not supported, only Python in VS Code?

Would be really great to make that all much clearer.

[2019-04-27 14:45] jkeech commented on #90
Yes, those statements are all correct. We plan to enable argument completion and custom models for other languages once we refine the models and the workflow for creating and managing custom models, but those are still preview features that we are piloting with a single language for now. The base models for all languages currently include only member completions (method, field, property).

[2019-04-27 14:57] patrikhuber commented on #90
I see! Thanks for the clarification! Hope to see it on a more clear docs page in the future :-).

[2019-04-29 17:34] #86 closed

[2019-04-29 17:34] jkeech commented on #89
Fixing in 1.1.6

[2019-04-29 17:34] #89 closed

[2019-04-29 17:35] #90 closed

[2019-04-30 08:32] debuggerpk commented on #57
still not resolved for me, have upgraded to latest.

[2019-04-30 16:34] jkeech commented on #57
@debuggerpk, can you open a new issue with more details? It's likely a different problem. Thanks!

[2019-05-06 23:04] liamdawson opened #91 "Privacy?"
What data does IntelliCode send from your machine, and when? I haven't found any clear indications on how it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 319e91fe-5e43-c02c-cc72-d0fd7b3b8fdc
* Version Independent ID: 7fbb0db9-0607-7893-abcc-708772453c65
* Content: [Frequently asked questions - Visual Studio In

[2019-05-06 23:07] InteXX commented on #34
@bdcoder2

In the musical world, B# is C  ;-)

Yes, Microsoft, please give VB.NET the attention it deserves and longs for. After all, you wouldn't be where you are today without it.

[2019-05-06 23:25] jkeech commented on #91
Does this answer your question? https://docs.microsoft.com/en-us/visualstudio/intellicode/intellicode-visual-studio#telemetry

If you choose to do custom model training for C#, this provides more information specifically around what data is used during the custom model training process: https://docs.microsoft.com/en-us/visualstudio/intellicode/custom-models#data-and-privacy.

[2019-05-07 05:46] Barbery opened #92 "[VS Code] php support"
I like the tool, please add php support to VS Code IntelliCode.

[2019-05-07 07:16] trobr opened #93 "Do not work with Remote Development"
**Product and Version** [VS/VSCode]:Version: 1.34.0-insider (user setup)
**OS Version** [macOS/Windows]:Windows_NT x64 10.0.17763
**Remote OS Version**: Ubuntu 16.04
**IntelliCode Extension Version**: 1.1.6
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1.Open remote floder with Remote Development extension
2.VSIntelliCode can not download language serv

[2019-05-07 20:22] vivlimmsft commented on #93
@trobr, is the Ubuntu 16.04 machine you're connecting to behind a firewall and/or does it require a proxy to access the internet?

If so, can you please check the value of `$HTTP_PROXY` from VSCode's integrated terminal?

If you are not behind a firewall/proxy, could you please try running this on the remote to see if it can reach the IntelliCode service?
[code]

Our service should respond with a

[2019-05-08 03:10] trobr commented on #93
Thanks!My remote machine is behind a proxy,But whether I turn the proxy on or off, I get the same result.When I run this code in my remote machine:
[code]

I got this result:
[code]

![image](https://user-images.githubusercontent.com/40254133/57346629-d5036480-7181-11e9-9bd6-d21a5ddf9f98.png)

This issue seems to be caused by the fact that the  IntelliCode service can not download automatically in

[2019-05-08 08:02] vivlimmsft commented on #93
It seems that proxy settings are forwarded from local VSCode to the remote: https://github.com/microsoft/vscode-remote-release/issues/213. I was able to reproduce this by setting the `http.proxy` setting locally and connecting to a remote, after which the IntelliCode extension could no longer reach the service.

You should be able to work around this by adding your proxy config to the remote setti

[2019-05-08 08:46] trobr commented on #93
You are right! It‘s useful for me.
Thanks!

[2019-05-08 08:47] #93 closed

[2019-05-09 08:32] khoshroomahdi opened #94 "[VS Code] Xaml support"
**Product and Version** [VS/VSCode]:[vscode]
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-05-09 16:15] jkeech commented on #91
Closing this issue since it looks like those FAQ entries helped. If you still have questions, just let us know and we can re-open this issue.

[2019-05-09 16:15] #91 closed

[2019-05-09 22:08] vivlimmsft commented on #93
Great, I'm glad that worked for you. I updated the title to make it easier for others to find if they have the same issue.

[2019-05-10 06:05] FruitieX opened #95 "Ability to customize model download / installation path"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Linux / NixOS
**IntelliCode Extension Version**: 1.1.6
**Target Platform or Language** [e.g. Node.js]: v10.2.0

Hi,

I'm using IntelliCode in a setup where VSCode + extensions are managed by my system's package manager. As such the IntelliCode extension will be installed in a read-only file system path.

I haven't come acr

[2019-05-10 19:45] jkeech commented on #95
This should be pretty easy to do. I agree that the number of users in this scenario is probably small, but it seems like a reasonable change to make.

[2019-05-12 00:43] AeneasZhu opened #96 "Fail to show intellisence when inputting optional parameters of methods on Python"
t doesn't show any intellisense when I try to input the optional parameters in Python.

For instance, when I input 'RandomForestClassifier' and expect it can show the optional parameters like 'n_estimators', but it doesn't and shows nothing. It is sometimes very unconvenient especially when the optional parameters are long.

like this:
![image](https://user-images.githubusercontent.com/44701446/57

[2019-05-14 00:26] jkeech commented on #96
@AeneasZhu, this looks like a problem with the Microsoft Python Language Server (https://github.com/microsoft/python-language-server/issues/987) and not IntelliCode itself. You can confirm by disabling IntelliCode and keeping the Microsoft Python Language Server enabled by setting `"python.jediEnabled": false`.

[2019-05-14 22:19] jkeech commented on #96
Closing this issue, but please re-open if you believe this issue is directly caused by IntelliCode and is not related to the linked python language server issue. Thanks!

[2019-05-14 22:19] #96 closed

[2019-05-20 18:49] markw-t commented on #27
I'm pleased to report that this feature is now available in Preview form, in Visual Studio 2019 16.1 Preview 3 and higher.

To use it:

1. Download or update to Visual Studio 2019 16.1 Preview 3 or higher (preview downloads are [here](https://visualstudio.microsoft.com/vs/preview/))
2. Install any workload that supports JavaScript/TypeScript
3. Visit Tools-Options-IntelliCode-General, and switch t

[2019-05-20 18:49] #27 closed

[2019-05-20 18:57] markw-t opened #97 "Control subset of code used for custom model training"
Custom models are currently trained on the entire solution of code that is open in Visual Studio.

It would be useful to be able to constrain which code was trained on.

For instance having control of which code files, namespaces, or directories containing code files would allow more accurate control using just a specific user's code.

[2019-05-20 22:45] jkeech commented on #95
When 1.1.7 is released (no date confirmed yet), there will be a new setting called `vsintellicode.modelDownloadPath` which you can use to override the folder that is used for model downloads. The default download path will remain in the extension install directory for now. Thanks for this suggestion!

[2019-05-20 22:45] #95 closed

[2019-05-22 07:55] rapgru opened #98 "[VS Code] Javascript Support in .vue files"
I wonder how I can activate IntelliCode in .vue files. You can use TypeScript or JavaScript in .vue files, so IntelliCode shouldn't have a problem language-wise.

Propably this can be achieved with the extension Vetur which also enables correct syntax highlighting for the combined CSS, JS and HTML in .vue files.

**Product and Version**: VS Code 1.34
**OS Version**: Windows
**IntelliCode Extension

[2019-05-22 10:15] CavalloneChen opened #99 "Failed to download in China"
The intellicode extensions failed to work in mainland China due to network issues. Other MS products works fine. And this is a persistent issue.

[2019-05-22 16:23] jkeech opened #100 "[VS] Python support"
**Product and Version** [VS/VSCode]: VS
**OS Version** [macOS/Windows]: all
**IntelliCode Extension Version**: all
**Target Platform or Language** [e.g. Node.js]: Python

Add support for Python in the Visual Studio version of the IntelliCode extension.

[2019-05-23 09:28] bengood362 opened #101 "Trigger parameter hints does not work for python class constructor"
**Product and Version** [VS/VSCode]: VSCode 1.33.1
**OS Version** [macOS/Windows]: macOS High Sierra 10.13.5
**IntelliCode Extension Version**: 1.1.6
**Target Platform or Language** [e.g. Node.js]: python 3.6.5

**Steps to Reproduce / Scenario:**

1. Create any classes with constructor (__init__), e.g. as below
[code]
2. Move cursor to in between the constructor of SomeClass.
3. Press CMD+shift+P

[2019-05-23 16:49] jkeech commented on #101
Does this only happen when IntelliCode is enabled? From the description, it sounds like an issue with the Python Language Server and would not be related to IntelliCode.

[2019-05-23 17:28] jkeech commented on #98
I believe Vetur handles TS/JS intellisense itself instead of calling into the TS language server that is natively in VS Code. IntelliCode for TS/JS is hooked up to the VS Code TypeScript language server as a [Language Service Plugin](https://github.com/Microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin).

If Vetur was able to call into the TS language server that was already running with

[2019-05-23 18:49] jkeech commented on #99
Can you please provide the logs that you see in the IntelliCode output window when the model download fails?

Also, can you try the troubleshooting steps at https://docs.microsoft.com/en-us/visualstudio/intellicode/intellicode-visual-studio-code#no-starred-suggestions, including making sure the network proxy support is enabled?

[2019-05-23 22:40] jose-pr opened #102 "Offline mode release"
At the moment the extensions requires an Internet Connection to download the schema.
 This doesn't work for completely offline or intranet networks/devices. Can there be an offline installation package which comes with all the schemas and can be manually downloaded? Or an easy setting in VS Code to point to a folder to look for schemas for?

[2019-05-23 23:40] jkeech commented on #102
IntelliCode does require an internet connection to acquire the model initially, but after the first download, it should work in a fully offline environment. At startup, the IntelliCode extension will always fall back to a locally cached model if one exists.

How do you normally acquire extensions and and updates today? We don't currently have any plans to support different mechanisms to download/a

[2019-05-24 02:11] bengood362 commented on #101
Oh sorry, I thought this feature was given by IntelliCode. Issues not related, closed now.

[2019-05-24 02:11] #101 closed

[2019-05-24 06:55] JensSamsonPirsol commented on #34
The silence is deafening.

[2019-05-24 09:25] kkorus commented on #32
Same here, switching to VS Code TypeScript version helped.

[2019-05-24 14:40] bdcoder2 commented on #34
Yes – too bad – In my opinion, Microsoft is missing one of the biggest opportunities in programming history…

Consider, there exists a growing list of programming languages that all use a DIFFERENT syntax for the SAME functions.  For example, loops, declaring variables, comparison operators, standard data types and objects – WHY do we need so many different syntaxes for these basic (excuse the pun

[2019-05-24 17:35] jose-pr commented on #102
There are systems which normally acquire the packaged by downloading the vsix , passing it through viru scan and then uploading it to one server on the intranet network with no access to the internet. The actual computer which uses it never touches the internet. So if the package came with them by default in case in cant access the internet it would work, as if it has internet it can get an update

[2019-05-24 17:39] jkeech commented on #102
Thanks for the details. This is not a supported scenario for now, but if there is enough user demand for true offline support, than it's something we will investigate. Thanks!

[2019-05-24 17:50] jose-pr commented on #102
Thanks for looking into it. Love VS Code but it makes it harder to use when it "doesn't work out of the box". Even VS Code tries to get schemas files when it opens for the first time which would be fine if it was only looking for updates but not missing them from the get go.
Related Issued:
 https://github.com/MicrosoftDocs/intellicode/issues/4#issuecomment-450935237 On how to do this manually and

[2019-05-27 01:54] penfree commented on #60
now 1.1.6, problem still exists on python

[2019-05-28 16:11] jkeech commented on #60
@penfree, please open a new issue with your trace attached. Thanks!

[2019-05-29 23:14] mjbvz opened #103 "Large number of `looking at node` entries in the tsserver log"
**Product and Version** VS COde
**OS Version** [macOS/Windows]: NA
**IntelliCode Extension Version**: 1.1.6
**Target Platform or Language**  TS

**Steps to Reproduce / Scenario:**

1. In VS Code, set `"typescript.tsserver.log": "normal"`
1. With intellicode enabled, open a ts file
1. Then run the `Open TS Server log` command in VS Code. Look at the opened tsserver log file

**Bug**
Notice a huge n

[2019-05-29 23:19] jkeech commented on #103
Thanks for reporting. Yes, this is coming from the IntelliCode plugin. I agree with the proposed solution. @uniqueiniquity, can you fix this?

[2019-05-31 17:26] Akumzy opened #104 "Interpreted a variable named events as DOM Event"
**Product and Version** [VSCode]:
**OS Version** [Windows]:10
**IntelliCode Extension Version**: 1.1.6
**Target Platform or Language** [e.g. Node.js]:Nodejs

**Steps to Reproduce / Scenario:**

1. Declare a variable with a name `event` data type does not matter
2. Try to access as of it's properties with dot notation
![Screenshot (4)](https://user-images.githubusercontent.com/25849232/58723220-737

[2019-05-31 17:28] #104 closed

[2019-05-31 17:28] Akumzy commented on #104
false alarm

[2019-06-04 08:21] ollyjshaw commented on #5
@vivlimmsft setting works great in combination with jedi. Thanks

[2019-06-04 11:43] iabbott commented on #102
We'd also like downloadable packages, much like the installable VSIX files... too many companies presume that everyone has direct Internet access, but there are many areas of software development that have to rely on centrally-controlled software distribution due to zero external network connectivity. In our case, every single VFX post-production house, due to MPAA security regulations has no dire

[2019-06-05 18:23] Bloodday commented on #81
@jkeech, where can i vote for this?

[2019-06-05 18:29] DanielSSilva commented on #81
Tap on the +1 on the reactions

[2019-06-05 20:21] max-wilkinson opened #105 "[VS Code] Kotlin support"
Please consider adding support for [Kotlin](https://kotlinlang.org/).

This would be an especially great quality-of-life improvement when working in projects that are mixed between Java and Kotlin.

**Product and Version**: VSCode 1.34.0
**OS Version**: macOS
**IntelliCode Extension Version**: 1.1.6
**Target Platform or Language**: Kotlin

[2019-06-05 22:37] ChristianIvicevic commented on #62
I am running into the same issue. Currently I am developing in a container using the new Remote Development features and Intellicode only works when using the TypeScript version shipped with VSCode itself, but not when setting it to `"typescript.tsdk": "node_modules/typescript/lib",` in the `.vscode/settings.json` of the workspace.

[2019-06-06 19:56] feafarot commented on #62
Is there any progress on this issue?

[2019-06-06 20:03] uniqueiniquity commented on #62
Hi all, thanks for following up on this. I will take a look at this issue as soon as I can. Thanks for your patience!

[2019-06-06 20:22] NLWaard commented on #34
+1
Why do we have to ask for this?
Please include VB.Net in intellicode !

[2019-06-07 06:52] syncush commented on #102
I would love to have an offline mode of intellicode.
In my workplace, we do not have direct internet access and every 2-3 weeks I can request packages and extensions for my IDE.
Surely you can now see why an offline mode is much needed.

[2019-06-07 08:10] basti01985 commented on #34
+1
Please support Intellicode in VB.NET

[2019-06-10 20:34] jkeech commented on #103
This has been fixed and will ship in 1.1.7.

[2019-06-10 20:34] #103 closed

[2019-06-11 12:28] nirnir93 commented on #102
Will be very useful in highly protected networks

[2019-06-11 13:00] Shaharamir commented on #102
I will be happy if offline mode can be provided.
Thanks.

[2019-06-11 13:03] orelkan commented on #102
I support this, I'd very much like an offline mode

[2019-06-11 18:45] dormesica commented on #102
I also would like an offline mode. Mu company works on a closed network and it would help up very much

[2019-06-17 15:37] santornl commented on #102
I would like an offline mode

[2019-06-19 11:45] Andreas2015 commented on #34
+1
The world is moving, I know.
One of the advantages of .NET is the diversity of languages. And I personally have a strong curly braces allergy, where VB.NET helps to restore my health after Java / JavaScript / C# jobs.

[2019-06-25 12:21] scandinave commented on #102
Me too

[2019-06-26 03:21] rbadapanda opened #106 "Extension issue took 601ms to activate"
- Issue Type: `Bug`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.7`
- OS Version: `Darwin x64 18.6.0`
- VSCode version: `1.36.0-insider`

[code]

[2019-06-26 07:09] JoniVirtanenWork commented on #102
This is definitely important feature (core feature, may I say). There are countless environments where network connectivity just isn't available.
At least there should be non-AI version, which relies only on latest loaded model.
In general making stuff network dependent makes them susceptible to privacy breaches, industrial espionage, extra costs from network operator and of course application or

[2019-06-26 15:34] markw-t commented on #102
Thanks for the comments @JoniVirtanenWork - I think there might be a small misunderstanding regarding "non-AI version", so I wanted to clarify.  IntelliCode's completions are always based on a machine learning model, and once that model is loaded it can be used. After that first download, we don't require network connection in order to provide IntelliCode completion recommendations, and there is n

[2019-06-28 00:21] pgroene commented on #106
Can you give us information on what the bug exactly is. Your timing seem to be in the range we expect in 1.1.7.

[2019-06-28 13:41] COD3BREAK3R commented on #102
Could your online dependencies be added within the same extension to work 100% Offline? I think that is not very difficult to do, right?

[2019-06-30 11:03] chrisdias opened #107 "double prompting"
The IntelliCode extension prompts me to install the Python extension when I click on a Python file. Because VS Code will already prompt to install the Python extension, now I get two prompts:

![image](https://user-images.githubusercontent.com/1487073/60395667-3a972000-9b37-11e9-8e43-b0224874f338.png)

I suggest the IntelliCode extension does not prompt to install the Python extension, so the user

[2019-07-02 00:36] markw-t commented on #107
Thanks @chrisdias - we agree. We'll work to remove the IntelliCode prompt here.

[2019-07-02 17:31] PhilParisot opened #108 "C/C++ VS Code support"
**Product and Version** [VSCode]: VS Code
**OS Version** [macOS/Windows/Linux/WSL]: macOS/Windows/Linux/WSL
**IntelliCode Extension Version**: Latest
**Target Platform or Language** [C/C++]: C/C++

Currently supported on Visual Studio but not on VS Code. Would be awesome!

[2019-07-04 17:15] SupinePandora43 commented on #108
this extension doesnt support native language, but why?!

[2019-07-05 11:00] jazzphreak opened #109 "order or non printing characters with f-string."
Issue Type: <b>Feature Request</b>

Minor issue, but VS Intellicode doesn't flag the following as an error:

print("\t\nWe're glad you could join us!")

The correct syntax is of course print("\n\tWe're glad you could join us!") with the newline character preceding the tab character. This is no way highlighted as error and the Python interperter does print it to the stdio with the new line characte

[2019-07-05 15:32] WSLUser commented on #107
The top prompt should be removed but the verbage used in the top would be better than the verbage shown in the bottom prompt.

[2019-07-05 17:24] markw-t commented on #109
hI @jazzphreak , and thanks for taking the time to raise this.

It looks like this is a problem with the Python Language Server rather than with IntellICode's starred recommendations - please could you raise the issue in their issues repo at https://github.com/Microsoft/python-language-server/issues ?

Thanks
Mark

[2019-07-05 17:24] #109 closed

[2019-07-05 17:31] jazzphreak commented on #109
Gladly I'll post it there and that makes sense since I tried the same
operation in the sublime text 3 editor and it had the exact same problem.

On Fri, Jul 5, 2019, 10:24 AM Mark Wilson-Thomas <notifications@github.com>
wrote:

[2019-07-05 17:33] markw-t commented on #109
Thanks @jazzphreak !

[2019-07-07 20:55] jazzphreak commented on #109
For traceability, noted original issues (feature request) entered here as issue #109 and logged as #1283 in their docsite.

[2019-07-08 16:17] qubitron commented on #107
@chrisdias is there ability to customize the wording for the bottom prompt? We have seen in user studies that a stronger language around why this extension is recommended (to get auto-completions, debugging, testing, linting, formatting, refactoring, etc..) would encourage more people to install it.

[2019-07-08 17:14] chrisdias commented on #107
@qubitron Can you open a new issue in the `vscode` repo with suggested changes to the wording.

[2019-07-11 22:40] jkeech commented on #107
@chrisdias, I'm working on this change now, but I'm not seeing the Python recommendation coming from VS Code. Any ideas why? I turned off the IntelliCode prompt, uninstalled Python, and opened a .py file, but now I'm not getting any prompts to install Python. This is in the extension development host, so I'm not sure if the recommendation logic is different there, but I do see at least one other r

[2019-07-11 22:48] chrisdias commented on #107
it looks like we don't prompt in the extension development host.  just build the extension, install the `.vsix` manually, and try it locally (outside of the extension development host).  it should prompt.

[2019-07-11 22:56] jkeech commented on #107
Thanks, I confirmed that worked. The IntelliCode prompt recommending Python will be removed in 1.1.8.

[2019-07-11 22:56] #107 closed

[2019-07-12 02:54] KongNan commented on #88
Me too...

![IntelliCodeX](https://user-images.githubusercontent.com/5051591/61098938-4964c780-a493-11e9-9a60-96b7602dfb7c.gif)

[2019-07-12 19:30] jkeech commented on #34
Thanks everyone for the feedback so far. I'm excited to share that we are working on adding VB support for IntelliCode in Visual Studio. Stay tuned for more details!

[2019-07-12 19:32] InteXX commented on #34
@jkeech

Wonderful! Thank you, John  :-)

[2019-07-12 22:04] bdcoder2 commented on #34
BASICally, the best news I have heard in a long time ...

Would it be possible to get the following addressed as well (to bring us back in line with C#)?
[Formatting / spacing options for Basic ...](https://developercommunity.visualstudio.com/content/problem/331415/where-are-the-formatting-spacing-options-for-vb.html)

Thanks in advance !

[2019-07-12 23:40] jkeech commented on #34
@bdcoder2, the VB formatting options are maintained by a different team separate from IntelliCode. The Developer Community problem you referenced is the right place to follow up on that issue. I see that the problem is reported as fixed on May 28, although I don't see options myself. You might want to comment on that problem if it isn't fixed for you. Thanks!

[2019-07-13 00:39] bdcoder2 commented on #34
@jkeech - Got it - thanks!! Yes - reported fixed on May 28, then my post was actually read and was changed to "under consideration"on Sep 17, 2018...

I was hoping maybe an inter-departmental memo from one team to the other might have some weight / merit !   In the interim, I'll ask the other team (again) if the formatting options can be brought up to par with C#

Cheers

[2019-07-16 10:12] zeljko-bulatovic opened #110 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.1.7`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.36.1`

[code]

[2019-07-17 04:40] baiyongrui commented on #108
Hope to add support for C/C++

[2019-07-17 16:44] jkeech commented on #110
@zeljko-bulatovic, does this happen consistently? When does this error occur? I'm not able to reproduce this issue currently.

[2019-07-18 17:08] sana-ajani opened #111 "Duplicate notifications in VS Code"
**Product and Version** [/VSCode]: 1.37.0-insiders
**OS Version** [macOS]: Mac
**IntelliCode Extension Version**: 1.1.7
**Target Platform or Language** [e.g. Node.js]:Java

**Steps to Reproduce / Scenario:**

1. Have the intellicode extension installed, not the java extension
2. Open a java file and you see virtually the same notification about installing the Java extension from VS Code and Intell

[2019-07-18 17:29] jkeech commented on #111
We've recently done the same thing for Python in #107, so this seems reasonable. Is the Java extension pack recommended in all circumstances? E.g. is there anywhere the IntelliCode extension is recommending Java today where the Java extension pack is not currently recommended?

[2019-07-22 12:54] mikesmith1611 commented on #102
This would be awesome

[2019-07-22 21:55] sana-ajani commented on #111
I think it's only in the case where they open a .java file and don't have the java extension pack installed already.

[2019-07-23 18:53] lostintangent opened #112 "[TS] Observations about the experience using the Redux library"
I was building an app using the [Redux JavaScript library](https://redux.js.org) yesterday, and I noticed a few things when accessing it's [store API](https://redux.js.org/api/store):

1. Every member of the type is suggested, which seemed a little confusing, since I've never used the `replaceReducer` function, and the docs call this out as being an uncommon/advanced API. In practice, it might be

[2019-07-23 18:55] konstantin890 commented on #81
This is so needed, it's almost essential.
I hope to see it soon.

[2019-07-24 17:26] adolfox commented on #4
I'm still having this issue.  I can get it to work by adding NODE_TLS_REJECT_UNAUTHORIZED=0 to my system environment variables, but the the Python extension throws the following error,

[code]

[2019-07-24 19:12] markw-t commented on #4
@adolfox thanks for the report. The problem you are seeing now is related to the Python LS extension; please can you report it at https://github.com/Microsoft/python-language-server/issues ?

[2019-07-25 15:02] ryaugusta opened #113 "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings. New Update 1.1.8"
Seeing this error appear after I've updated to the newest version of vscode and newest version of Visual Studio Intellicode

The output I am seeing is:
`Acquiring model 'intellisense-members' for java
Querying IntelliCode service for available models.
Couldn't reach service Error Message: <html>
<head><title>400 Bad Request</title></head>
<body bgcolor="white">
<center><h1>400 Bad Request</h1></ce

[2019-07-25 15:40] luabud commented on #4
@adolfox  I opened an issue on your behalf at https://github.com/microsoft/vscode-python/issues/6696.
Would you be able to provide more information there? The more you can provide, the easier and faster we'll be able to find out what's causing the issue :) thank you!

[2019-07-25 17:27] vivlimmsft commented on #113
I checked our service logs but don't see any requests in the last 5 days where we returned response code 400.

Could you please try to access the following url through your proxy, and let me know what happens?

[2019-07-25 17:35] ryaugusta commented on #113
Sure thing, I followed the link and it took me to a page with the following text:

`{"model":{"id":"45788CA1782FEF17F07049DB4764F5647A62","friendlyName":"Base (Java)","language":"java","analyzer":"intellisense-members"},"output":{"id":"975CC5EC71E347A9B047E779B175B7D3","modelId":"45788CA1782FEF17F07049DB4764F5647A62","targetedInputIds":[],"version":1556898495377,"status":"OutputReady","trainingRes

[2019-07-25 17:38] ryaugusta commented on #113
I also removed the HTTP_Proxy environment variable and removed the NODE_TLS_REJECT_UNAUTHORIZED=0 environment variable and the output has changed to the following:
`Acquiring model 'intellisense-members' for java
Querying IntelliCode service for available models.
Couldn't reach service Error Message: self signed certificate in certificate chain, (Error)
Could not reach the IntelliCode service. Che

[2019-07-25 17:43] vivlimmsft commented on #113
Which operating system are you using?

VSCode proxy support for extensions should be enabled by the `http.proxySupport` option, which I believe [is set to `override` by default](https://code.visualstudio.com/updates/v1_31#_network-proxy-support-for-extensions). Can you check what it's set to?

Alternatively if that's not working, you can try setting these [proxy settings](https://code.visualstudio

[2019-07-25 17:45] ryaugusta commented on #113
I'm using Windows 10. That `http.proxySupport` option is set to `override` on my side. I'll try setting those proxy settings in visual studio and see

[2019-07-26 07:02] YupegLV opened #114 "如何更改提示的代码路径？"
**Product and Version** [VS/VSCode]: 1.36.1
**OS Version** [macOS/Windows]:windows 10.0.17134
**IntelliCode Extension Version**:  1.1.8
**Target Platform or Language** [e.g. Node.js]:python

**Steps to Reproduce / Scenario:**

如图，我只想路径从`OnmyojiScripts`开始，而不是从它的上两级`Onmyoji.Onmyoji_behavior.OnmyojiScripts`开始，应该如何配置？
![image](https://user-images.githubusercontent.com/11402876/61932392-dd678080-afb5-1

[2019-07-26 07:03] YupegLV commented on #114
Product：VSCODE

[2019-07-30 06:44] CavitDraman commented on #34
+10000

[2019-07-30 08:22] jaymanligas commented on #113
Got the same issue.

[code]

also I got this response when directly opening the link above from the browser

`{"model":{"id":"45788CA1782FEF17F07049DB4764F5647A62","friendlyName":"Base (Java)","language":"java","analyzer":"intellisense-members"},"output":{"id":"975CC5EC71E347A9B047E779B175B7D3","modelId":"45788CA1782FEF17F07049DB4764F5647A62","targetedInputIds":[],"version":1556898495377,"status":

[2019-07-30 21:59] Legio1221 commented on #81
Here's to hoping that C# is added relatively soon!

[2019-07-31 06:34] goateeya commented on #113
same problem here

[2019-08-01 13:17] jimboowens commented on #113
same problem here. While I am behind an enterprise proxy as well, I left the network, restarted the machine and vscode, uninstalled and reinstalled Visual Studio Intellicode, and modified the settings.json from `"vsintellicode.modify.editor.suggestSelection": "automaticallyoverrodeDefaultValue",` to`"vsintellicode.modify.editor.suggestSelection": "enabled",`, and those all did not change the resul

[2019-08-01 13:28] ryaugusta commented on #113
It looks like the proxy is what the issue is - however I can install many other extensions just fine. I'm not sure what the fix would be for this besides getting off of the proxy and installing the plugin but still I don't think that is a viable solution for all of us. Hopefully the team is looking into a fix.

[2019-08-01 16:51] DavidObando commented on #113
Hi, the team is actively looking into solving this issue. We'll come back with an update as soon as we have one.

Thank you for the bug reports.

[2019-08-01 16:58] DavidObando commented on #114
Hi YupegLV.

The issue you're showing doesn't appear to be related to IntelliCode. You may want to ensure you're using the Microsoft python language server first. If that's the case and you see issues please refer to the [language server issues page](https://github.com/Microsoft/python-language-server/issues).

[2019-08-06 01:09] hxnan opened #115 "Couldn't reach service Error Message: unable to verify the first certificate, (Error)"
**VSCode**
**Windows10**
**Visual Studio IntelliCode 1.1.8**
**java 1.8**

**Steps to Reproduce / Scenario:**

VS IntelliCode output:
[code]

I try to set the config `"http.proxyStrictSSL": false`, but it does not work.

[2019-08-06 01:35] hxnan commented on #115
Solve by set the os environment:
HTTP_PROXY
HTTPS_PROXY
NODE_TLS_REJECT_UNAUTHORIZED 0

[2019-08-06 01:35] #115 closed

[2019-08-06 06:38] JoniVirtanenWork commented on #102
Thanks for the clarification @markw-t. I have an environment, where all data and files are copied manually from extranet machine. Can I just copy certain related files from connected machine (which has done the model downloading) over to offline machine and have working intellisense?
If manual copying works, which files should I copy?

[2019-08-07 09:24] ChristianHaefner commented on #102
Offline mode would be great!

[2019-08-09 11:18] rip747 opened #116 "Ruby support"
Is there documentation on how to add support for a language? I would like to add Ruby support.

[2019-08-10 03:37] r3gor commented on #74
Tenia el mismo problema con Python, cuando salia el aviso, hacia click a la opción de "enable it and reload window" pero esto no hacia absolutamente nada, ya que ni siquiera notaba el "reload" pues el vs code seguía tal cual solo que el aviso ya no estaba pero volvía a aparecer cada vez que abría un fichero de Python en vs code. Tratando de solucionarlo ejecuté el siguiente comando:

luego busque

[2019-08-11 22:25] DavidObando commented on #113
A few days ago we released an updated extension (version 1.1.9) to address this issue. Please make sure you take this update if you haven't yet, and do let us know if the issues persist.

[2019-08-12 15:43] gewarren commented on #74
@r3gor Since this issue is closed, can you please create a new issue with your problem? Here is the translated text:

I had the same problem with Python, when the warning came out, clicked on the option of "enable it and reload window" but this did not make absolutely anything, since I didn't even notice the "reload" because the vs code was still just like that the warning was no longer there but

[2019-08-12 17:14] kresdjan opened #117 "Stalling at "Downloading IntelliCode models""
I got no errors. But the plugin is stalling, just keep saying Downloading IntelliCode models. And Little Snitch isn't displaying any active network traffic, nor is anything blocked. And

[code]

From the VS IntelliCode Output:
[code]

**Product and Version** : 1.37.0
**OS Version**: macOS 10.14.6
**IntelliCode Extension Version**: 1.1.9
**Target Platform or Language** : Javascript

[2019-08-12 17:20] #117 closed

[2019-08-14 05:02] DavidObando commented on #114
I'll close this issue as it appears to be unrelated to IntelliCode. Please give us more comments if you'd like additional help. Thanks!

[2019-08-14 05:02] #114 closed

[2019-08-14 05:05] DavidObando commented on #116
Thank you for your interest in IntelliCode!

At this point we don't have publicly available documentation on how to add new languages to IntelliCode. We'll revisit this issue if or when we provide this documentation externally.

[2019-08-14 11:08] #116 closed

[2019-08-14 18:34] calbaker commented on #49
Setting the environment variable NODE_TLS_REJECT_UNAUTHORIZED=0 worked for me.

[2019-08-15 00:57] markw-t opened #118 "[VS Code] Argument completion recommendations for JavaScript"
**Product and Version** [VS/VSCode]:VSCode
**Target Platform or Language** [e.g. Node.js]: JS

Please provide argument completion IntelliCode for JavaScript in VS Code

[2019-08-18 11:42] prosenboim opened #119 "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings."
Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Couldn't reach service Error Message: connect ECONNREFUSED 127.0.0.1:9000, (Error)
Could not reach the IntelliCode service. Checking the local model cache.
None of the cached models match.
Couldn't download IntelliCode model. Please check your network connectivity or firewall settings. Error Messag

[2019-08-19 02:48] carpben commented on #47
After installing the extension I tested it on both .ts files and .tsx files. For me currently it works only on .ts files.

I'm aware of https://github.com/MicrosoftDocs/intellicode/issues/24 and https://github.com/MicrosoftDocs/intellicode/issues/26. According to those the extension should not currently work on .tsx, but according to this issue it should. Can you clarify?

[2019-08-20 00:06] osobeso commented on #119
Hi @prosenboim thanks a lot for your feedback.
You're right, this sounds a lot like a Proxy issue.
In order to check if your current configuration is correct, could you please provide us with some more information about your environment configuration (i.e environment variable dump) and also proxy settings on VS code, so we make sure it's not proxy related and it's actually a bug.

Thanks again and

[2019-08-20 07:34] prosenboim commented on #119
[myenv.txt](https://github.com/MicrosoftDocs/intellicode/files/3519210/myenv.txt)
[remoteenv.txt](https://github.com/MicrosoftDocs/intellicode/files/3519211/remoteenv.txt)
![Screen Shot 2019-08-20 at 10 30 56](https://user-images.githubusercontent.com/36269097/63326907-d7a35780-c335-11e9-97ba-cdc1641f1fee.png)

myenv.txt - environment on my MAC
remoteenv.txt - environment on remote machine
Also, a

[2019-08-21 18:42] osobeso commented on #119
Hi @prosenboim
Thanks a lot for the information provided.
Now that we can put aside the proxy settings, I would like to know a little more information about what steps need to be followed to replicate your current scenario.
You mention you're running remote extensions, but I'm not sure if that has to do with the issue.
I assume the VS code that is displaying the error message you provided is the o

[2019-08-21 23:10] russau opened #120 ""Sorry, something went wrong" on first launch of a Java project."
**Product and Version** [VS/VSCode]: VSCode 1.37.1
**OS Version** [macOS/Windows]: Ubuntu
**IntelliCode Extension Version**: 1.1.9
**Target Platform or Language** [e.g. Node.js]: Java

**Steps to Reproduce / Scenario:**

1.  The first launch of a java project thinks for a while then displays a "sorry something went wrong" dialog.

I see the same issue reported here: https://stackoverflow.com/quest

[2019-08-21 23:45] russau commented on #120
I've uninstalled intellicode and I still see the issue.  I think it's a problem in vscode-java. :( . Feel free to close up this issue.

[2019-08-22 07:24] prosenboim commented on #119
Hi,
First, it looks like remote extensions are part of the problem. I do not work locally on my Mac, but today I downloaded our code repo locally and opened it in VS code. After opening a python file, I seen a message in status bar about downloading model (don't remember exact message, it was quite quick). It didn't produce any errors. When working on remote machine, I still see same error.

Error

[2019-08-22 07:56] prosenboim commented on #119
Ok, today I kept playing around - it looks like problem caused by weird internet security program, recently installed by our IT. When I turn it off, problem completely disappears. Sorry for bothering you.

[2019-08-22 07:56] #119 closed

[2019-08-23 02:19] Eskibear commented on #120
Yes it should be vscode-java issue, that some of the language server's features failed to work.

Error while activating Java: {"code":-32601}.

FYI, the log reveals that, the language server was successfully started, and the java runtime was found. But it hadn't completed registering related commands, thus intellicode failed to register the completion provider. In vscode-java's output window, you

[2019-08-23 03:34] Lips7 opened #121 "Analyzing over and over again"
**Product and Version** [VS/VSCode]:1.37.0
**OS Version** [macOS/Windows]:windows Build 18965 with WSL2
**IntelliCode Extension Version**: 1.19
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1.open VSCode
2.open any python file
3.Intellicode doesn't work and analyzing in background every time I open VSCode.
4.after analyzing it works

[2019-08-23 07:20] osobeso commented on #119
@prosenboim Glad that you found a way to fix the problem.
Happy coding!

[2019-08-24 02:52] #121 closed

[2019-08-26 22:06] hegsie commented on #81
+1

[2019-08-27 11:48] willfrey opened #122 "IntelliCode not working with the Python extension's insiders builds (weekly or daily)"
The latest release of the Python extension replaced the `python.jediEnabled` option with `python.languageServer`, which causes IntelliCode to complain about `python.jediEnabled` not being set since the option no longer exists.

**Product and Version:** VSCode 1.38.0-insider
**OS Version:**: macOS 10.14.16
**IntelliCode Extension Version:**  1.1.9
**Target Platform or Language:** Python

**Steps to

[2019-08-27 14:02] ImmaB commented on #81
Is there some sort of roadmap, that we can see if and when this is planned?

[2019-08-29 13:14] willfrey commented on #122
IntelliCode is working again because the Python team reverted the change with https://github.com/microsoft/vscode-python/commit/b996f7a16e7b7821c04d94c92fbf587f80d381da.

Should I close this issue? This solves my problem for the short term.

[2019-08-30 01:01] johndpope opened #123 "Feature Request - intellisense force directed layout in context"
I know this is likely the 'wrong place' to write this up - and belongs in the vscode bucket....
but hear me out.

Feature Request
---------------

**Product and Version** [VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** any
**Steps to Reproduce / Scenario:**

1. When you type there's a square rectangle that pops down with one list of item

[2019-08-30 02:45] SamMacedo commented on #81
+1

[2019-08-30 05:02] jubinjose commented on #113
Still same issue with 1.1.9

[2019-08-31 16:56] sscde commented on #113
Same problem here!

[2019-09-03 09:23] ChubbyArse commented on #102
I too woud welcome an offline mode.

[2019-09-03 21:46] abuchholtzau commented on #122
I'll go ahead and close this! I just needed to confirm this was working for you again. Thank you for letting us know about the issue and glad we got a quick fix in for you :)

[2019-09-03 21:46] #122 closed

[2019-09-03 22:59] abuchholtzau commented on #34
We're pleased to announce that we've added VB support to IntelliCode in Visual Studio 2019 Update 3 Preview 2 (aka 16.3 Preview 2) 😀
As this is still a Preview feature for IntelliCode, you'll need to enable it by switching to Tools > Options > IntelliCode > Visual Basic base model to Enabled.

We look forward to your feedback and hope this model delights you!

[2019-09-03 22:59] #34 closed

[2019-09-04 07:39] damnedOperator opened #124 "Bug with VS Code Intellicode and Python. Again..."
**Product and Version** [VS/VSCode]: VS Code
**OS Version** [macOS/Windows]: Ubuntu
**IntelliCode Extension Version**: 1.1.9
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. start vscode
2. try to open any python file.

VS Intellicode Output:
`Acquiring model 'intellisense-members' for python
Querying IntelliCode service for available models.
Cached mo

[2019-09-04 22:46] dansiegel opened #125 "[Feature Request] Add Support for Visual Studio Mac"
Feature Request
---------------

Now that the Visual Studio for Mac IDE has updated the Text Editor and XAML Editor to use the same engines that power Visual Studio on Windows it's really time for the Intellicode team to invest some time to provide an extension for Intellicode in Visual Studio for Mac.

cc: @jmatthiesen

**Product and Version** [VS/VSCode]: VS for Mac
**OS Version** [macOS/Windows

[2019-09-06 17:49] RejectKid commented on #102
I would like this

[2019-09-06 17:49] jamesboyer commented on #102
There is no way to use Intellicode without it supporting offline for me, so I would also love this feature

[2019-09-06 20:22] samoretc commented on #124
Thanks for reporting this issue. I have a few questions about it:
- What version of VS Code are you using?
- What version of the Python extension for VSCode are you using?
- What version of python do you have installed?
- Have you ever seen IntelliCode completions for python on VSCode? Did it only break after an update of our extension or of VSCode?

[2019-09-09 09:19] damnedOperator commented on #124
Last Stable from Website

Current

3.7.4

Yes, IC completions worked for some time before breaking permanently after the last 2 updates of VS Code

[2019-09-16 15:33] AeneasZhu opened #126 "Failing to Display Parameters or Arguments of Functions from Some Packages"
![image](https://user-images.githubusercontent.com/44701446/64971370-2d8a0180-d8da-11e9-83d0-04fca4b737c1.png)

Unlike Jedi, Intellicode cannot display positonal parameters on functions of some packages like sklearn, imblearn, mxlend, etc. Can this problem be solved?

[2019-09-16 17:20] Anapo14 commented on #126
Hello! I've filed a separate issue [here ](https://github.com/microsoft/python-language-server/issues/1546)that you can track.

Note: this is an issue related to the Python Language Server not intellicode.

[2019-09-17 19:16] imankur85 opened #127 "Java Intellisense/autocomplete slow/not working"
Issue Type: <b>Bug</b>

After a brief period of working, the Java intellisense either stops working or takes a lot of time to load suggestions.

Extension version: 1.1.9
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6

[2019-09-18 01:36] Eskibear commented on #127
You can open an issue in [redhat-developer/vscode-java](https://github.com/redhat-developer/vscode-java) with the server log attached, for them to look for the root cause.

And there is [a similar issue](https://github.com/redhat-developer/vscode-java/issues/428#issuecomment-362293920) and below is the workaround, FYI

Open the command palette (F1)
select Java: Clean the Java language server works

[2019-09-22 16:11] 520Chris opened #128 "Question: which font does the screenshot used?"
The font that screenshot used is really perfect! Could tell me what it is?

[2019-09-23 20:17] markw-t commented on #128
@520Chris we are not sure what screenshot you are referring to. Can you provide a link or copy? Did you intend to raise this as an issue for IntelliCode?

[2019-09-27 10:04] testforstephen opened #129 "Java Intellisense throwing ArrayIndexOutOfBoundsException"
Original issue is created by @harjoben in https://github.com/redhat-developer/vscode-java/issues/1077

[code]

##### Environment
- Operating System: Fedora 28
- JDK version: 1.8.0
- Visual Studio Code version: 1.38.1
- Java extension version: 0.49.0

[2019-10-01 16:14] legomushroom opened #130 "Fan art"
<img src="https://user-images.githubusercontent.com/1478800/65979880-f6176b00-e42a-11e9-902f-9f3256a4c543.png" width="640" />

Thank you for the great work! Go IntelliCode!

[2019-10-01 16:19] pgroene commented on #130
Thank you for your feedback, we like that you like our work. If you have an suggestion to improve we like to hear it from you!

[2019-10-02 02:23] johndpope commented on #123
related - https://github.com/agermanidis/livepython/issues/14

[2019-10-02 12:31] imba-tjd opened #131 "Translaion issue for zh-CN in settings"
Original:

[code]

zh-CN translation:

[code]

The issue is:

In ``it is set to a value (`recentlyUsed`)``, the `it` means `editor.suggestSelection` rather than this entry itself.

But in ``其设置为...的值(`recentlyUsed`)``, the `其` means this entry.

Unfortunately I can't provide a better translation, it's too hard for me. I can only feel there is something wrong.

Anyway you translation team should re

[2019-10-05 23:02] laguz81 opened #132 "Language Support for Java"
**VSCode 1.38.1
**Windows 10 home
**IntelliCode Extension Version**:  1.1.9
**Target Platform or Language** [e.g. Node.js]: Java

**Steps to Reproduce / Scenario:**

1. After update Not found IntelliCode
2. I follow https://code.visualstudio.com/docs/java/java-tutorial and not found

[2019-10-07 18:54] markw-t commented on #132
Hi @laguz81
Can I clarify what you're seeing - do you get any kind of completions for Java at all? Or are you just not seeing any IntelliCode "stars" for Java?

Are you seeing any error messages, whether in VS Code dialogs or in the VS Code output pane, when you open .java files? You can see the output pane for VS IntelliCode if you have the extension installed, by selecting View...Output Window,

[2019-10-08 18:05] DanTup opened #133 "Support for Dart(/Flutter)"
Spawned from discussion [here](https://github.com/microsoft/vscode/issues/49437#issuecomment-539411515) about extensibility for other languages, an issue for people to 👍  to gauge interest.

[2019-10-09 17:17] Gameghostify commented on #81
## +1

[2019-10-10 07:15] 520Chris commented on #128
![image](https://user-images.githubusercontent.com/39628662/66546920-a1819780-eb70-11e9-918d-ff732b71fcda.png)
I am sorry for the late reply. The screenshot I meant is the image on the vscode marketplace.

[2019-10-10 10:24] sanket-bhalerao commented on #113
is this the same issue ?
![image](https://user-images.githubusercontent.com/9264813/66561039-494d9400-eb76-11e9-8695-a198c318deab.png)

[2019-10-10 22:03] samoretc opened #134 "VS IntelliCode Model Download fails"
Model download fails. This bug was first reported by @sanket-bhalerao [here](https://github.com/microsoft/vscode/issues/82230).

![66557061-eb697e00-eb6e-11e9-895d-c7344ef0ea19](https://user-images.githubusercontent.com/5169473/66609939-1fdd3a00-eb6f-11e9-8ca3-d9cf51aec5de.png)

Issue Type: Bug

vs intellicode download fails.
issue started appearing after upgrade to version 1.40.0 (insiders)
along

[2019-10-10 22:04] samoretc commented on #113
Hi @sanket-bhalerao , this appears to be a different issue. I've created a new issue [here ](https://github.com/MicrosoftDocs/intellicode/issues/134) to track this bug.

[2019-10-11 09:28] sanket-bhalerao commented on #134
this issue is appearing when i am connecting to remote using Microsoft remote extensions.
if this helps in tracing the issue.

[2019-10-14 02:12] Eskibear commented on #129
@harjoben  Can you provide the content of file `UtilResource.java` for us to reproduce the issue?

[2019-10-14 02:30] harjoben commented on #129
@Eskibear I'm not able to reproduce the issue anymore. Not sure if it was something that I did that fixed it.
Last when I was seeing this issue, it was only for this file in my entire workspace. I made do without using intellisense to update the code. Now when I tried again on the same file, intellisense seems to be working fine.
My environment is exactly the same as mentioned in the original issu

[2019-10-14 04:46] Eskibear commented on #129
@harjoben Thanks for the detailed feedback. For now I don't see any suspicious code in IntelliCode, it simply fetch the completion items from Java Language Server (JLS) and re-rank them. About the error, I guess something in JLS was out-of-sync. Recently we're working on stablity and performance improvement of the JLS, and we'll keep an eye on this error.

[2019-10-14 07:56] sanket-bhalerao commented on #134
observations:
1. The issue can be reproduced when used with vscode remote and insiders build.
2. The issue does not appear in stable build + vscode remote.

[2019-10-15 03:59] xahon commented on #108
+1

[2019-10-15 05:28] sanket-bhalerao commented on #134
hi,
the issue is fixed appears to be fixed with the latest vscode insiders update. I don't see any update on intellicode extension. so assuming the issue was caused by earlier updates of VSCode insiders.

Version: 1.40.0-insider (user setup)
Commit: 3d3202804b4644f58cfac014e39b77dd36a6d226
Date: 2019-10-14T21:15:27.586Z
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron

[2019-10-17 05:48] J-Sorenson commented on #102
First off, at a minimum, any extension that relies on this (Python) should state that it is not a fully-offline installer.  The network requirement is not even listed on the Python Extension documentation at the Marketplace or GitHub page.

We recently installed VS Code and  CPPTools extension on our secure network at Lockheed Space Company. Since we had the Anaconda Python distribution installed,

[2019-10-17 06:02] J-Sorenson commented on #102
There is a download link to a .visx at https://marketplace.visualstudio.com/items?itemName=VisualStudioExptTeam.vscodeintellicode, and the internal files are dated from last August.  Can that be configured and used as an offline installer, or will it not work with the Python extension?  I'd like to know prior to having the admins go through security checks (already got bit once).

[2019-10-17 13:47] hqabcxyxz opened #135 "Intellicode doesnt work on python"
**Product and Version** [VS/VSCode]:VSCode 1.39.2
**OS Version** [macOS/Windows]:Ubuntu 18.04
**IntelliCode Extension Version**: 1.1.9
**Target Platform or Language** [e.g. Node.js]: python

I have install Intellicode in VSCode and no error was report by vscode,it seems work.
but when I start coding,I found intellicode can no prompt right context!!!
for example:
[code]
It just show `lr_scheduler`!

[2019-10-17 22:51] volkoff-pro commented on #81
+1

[2019-10-21 18:40] DavidObando commented on #135
Hi hqabcxyxz,

In your description above you mentioned that you have set `"python.jediEnabled": true` but in the settings file you pasted it's set to `false`. Can you clarify if the issue you're experiencing is that you're not getting IntelliCode when you turn Jedi on?

Currently IntelliCode only works on the `Microsoft Python Language Server`, but not on Jedi.

David.

[2019-10-22 11:19] davemecha opened #136 "Support for use of IntelliCode in Theia IDE"
**Product and Version**: IntelliCode Extension
**Target Platform or Language**: Theia IDE

**Scenario:**

I'm using services like [GitPod](https://gitpod.io/) for developing. The service is based on [Theia IDE](https://theia-ide.org/) which has support of VS Code extensions. I tried to use IntelliCode on GitPod. Unfortunately the models don't get loaded and IntelliCode does not work. I found out,

[2019-10-22 23:44] Blasz commented on #32
I'm getting a similar issue, however, the logs report that the global plugin cannot be resolved locally.

`
Failed to load module '@vsintellicode/typescript-intellicode-plugin' from /Users/me/project/node_modules/node_modules: Error: Could not resolve JS module '@vsintellicode/typescript-intellicode-plugin' starting at '/Users/me/project/node_modules/node_modules'
`.

When loading from vscode's TS

[2019-10-30 17:49] #134 closed

[2019-11-04 20:45] vivlimmsft commented on #136
We do not have any plans to extend the use of IntelliCode beyond Visual Studio, Visual Studio Code, Visual Studio Online, and Azure Data Studio at this time.

[Visual Studio Online](https://online.visualstudio.com/) entered public preview today, includes IntelliCode, and can be used on any device which has a web browser; please consider trying it.

[2019-11-05 17:44] Kavignon opened #137 "Add Language support for F#"
Product and Version [VS/VSCode]: VS Code
Target Platform or Language [e.g. Node.js]: F#

Steps to Reproduce / Scenario:
Add F# support to the VS Code IntelliCode extension

[2019-11-06 12:05] jrieken opened #138 "Use defaultConfiguration instead of pop up notification"
We are trying to reduce the amount of pop-ups (read noise) users are getting on first start or when installing extensions. IntelliCode is on the radar because of this:

<img width="626" alt="Screenshot 2019-11-06 at 12 48 14" src="https://user-images.githubusercontent.com/1794099/68296298-9567f780-0094-11ea-9f50-edf23fbe0dcb.png">

I remember there has been a discussion about us changing/not chang

[2019-11-07 14:45] ehouarn-perret commented on #137
I second that, like real super freaking hard!!!

[2019-11-07 16:22] DenisTis commented on #135
I have exactly same error and also only setting "jedi enabled" and rejecting Language Server start makes it work.

[2019-11-08 18:57] markw-t opened #139 "IntelliCode refactorings should support changes in XML doc comments too"
Feature Request
---------------
It would be useful to have IntelliCode Refactorings support XML doc comments in C# files for cases where these comments follow a distinct pattern. An example use case is changing the verbiage in an XML comment field that is common across many classes/properties/methods.

Currently the refactorings only scan the code portion of a C# file, not the XML. However the C#

[2019-11-12 10:21] patrys commented on #124
Same here with 1.2.0:

[code]

Name: Python
Id: ms-python.python
Description: Linting, Debugging (multi-threaded, remote), Intellisense, code formatting, refactoring, unit tests, snippets, and more.
Version: 2019.11.47235-dev
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-python.python

Name: Visual Studio IntelliCode
Id: visualstudioexptteam.vscod

[2019-11-13 03:51] potoo0 opened #140 "intellicode sometimes not working or take a long time"
**Product and Version** [VS/VSCode]: VScode 1.40.0
**OS Version** [macOS/Windows]: win10 1903
**IntelliCode Extension Version**: 1.2.0
**Target Platform or Language** [e.g. Node.js]: Python 3.6.4

1. Intellicode sometimes not working:
![image](https://user-images.githubusercontent.com/34411681/68731257-67d9fb80-060a-11ea-875d-ad27e4f40b5c.png) *figure 1*

2. even intellicode can toggle suggest aft

[2019-11-13 12:17] #128 closed

[2019-11-13 13:38] ClodoaldoPinto commented on #113
Same problem with version 1.2.0. No problems with the other extensions.

[2019-11-13 17:36] markw-t commented on #140
@potoo0 thanks for raising this issue. It seems like you are having general issues with IntelliSense completion in Python in VS Code; IntelliCode is a supplementary feature that provides recommendations (the "stars" that raise the most likely completions to the top of the list). The right place to raise general Python IntelliSense issues when using the new Python language server (which I see from

[2019-11-13 17:36] #140 closed

[2019-11-14 11:01] kevlar2 commented on #113
I have the same issue as above. [Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.] How can I fix this.

[2019-11-14 12:28] kubarom commented on #81
+1

[2019-11-15 05:56] potoo0 commented on #140
Thanks.

[2019-11-17 10:15] bddckr opened #141 ""Acquire team models for completions" setting not found"
I cannot find the mentioned setting in my installation of Visual Studio. It's not listed in `Tools > Options > IntelliCode`:
![image](https://user-images.githubusercontent.com/294347/69006169-a4b83200-092b-11ea-800d-ee03659d0558.png)

<details><summary>Visual Studio 16.3.9</summary>

[code]
</details>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-18 19:32] pgroene commented on #141
Thank you for taking the time to report this issue. This preview feature is available from  Visual Studio 16.4 Preview 2. You can get it at the preview channel: https://visualstudio.microsoft.com/vs/preview/

We will update the documentation to make it clear. Sorry for the unconvincing.

--
Peter [MSFT]

[2019-11-19 01:04] samoretc commented on #113
@ClodoaldoPinto @kevlar2 Can you provide more details about your setup and your logs in the VSIntelliCode output window in VSCode? I think it may be a different issue.

[2019-11-19 08:23] bddckr commented on #141
No problem, thanks for clarifying!

[2019-11-19 19:01] catycaldwell opened #142 "Add a github action for team completions"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1. **[Referenced tweet](https://twitter.com/timheuer/status/1196863349377531904?s=20)**
2.

[2019-11-19 20:38] timheuer opened #143 "Change entry point to train models in VS"
While using the steps outlined https://docs.microsoft.com/en-us/visualstudio/intellicode/custom-models#repository-associated-team-models the entry point to the commands to associate/list/delete models is through View...Other Windows menu options.

These commands do not result in Other Windows, nor do we actually view anything.  The commands should be moved somewhere else and retain taxonomy of wha

[2019-11-19 20:41] timheuer opened #144 "No prompted feedback provided when executing Training commands"
**Product and Version** [VS/VSCode]: Visual Studio 16.4 Preview 5
**OS Version** [macOS/Windows]: Windows
**Target Platform or Language** [e.g. Node.js]: .NET Standard

**Steps to Reproduce / Scenario:**
Using: https://docs.microsoft.com/en-us/visualstudio/intellicode/custom-models#repository-associated-team-models

1. Go to View...Other Windows...List IntelliCode Models
EXPECT:
Something popping

[2019-11-20 00:34] catycaldwell commented on #143
Thanks for the feedback, @timheuer. We are optimizing for relatively cheap user experience since we don't anticipate many people needing to train their models often (i.e. most users will automatically acquire the model via their team's repo). Would it be more useful for us to automatically open the Output for you to track the IntelliCode training progress OR would you prefer for us to create anoth

[2019-11-20 00:36] catycaldwell commented on #143
@timheuer - my bad. This was a response to issue 144. Thanks for sharing this feedback.

[2019-11-20 00:36] catycaldwell commented on #144
Thanks for the feedback, @timheuer. We are optimizing for relatively cheap user experience since we don't anticipate many people needing to train their models often (i.e. most users will automatically acquire the model via their team's repo). Would it be more useful for us to automatically open the Output for you to track the IntelliCode training progress OR would you prefer for us to create anoth

[2019-11-20 00:47] catycaldwell opened #145 "Documentation to understand Training output"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1. Go to Other Windows to train team completions on repo
2. View output and throw hands up to decipher output

[2019-11-20 00:49] timheuer commented on #144
I would say at a minimum you need to give some user feedback.  Right now that user feedback is hidden.  Popping the output window is minbar and would have drawn my attention.  However within that is just a bunch of output with no explanation so I have to make assumptions.  Making that better is ideal.

We already have a window to potential to use (View...Other Windows...IntelliCode Model Managemen

[2019-11-20 00:50] timheuer commented on #145
Just had to comment that I love Step 2 🤣

[2019-11-20 00:51] timheuer commented on #143
Perhaps this could be just similar to #144 as I note there that I believe you already have an appropriate entry point for these three commands.

[2019-11-20 00:58] catycaldwell commented on #144
@timheuer, we are currently evaluating whether we should have this "Other Window" for model management, so this may not be a viable option.

[2019-11-20 01:01] timheuer commented on #144
@catycaldwell ah that's interesting.  If that window goes away, I would say YES, I would expect a place to see what models I've created, creating, deleting, etc. other than multiple menu commands.

[2019-11-20 01:41] vivlimmsft commented on #138
We used to use `configurationDefaults`, but the issue we encountered is that if someone wanted to override our default and force a different option, such as recentlyUsedByPrefix, they had to specify language specific overrides for *all* of the languages we support to override our defaults, i.e.:
[code]
If they didn't, our default would still take precedence over their `editor.suggestSelection` con

[2019-11-21 11:04] u33aga opened #150 "sql (server names) intellisense is not working #8528"
Issue Type: <b>Bug</b>

Instal vs code
Instal SQL Server (mssql)
Connect to sql server
intellisense dosent take names from database

VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:49:35.976Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) CPU G1820 @ 2.70GHz (2 x 2694)|
|GPU St

[2019-11-21 15:11] jrieken commented on #138
This should help: https://github.com/microsoft/vscode/issues/46851. It's planned for the not so distant future 👀 /cc @sandy081

[2019-11-21 19:18] pgroene commented on #150
Thank for taking the time to report this. The behavior you see is actual expected, the database schema is not included in the training because schema's are in general not shared. We are not yet able to give suggestions on unknown structures. For that reason you see only suggestion on keywords. If you have suggestions on how to improve we like to hear from you.

--
Peter [MSFT]

[2019-11-22 09:00] ruffson opened #151 "IntelliCode is installed automatically"
Issue Type: <b>Bug</b>

Since what feels like a few months I encounter that when opening a new instance of vscode after updating,  "Visual Studio IntelliCode" is installed by default. Although it was not installed before. This is not the case with every launch of a new instance but probably only after having installed a new vscode version.

I don't want IntelliCode (right now). Is there a way to a

[2019-11-22 20:23] markw-t commented on #151
Hi @ruffson  - It may be that you have installed an extension pack that includes IntelliCode's VS Code extension - we are part of several popular ones for Java and Python developers. You can still disable or uninstall the IntelliCode extension in your extension manager if you don't want to use it right now. I would also love to hear more about what leads to you not wanting to use it right now, esp