[2019-11-23 16:14] mirekphd commented on #102
It's not a link, but a button, and the link is hidden in source code. They go to great lengths to hide the source from this allegedly open source piece of software...

[2019-11-24 04:31] J-Sorenson commented on #102
The plugins are not necessarily required to be open-source (per the license), so that's not my concern right now.  However, I DO require an actual offline installer for this to be usable.  It sounds like my only only option is to somehow extract the files from a downloaded installation on the external network, but we don't have any Linux servers on the outside. Besides, that may raise a few eyebro

[2019-11-24 10:49] mirekphd commented on #102
At least the direct download link to any VS Code extension can be obtained even without any releases available on Github (which would be the standard installation method used in most docker builds) using VS Code _vsassets.io_ API:

PKG_PUBLISHER=VisualStudioExptTeam
PKG_NAME=vscodeintellicode
PKG_VER=1.2.0

https://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/VisualStudioExptTeam/e

[2019-11-24 11:04] mirekphd commented on #102
As a side note: you may rethink your setup, because there is no need to clear every constituent file and having cleared all be permitted to build the container. There are excellent tools for scanning entire docker containers for vulnerabilities. One of them is Clair, a long-standing open source security scanner, part of the recently open-sourced Quay. I use it with an open source client and report

[2019-11-24 11:31] mirekphd commented on #102
As for the model object being pulled from the net at first run, it turns out that there is a less hacky method than an unrestricted sandbox server outside of the corporate network (which is a must for air-gapped servers in my experience...), because both classic (desktop) VS and cloud-native VS Code (cdr/code-server) have models import tools.

After you install the vscodeintellicode extension in V

[2019-11-24 18:01] ruffson commented on #151
@markw-t Thank you for your reply and thank you for clearing this up. I will look into this!
The reason why I do not want to use this extension at this point is that I tried it before once and had a really horrible experience in terms of performance. And I am totally content with the setup I have and would rather not compromise on performance. I will give it another shot in the future but am happy

[2019-11-24 18:01] #151 closed

[2019-11-25 13:47] TiagoHA commented on #133
Google is already working on it.

https://github.com/dart-lang/sdk/wiki/Previewing-Dart-code-completions-powered-by-machine-learning

[2019-11-25 14:05] DanTup commented on #133
That work is unrelated to IntelliCode (though is trying to solve some of the same issues). That's what prompted me to ask about extensibility support here. For the Dart VS Code extension there are two parallel efforts to bring ML (one via this VS Code extension and one in the Dart language server) and it's not clear how these will best be exposed to users.

[2019-11-25 14:43] OmniZenRaj commented on #102
Thanks for the visx link. I have downloaded & will see if I can set it up
to work completely offline. The usual problem is that when an extensions is
first run (not first installed), it will attempt to download some assets it
requires. This of course cannot be done offline, so I try to get the assets
from a connected online system and copy them to a local / network folder
for offline access. This

[2019-11-25 18:53] markw-t commented on #151
Thanks for the info, @ruffson

When you do give it another shot, I would really appreciate it if you'd drop me a line and let me know how it goes mwthomas at microsoft dot com. If you see any kind of perf issues at all we definitely want to know about it - if this happens please do raise a bug report here.  Out of interest, what sort of perf issues were you seeing? Delays in typing, delays in load

[2019-12-02 10:44] JacobCallahan commented on #26
Any update on this? Is there a certain amount of positive votes needed to get this implemented?

[2019-12-03 15:09] tejassrivastava opened #154 "Intellicode Swp & ram high usage"
Intellicode plugin hog up all the Swp space as well as a memory. For each new window, 12 new instance of Intellicode appears.

This causes vscode to crash as well as hangs the system.
This can be viewed by running htop.

Attaching images below for reference :

![vscode_intellicode](https://user-images.githubusercontent.com/12116099/70062415-fb9c5780-160b-11ea-8ed7-5596b4e15d59.png)

![a](https://u

[2019-12-06 04:39] fangaofeng opened #155 "python problem:code analysis is in progress..."
Reporting a Problem
-------------------
django project :

when enter django modul or other modul, can not use code tips.
Always show :code analysis is in progress.., waiting for ten minuts and then code analysis is in progress..

**Product and Version** [VS/VSCode]: 1.40.2
**OS Version** [macOS/Windows]: win 10
**IntelliCode Extension Version**: 0.4.127.0
**Target Platform or Language** [e.g. Node

[2019-12-06 10:58] anch2150 opened #156 "Python: IntelliCode does not show arguments from super class when using **kwargs."
**Product and Version**: 1.40.2
**OS Version**: Windows
**IntelliCode Extension Version**: 1.2.0
**Target Platform or Language**: Python 3

**Steps to Reproduce / Scenario:**

[code]

[2019-12-08 13:02] morhimi commented on #124
Same here (VS Code Insiders):

[code]

[2019-12-10 10:02] chdecourcel opened #157 "Couldn't download IntelliCode model (PROXY SSL issue)"
**Product and Version** [VS/VSCode]: VSCode 1.35.1
**OS Version** [macOS/Windows]: Windows 8.1 Enterprise
**IntelliCode Extension Version**: 1.2.0
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

When Intellicode loads at VSCode startup, i get this error message :
`Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.`

[2019-12-10 18:48] vivlimmsft commented on #157
Hi chdecourcel,

To troubleshoot the first issue you are seeing, where you can't acquire the python model, please check if you can access [this url](https://prod.intellicode.vsengsaas.visualstudio.com/api/v1/model/common/python/intellisense-members/output/latest) through your proxy in Chrome.

For the second one, it looks like your network is set up to block network connections that don't go throu

[2019-12-10 18:51] vivlimmsft commented on #155
This isn't an IntelliCode issue, can you please reopen it on the python-language-server repo?
https://github.com/Microsoft/python-language-server/issues

[2019-12-10 18:51] #155 closed

[2019-12-11 12:20] chdecourcel commented on #157
Hi vivlimmsft,

thank you for your message.

To answers your first question, Yes i can get access to the first url. Response is a JSON dict:
`{"model":{"id":"88630A1B4C077752096ECAA576B92C7D3FA1","friendlyName":"Base (Python)","language":"python","analyzer":"intellisense-members"},"output":{"id":"9BA695AD4C514C32A5D0AC9B02846CD7","modelId":"88630A1B4C077752096ECAA576B92C7D3FA1","targetedInputIds":

[2019-12-23 23:05] #150 closed

[2019-12-23 23:05] catycaldwell commented on #150
Closing this issue since this has been solved.

[2019-12-24 11:10] duanyongli commented on #108
+1

[2020-01-02 00:17] rrmistry opened #158 "Add documentation for SQL support"
Azure Data Studio and T-SQL support seems to be missing in this documentation.

For example:

* https://visualstudio.microsoft.com/services/intellicode/#tab-86e19ae5d0e070d2b45
* https://docs.microsoft.com/en-us/sql/azure-data-studio/release-notes-azure-data-studio?#november-2019

Would be nice to see it consistent across documentation sources

---
#### Document Details

⚠ *Do not edit this sectio

[2020-01-03 16:19] ChrisLebbano opened #159 "Typescript intellisense is causing memory issues"
My memory usage in one of the processes by the visual studio application spikes to 12 gigs when intellisense is triggered.

[2020-01-03 17:39] markw-t commented on #159
Chris, thanks a lot for taking the time to report this issue.

We would like to confirm that the problem you are seeing is related to IntelliCode (rather than a generic issue with TypeScript IntelliSense in Visual Studio).

To confirm this please can you try doing the same things that appeared to generate the memory spike with the IntelliCode extension disabled or uninstalled, check the memory sit

[2020-01-03 18:07] ChrisLebbano commented on #159
I'm going to close this.  I was confused as to why the Visual Studio report a problem directed me here.  I am not currently using this extension.

[2020-01-03 18:07] #159 closed

[2020-01-03 18:10] markw-t commented on #159
thanks @ChrisLebbano . The IntelliCode extension is installed by default in more recent builds of Visual Studio, so it's entirely possible that you have it enabled without realizing it - if you see "stars" at the top of your IntelliSense lists for TypeScript recommending particular methods/properties when using Visual Studio, you have IntelliCode (you can also check in the extensions manager, whic

[2020-01-03 18:16] ChrisLebbano commented on #159
Thanks, so I was unaware this was installed because I didn't remember this one.
I did disable it and I will keep an eye on the memory spiking.

[2020-01-03 18:19] markw-t commented on #159
Thank you @ChrisLebbano  - I appreciate that. I'd love to hear any feedback you may have about the feature (separate to this bug), so please do drop me a line once you've had a chance to notice it more (https://aka.ms/intellicode has more info, just click on the TypeScript tab).

[2020-01-03 18:19] ChrisLebbano commented on #159
Disabling this extension and restarting VSCode did not fix the issue.  I will keep this closed.

![image](https://user-images.githubusercontent.com/18106682/71740977-ab433000-2e2b-11ea-967a-ff4898bf8995.png)

[2020-01-03 18:28] markw-t commented on #159
Thanks for this Chris. Adding @Benjamin Lichtman<mailto:Benjamin.Lichtman@microsoft.com> and @Mine Starks<mailto:Mine.Yalcinalp@microsoft.com>

I had thought that you had Visual Studio (rather than Visual Studio Code) from your original report. I’ll let Ben and Mine guide you on next steps for reporting and followup.

Thanks
Mark

From: Chris Lebbano <notifications@github.com>
Sent: Friday, Januar

[2020-01-03 18:32] ChrisLebbano commented on #159
My mistake sorry I assumed this was an area for visual stuido code only so I assumed omitting the 'code' part was alright.

[2020-01-03 18:34] markw-t commented on #159
No problem - and again thanks for the report. This is indeed our reporting location for VS Code IntelliCode problems.

[2020-01-03 18:44] minestarks commented on #159
@ChrisLebbano  For next steps, please check out this guide which details some troubleshooting steps and reporting instructions for TypeScript language service performance issues.
 https://github.com/microsoft/TypeScript/wiki/Performance#investigating-issues

Thanks!

[2020-01-03 18:51] ChrisLebbano commented on #159
@minestarks  thanks for the response.  I'm not sure these will help because that portion of the wiki seems to revolve around TSC and compiling TypeScript into JS.  The issue I am having is without any compiling or TypeScript itself doing anything really.  This issue is happening just within the VSCode application before any webpack or tsc being run.

Note also at this point, I am running VSCode wi

[2020-01-03 19:15] minestarks commented on #159
@ChrisLebbano  yeah, sorry the wiki page jumps around a bit between topics, but it still contains sections relevant to editor / language service performance. Those are what you'd want to be looking at (I searched the page for "edit" to find some relevant info)

[2020-01-03 19:21] ChrisLebbano commented on #159
Okay, thanks for the heads up.  I'll give it another study shortly.

[2020-01-05 13:54] yumasheta opened #160 "Python(parser-16) error for use of if condition in fstring"
### Environment Data

    VS Code Version: 1.41.1
    OS: Linux x64 5.4.7-arch1-1
    Python Extension version: 2019.11.50794
    Visual Studio IntelliCode version: 1.2.2
    Python version: 3.8.1

### Description of the Problem

The following line of code produces two errors:
[code]
[code]

The use of fstrings as shown above is completely correct (syntax wise).

When using the default linting of

[2020-01-07 00:10] markw-t commented on #160
This appears to be an issue with the Python language service rather than with IntelliCode.

Please can you file it at https://github.com/Microsoft/python-language-server/issues as this repo is for IntelliCode issues.

Thanks!

[2020-01-07 09:39] yumasheta commented on #160
Filed the same issue at [IntelliCode issues](https://github.com/microsoft/python-language-server/issues/1862)
Thanks for the reply.

[2020-01-07 18:27] markw-t commented on #160
Thanks. Closing this here as it's now tracked elsewhere.

Thanks for using IntelliCode!

[2020-01-07 18:27] #160 closed

[2020-01-13 06:20] LiamMorrow commented on #81
Being that it is the #1 upvoted issue by a large margin, wondering if there's been any movement on this front?

[2020-01-15 00:03] Norfeldt opened #161 "dotdotdot insert snippet bug"
**Product and Version** [VS/VSCode]: 1.41.1
**OS Version** [macOS/Windows]: macOS
**IntelliCode Extension Version**: 1.2.3
**Target Platform or Language** [e.g. Node.js]: NodeJS

**Steps to Reproduce / Scenario:**

It keeps inserting these promises methods when trying to type a spread (`...`)

![dotdotdot issue](https://user-images.githubusercontent.com/678806/72393292-bc951200-3732-11ea-83e3-f4cf

[2020-01-16 01:29] vivlimmsft commented on #161
Could you please attach a source file that we can use to reproduce this? I need the surrounding context so that I'll get the same recommendation for `.catch` that you're seeing.

[2020-01-16 11:41] NorfeldtAbtion commented on #161
[code]

Try to make a spread in the `.then`

[2020-01-17 05:29] howardchengvmg commented on #127
I am working on a project with thousands of Java classes and at first Intellisense for Java is show and sometimes it looks like it is hanged. However, I tweaked the java.jdt.ls.vmargs settings to increase the initial heap size to 1G and the speed greatly improve.

[2020-01-17 18:09] ccharp opened #162 "No intellicode "output windows" after error"
**Product and Version** [VS/VSCode]: 1.36.1
**OS Version** [macOS/Windows]: macos 10.15.2
**IntelliCode Extension Version**: 1.2.4
**Target Platform or Language** [e.g. Node.js]: java

**Steps to Reproduce / Scenario:**

1. start remote ssh session
2. see error: "Sorry, something went wrong activating IntelliCode support for Java. Please check the "Language Support for Java" and "VS IntelliCode" o

[2020-01-17 19:56] markw-t commented on #127
Hi @imankur85 - as @Eskibear noted above this is a VS Code Java problem that you should report at https://github.com/redhat-developer/vscode-java - since it's not an IntelliCode issue I'll close out this report.

Thanks for trying [IntelliCode](https://aka.ms/vsic/xtn/vscode) - if you do hit any issues with it or want to pass along feedback about it, don't hesitate to open a new issue!

Regards
Ma

[2020-01-17 19:56] #127 closed

[2020-01-17 20:03] vivlimmsft commented on #162
To show the output window, `View -> Output`
Then you can select "VS IntelliCode" and/or "Language Support for Java" from this combo box to switch to the window you want to look at.
![image](https://user-images.githubusercontent.com/27872315/72642415-2b37c280-3921-11ea-8c14-bb5ef02e354f.png)

[2020-01-17 20:05] vivlimmsft commented on #158
@catycaldwell can you please take a look?

[2020-01-17 20:21] ccharp commented on #162
I see, yes, thank you. I was letting my frustration get the best of me.

If it is useful, while I debug, here is the actually error I am seeing:
`Acquiring model 'intellisense-members' for java
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-java was passed a model: {"modelId":"45788CA1782FEF17F07049DB4764F5647A62","modelPath":"/home/ccharpen/.vscode-s

[2020-01-17 21:24] vivlimmsft commented on #162
Seems like the Java extension failed to activate, so IntelliCode wasn't able to ask it to load our plugin.

Do you see any errors in the "Language Support for Java" output window?

[2020-01-18 19:10] #162 closed

[2020-01-20 08:23] NorfeldtAbtion commented on #161
@vivlimmsft can you reproduce the same dotdotdot issue that I'm seeing?

[2020-01-23 14:47] nonameolsson commented on #47
I still experience issues with this. Is it fixed?

[2020-01-23 16:59] minestarks commented on #47
@nonameolsson The original issue reported here is fixed, so you may be hitting a slightly different problem. Are you seeing issues in .tsx files, .ts files, or both? Could you describe the steps you're following and the exact behavior you're seeing?

Please note there are two other bugs related to TypeScript - you could be hitting one of those. #32 #62

[2020-01-24 21:10] rustyx opened #163 "Quick fix to create a local variable"
This is a request to implement quick fix / refactoring shortcuts for

* Create local variable
* Create field
* Create parameter

Like it is done in **Eclipse**:

![eclipse quick fixes java](https://rustyx.org/temp/eclipse-java-create-local-variable.gif)

##### Steps To Reproduce

1. Write a small program `int x = 1;  y = x;`
2. Place the cursor at `y`, press `Ctrl`-`.`
3. It should be possible to

[2020-01-27 17:50] jmbockhorst opened #164 "Java completion items are missing"
I found a bug with Java completion items that are not showing up using intellicode. They do show up after editing the function name, but not when using the "." (See video). I did verify that if I disabled the intellicode extension, it worked properly.

**Product and Version** [VS/VSCode]: VSCode 1.42.0-insider (Commit: 5dcf2c96b6562b3aa879dbb455de4b58e17cb804)
**OS Version** [macOS/Windows]: Windo

[2020-01-29 18:26] hexiaokai commented on #164
Thank you for reporting this @jmbockhorst ! This is possibly related to a recent behavior change in the latest release of the Java language server. The change was to only return the top 50 items of all the results returned by the completion engine. The purpose of this change is to improve the responsiveness of IntelliSense but turns out IntelliCode is now ranking among  a partial list which might

[2020-01-29 19:15] jmbockhorst commented on #164
Thank you. Indeed, it works as intended when the limit is changed to 0. I made a new issue here: https://github.com/redhat-developer/vscode-java/issues/1257

[2020-01-29 20:41] uniqueiniquity commented on #56
@markw-t  I can no longer reproduce this, even with locality bonus enabled, so I'd suggest we close this issue.

[2020-01-29 23:02] markw-t commented on #56
@svipas, per @uniqueiniquity we're closing this issue out. If anyone is still able to repro this, please open a fresh issue. Thanks!

[2020-01-29 23:02] #56 closed

[2020-01-30 13:40] anatolyburakov opened #165 "Couldn't download IntelliCode model."
Issue Type: <b>Bug</b>

I get the following error when attempting to download IntelliCode models:

[code]

My proxy settings are correct, everything else is working.

Extension version: 1.2.4
VS Code version: Code - Insiders 1.42.0-insider (9e8c4c247a779cdd1f4f53db963bc6124a28ac2f, 2020-01-30T05:29:34.196Z)
OS version: Windows_NT x64 10.0.17763
Remote OS version: Linux x64 4.15.0-74-generic

[2020-02-03 17:50] osobeso commented on #165
Hi!
This seems a lot like a proxy issue, or a firewall perhaps not letting you access our servers.
Could you try it on a different network and see if the problem persists?

Thanks for the feedback!

[2020-02-04 10:04] anatolyburakov commented on #165
@osobeso as i have already stated above, my proxy settings are correct, as everything else is working. i can install the extension no problem, i can install other extensions that have non-extension dependencies (e.g. cpptools) no problem, they all work. this one doesn't - so it's something related to this particular extension's way of downloading its dependencies that's at fault here.

how do i de

[2020-02-05 01:48] osobeso commented on #165
Hi @anatolyburakov
I'm not sure if you also set your VSCode proxy settings to 'override'
If you haven't please do and try again.
You can find how to do that in this thread's [comment #4](https://github.com/MicrosoftDocs/intellicode/issues/4#issuecomment-450946911)

I'm asking because the error message seems to be the same.
That thread covers the same probem that you're facing.

There are also othe

[2020-02-05 04:47] iaso2h opened #166 "IntelliCode conflicts with Go to & Peek Features?"
There is a poped up notification that says IntelliCode python support requires you to use the Microsoft Python Language Server(preview). When I enable it and reload VS Code, I can no longer use the Go to & Peek Definition, Declaration and References function.

![screenshot_20200205_124417](https://user-images.githubusercontent.com/11383694/73811816-7d2f8200-4815-11ea-9681-0cf458c0e640.png)

I noti

[2020-02-05 10:01] anatolyburakov commented on #165
@osobeso my proxy settings are already on "override".

the "connection issue" is not very descriptive, because nothing else has these "connection issues" (well, LiveShare extension also does, and i would bet that the root cause is exactly the same), and, as i said, the proxy settings are otherwise correct. That means that whatever way you're trying to download the dependencies, it doesn't take pro

[2020-02-05 20:13] osobeso commented on #165
Thanks for the information provided.
I'm going to do some more research about it, as you mention is probably the way we're calling the services.
I'd assume you are behind corporate proxy settings, this is going to make it a little harder for me to replicate the bug, but if you have any information you could provide to me that would help me create a similar environment it would be really helpful.

[2020-02-06 10:41] anatolyburakov commented on #165
@osobeso i am indeed behind a corporate proxy. I can't offer you anything more, besides the fact that i am running on Windows 10 and using Linux as a remote. both are behind corporate SOCKS5 proxy.

one thing of note here is that technically HTTP and HTTPS proxies are different (they connect to different ports). however, i've tried changing those to be the same, and it had no effect, so it's most

[2020-02-07 01:13] vivlimmsft commented on #166
The `"python.jediEnabled": false"` setting controls whether you are using the Microsoft Python Language Server. IntelliCode itself has no impact on Go to & Peek.

It looks like a similar issue was reported almost a year ago in the vscode-python repo: https://github.com/microsoft/vscode-python/issues/5033. That issue was fixed in an update to the language server.
I didn't see any more recent report

[2020-02-07 02:13] vivlimmsft commented on #165
Do you have the `http.proxy` or `https.proxy` VSCode settings configured?
I looked at a similar issue a year ago (https://github.com/MicrosoftDocs/intellicode/issues/93#issuecomment-490389843) where it seemed that VSCode was sending the wrong proxy settings to the remote. (https://github.com/microsoft/vscode-remote-release/issues/213)

[2020-02-07 10:18] anatolyburakov commented on #165
@vivlimmsft yes, i do have both set, and env variables as well. they are all set to the same value, as proxy is the same on local and remote system. i also tried fiddling with proxy settings on host and guest, to no avail.

i've just tried explicitly setting a proxy on guest machine (clearing all settings in advance), and it didn't have any effect. however, even absent of proxy settings in VSCode,

[2020-02-10 10:37] gopinath-ts opened #167 "not working"
Issue Type: <b>Bug</b>

not sure the reason behind unexpected failure

Extension version: 1.2.4
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2020-02-13 15:25] pidgeon777 commented on #108
Also interested in C/C++.

[2020-02-13 15:25] pidgeon777 commented on #81
Also interested.

[2020-02-13 19:52] justisGipson opened #168 "TypeScript and JavaScript language feature fails"
Issue Type: <b>Bug</b>

Extension constantly fails after latest VSC update

Error: The TypeScript language service died unexpectedly 5 times in the last 5 Minutes.

I know the error isn't related to Visual Studio Intellicode, but there's no option for the failing extension to be selected.

Extension version: 1.2.5
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T1

[2020-02-13 19:58] #168 closed

[2020-02-13 21:33] uniqueiniquity commented on #168
Hi @justisGipson, did you mean to close this issue?

If not, could you send repro steps for the issue? I'm not able to repro with the same VS Code and extension versions.

[2020-02-13 21:37] justisGipson commented on #168
I did. The issue wasn't with the intellicode extension. Thanks.

[2020-02-14 11:36] tiagofernandez commented on #135
Having `"python.jediEnabled": true` is the only way to make features like go to a function's definition (F12) work for me – which brings up the dialog below every time I open a workspace.

![image](https://user-images.githubusercontent.com/44786/74527548-03258a00-4ef4-11ea-9eb8-0395a2bd9a02.png)

[2020-02-14 13:00] pidgeon777 commented on #136
I'm also interested in Theia IDE compatibility.

[2020-02-14 18:31] vivlimmsft commented on #167
Hi, can you please add more information and/or screenshots about what failure you're seeing?

[2020-02-18 06:28] crystalfp opened #169 "No more suggestions after some update"
Issue Type: <b>Bug</b>

After upgrading VSCode and/or extensions (I don't remember) I have no more starred suggestions in Typescript source files.
To reproduce: type `console.` and in the autocompletition list there are no starred items and `log` is down in the list where usually is.
I'm using typescript from VSC.
Thanks for looking!
mario

Extension version: 1.2.5
VS Code version: Code 1.42.1 (c4

[2020-02-18 17:43] uniqueiniquity commented on #169
Thanks for reporting the issue! I'm not able to naively reproduce with VS Code 1.42.1 and IntelliCode 1.2.5 on Windows. Could you please repro the issue, select "TypeScript: Open TS Server log" from the command palette, and attach the resulting file here?

[2020-02-19 08:46] crystalfp commented on #169
Solved.

The problem was that clicking on the typescript version shows no version selected and (see below) the version in use is from my project node_modules (also at version 2.7.5). When I selected "Use VS' code version 2.7.5" the stars reappear!

Typescript log output:
[code]
I think a note should be added in the extension's documentation stating that it works only with VSCode provided typescrip

[2020-02-19 08:46] #169 closed

[2020-02-21 09:31] beckermarc opened #170 "IntelliCode breaks code completion for JavaDoc on methods"
IntelliCode breaks code completion for JavaDoc on methods.
It looks like it is a regression of an already fixed bug https://github.com/MicrosoftDocs/intellicode/issues/72

After disabling IntelliCode in my workspace code completion of such comments work as expected.

How to reproduce:
Create a java file with
[code]

Versions used:
visualstudioexptteam.vscodeintellicode: 1.2.5
redhat.java: 0,57,0

[2020-02-23 13:27] jayBana opened #171 "Option to download the model locally and transfer it to the remote instance running VS Code on a host without Internet access over the SSH connection"
**Feature Request for VS Code**

It would be great if there was an option to download the model locally and transfer it to the remote instance running VS Code on a host without Internet access over the SSH connection.

Something similar to the `remote.SSH.allowLocalServerDownload` or the `remote.downloadExtensionsLocally` options that are available in the [vscode-remote extension](https://github.c

[2020-02-24 02:16] Eskibear commented on #170
<img width="448" alt="Screen Shot 2020-02-24 at 10 05 58 AM" src="https://user-images.githubusercontent.com/2351748/75124926-57e3b480-56ed-11ea-9edf-aca27380e526.png">

I cannot reproduce it. Could you follow [this guide](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) to check the log, and attach the respon

[2020-02-24 09:14] beckermarc commented on #170
Sorry, I was wrong. It is actually working. I was just pressing enter to fast, before the suggestion for the completion showed up. Maybe enabling IntelliCode affects the performance of such code suggestions and that's why it "worked" after disabling IntelliCode.

[2020-02-24 09:14] #170 closed

[2020-02-26 13:43] marti32997 commented on #108
Given they specifically added it first in visual studio which is a c++ ide, I would also love to get this, as i can't otherwise get a vs ide, since i'm running linux only

[2020-02-27 17:49] savannahostrowski commented on #135
Hi hqabcxyxz,

Thanks for your feedback. This is a problem with the Python Language Server. There is an open issue to fix this [here](https://github.com/microsoft/python-language-server/issues/840).

In this open issue, there is also [some information](https://github.com/microsoft/python-language-server/issues/840#issuecomment-591677398) around how you might be able to work around the bug in the m

[2020-02-27 18:16] markw-t commented on #135
Hi @hqabcxyxz

Given @savannahostrowski 's comment above, this is already being tracked by a Python Language Server bug, so I'm closing this item.

Thanks for raising this issue and for trying IntelliCode - let us know if you see other issues or have suggestions for us to improve the product!

Mark

[2020-02-27 18:16] #135 closed

[2020-02-29 04:13] alkaideemo opened #172 "Can't find cached model in the offline mode"
Issue Type: <b>Bug</b>

*My vscode and extensions work well with the Internet. But if I cut off my Internet, I got the error message:*
Couldn't reach service Error Message: connect ECONNREFUSED 127.0.0.1:1080, (Error)
Could not reach the IntelliCode service. Checking the local model cache.
None of the cached models match.

*I checked the cached models, it has been downloaded in my computer.*

Exte

[2020-02-29 06:13] adamvscele opened #173 "intellicode does not working on anonymous class method (Java)"
![image](https://user-images.githubusercontent.com/6405610/75602112-198b3280-5afd-11ea-9e33-93ac4fbb48a1.png)
when I select “initialValue” method,Intellicode generates these:
![image](https://user-images.githubusercontent.com/6405610/75602154-8dc5d600-5afd-11ea-944f-9a108f672ea2.png)
Oh！MyGod，what's Wrong?

[2020-02-29 12:28] Eskibear commented on #173
I can reproduce it, but it's not an IntelliCode issue. After disabling IntelliCode, it's the same.

[2020-02-29 13:58] adamvscele commented on #173
It's may be VSCode's problem ? Can you solve the problem，It's so  inconvenient

[2020-02-29 14:43] Eskibear commented on #173
I've created an issue in the correct place, you can track it there.

[2020-03-01 03:43] adamvscele commented on #173
Okay，Thank you

[2020-03-05 11:57] jrieken opened #174 "CompletionItemProvider#resolveCompletionItem must not change insert behaviour"
👋 VS Code Dev here

The VS Code [telemetry](https://github.com/microsoft/vscode/blob/c2a604a18c5d3696f62267feadfb1d7583bcbccd/src/vs/workbench/api/common/extHostLanguageFeatures.ts#L890-L914) shows that this extension changes the insert behaviour of a completion item during resolve.

This is bad and [discouraged](https://github.com/microsoft/vscode/blob/1bbce1ce03d60c81d1247edfdf502d1aefe456db/src

[2020-03-05 18:21] trotsky1997 opened #175 "not working in VSCODE /win10 64bit/python ，IntelliCode deep Learning model enabled"
in VSCODE /win10 64bit/python ，IntelliCode deep Learning model enabled and disabled：

the python language server report:

[Error - 上午2:01:11] Exception in IntelliCode extension for Microsoft Python Language Server: System.IO.InvalidDataException: End of Central Directory record could not be found.
   at System.IO.Compression.ZipArchive.ReadEndOfCentralDirectory()
   at System.IO.Compression.ZipArc

[2020-03-07 00:36] osobeso commented on #175
Hi @trotsky1997
It seems something went wrong with the downloaded model, as it might be corrupted.
Could you please provide us with your VS IntelliCode models cache folder so we can inspect further?

This is located in the following path:
%USERPROFILE%\.vscode\extensions\visualstudioexptteam.vscodeintellicode-1.2.5\cache

Current version is 1.2.5 but this can change for you, so please just send us

[2020-03-07 13:53] zavierxu commented on #131
Try this:
若将`editor.suggestSelection`的值设置为`recentlyUsed`，将无法在代码补全中显示IntelliCode的补全建议

[2020-03-07 20:55] #173 closed

[2020-03-08 04:24] Eskibear commented on #164
@jmbockhorst IntelliCode 1.2.6 has been released with the fix.

[2020-03-08 22:47] jmbockhorst commented on #164
Verified that the update fixes this.

[2020-03-08 22:47] #164 closed

[2020-03-09 13:40] frostime commented on #175
I met with the same problem. I check the path %USERPROFILE%\.vscode\extensions\visualstudioexptteam.vscodeintellicode-1.2.5\cache，and got some files under the directory:
[code]
I open the `model.json`, and check the content:
[code]
Although everything looks just ok,  I stilll got the `System.IO.InvalidDataException` once I type something in the editor, and the Intellisense dosn't work as well as I

[2020-03-09 13:47] osobeso commented on #175
@frostime Hi, thanks for the information provided.
The size of the python model seems odd, as it should be around 30 MB, yours seems to be around 18, so my best guess it's that it probably had an issue while downloading.

Could you try deleting it and re-opening VSCode to download it again?
File name should be '15708AE89896CA5DF1690433B7A8D93D28B7_215F8B4FAB1F4663ABD624559FD205B9'
Regards!

[2020-03-11 13:22] skenoy opened #176 "为什么下载microsoft python language server特别慢？"
为什么下载microsoft python language server特别慢？用的100M带宽，必须要科学上网吗？？？？？？？？？？？？？？？？

Extension version: 1.2.6
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>flas

[2020-03-11 13:51] ccarv opened #177 "Support for complete offline mode"
**Product and Version**: 1.41.0
**OS Version**: macOS
**IntelliCode Extension Version**: 1.2.6
**Target Platform or Language**: Java

**Steps to Reproduce / Scenario:**

1. Navigate to `.vscode/extensions/visualstudioexptteam.vscodeintellicode-1.2.6/`
2. Locate model

One of my contracts computer is completely offline. I do not have means of downloading extensions directly via the Marketplace. I h

[2020-03-11 16:49] markw-t commented on #176
Hi @skenoy

this seems to be a question regarding download performance of the Python language server - please can you refer the issue to https://github.com/Microsoft/python-language-server/issues ?

Thanks
Mark Wilson-Thomas
Program Manager, Visual Studio IntelliCode

[2020-03-11 16:49] #176 closed

[2020-03-12 02:16] dafengz commented on #175
@osobeso
Dear sir, is it possible to downloading the python model file manually? Every time when I open vscode,  the status-bar at the bottom would display “Downloading Intellicode models: Downloading Intellicode models”. But it never succeed.

![Status-bar shoot](https://user-images.githubusercontent.com/58198611/76480604-2dfaf380-644a-11ea-8eda-371b1be78bec.png)

![model folder shoot](https://us

[2020-03-12 16:04] 0wenwu commented on #49
Is the environment vairable set in OS or just in vscode?

[2020-03-13 15:59] mchugh19 commented on #165
I had this issue when running on a Windows desktop. Our proxy setup is configured with the login session's kerberos ticket, but I was used to entering my proxy settings manually from linux. Even though my proxy credentials were correct, I saw this error. Clearing out the proxy setting in vscode, allowed it to use the host proxy, and it was able to download.

[2020-03-13 16:01] anatolyburakov commented on #165
We don't have auth on our proxy.

[2020-03-14 08:24] trotsky1997 commented on #175
I find the ultimate method to figure that ,Because of the interrupt in model‘s downloading，the model file was corrupt，So the python language server report a failure when it unzip the model file (ZipArchive).
Now it's the method to figure that,just delete all the files in the cache folder
[C:\Users\\ **your username** \\.vscode\extensions\christian-kohler.path-intellisense-1.4.2/cache/ ]
,than relo

[2020-03-14 08:25] trotsky1997 commented on #175
The model.json should also be deleted.

[2020-03-14 10:32] trotsky1997 commented on #177
Copy your cache/model.json to your new computer.

[2020-03-15 09:39] dsyer commented on #113
For me the problem was not a proxy it was a read-only directory where the extension is installed and is trying to create a cache. You can fix that by setting "vsintellicode.modelDownloadPath" explicitly to a writable directory in settings.json.

[2020-03-19 07:19] patrick984 commented on #172
I have the exact same issue.

Extension Version 1.2.6
VS Code version: 1.43.1
OS Version: Windows_NT x64 10.0.18363

[2020-03-22 15:30] xbprm opened #178 "In the VSCode November 2018 update (1.30) an [experimental setting for enabling network proxy support](https://code.visualstudio.com/updates/v1_30#_network-proxy-support-for-extensions) was added, please try that and see if it helps."
In the VSCode November 2018 update (1.30) an [experimental setting for enabling network proxy support](https://code.visualstudio.com/updates/v1_30#_network-proxy-support-for-extensions) was added, please try that and see if it helps.

If not, I've written some updated steps for manually downloading IntelliCode model blobs. We changed the service API & storage schema when we released version `1.1.0

[2020-03-22 15:30] xbprm commented on #178
Could not reach the IntelliCode service. Checking the local model cache.
None of the cached models match.
Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.
No model available for Java, cannot continue.

[2020-03-25 20:48] catycaldwell opened #179 "Support VB with EditorConfig Inference"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]: Windows
**IntelliCode Extension Version**:  16.6 Preview Visual Studio
**Target Platform or Language** [e.g. Node.js]: Visual Basic (.NET)

**Steps to Reproduce / Scenario:**

1. Create new VB Windows Forms ( .NET Framework)
2. Right-click -> Add => New EditorConfig (IntelliCode)

Expected: Something useful fro VB
Actual: Empty e

[2020-03-31 04:50] babul7154 opened #180 "Intellicode not showing suggestion"
**Product and Version** [VS/VSCode]:1.43.2
**OS Version** [macOS/Windows]:window 10 x64(1909)
**IntelliCode Extension Version**: 1.2.6
**Target Platform or Language** [e.g. Node.js]:Python 3.7.3 64 bit

**Steps to Reproduce / Scenario:**

1.import numpy as np
2.x=x = np.array([1, 2, 3])
please goto to this link for more info
https://github.com/microsoft/python-language-server/issues/1976

[2020-03-31 15:32] catycaldwell commented on #180
Hi @babul7154, thank you for providing this feedback. I'm one of the Program Managers on IntelliCode and currently investigating your issue. Could you let me know which Python Language Server is active?

You can find the active Python Language Server by heading to **Settings** (the gear in bottom left of Visual Studio Code).

![image](https://user-images.githubusercontent.com/908768/78044795-fcc76

[2020-04-01 03:46] babul7154 commented on #180
I am using Microsoft Python language server.
![language server](https://user-images.githubusercontent.com/46845524/78097263-78dcab00-73f9-11ea-94a8-6b5709f8661a.PNG)
![python](https://user-images.githubusercontent.com/46845524/78097267-7b3f0500-73f9-11ea-99dc-08917b6ec587.PNG)

[2020-04-01 11:05] PeSoski opened #181 "No suggestion for method returning 'self'"
**Product and Version** : VSCode 1.43.2
**OS Version**: Windows
**IntelliCode Extension Version**:  1.2.6
**Target Platform or Language**: Python

Hi, i have simple class:
[code]

example:
`simpleA().` -> suggestion: method1/method2
`simpleA().method1().` -> no suggestions ;(

Is there chance to show suggestionst for methods returning `self`?

[2020-04-01 20:21] rafaelrenanpacheco opened #182 "Unable to suggest field name in the presence of annotation and compilation errors"
**Product and Version**: VSCode 1.43.2
**OS Version**: Linux x64 5.4.28-1-MANJARO
**IntelliCode Extension Version**: 1.2.6
**Target Platform or Language**: Java

**Steps to Reproduce / Scenario:**

1. Create a class with a method and with an annotation on it. Do some syntax typo on that method.
2. Add a new field on the class and wait for the field name suggestion.
3. IntelliCode will not be able

[2020-04-02 16:48] rafaelrenanpacheco opened #183 "Add "Generate constructor" option in "Show Fixes" options for fields"
**Product and Version**: VSCode 1.43.2
**OS Version**: Linux x64 5.4.28-1-MANJARO
**IntelliCode Extension Version**: 1.2.6
**Target Platform or Language**: Java

In IntelliJ is possible to generate a constructor from fields very easily. This enhances productivity because in Spring Boot projects there''s a lot of dependency injection through constructor. So usually we declare our dependencies as fi

[2020-04-02 17:07] rafaelrenanpacheco commented on #183
Sorry, wrong repo, should have posted at **redhat-developer/vscode-java**.

[2020-04-02 17:07] #183 closed

[2020-04-03 00:22] Eskibear commented on #182
By disabling IntelliCode, I can still reproduce the issue. Suppose to be a bug in upstream project https://github.com/redhat-developer/vscode-java

Could you help open an issue there?

[2020-04-03 03:15] rafaelrenanpacheco commented on #182
Hello @Eskibear!

Indeed this problem is not related to IntelliCode, I disabled the extension as well and the problem continues. I'll report this issue on vscode-java repo.

Thanks!

[2020-04-03 03:15] #182 closed

[2020-04-06 16:52] catycaldwell commented on #142
Done. :)

[2020-04-06 17:05] timheuer commented on #142
Nice!  Reference to doc? @catycaldwell

[2020-04-08 17:47] zhaoshouren commented on #102
the lack of a full offline install, will prevent many government entities, such as federal agencies, from adopting use of this plugin.

[2020-04-10 17:24] vivlimmsft commented on #178
Hi, why did you open a new issue?
Are you encountering the error message from your second post?

[2020-04-11 12:37] xbprm commented on #178
Yes. I followed the instrutions but the error persists

[2020-04-13 00:55] Kri-Ol commented on #137
Would be nice!

[2020-04-15 10:56] snuup commented on #151
It is impossible to use Visual Studio for anything without being forced to install Intellicode. *Please* make it possible to not use Intellicode, not being forced to install it, not reenabling it all the time after users disabled it. If I uninstall Intellicode asp.net or desktop development tools are all wiped out as well.

Thank you

[2020-04-15 17:10] bergano65 opened #184 "inconsistent command emphasizing"
[Enter feedback here]

Open the IntelliCode page by choosing View > Other Windows > IntelliCode Model Management.

Team completions is a preview feature for C# and is disabled by default. It can be enabled through Tools > Options > IntelliCode > C# team models for completions.

 command chains should be bold as remaining article are

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-04-15 18:45] markw-t commented on #184
Tagging @catycaldwell who now owns IntelliCode completions (inc model management)

[2020-04-16 06:11] XCMer commented on #181
It does seem to work for me. Do you have both IntelliCode and the Python extensions installed and enabled?

[2020-04-16 09:20] PeSoski commented on #181
![image](https://user-images.githubusercontent.com/14888147/79438487-dcf39780-7fd3-11ea-80c9-36d27f716b38.png)

hmm ...
can you check it inside class :P

[code]

[2020-04-16 10:55] snuup opened #185 "Make Intellicode optional and easy to opt out"
Installing Visual Studio more or less forces installing Intellicode. There is no reason to bundle intellicode that strong. Please make it optional and easy to opt out.

Thank you for providing VS community edition for free.

[2020-04-17 17:49] HarryDC opened #186 "Out of date reference to IntelliCode Model Management"
This page seems to be out of date, at the least the option "You can also share your model by going to View &gt; Other Windows &gt; IntelliCode Model Management," is not available in visual studio anymore VS Community Edition 16.5.4

Had to re-read ... it's hard to parse that Model Management is only available when User Models are enabled which is only available for C# maybe mentioning that again m

[2020-04-21 00:31] sergeos opened #187 "When python.jediEnabled=false an error occurs unresolved import 'config'"
Hi,
Maybe someone solve a problem, when in a language preferences value
_python.jediEnabled=false_, then there is an error **unresolved import 'config'**?
![изображение](https://user-images.githubusercontent.com/7515761/79810471-d1112800-837b-11ea-90dd-86543ded528d.png)
but, if i'm commented this line, all OK.
![изображение](https://user-images.githubusercontent.com/7515761/79812033-55fe4080-8380-

[2020-04-21 04:54] 2234839 commented on #4
Recently, I have been reporting an error in vscode 'Couldn't download IntelliCode model. Please check your network connectivity or firewall Settings

Later, I opened the output of vscode and took a closer look because vscode did not have permission to open a model.json file. So use the administrator to open the vscode is ok

[2020-04-21 19:32] vivlimmsft commented on #4
Try deleting your `%userprofile%\.vscode\extensions\visualstudioexptteam.vscodeintellicode-*\cache` folder and try again as your regular user.

My guess is that the first time you ran VSCode with IntelliCode installed, VSCode was running as administrator, causing the IntelliCode cache to be created with admin permissions that your user cannot modify.

If that doesn't help, please open a new issue

[2020-04-22 17:02] adilcpm opened #188 "Intellicode Throwing System.IO.InvalidDataException [Python]"
**Product and Version** [VS/VSCode]:
**OS Version** [ArchLinux]:
**IntelliCode Extension Version**: 1.2.6
**Target Platform or Language** [Python]:
**Python Version** : 3.8.2
**Microsoft Python Language Server** : 0.5.45.0

**Scenario**
Enabling the IntelliCode extension and invoking it on any python file, causes this error ( I can't possibly use it)
Its Raises an System.IO.InvalidDataException: E

[2020-04-23 03:13] hefayed opened #189 "autocomplete for variables and functions inside console.log()"
Hi,

I have a simple question which I couldn't find an answer for , with javascript , Intellisense works perfectly, however I can't seem to find a reason why autocomplete for variables and functions inside console.log() sometimes it works and sometime it doesnt and I dont know why.

Any idea or a pointer to a setting to make it work will be appreciated ?

Regards,
Hesham

[2020-04-23 09:27] anatolyburakov commented on #165
Any movement expected on this?

[2020-04-23 15:52] hefayed commented on #189
Hi,

My settings.json is below

{
  "editor.cursorStyle": "block",
    "editor.wordWrap": "wordWrapColumn",
    "liveServer.settings.CustomBrowser": "chrome",
    "liveServer.settings.donotShowInfoMsg": true,
    "code-runner.runInTerminal": true,
    "window.zoomLevel": 1,
    "editor.fontFamily": "Menlo, Monaco, 'Courier New', monospace",
    "terminal.integrated.fontFamily": "'Hack Nerd Font'",

[2020-04-23 19:48] uniqueiniquity commented on #189
Hi Hesham,

Thank you for reporting this issue!
Could you please provide steps for what you are trying and what you expect to happen?

Thanks!

[2020-04-23 21:23] hefayed commented on #189
Hi,

Thank you for reaching out , autocomplete works everywhere except in side a console.log see screen shot

![Screen Shot 2020-04-23 at 2 19 35 PM](https://user-images.githubusercontent.com/13040034/80150822-e8176c00-856d-11ea-95a3-716c0caca214.png)

![Screen Shot 2020-04-23 at 2 20 10 PM](https://user-images.githubusercontent.com/13040034/80150842-f2d20100-856d-11ea-84b7-9b99fb24922a.png)

Rega

[2020-04-23 21:35] uniqueiniquity commented on #189
Thank you for the screenshots!
I recommend filing this issue on https://github.com/microsoft/vscode - they will be able to help more with this particular issue.

[2020-04-23 22:28] hefayed commented on #189
The below change fix the problem.

"editor.suggest.snippetsPreventQuickSuggestions": false,

[2020-04-23 22:31] #189 closed

[2020-04-24 22:39] fMichaleczek commented on #30
+1

[2020-04-25 19:00] ravidsinghbiz commented on #30
+1

[2020-04-28 02:42] fsrmlgd opened #190 "library functions auto completion"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.Some library functions auto completion is absent in the recommened list

[2020-04-28 21:16] jontat62 commented on #113
Yes, for me it looked like a proxy issue, but in reality it was a file permission issue.  When I tried launching vscode as admin, the error disappeared, so I made the change suggested by @dsyer, and now the error is gone from user mode. Thanks!

[2020-04-29 11:25] luigli commented on #113
My log:
Acquiring model 'intellisense-members' for java
Querying IntelliCode service for available models.
Couldn't reach service Error Message: tunneling socket could not be established, statusCode=407, (Error)
Could not reach the IntelliCode service. Checking the local model cache.
None of the cached models match.
Couldn't download IntelliCode model. Please check your network connectivity or fir

[2020-04-29 15:49] psycoxer opened #191 "Intellicode not showing starred suggestions"
I am trying to get vs intellicode up and running for python and there were no errors in installation.
However, I am not seeing any starred suggestions.
I did some research and found that ReSharper may cause the problem but I dont have resharper installed.
but when i checked the output of the python language server output, it read the following:

```Current invocation parsing returned null, abortin

[2020-05-04 13:44] osobeso commented on #191
Hi @psycoxer
Thanks for the feedback.
If you're using the VSCode extension, it might mean that the IntelliCode model is not finding any possible suggestions for your current code context.
If you're using python, this usually happens when you're trying to get completions out of an empty file.
Because of the nature of the model, the file needs to have at least one line of text (usually the import li

[2020-05-09 09:46] nicolassaleron opened #192 "[VSCode] Microsoft AL Language support"
Feature Request
---------------

Please consider adding the support for [Microsoft AL Language](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-programming-in-al).

**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows + macOS
**IntelliCode Extension Version**: for a future releases?
**Target Platform or Language** [e.g. Node.j

[2020-05-11 05:58] psycoxer commented on #191
tried all the fixes, unfortunately none of them work

[2020-05-11 17:42] osobeso commented on #191
Hi @psycoxer
Then this probably means you're having trouble with the python extension or the python language server.
I'd recommend re-installing them, if you're not getting any IntelliCode completions.
Hopefully that will fix this issue for you.

[2020-05-11 19:21] MikhailArkhipov commented on #191
@psycoxer - can you try simple
[code]
and see if you get stars?

[2020-05-13 08:08] wickedjargon opened #193 "IntelliCode causes two linters to be used in Python 3.8.2 on Linux"
**Product and Version** [VS/VSCode]: 1.45.0
**OS Version** [macOS/Windows]: Xubuntu 20.04 LTS
**IntelliCode Extension Version**: 1.2.7
**Target Platform or Language**: Python 3.8.2

**Steps to Reproduce / Scenario:**

1. Install VS Code
2. Install IntelliCode Extension
3. Install Python Extension and set your linter to Pylint (installation of pylint required)
3. IntelliCode extension will automati

[2020-05-14 17:32] psycoxer commented on #191
@MikhailArkhipov
nope, no stars

@osobeso
tried reinstalling python ext.
no luck

[2020-05-14 20:49] MikhailArkhipov commented on #191
So let's clarify the setup.

1. VS Code (you mentioned `ReSharper`, but that's `Visual Studio`, so making sure).
2. Python extension
3. Intellicode extension
4. Settings:
    - `"python.jediEnabled": false`
    - `"python.languageServer": "Microsoft"`

[2020-05-15 17:24] wsheemsft opened #194 "Typos in a couple menu options"
1. Using VS 2019 16.5.5, "Create a model by going to View &gt; Other Windows &gt; Train IntelliCode model on this repository" should be "Create a model by going to View &gt; Other Windows &gt; IntelliCode Model Management"

2. "Enable the following settings in Tools &gt; Option &gt; IntelliCode" should be "Enable the following settings in Tools &gt; Options &gt; IntelliCode" (options is plural)

-

[2020-05-15 17:52] psycoxer commented on #191
@MikhailArkhipov thanks for responding,
1. yes, I am using VS Code
2. yes, I have python extension installed (reinstalled twice)
3. yes, I have intellicode extension installed (reinstalled twice)
4. a)Yes, it is set to false
    b)Yes, it is set to microsoft(default)

[2020-05-16 22:28] MikhailArkhipov commented on #191
If you switch output window to `VS IntelliCode`, what is the output there.

[2020-05-19 11:08] wlgrd commented on #167
Maybe this #5054? I keep struggling with that one

[2020-05-19 11:09] wlgrd commented on #167
Maybe this https://github.com/microsoft/vscode-python/issues/5054 ? I keep battling with this one

[2020-05-19 19:35] savannahostrowski commented on #193
Hey @wickedjargon!

Thanks for the feedback.

By using `python.jediEnabled: false`, you are using the Microsoft Python Language Server as your choice language server. This language server is the responsible for producing the warning level diagnostic on the `test` variable ('Python'). With pylint also being used here, it is expected that duplicate problems could be surfaced. Both of these tools pro

[2020-05-19 19:44] wickedjargon commented on #193
I see what you're saying now. The default behavior is for VS Code to recommend to use pylint and also (once this extension is installed) to use the Microsoft Language Server as a linter.

Something should be done to avoid this, like add Microsoft Language Server on the linter list.

[2020-05-19 19:44] #193 closed

[2020-05-19 23:08] savannahostrowski commented on #193
Thanks again for this suggestion. I'll bring it to my team for further discussion!

[2020-05-20 07:38] vivlimmsft commented on #194
This is not correct-- that is a different model training flow. We're working towards consolidating them, but right now we have two confusingly parallel ways to train models.

[2020-05-20 10:48] Shinigami92 commented on #191
I'm also getting no stars anymore :(

<img src="https://user-images.githubusercontent.com/7195563/82437484-c25f8300-9a97-11ea-9506-13f2367a081c.png" width="150px">

**VSCode:** `1.45.1`
**OS:** `macos 10.15.4` and `Windows 10`
**Used Langauge:** `TypeScript`

VS IntelliCode Output:
[code]

tried reinstall and different settings, no luck

[2020-05-20 13:22] osobeso commented on #191
@Shinigami92 @psycoxer
Hey, thanks for the info.
We're investigating this issue, and will get back to you as soon as we find a possible solution.

Just as a comment, I've had similar problems before because of some files in the language server not being downloaded properly.
It got fixed by going to my Vs code extensions folder (C:/Users/YourUser/.vscode/extensions)
And locating the ms-python exten

[2020-05-20 15:27] Shinigami92 commented on #191
Thanks for the tip.
Cleared the .vscode folder and removed some extensions expecially intellicode and reinstalled it afterwards.
Still no luck (Windows). TypeScript and JavaScript tested and not working.
Also cleaned related settings in `settings.json`

[2020-05-20 16:47] wsheemsft commented on #194
Understood.  My mistake was in Tools -> Options -> IntelliCode where I interpreted the value of "Default" to be "Enabled".  Did not realize it was a tri-state.  Setting it to enabled exposed the menu option from the documentation.

[2020-05-20 16:51] #194 closed

[2020-05-25 12:50] nbkgit opened #196 "Error while activating Python"
After starting VS code i get this error message from intellicode.

Acquiring model 'intellisense-members-lstm' for python
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-python was passed a model: {"modelId":"15708AE89896CA5DF1690433B7A8D93D28B7","modelPath":"c:\\Users\\Pedro\\.vscode\\extensions\\visualstudioexptteam.vscodeintellicode-1.2.7\\cache\\15

[2020-05-26 20:16] savannahostrowski commented on #196
Hey @nbkgit!

Thanks for reaching out. It sounds like the Python extension may not have started.
Can you confirm if the Python extension successfully activated?

Also, can you provide me with your Python settings:
- Interpreter version
- Extension version
- python.languageServer setting value (and version)

[2020-05-27 00:13] nbkgit commented on #196
Extensuion version : visualstudioexptteam.vscodeintellicode-1.2.7

python.languageServer Says default microsoft without version

the python extension is version 2020.5.80290

I can't tell you if it is now installed correctly.

It was some 1-2 updates ago, when is´ still could debug my code

but know i have also another python related problem, which i have also made an issue out. see https://github

[2020-05-27 23:42] nbkgit commented on #196
I posted the log in my other maybe this helps here too https://github.com/tht13/Python-vscode/issues/51#issuecomment-635000588

[2020-05-28 16:49] savannahostrowski commented on #196
Thanks for the info!

I think that this is likely a Python extension-related issue so to simplify tracking this issue, I'd suggest filing an issue to the [official python-vscode repo](https://github.com/microsoft/vscode-python) with the activation issues you are describing, as it looks like you filed that issue to a fork of the extension.

[2020-05-29 10:51] yiannis-had opened #197 "Not identifying modules when installed after VSC starts"
Issue Type: <b>Bug</b>

- Start VSC
- Load up a python file
- Install a new package
- Won't be identified by Intellicode

Extension version: 1.2.7
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (8 x

[2020-06-02 12:39] hcc-donder opened #198 "Something went wrong activating Intellicode"
Issue Type: <b>Bug</b>

I am having the same problem as reported in [https://github.com/MicrosoftDocs/intellicode/issues/57](https://github.com/MicrosoftDocs/intellicode/issues/57).  the output screens are below:

VS IntelliCode
Acquiring model 'intellisense-members-lstm' for python
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-python was passed a mo

[2020-06-02 20:44] oailton commented on #124
I am facing the same problem, but it works with a previous version of the Python extension.

VS Intellicode Output:
Acquiring model 'intellisense-members-lstm' for python
Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-python was passed a model: {"modelId":"15708AE89896CA5DF1690433B7A8D93D28B7","modelPath":"c:\\Users\\aandrade\\.vscode\\extensions\\vis

[2020-06-03 15:00] rickstaa commented on #122
@abuchholtzau @willfrey  Just a quick heads-up, the problem described above is back due to a recent pull request on the [vscode-python](https://github.com/microsoft/vscode-python/pull/11834) repository. Maybe it is an idea to reopen it. Otherwise, I can open a new issue.

[2020-06-04 00:06] MikhailArkhipov commented on #122
This is expected. IC is a separate product and 1.2.8 hasn't been release yet. I think if you just add `"python.jediEnabled": "false"`, 1.2.7 will work too. The setting may get grayed or squiggled, but IC most probably will work.

[2020-06-04 00:53] Blotuxs opened #199 "Intellicode don't show Openpyxl sugestions"
Hi

About a month ago Intellicode showed me recommendations for the Openpyxl library in Python. And since a few days ago it does not show all the recommendations (As seen in the image it does not show the Cell recommendation or others).

Try reinstalling Visual Studio Code, Openpyxl, Python and Intellicode but it doesn't work.

Try to delete the Extensions folder and download it again.

Settings:

[2020-06-04 08:09] rickstaa commented on #122
@MikhailArkhipov Thanks for the explanation, I already assumed that was the case. I will for now just ignore the error I get when having the greyed out `"python.jediEnabled": "false"` command in the settings.json can be ignored.

[2020-06-04 18:21] MHDFahz opened #200 "Error"
intelliCode wasn't able to apply the user setting 'python.jediEnabled': 'false' automatically, please manually set it.
![Screenshot 2020-06-04 at 11 50 07 PM](https://user-images.githubusercontent.com/42516446/83796144-29974d00-a6be-11ea-8aeb-14e337513249.png)

[2020-06-04 18:31] joepie91 opened #201 "Licensing issues"
According to [the FAQ](https://docs.microsoft.com/en-us/visualstudio/intellicode/faq):

This means that the prediction model is a derived work from the open-source projects that it was trained on. However, all of the popular open-source licenses require attribution and license reproduction at the very least, and I am unable to find this attribution or any of the licensing information for the Intel

[2020-06-04 20:17] nbkgit commented on #196
Thx to savannahostrowski
After some intensive research and experiment i found the solution
https://github.com/tht13/Python-vscode/issues/51#issuecomment-639092724

[2020-06-04 20:17] #196 closed

[2020-06-05 07:00] nonameolsson commented on #47
Sorry for a late reply. I still can't get the Intellicode to appear in the autocomplete list.

This is the output from VS IntelliCode

[2020-06-05 08:58] Onet1m3 opened #202 "IntelliCode"
Issue Type: <b>Bug</b>

К сожалению, при включении поддержки IntelliCode для Python возникла ошибка. Дополнительные сведения см. в окнах вывода "Python" и "Visual Studio IntelliCode"

Extension version: 1.2.7
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|

[2020-06-16 12:40] orblazer opened #203 "Publish extensions to open-vsx"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code, it's the same code but without the Microsoft's telemetry and branding.
I want to request if possible to add the _Visual Studio IntelliCode_ extension on the [open-vsx.org](https://open-vsx.org/) market to us doesn't need to works with the Microsoft marketplace as is unclear if it's legal to use it on VS Code

[2020-06-17 15:57] alexdauenhauer commented on #191
Just wanted to jump on the bandwagon, I am also having this exact issue and have for a while now. I am on windows, have tried in both windows environment and using WSL1 with the remote extension. Using latest release of python extension (2020.6.88468) and Intellicode 1.2.8. Have uninstalled all extensions, disabled deepLearning, pointed to Microsoft language server, no starred suggestions.

This i

[2020-06-17 16:30] MikhailArkhipov commented on #191
Does LS actually start? I.e. completions work and you do get output for `Python Language Server`?

[2020-06-17 16:46] Blotuxs commented on #199
Update:

If I dont click on "Enable it and Reload Windows", appear all the suggestions

![Captura de pantalla (9)](https://user-images.githubusercontent.com/66394989/84925734-bb309280-b0a0-11ea-9885-d0eeb65e797d.png)

[2020-06-17 23:14] alexdauenhauer commented on #191
yes language server is working. I am getting completions, just none of the starred completions making it appear that intellicode is not functioning

[2020-06-18 00:20] luabud commented on #199
Hi @Blotuxs, this seems to be an issue in the Python extension so I opened an issue on the other repo 😊.

[2020-06-18 15:28] osobeso commented on #191
Hi @alexdauenhauer
First of all thanks for the feedback!
I'd like to take a deeper look at your problem.
For that I'll need to take a look at how you have your settings setup.

Please go to FIle > Preferences > Settings and click on the following icon:

![image](https://user-images.githubusercontent.com/54292402/85040229-6e4ec980-b13d-11ea-893b-4471c54c37c9.png)

Once you've done that please share

[2020-06-18 16:43] MikhailArkhipov commented on #191
Also, what is in `VS IntelliCode` output?

[2020-06-18 16:45] alexdauenhauer commented on #191
@osobeso please see my attached json settings
{
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "http.proxy": "REDACTED",
    "http.proxyStrictSSL": false,
    "python.languageServer": "Microsoft",
    "terminal.integrated.inheritEnv": false,
    "workbench.colorTheme": "Noctis Uva",
    "editor.rulers": [

[2020-06-18 16:49] alexdauenhauer commented on #191
@MikhailArkhipov see below for VS Intellicode output
[code]

[2020-06-18 17:01] osobeso commented on #191
@alexdauenhauer Thanks alex
Everything seems in place, and judging by the output from IntelliCode the model is being passed.
It's really odd that you're not getting any starred completions.
The only thing that comes to mind is that the cached model was not downloaded properly for some reason, or the file might be corrupted.

Could you please try deleting the model at: "/home/aydauenh/.vscode-serve

[2020-06-18 17:14] MikhailArkhipov commented on #191
Also, try very simple scenario, like standalone with with basic code. Such as

![image](https://user-images.githubusercontent.com/12820357/85051508-72361800-b14c-11ea-9e8a-caad663107dd.png)

[2020-06-18 20:30] alexdauenhauer commented on #191
Hi @osobeso and @MikhailArkhipov thanks for your help. I have deleted the model, then a new model downloaded successfully. Unfortunately still no stars

![image](https://user-images.githubusercontent.com/11903445/85068761-8b54be00-b178-11ea-994b-e8f909d3c9a5.png)

[2020-06-18 23:41] MikhailArkhipov commented on #191
OK, what is in `Python Language Server` output. Set `"python.analysis.logLevel": "Trace"` please.

[2020-06-19 14:15] alexdauenhauer commented on #191
Hi @MikhailArkhipov below is the output of the Python Language Server on startup. I am typically using a conda env, but I am getting the same results either way so I am thinking that the fact that this dummy workspace I made which just points to base python is ok

[code]

[2020-06-19 16:40] MikhailArkhipov commented on #191
Here it is then. IntelliCode is unable to load native library.
[code]

[2020-06-19 18:18] markw-t commented on #199
@Blotuxs I'm closing this issue assuming @luabud 's python#12422 covers it. If it doesn't, please let us know!

Thanks
Mark

[2020-06-19 18:18] #199 closed

[2020-06-22 10:25] falcomomo commented on #165
I've also been having the same issue as @anatolyburakov. I'm also behind a corporate proxy/firewall and have all the http proxy variables set etc.
I'm also able to follow the instructions to download the blob here: [comment above comment#4](https://github.com/MicrosoftDocs/intellicode/issues/4#issuecomment-450946911). However, creating the json to point the caching somewhere doesn't seem to work -

[2020-06-22 12:09] anatolyburakov commented on #165
IMO this is really an ecosystem-wide problem with Node.js, because it doesn't have a well-defined built-in proxy support. I keep seeing these proxy issues popping up in just about every software package that's ever been built with Node, and everyone seems to have a slightly different partially working proxy implementation. VSCode should really provide its own framework for abstracting away network

[2020-06-22 14:32] alexdauenhauer commented on #191
Hi @MikhailArkhipov. Running 64-bit Windows 10, Version 1809, OS Build 17763.1282. I cannot upgrade this windows version as it is managed by our IT. I am typically running VS Code through WSL 1 using the Remote-WSL extension. I have this issue in both places however. Is the missing package a package that I can install?

[2020-06-22 16:30] MikhailArkhipov commented on #191
I guess the Q is what Linux it is since native dependency if for Linux, i.e. where VS Code core runs.

[2020-06-22 18:30] osobeso commented on #191
@alexdauenhauer
Hey alex, in order to fix the onnx runtime library you're having issues in WSL, please disable the Python deeplearning model:
File > Preferences > Settings > Extensions > Visual Studio IntelliCode > Python: Deep Learning

![image](https://user-images.githubusercontent.com/54292402/85322661-88f5ab00-b47b-11ea-8b16-c2249c3851f8.png)

After that, reload your VSCode window and try to g

[2020-06-22 21:00] alexdauenhauer commented on #191
Hi @osobeso disabling the deep learning appears to have fixed the issue! Thank you I have been dealing with that for a long time....

[2020-06-22 21:24] osobeso commented on #191
That's great @alexdauenhauer
I'll let you know once this problem is fixed on WSL so you can re-enable the python deep learning model, which is recommended to use.
Thanks again for the feedback, and glad we could get it solved.

[2020-06-23 09:08] Shinigami92 commented on #191
Any news about JS/TS?

[2020-06-23 10:20] osobeso commented on #191
Hi @Shinigami92
JS/TS starred completions on IntelliCode should be working as expected.
This thread is related to an issue with Python, but it shouldn't affect JS/TS.

[2020-06-23 11:39] Shinigami92 commented on #191
So should I create another Issue for the JS/TS problem? https://github.com/MicrosoftDocs/intellicode/issues/191#issuecomment-631399003

[2020-06-23 11:52] osobeso commented on #191
@Shinigami92
First make sure you have completions enabled (File > Preferences > Settings > Extensions > Visual Studio IntelliCode > Typescript: Completions enabled

![image](https://user-images.githubusercontent.com/54292402/85399787-3912f480-b50c-11ea-8295-60510bff4f37.png)

If you have that enabled and you're still not getting any completions, it could because of a bad model acquisition (probabl

[2020-06-23 12:05] Shinigami92 commented on #191
Removed cache
Output:
[code]
New files:
![image](https://user-images.githubusercontent.com/7195563/85401339-24f5e400-b55a-11ea-9606-560d59f1d4df.png)

Still no luck
![image](https://user-images.githubusercontent.com/7195563/85401471-58387300-b55a-11ea-8d97-8cf4f8f420e0.png)

---

Current settings
[code]

[2020-06-23 12:46] osobeso commented on #191
@Shinigami92
It seems everything is in order on IntelliCode side but yet you're not getting any starred completions. This will require a more detailed diagnosis on what could be going on on your typescript configuration on vscode, and we will also need to do some tests on Mac OS.
So, before getting more into detail, please do as you suggested earlier, and open a new issue for this problem you're h

[2020-06-23 12:50] Shinigami92 opened #204 "Intellicode not showing starred suggestions (TS/JS)"
Followup of #191

@osobeso Please note that I have this issue with my MacOS **and** my Windows 10

This was on Windows: https://github.com/MicrosoftDocs/intellicode/issues/191#issuecomment-648102630

[2020-06-24 13:36] CatNofishing opened #205 "Please provide AI support for python language server Jedi"
Jedi is a very good intelligent completion library for Python, but currently the plugin only supports LSP (Microsoft Python Language Server). If you can provide AI support for Jedi, this will enhance the Python programming experience (because PLS is not very stable at the moment) , I prefer Jedi)

[2020-06-24 16:08] catycaldwell commented on #201
Hi @joepie91,  Intellicode learns from thousands of repositories and creates machine learning models from that analysis.  When IntelliCode presents code recommendations, it is drawing those recommendations from the knowledge and models it has distilled based on that analysis.  Since IntelliCode draws from that knowledge and not any particular codebase, the requirements from open source licenses li

[2020-06-24 16:08] #201 closed

[2020-06-25 11:07] joepie91 commented on #201
I'm going to respond to your original, pre-editing message here first and foremost:

I do not believe this to be true. If I were to copy-paste and modify code from many different open-source projects into my own project, that doesn't somehow magically exempt me from my obligations under licenses like the MIT or GPL license; it just means that I have obligations towards *more* people. I do not see

[2020-07-01 07:22] LOST0LOSER opened #206 "补全失效"
Issue Type: <b>Bug</b>

After using vscode for a period of time, the code intelligent completion fails somehow. It seems that this situation may be triggered after using the debug function several times

Extension version: 1.2.9
VS Code version: Code 1.46.1 (cd9ea6488829f560dc949a8b2fb789f3cdc05f5d, 2020-06-17T21:13:20.174Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</su

[2020-07-01 21:01] markw-t commented on #206
Sorry to hear you're experiencing this problem. We'd like to understand a few more details to help understand what is going on:

1. What language are you using when you see these symptoms? We support Python, Java, TypeScript and JavaScript and TSQL in VS Code, but it will help to understand which one shows the problem.
2. When the problem happens, do you lose all autocompletions (IntelliSense drop

[2020-07-01 22:45] markw-t commented on #202
Sorry you are seeing this issue: "Unfortunately, there was an error when intelliCode support was enabled. For more information, see "Python" and "Visual Studio IntelliCode"

We need a little more information to be able to diagnose correctly.

If the issue is still appearing for you, can you paste in the content of your VS IntelliCode output pane in the Output panel, which should have diagnostic in

[2020-07-02 03:22] LOST0LOSER commented on #206
Sorry, I finally found out that the problem may be related to Deno
extension. At that time, I used typescript. Maybe the extensions I
installed had some conflicts. However, it is still worth mentioning that
when I using Python several times, the autocompletion will be invalid after
using Debugger for many times. If this kind of situation occurs again, I
will writeback to you again
Mark Wilson-Thom

[2020-07-03 08:35] snow3461 commented on #4
vscode 1.46.1
intellicode 1.2.9

Still having issue downloading intellicode models behind corporate proxy.
In developper console I have this error : unable to get local issuer certificate.

I had to modify intellicode.js as suggested by @Zolerii and added process.env["NODE_TLS_REJECT_UNAUTHORIZED"] = 0; before the request. It now download without a scratch.

Would be nice to know why I'm facing th

[2020-07-04 10:18] MHDFahz opened #207 "Could not load extension When I install pylance"
**Product and Version** [VS/VSCode insider]:
**OS Version** [macOS]:
**IntelliCode Extension Version**:
**Target Platform or Language** [python]:

error message
Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

[2020-07-04 10:19] MHDFahz commented on #207
![Screenshot 2020-07-04 at 3 49 16 PM](https://user-images.githubusercontent.com/42516446/86510516-f60b2800-be0d-11ea-8454-6abbcac852ac.png)

[2020-07-09 19:53] uniqueiniquity commented on #204
Hi @Shinigami92,
Thanks for reporting this!
When the JS/TS file is open where you expect the results, could you please run the "Open TS Server Log" command with Ctrl+Shift+P?
I'm interested in the third line of the file, which should include the phrase `Arguments:`.
Could you share that line here?

[2020-07-09 19:57] uniqueiniquity commented on #204
Actually, if you're willing to share that whole file, that would be best for further investigation, though you may want to review the content to ensure you're willing to share.

[2020-07-10 03:15] PhilParisot opened #208 "C# support on VS Code and Linux"
It would truly be awesome if we could get support for C# IntelliCode on Linux!

[2020-07-10 06:39] Shinigami92 commented on #204
<img src="https://user-images.githubusercontent.com/7195563/87124210-9e930f00-c288-11ea-9d57-9dbac66c76db.png" width="300px" />

[code]

Third line:
[code]

File: [tsserver.log](https://github.com/MicrosoftDocs/intellicode/files/4901416/tsserver.log)

Please keep a look at and below line 121 ⚠️
[code]

_I'll publish another log with my Mac in a few minutes_

[2020-07-10 06:52] Shinigami92 commented on #204
<img src="https://user-images.githubusercontent.com/7195563/87124780-aa330580-c289-11ea-814e-1bbae4f92ce7.png" width="300px" />

[code]

Third line:
[code]

File: [tsserver.log](https://github.com/MicrosoftDocs/intellicode/files/4901489/tsserver.log)

Please keep a look at and below line 108 ⚠️
[code]

[2020-07-10 16:36] uniqueiniquity commented on #204
Thanks so much for the logs, @Shinigami92!
The issue is what I expected; we have a long-standing issue that IntelliCode doesn't work when using the TypeScript Language Server from your project directory (as opposed to the copy that VS Code provides). See https://github.com/MicrosoftDocs/intellicode/issues/62 for another issue tracking this.

I apologize for us having not addressed this sooner. I s

[2020-07-10 17:38] Shinigami92 commented on #204
Oh!! Yes this could definitely be the error!
I mostly use the `typescript.tsdk` from the project instead of VSCode's one.

I will sub/watch #62

[2020-07-10 23:53] will-crawford commented on #201
A better analogy: if you learnt to code by reading through 1500 or so open source repositories, should your knowledge (based on those repositories), when used to write new code, subject that code automatically to a copyleft licence? Which? To a composite of all of them?

While it may be argued that Microsoft "owe" someone, somewhere, something for the use of that code in training their model, I'm

[2020-07-11 00:19] towen commented on #201
When Microsoft bought GitHub, they thought they were buying all of the open source projects contained therein.
Embrace, Extend...

[2020-07-12 13:07] zhangxiang1209 opened #209 "在文档“*.py”中找不到符号，且代码不提示"
Issue Type: <b>Bug</b>

突然出现的问题

Extension version: 1.2.9
VS Code version: Code 1.47.0 (d5e9aa0227e057a60c82568bf31c04730dc15dcd, 2020-07-09T08:02:06.629Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br

[2020-07-12 15:44] markw-t commented on #209
For non-Chinese speakers an autotranslation reads The symbol could not be found in the document ".py" and the code does not prompt.

[2020-07-14 18:27] luabud commented on #209
@zhangxiang1209 this seems to be a Python extension issue. Would you mind trying out our [new language server ](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance) to see if it solves your issue? Otherwise we'd be happy to assist you in [our GitHub repo](https://github.com/microsoft/vscode-python/issues/new?labels=classify%2C+type-bug&template=2_bug_report.md).

[2020-07-14 18:38] markw-t commented on #209
Based on @luabud 's comment this seems like it's a Python extension issue. If we are mistaken, please re-open this issue.

[2020-07-14 18:38] #209 closed

[2020-07-14 18:41] markw-t commented on #206
Thanks for letting us know; please create a new bug if you see problems again, and thanks for using IntelliCode!

If the problem is specific to Python it may be better to open on the Python extension repo

Mark

[2020-07-14 18:41] #206 closed

[2020-07-14 18:43] markw-t commented on #207
tagging @luabud @savannahostrowski to see this issue. Are you still seeing this problem @MHDFahz ?

[2020-07-14 18:48] savannahostrowski commented on #207
Hey @MHDFahz. Could you tell me what version of Pylance you are running? The latest is 2020.7.1.

[2020-07-15 00:29] zhangxiang1209 commented on #209
Thank you for your reply. It is confirmed that it is the python extension issue. After I installed **pylance**, the **problem was solved.**

[2020-07-20 05:32] karenc3 opened #210 "python: no suggestions, model loaded but couldn't retreive data from experimentation service"
Hi,
This happens on my work laptop which uses a proxy to connect to the internet. My issue is very similar to #4 and I've followed the suggestions mentioned there. I was able to download the model but there are two issues:

1. Suggestions don't work
2. This is what the output window logs for VS IntelliCode

I think 'Could not retrieve data from Experimentation service' might be impacting the retri

[2020-07-22 14:04] bonthaladeepu7 opened #211 "Java intellisense activation went wrong"
**Product and Version** [VS/VSCode]: 1.47.2
<img width="1150" alt="Screenshot 2020-07-22 at 7 33 56 PM" src="https://user-images.githubusercontent.com/41227153/88186029-4ed22180-cc52-11ea-88e8-389bec14f71c.png">

**OS Version** [macOS/Windows]: macOS
**IntelliCode Extension Version**:  v1.2.9
**Target Platform or Language** [e.g. Node.js]:

Version: 1.47.2
Commit: 17299e413d5590b14ab0340ea477cdd86

[2020-07-22 14:24] bonthaladeepu7 commented on #211
Issue resolved after upgrading to java 11.

[2020-07-22 14:24] #211 closed

[2020-07-22 14:25] bonthaladeepu7 commented on #211
Issue resolved after installing java 11.

[2020-07-22 14:43] moxue361 opened #212 "when start java project show ‘’Sorry, something went wrong activating IntelliCode support for Java. Please check the "Language Support for Java" and "VS IntelliCode" output windows for details.”"
when start java project show ‘’Sorry, something went wrong activating IntelliCode support for Java. Please check the "Language Support for Java" and "VS IntelliCode" output windows for details.”

[2020-07-22 21:28] markw-t commented on #202
@Onet1m3 - since we haven't heard back from you I'm closing this issue pending more info as described above. If you hit it again, the above info will really help us to figure out what's going on. Thanks for using IntelliCode!

[2020-07-22 21:28] #202 closed

[2020-07-22 21:37] catycaldwell commented on #26
Normalizing the label to Product feedback

[2020-07-22 21:39] catycaldwell commented on #28
Normalize labels according to GitHub issues

[2020-07-22 21:41] catycaldwell commented on #29
Normalizing labels

[2020-07-22 21:43] catycaldwell commented on #30
Normalizing labels

[2020-07-22 21:51] catycaldwell commented on #35
Normalizing labels

[2020-07-22 21:54] catycaldwell commented on #37
Normalizing labels

[2020-07-22 22:01] catycaldwell commented on #39
normalizing labels

[2020-07-22 22:14] catycaldwell commented on #40
normalize labels

[2020-07-22 22:20] markw-t commented on #167
Hi @gopinath-ts - without any further info this is going to be difficult to pursue any further. I'm closing this bug; if you are still hitting this issue please can you give us some more info (e.g. contents of your VS Code IntelliCode output log, screenshot of the problem, details of language you were using at the time?) that will help us debug.

Thanks for using IntelliCode!
Mark

[2020-07-22 22:20] #167 closed

[2020-07-22 22:22] markw-t commented on #166
Resolving per @vivlimmsft comments above

[2020-07-22 22:22] #166 closed

[2020-07-22 22:23] catycaldwell commented on #45
Normalizing labels

[2020-07-22 22:25] catycaldwell commented on #46
@Quillee - have you reviewed #4 ? This seems like this may be a similar issue.

[2020-07-22 22:26] markw-t commented on #165
tagging @osobeso and @vivlimmsft to respond to @falcomomo 's question on latest instructions and close.

[2020-07-22 22:26] catycaldwell commented on #41
normalizing labels

[2020-07-22 22:28] catycaldwell commented on #52
@savannahostrowski - Is this issue resolved in Pylance?

[2020-07-22 22:31] catycaldwell commented on #58
Normalizing labels

[2020-07-22 22:37] markw-t commented on #161
@vivlimmsft @minestarks @uniqueiniquity have you guys ever been able to reproduce @NorfeldtAbtion 's issue? @NorfeldtAbtion  are you still seeing it on recent builds of VS Code and IntelliCode?

[2020-07-22 22:39] markw-t commented on #157
@vivlimmsft is what @chdecourcel is seeing OK?

[2020-07-22 22:44] markw-t commented on #154
@tejassrivastava are you still seeing this issue? Can you give more information about your repro (what language are you using for instance, and do you see this problem all the time?)

[2020-07-22 22:45] catycaldwell commented on #64
normalizing labels. @elgorro +kudos for great feedback.

[2020-07-22 22:52] catycaldwell commented on #144
@timheuer We've recently previewed our evolved user experience for Custom code completions in Visual Studio. Now, users are able to schedule auto-training models via a gold infobar as well as via the IntelliCode UI. On the IntelliCode UI, all of the other commands relating to the active workspace are available: Delete, List, and Re-train. The new experience removes the necessity for users to navig

[2020-07-22 22:52] #144 closed

[2020-07-22 22:54] catycaldwell commented on #142
OK! https://github.com/marketplace/actions/intellicode-team-completions

[2020-07-22 22:54] #142 closed

[2020-07-22 22:57] catycaldwell commented on #71
@KamasamaK IntelliCode is not planning on taking on this suggestion, however, we thank you for your suggestion and feedback.

[2020-07-22 22:57] #71 closed

[2020-07-22 22:59] catycaldwell commented on #76
@tmueller79 Thanks for the suggestion.

[2020-07-22 23:00] catycaldwell commented on #76
#39 (similar)

[2020-07-22 23:02] catycaldwell commented on #79
Adding @mikadumont and normalizing labels.

[2020-07-22 23:05] catycaldwell commented on #118
Normalizing labels

[2020-07-22 23:07] markw-t commented on #136
Hi @davemecha , @pidgeon777 . As @vivlimmsft mentioned, we have no plans to extend IntelliCode beyond Visual Studio, Visual Studio Code and [Visual Studio Codespaces](https://devblogs.microsoft.com/visualstudio/introducing-visual-studio-codespaces/).

I'm closing this issue for that reason, but encourage you to check out [CodeSpaces](https://devblogs.microsoft.com/visualstudio/introducing-visual-s

[2020-07-22 23:07] #136 closed

[2020-07-22 23:09] markw-t commented on #132
Hi @laguz81 - since I haven't heard back from you on the questions above we can't take any further action on this bug - if you are still seeing issues with IntelliCode Java support please can you re-open this bug with those details?

Thanks
Mark

[2020-07-22 23:09] #132 closed

[2020-07-22 23:12] markw-t commented on #131
@vivlimmsft can we get out loc team to take a look at this translation?

[2020-07-22 23:13] markw-t commented on #130
:-) thanks @legomushroom :-)

[2020-07-22 23:13] #130 closed

[2020-07-22 23:14] vivlimmsft commented on #157
` Couldn't reach service Error Message: tunneling socket could not be established, statusCode=503, (Error) Could not reach the IntelliCode service`
This means that the service couldn't be reached to update the model, but IntelliCode is still able to run using the cached model.
Interestingly, there could only be a cached model if IntelliCode was able to talk to the service at least once, so at some

[2020-07-22 23:15] catycaldwell commented on #113
@ryaugusta are you still encountering this issue?

[2020-07-22 23:17] catycaldwell commented on #81
Thanks for the suggestion @DanielSSilva.

[2020-07-22 23:18] catycaldwell commented on #92
normalizing the labels

[2020-07-22 23:19] catycaldwell commented on #94
We now support XAML for VS Code. https://docs.microsoft.com/en-us/visualstudio/intellicode/intellicode-visual-studio

[2020-07-22 23:23] catycaldwell commented on #98
normalizing labels

[2020-07-22 23:25] catycaldwell commented on #100
normalizing labels

[2020-07-22 23:37] catycaldwell commented on #106
@rbadapanda are you still experiencing this issue?

[2020-07-22 23:42] catycaldwell commented on #110
@zeljko-bulatovic are you able to reproduce this bug?

[2020-07-22 23:45] catycaldwell commented on #111
@sana-ajani are you still experiencing this bug? Or, can we cancel this?

[2020-07-22 23:47] catycaldwell commented on #99
@CavalloneChen - are you able to reproduce and share logs?

[2020-07-22 23:58] catycaldwell commented on #126
closed due to duplicate issue.

[2020-07-22 23:58] #126 closed

[2020-07-23 00:05] vanderloureiro commented on #212
I had the same problem today, I managed to solve it now by installing an old version of _Language Support for Java (TM) by Red Hat_

EXTENSIONS: INSTALLED -> manager icon over the extension -> Install Another Version...

in my case I installed version 0.63.0 ( 1 month ago )

[2020-07-23 00:09] rbadapanda commented on #106
No. I have stopped using the extension so i don’t have any updates on it.

Please feel free to close the issue.

Thanks

[2020-07-23 00:25] markw-t commented on #106
Thanks for letting us know - please open a new bug should you start using IntelliCode again and see any issues.

[2020-07-23 00:25] #106 closed

[2020-07-23 00:27] Eskibear commented on #212
Can you check above output windows and attach the logs here?

[2020-07-23 02:12] CortesKe commented on #212
same problem today

Here is my VS IntelliCode output window

Querying IntelliCode service for available models.
Cached model is up to date.
vs-intellicode-java was passed a model: {"modelId":"45788CA1782FEF17F07049DB4764F5647A62","modelPath":"c:\\Users\\User\\.vscode\\extensions\\visualstudioexptteam.vscodeintellicode-1.2.9\\cache\\45788CA1782FEF17F07049DB4764F5647A62_975CC5EC71E347A9B047E779B175B

[2020-07-23 02:57] Eskibear commented on #212
For some reason, extension `redhat.java` was not activated. Follow-ups:
- what's the type of your project? Maven or Gradle or simple a folder containing .java source files?
- check output window "Log (Extension Host), search for any logs containing `redhat.java`.
- check if there are output windows named "Language Support for Java" and "Language Support for Java (Syntax Server)
  - if true, check

[2020-07-23 03:12] moxue361 commented on #212
Excuse me, can you tell me where this output windows is?Why can't I find it?

[2020-07-23 03:18] CortesKe commented on #212
on Left-up, "View" -> "Output"
Choose the "VS intellicode" window

[2020-07-23 03:22] Eskibear commented on #212
@CortesKe @moxue361 BTW, what's your JDK version? In the latest version of java extension, it requires Java 11 to start itself. See [CHANGELOG.md#0650-july-22nd-2020](https://github.com/redhat-developer/vscode-java/blob/master/CHANGELOG.md#0650-july-22nd-2020)

[2020-07-23 03:30] CortesKe commented on #212
@Eskibear Maybe redhat.java is the reason because it updated yesterday.
My maven project worked fine few days ago.

I try to install Java 11 and I have  jdk-11.0.8 directory under C:\Program Files\Java
I also set the environment variables.

But I can't find the jre 11 and the version of Java is still old.

Any suggestions?

[2020-07-23 03:42] Eskibear commented on #212
- set `java.home` (vscode setting) to  "C:\Program Files\Java\jdk-11.0.8".
- and if you still want your project to compile with java 8, follow [this wiki page](https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#do-i-need-to-migrate-my-projects-to-java-11)

[2020-07-23 03:54] CortesKe commented on #212
Thanks for the suggestions.

[2020-07-23 05:04] zeljko-bulatovic commented on #110
I was not aware that this issue was open! It seems that vscode opened it automatically in the background. I have no idea about it and how to check.

[2020-07-23 07:45] KamasamaK commented on #71
Thanks for considering this request. I will add that since the last time I commented here, the VS Code API was modified to now allow setting language-specific configurations.

[2020-07-23 10:18] moxue361 commented on #212
yes，thanks，i have solved it by this way

[2020-07-23 10:25] moxue361 commented on #212
have solved it，because of the new version of red hat,thank you

[2020-07-23 14:53] markw-t commented on #110
Thanks for your response @zeljko-bulatovic . If IntelliCode seems to be working well for you at this point, we will close out this issue.

Before we do so, please can you confirm that you're not seeing any problems with IntelliCode when you're coding (e.g. that you see the "starred" completions in your expected languages (for VS Code this is Python, Java, JS/TS, TSQL - see https://docs.microsoft.c

[2020-07-23 15:00] #110 closed

[2020-07-23 15:02] catycaldwell commented on #212
Closing as this was resolved based on @moxue361 latest comment.

[2020-07-23 15:02] #212 closed

[2020-07-23 16:35] Nizvan018 commented on #212
Yeap, it works!

[2020-07-23 20:29] sana-ajani commented on #111
Not seeing this anymore.

[2020-07-23 20:29] #111 closed

[2020-07-24 05:21] Eskibear commented on #163
![Screen Shot 2020-07-24 at 1 20 23 PM](https://user-images.githubusercontent.com/2351748/88362808-7939f100-cdb0-11ea-9270-fdf66ff7b3ec.png)

already supported in the latest java extension.

[2020-07-24 14:55] markw-t commented on #163
@rustyx I'm pleased to report that [Visual Studio Code for Java Developers ](https://code.visualstudio.com/docs/java/java-tutorial) now supports these features! Install the latest version and check them out.

Regards
Mark

[2020-07-24 14:55] #163 closed

[2020-07-24 18:02] savannahostrowski commented on #52
@AlcoholV

I'd recommend installing the new Python language server for VS Code, [Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance). Pylance is IntelliCode compatible and has fixed many of these issues. If you give Pylance a try and are still experiencing this, please file an issue on [our issue tracking repo](https://github.com/microsoft/pylance-release) and my

[2020-07-25 17:10] Postavshik opened #213 "JAVA: Sorry, something went wrong activating IntelliCode support for Java"
It just happened yesterday on both of my computers, personal and work Mac laptop.

**Product and Version** [VS/VSCode]: VC Code 1.47.2
**OS Version** [macOS/Windows]: Reproducible on macOS Catalina 10.15.5 and macOS Mojave 10.14.6
**IntelliCode Extension Version**: v1.2.9
**Language Support for Java(TM) by Red Hat Extension**: v0.65.0
**Target Platform or Language** [e.g. Node.js]: Java 1.8.0_231

[2020-07-26 17:14] bonthaladeepu7 commented on #213
I guess you need to update java to its recent version in Red Hat java extension.

[2020-07-26 19:15] Postavshik commented on #213
Yes, you right. Update to Java 11 fixed the issue. Thank you!

[2020-07-26 19:15] #213 closed

[2020-07-28 11:05] Norfeldt commented on #161
@markw-t Yes, I'm still seeing this bug.

I created a new `bug.js` on my desktop, restarted to update vscode (1.47.3), copy pasted the code and started typing

![Jul-28-2020 13-04-08](https://user-images.githubusercontent.com/678806/88657897-dd232900-d0d2-11ea-8922-1c995e6e2b7a.gif)

[2020-07-28 15:34] markw-t commented on #161
@Norfeldt thanks for letting us know. Tagging @minestarks , @uniqueiniquity and @vivlimmsft to see this repro.

[2020-07-29 07:05] yahkun commented on #176
You should set the proxy in vscode settings!

[2020-07-30 10:54] vaibhavad opened #214 "IntelliCode not working with Remote-SSH"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

- VSCode Version: 1.47.2
- OS Version: Linux 4.15.0-45-generic #48~16.04.1-Ubuntu
- IntelliCode Extension Version: 1.2.9
- Target Language: Python

The system is behind an institute proxy, HTTPS_PROXY is set correctly and check certificates has be

[2020-07-31 01:52] xiaoyanmo opened #215 "Sorry, something went wrong activating IntelliCode support for Java. Please check the "Language Support for Java" and "VS IntelliCode" output windows for details."
Version: 1.47.3 (user setup)
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:12:49.994Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363
**Steps to Reproduce / Scenario:**

1.Sorry, something went wrong activating IntelliCode support for Java. Please check the "Language Support for Java" and "VS IntelliCode" output w

[2020-07-31 05:58] Eskibear commented on #215
The latest release of VS Code Java requires Java 11 to run.

please follow https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-663382692

[2020-07-31 15:24] markw-t commented on #215
Per @Eskibear 's comment above, closing this item.

[2020-07-31 15:24] #215 closed

[2020-08-03 01:34] xiaoyanmo commented on #215
Thanks♪(･ω･)ﾉ，我使用的是java8，我想屏蔽这个错误信息

[2020-08-04 08:12] narslankaya commented on #34
+1
Please support Intellicode in VB.NET

[2020-08-04 12:55] Brodersen opened #216 "The setting '"python.autoComplete.addBrackets": true' doesn't work"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]: macOS Catalina, 10.15.6 (19G73)
**IntelliCode Extension Version**: v1.2.9
**Target Platform or Language** [e.g. Node.js]: Python 3.8.5

**Steps to Reproduce / Scenario:**

1. Have the latest version of everything (macOS, vscode, python 3, Python (extension) and Visual Studio IntelliCode (extension) installed.
2. To go settings an

[2020-08-05 17:35] JT114881 commented on #29
Any plans on implementing this?

[2020-08-08 00:35] ADataGMan opened #217 "Telemetry in Visual Studio Code Clarification"
**Product and Version** [VS/VSCode]: VSCode 1.47.3 User Edition
**OS Version** [macOS/Windows]: Windows
**IntelliCode Extension Version**: 1.2.9
**Target Platform or Language** [e.g. Node.js]: Typescript

**Steps to Reproduce / Scenario:**

I'm trying to understand if Intellicode for Visual Studio Code reports telemetry with ```"telemetry.enableTelemetry": false,``` ? Based on the documentation on

[2020-08-17 18:13] richbon75 opened #218 "Problems downloading IntelliCode model"
**Product and Version** [VS/VSCode]: 1.48.0
**OS Version** [macOS/Windows]: Windows_NT x64 10.0.17134  (Windows 10)
**IntelliCode Extension Version**:  Visual Studio Intellicode v1.2.10
**Target Platform or Language** [e.g. Node.js]: Python 3

**Steps to Reproduce / Scenario:**

1. Start VS Code
2. Open .py file
3. Stare in horror at the pop-up "Couldn't download IntelliCode model. Please check yo

[2020-08-17 18:50] aaly00 commented on #92
+1

[2020-08-17 18:53] osobeso commented on #217
Hi @ADataGMan thanks for reaching out.
The answer is yes, we support that flag and you can disable IntelliCode telemetry logs by setting that flag to be false.

Regards,
Oscar.

[2020-08-17 19:57] richbon75 commented on #218
I was able to get it to work temporarily by installing Fiddler and letting it act as a proxy to our proxy.  I then set:
[code]
in settings.json and then when I reopened vscode, I got this in the VS IntelliCode output:
[code]
After closing Fiddler and changing settings.json back to my normal setting of
[code]
The VS IntelliCode output now says:
[code]
So at least it's now finding a recent model in

[2020-08-18 14:26] arisbouras commented on #34
Does anyone know if and when there will be vb.net Intellicode for VSCode (Visual Studio CODE) ?
Thank you in advance

[2020-08-18 14:36] arisbouras opened #219 "VB.NET intellicode support for VS Code"
Does anyone know if and when there will be VB.NET intellicode support?

[2020-08-18 15:30] markw-t commented on #34
As noted above, we support IntelliCode completions for VB.NET on Visual Studio 2019 Update 3 (aka 16.3) and higher.

However we don't have any current plans to support IntelliCode features for VB.NET (or C#) on Visual Studio Code.

I see you've opened a new issue to track this (#219 )  @arisbouras ; thanks! Folks can upvote that issue and indicate their support for this feature there. (#81 is trac

[2020-08-18 15:33] markw-t commented on #219
Thanks for raising this feedback.  We don't have any current plans to support IntelliCode features for VB.NET (or C#) on Visual Studio Code. At this point we recommend using Visual Studio for VB.NET and C# IntellICode support.

Thanks
Mark

[2020-08-18 15:47] markw-t commented on #217
assigning to @catycaldwell to look at adding this info to the docs per suggestion.

[2020-08-19 00:57] markw-t commented on #216
Thanks for raising this. It's a Python LS issue rather than an IntelliCode one see [this issue on the Python LS issues list](https://github.com/microsoft/python-language-server/issues/868) - closing in preference for that item.

Cheers
Mark

[2020-08-19 00:57] #216 closed

[2020-08-20 12:06] webkaiyo opened #220 "Can't uninstall IntelliCode linter"
**Product and Version** [VS/VSCode]: VSCode 1.48.0
**OS Version** [macOS/Windows]: Windows 10
**IntelliCode Extension Version**: 1.2.10
**Target Platform or Language** [e.g. Node.js]: Python 3.8

I actually have uninstalled IntelliCode but the linter still there. How can I disable this linter?
![image](https://user-images.githubusercontent.com/40964817/90767930-58d45800-e2c4-11ea-8afc-35c42a6f3e14

[2020-08-20 16:20] markw-t commented on #220
Since this is a question about how to configure the Python extension's linters, it would be better to ask it on https://github.com/Microsoft/vscode-python/issues rather than here on the IntelliCode repository.

We are interested to understand why you decided to uninstall IntelliCode and would like to hear more there - can you give us some insights?

Thanks
Mark

[2020-08-20 19:24] webkaiyo commented on #220
Hey, @markw-t. Thank you for the fast answer. I decided to uninstall IntelliCode because I don't like linters, simple as that. I'll ask this in the right repository, thanks again for your time.

[2020-08-20 19:25] #220 closed

[2020-08-20 19:32] markw-t commented on #220
Thanks for your quick answer. We don't actually do anything that could be described as linting in IntelliCode for Python - our only capability there at present is IntelliCode Completions (where we offer a starred suggestion - see [here](https://docs.microsoft.com/en-us/visualstudio/intellicode/overview#context-aware-code-completions) for details. For other languages (specifically C#) we are reachi

[2020-08-20 21:35] webkaiyo commented on #220
Hi, @markw-t. Thank you for the fast answer. I really like the IntelliCode's completions capability. The only reason that made me uninstall IntelliCode is the linter.

[2020-08-21 04:42] haikalmol opened #221 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.2.10`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Karl\VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2020-08-24 17:53] osobeso commented on #218
Hi @richbon75 thanks for the feedback.
As you mention this are proxy related issues.
Good to know that you were able to temporaly bypass the proxy and download a model, IntelliCode should be working properly for you now by using that cached model.

You can try setting the [Http Proxy environment variable](https://www.npmjs.com/package/request#controlling-proxy-behaviour-using-environment-variables

[2020-08-26 05:38] Ayush-bhargav opened #222 "A JNI error has occurred"
Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.UnsupportedClassVersionError: ghhmgm has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoade

[2020-08-26 05:38] Ayush-bhargav commented on #222
help me to run java on my vs code

[2020-08-27 01:55] Eskibear commented on #222
It's not related to completion, probably caused by inconsistent JDK versions on your machine.
See https://github.com/microsoft/vscode-java-debug/issues/859 for more help.

[2020-08-27 22:43] markw-t commented on #221
@KarlHeinzNSJ1623 plesae can you provide some further details to help us undertstand this issue:
1. Please attach or post the C:\Users\Karl\VisualStudioExptTeam.vscodeintellicode-unresponsive.cpuprofile.txt file with a link so we can inspect?
2. Please let us know which language you were editing in when you saw the problem?

Thanks!
Mark

[2020-08-27 22:46] markw-t commented on #222
Closing based on @Eskibear's comment above. Please refer to the issue he linked. If it doesn't help, please let us know.

In addition, you can find general guidance on setting up VS Code to use Java [here](https://code.visualstudio.com/docs/java/java-tutorial)

[2020-08-27 22:46] #222 closed

[2020-08-28 18:27] Dharaneeshwar opened #223 "Intellicode not getting activated for python. ( Error while activating Python: {} )"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows 10
**IntelliCode Extension Version**:  1.2.10
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. Open Vscode
2. Wait for the extension to load for a python file

Getting this notification at first
[code]
Output window of VSIntellicode shows this.

[code]

I currently have

[2020-08-29 06:44] Dharaneeshwar commented on #223
Closed this because Intellicode started working after multiple reinstalls.

[2020-08-31 15:28] markw-t commented on #223
Thank you for letting us know, and sorry that you had to re-install to get this working. Do let us know if you experience problems again or have other feedback.

Regards
Mark

[2020-09-01 19:09] catycaldwell commented on #214
@savannahostrowski

[2020-09-01 19:09] catycaldwell commented on #207
@savannahostrowski

[2020-09-02 20:22] uyouthe opened #224 "No suggestions for JavaScript"
Getting no suggestions when editing JavaScript. I only see default suggestions.

IntelliCode output:
[code]

IntelliCode config:
[code]

TypeScript server location is default.

[2020-09-03 15:53] MikhailArkhipov commented on #207
@MHDFahz - Are you still experiencing issue with Python extension 2020.8.*? There were improvements in the Python extension that were supposed to address this issue. Thanks.

[2020-09-03 15:56] MikhailArkhipov commented on #205
@CatNofishing - IntelliCode also supports new `Pylance` language server https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance. Have you tried it? Thanks.

[2020-09-03 15:57] MikhailArkhipov commented on #200
@MHDFahz - the setting is no longer needed, it has been deprecated. `python.languageServer` is the setting that controls language engine selection. Thanks.

[2020-09-03 16:03] MikhailArkhipov commented on #198
@hcc-donder - which language server are you using - `Microsoft` or `Pylance`. Is this still a problem with Python extension 2020.8+? Thanks.

[2020-09-03 16:08] MikhailArkhipov commented on #187
@sergeos - this looks like `Microsoft` language server issue rather than IntelliCode. IntelliCode does not support Jedi language engine so when you set `jediEnabled` to `false`, you activated `Microsoft Language Server`. You can file a bug for the LS here https://github.com/microsoft/python-language-server. There is also a troubleshooting guide for imports: https://github.com/microsoft/python-lang

[2020-09-03 16:11] MikhailArkhipov commented on #180
@babul7154 - have you tried new Pylance language server? https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance.

[2020-09-03 16:15] MikhailArkhipov commented on #124
@damnedOperator - is this still a problem with Python extension 2020.8+? Might be same as #207

[2020-09-03 16:27] MikhailArkhipov commented on #214
@vaibhavad - what version of the Python extension you are using? There were changes in 2020.8+ which I believe, should have addressed the issue. Please let us know if you are still having problems with 2020.8+. Thanks.

[2020-09-04 06:49] damnedOperator commented on #124
As far as I observe, yes, sometimes. Reloading the Window via Command Palette works around that issue.

[2020-09-04 09:58] CatNofishing commented on #205
@MikhailArkhipov   I tried it, but I did not find that it has special support for pylance😂

[2020-09-04 14:57] markw-t commented on #205
@CatNofishing - I'm assuming you mean that you are not seeing IntelliCode stars in your completion list when you install IntelliCode for VS Code alongside the Pylance language server, for cases where you would have seen them before under the MPLS? Can you confirm and give examples please? That will help us track things down. It would also be useful to see the contents of your  VS IntelliCode outpu

[2020-09-04 19:21] hcc-donder commented on #198
I am using Microsoft. It does not seem to be a problem any more under 2020.8.

[2020-09-04 19:21] #198 closed

[2020-09-04 20:42] minestarks commented on #224
@uyouthe could you share your TypeScript server log ("open ts server log" from the Command Palette), and an example of some code you were expecting a suggestion, but didn't get one? Thank you.

[2020-09-06 09:24] suryapratap commented on #113
I started getting this today morning

![image](https://user-images.githubusercontent.com/956538/92322734-b3a1d980-f050-11ea-95be-22a9f77ba31a.png)

[2020-09-07 00:14] markw-t commented on #113
@suryapratap what language are you using when you see this message and can you give more details (eg what shows in your IntelliCode output pane in VS Code)? Did you update anything recently (VSCode, Intellicode or a Language you use?). Thanks!

[2020-09-07 03:07] suryapratap commented on #113
@markw-t I was using TypeScript in an Angular 10 project, the popup has stopped as of today without any specific change on my part that can be attributed to this. There were no issues with connectivity yesterday so I do not think net connectivity was the issue.

[2020-09-07 15:09] markw-t commented on #113
Thanks for letting us know and sorry for the inconvenience. If this recurs please take a look at the output window for IntelliCode and open a fresh report including that information, and we will take a look.

[2020-09-10 08:09] artemious7 opened #225 "Can't find "Train IntelliCode model on this repository" menu"
In VS 16.7.3 I can't find the View > Other Windows > Train IntelliCode model on this repository menu. I have the IntelliCode extension v2.2.733.31896 enabled. I can only find View > Other Windows > IntelliCode suggestions window. I have my C# repository opened and it's on Git. Is the documentation missing some piece of information?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-09-10 23:56] uniqueiniquity commented on #161
Hi @Norfeldt,

Thank you for your patience on this! I've identified a fix and it should be available in a future update to the IntelliCode extension.

[2020-09-15 06:08] meiswjn commented on #4
I am also still facing this issue. Does the extension not respect the proxy settings / truststore?

[2020-09-16 15:20] steelx commented on #35
any update for Rust users. roadmap ?

[2020-09-17 13:52] koistya commented on #32
[code]

[2020-09-17 17:34] teukurijal commented on #215
https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-669895753
it's work for me

[2020-09-18 15:17] osobeso commented on #4
Hi @meiswjn I'm sorry for the inconvenience.
We've been investigating this issue for some time now, and part of the problem seems to be rooted in Node's structure and how it handles proxy and ssl.
Some users have stated that deactivating ssl check in node (by setting the environment variable NODE_TLS_REJECT_UNAUTHORIZED to 0) has helped them overcome this issue.
We are working on finding the root

[2020-09-20 22:40] orlando-oli commented on #205
I agree. It should definitely support Jedi as well.

[2020-09-21 06:54] orlando-oli commented on #205
I agree! The more the merrier :)
Jedi is great!

[2020-09-21 06:56] orlando-oli commented on #205
I agree, Jedi is great. I'd love to see it working with intellicode!

[2020-09-21 07:57] Norfeldt commented on #161
It works 👌

[2020-09-21 07:57] #161 closed

[2020-09-22 01:43] pJoengw commented on #180
I have used Pylance,  but I have the same error like above

[2020-09-23 07:27] eromoe commented on #165
Microsoft should provide a cdn for every static packages related to vscode , in order to cope with network issue in different countries .

For example, github asserts is on s3 which almost of all be blocked in China .

[2020-09-23 13:38] ldzqdrm opened #227 "I hope that Visual Studio IntelliCode can provide similar code hints for Java in idea"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

I hope that Visual Studio IntelliCode can provide similar code prompting functions for Java in the idea, especially xx.for, xx.if, xx.null, xx.var and other functions, that is, the design for the trigger content

[2020-09-23 16:31] Dadsgoosen opened #228 "C# interface change to same interface"
This is merely feedback to intellicode.

I changed a couple of interfaces to inherit from one interface to another and when checking the changed to interface it suggests to inherit from the same interface. I have attached a screenshot showing the suggestion.

Visual Studio 2019 Enterprise
Windows 10
C# latest version

![intellicode_interface_suggestion](https://user-images.githubusercontent.com/14

[2020-09-24 17:02] markw-t commented on #228
Hi @Dadsgoosen - thanks for raising this issue. We are working on tightening our suggestion filters to ensure they don't produce non-compilable code; we're aware of several cases where bad suggestions get through at present in the Visual Studio 2019 16.7 release.  Your case is verified as one of those and will be fixed in an upcoming update to Visual Studio.

I hope you are finding the IntelliCode

[2020-09-24 17:02] #228 closed

[2020-09-25 04:14] Abdelrahman-shrif opened #229 "Sorry, something went wrong activating IntelliCode support for Python."
Python Output :
User belongs to experiment group 'ShowPlayIcon - start'
User belongs to experiment group 'DebugAdapterFactory - experiment'
User belongs to experiment group 'PtvsdWheels37 - experiment'
User belongs to experiment group 'UseTerminalToGetActivatedEnvVars - control'
User belongs to experiment group 'AA_testing - control'
User belongs to experiment group 'LocalZMQKernel - experiment'
U

[2020-09-25 11:05] tjx666 commented on #108
any progress? Is there any reason why VSCode intellicode not support C++?

[2020-09-25 15:23] koww opened #230 "VS Intellicode not working for java"
**Product and Version** [VS/VSCode]: 1.49.2
**OS Version** [macOS/Windows]: Mac OS 10.15.8 Catalina
**IntelliCode Extension Version**: v1.2.10
**Target Platform or Language** [e.g. Node.js]: Java
**JDK version**:

[code]

**Steps to Reproduce / Scenario:**

1. Write java code, no intellisense nor linting working.

[2020-09-25 16:27] #230 closed

[2020-09-25 16:28] koww commented on #230
It is due to a lack of java_home env in zsh settings. My apologies.

[2020-09-28 17:55] MikhailArkhipov commented on #180
@babul7154 - if you are not getting completions with Pylance, then there won't be any IntelliCode suggestions. IntelliCode is not a completion engine, it works over Pylance or Microsoft server completions. I would suggest filing issue with Pylance at https://github.com/microsoft/pylance-release.

This does not seem to be IntelliCode issue, but rather the underlying language server issue.

[2020-09-28 22:05] MikhailArkhipov commented on #229
From the log it appears that download shares are unreachable.

Looks like some sort of network connection problem. User tries MPLS v1 (not Pylance). Extension goes to download latest. After 25 seconds download fails

**Error 2020-09-24 05:59:39: Get latest language server nuget package version**, Class name = d, completed in 23603ms, has a falsy return value, Arg 1: <Uri:h:\Abd El Rahman\programmi

[2020-09-28 22:19] DavidObando commented on #225
Hi @artemious7, for Visual Studio 16.7 you need to enable the feature in Tools -> Options -> IntelliCode:
[code]
Also, may I suggest to instead create your team model using our [Azure DevOps pipeline task](https://docs.microsoft.com/en-us/visualstudio/intellicode/custom-models#automatically-create-and-retrain-a-model-in-azure-pipelines), or our [GitHub action](https://devblogs.microsoft.com/visual

[2020-09-29 20:33] COD3BREAK3R commented on #102
Can someone explain me where can I download the files what need the extension to run offline and where I need copy the files for work the extension? Thanks

[2020-09-30 17:57] jakebailey opened #231 "Models downloaded to working directory (non-absolute path)"
I can't transfer issues here, so here is a re-report of microsoft/pylance-release#331.

The model the IC extension is downloading and providing to Pylance appears to be done non-absolutely, leaving random model files downloaded to whatever the working directory is.

[code]

Note the non-absolute `filePath`. The user in the linked issue sees these files redownloaded depending on how they opened the

[2020-10-03 05:55] osobeso commented on #231
Thanks for opening this issue @jakebailey
I will take a look at it.
It does seem weird, I haven't seen this happening before, and we haven't changed the code on that model download logic in a while.

I will take a look to try and get to the root cause.
Regards,
Oscar.

[2020-10-07 15:23] Abdelrahman-shrif commented on #229
Thank You it was helpful I just reload the page in vs and seem that vs redownload Microsoft python language server .
It happen many times I don't know why but once I reload the page it back to work.
Thank You.

[2020-10-08 03:57] MananPyJava opened #232 "Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details."
Vscode
os: windows 10 pro
language: python 3.7

every time i open Visual Studio Code, it shows me this error:
![image](https://user-images.githubusercontent.com/67302570/95413138-4bdcf800-0948-11eb-92d6-0d2276a35c4d.png)

Also, it does not detect any of my python interpreters.
The issue is seen from the past 2 weeks.
The issue is not shown while using Java or C++

[2020-10-08 04:41] MikhailArkhipov commented on #232
Please specify what language server do you use. Please provide log output that appears in the following Output windows:

- Python
- Python Language Server or Pylance
- VS IntelliCode

Thanks

[2020-10-08 06:01] 517030910405 opened #233 "Customized Download Plan"
**Product and Version** [VS/VSCode]: VSCode 1.49.3
**OS Version** [macOS/Windows]: Windows_NT x64 10.0.18362
**IntelliCode Extension Version**: 1.2.10
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. Open a folder.
2. It starts downloading the model.

However, the network is very unstable when I am at home. And I only want it to download when I am in m

[2020-10-08 07:04] highpost commented on #231
I reported the original issue. My VSC environment is pretty generic: only a few extensions and they're mostly popular ones. But I do build my own Python executable from source and then create a venv.

[2020-10-08 08:51] MananPyJava commented on #232
i am using microsoft server. actually i am a newbie in coding, can you tell me where i can see the output window

[2020-10-08 14:48] #232 closed

[2020-10-08 17:04] markw-t commented on #232
For reference for anyone else reading this thread, you can find the output window in Visual Studio Code using the VS Code menus, like this:

1) View - Output   (or use the Ctrl+Shift+ U keyboard shortcut in the standard keybindings to toggle it on/off)

2) Once you're there, you should notice a drop down in the top right of the output pane, which lists the different sources of output your copy of

[2020-10-08 17:04] markw-t commented on #232
@MananPyJava is your issue resolved? I see you closed it...

[2020-10-08 18:28] markw-t commented on #229
Thanks for letting us know @Abdelrahman-shrif ! I'm closing this issue based on your comment to @MikhailArkhipov above.

[2020-10-08 18:28] #229 closed

[2020-10-09 06:50] mminhe commented on #162
Sorry; how was this issue fixed? I just ran into exactly the same issue with "VS IntelliCode" Output window showing the same message, and there is no "Language Support for Java" output window.

[2020-10-11 14:13] pidgeon777 commented on #108
It would be a great future to be added.

[2020-10-11 15:05] vpankaj97 opened #234 "Auto-completion not working in subsequent cell"
Issue Type: <b>Bug</b>

Failure to load auto-completion of any imported module (be it RANDOM, SYS, OS) only on the subsequent cells.

i.e. In the same cell as I import the module, auto-completion works. But as soon as I jump to the next cell, auto-completion fails.

On WSL1 - Ubuntu 18.04
Python Version - (daily dev channel)
Using Python Preview Notebook editor
Extension version: 1.2.10
VS Code ve

[2020-10-12 13:12] tobiasletcher-ap commented on #32
I had the same issue trying to use typescript@next and typescript@beta. I figured out that the issue was caused by the extension https://marketplace.visualstudio.com/items?itemName=basarat.god. After disabling the extension all is right with the world again.

[2020-10-12 18:45] DavidObando commented on #233
The IntelliCode team is looking into this.

[2020-10-12 18:50] catycaldwell commented on #234
+ @savannahostrowski + @jakebailey We'd like to transfer to the Pylance team to review as we are not sure this is an Intellicode problem. Can Claudia, Savannah triage this Notebook issue?

[2020-10-12 18:54] jakebailey commented on #234
This is likely microsoft/vscode-python#13190, as they are using the new notebooks view which doesn't behave properly with language servers.

[2020-10-12 19:02] jakebailey commented on #234
microsoft/vscode-python#14364

[2020-10-12 19:21] catycaldwell commented on #234
Closing as duplicate of [microsoft/vscode-python#14364](https://github.com/microsoft/vscode-python/issues/14364)

[2020-10-12 19:21] #234 closed

[2020-10-14 03:15] osobeso commented on #231
@highpost Hi there!

There's a small hack you can do to fix this issue locally.
Go to File>Preferences>Settings and search for "model download path".
You can modify this variable to have a personalized absolute path. This will make sure that all models are always managed on that directory and that directory only.

You will need to modify the settings using the settings.json file, this is the struc

[2020-10-14 14:28] knbsilva opened #235 "linting python 3.9"
Issue Type: <b>Bug</b>

The linting not working in Python 3.9, when i use the later version working normally.

Extension version: 1.2.10
VS Code version: Code 1.50.0 (93c2f0fbf16c5a4b10e4d5f89737d9c2c25488a3, 2020-10-07T06:10:52.432Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-7020U CPU @ 2.30GHz (4 x 2304)|
|G

[2020-10-14 19:10] MikhailArkhipov commented on #235
Are you using `Microsoft` language server or `Pylance`? If it is former, 3.9 was added https://github.com/microsoft/python-language-server/pull/2128 last week. The build is not in stable channel yet. We are going to promote it by the end of this week.

You can also try new Pylance server, it supports 3.9 right now.

[2020-10-14 19:26] knbsilva commented on #235
Hello @MikhailArkhipov
I'm using Microsoft Language server, i didn't know about Pylance i will install right now.
Thank you for feedback, regards.

[2020-10-14 19:26] #235 closed

[2020-10-17 11:44] ColCh commented on #32
Hey I hacked this to make it work :D

However, I really do not recommend to do that on regular base. Dunno if this would break something.

TL,DR: just link `@vsintellicode` module from user dir (`~/.vscode/`) into global Vscode installation search path (`/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/typescript-language-features/node_modules`)

I did that with ol' `ln -s`

[2020-10-18 03:34] karmendra commented on #92
Any plans on this?

[2020-10-19 06:09] vengotimahesh143 opened #236 "IntelliCode models"
Issue Type: <b>Bug</b>

Downloading IntelliCode models: Downloading IntelliCode models: 8432/33580 KB it has stopped here

Extension version: 1.2.10
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8

[2020-10-19 10:18] apxitekt0r opened #237 "Intellicode for Python"
I have a problem with intellicode for Python on vscode in Ubuntu for raspberry arm64.
So when I try to use vscode like non root user intellicode didn't work.
But when I use vscode with root intellicode work.
I trying to reinstall extensions and vs code but problem is still exist.

What I need to do to use intellicode for Python without root privileges?

[2020-10-19 14:56] rcketscientist opened #238 "Can't download Java intellisense-members"
**Product and Version** [VS/VSCode]: 1.50.1
**OS Version** [macOS/Windows]: Windows (local), RHEL7 (server)
**IntelliCode Extension Version**: 1.2.10

**Steps to Reproduce / Scenario:**

1. Open a java project on a remote-ssh server.  Local is online, server is _offline_.

Receive this error:

[code]

[2020-10-19 18:40] DavidObando commented on #236
Hi @vengotimahesh143, can you provide us with the following information:
  - What language or languages were you using when this happened?
  - Do you have the IntelliCode window output for the time around this error happening? If so, can you share it with us.

[2020-10-19 18:41] DavidObando commented on #237
Thank you for reporting @apxitekt0r, we're investigating.

[2020-10-19 18:45] DavidObando commented on #238
Hi @rcketscientist, thank you for the report. We need some additional information:
  1. When you say "server is offline", do you mean that the RHEL7 server doesn't have a connection to the Internet, being unable to `ping prod.intellicode.vsengsaas.visualstudio.com`?
  2. If the server can be online (connected to the Internet), do you still see this issue?

[2020-10-19 19:09] rcketscientist commented on #238
The server is air-gapped, so no ability to connect to set things up.  In some cases (ts, c++) this has seemed to either be part of the extension, or forwarded from the connected client (intellisense works without an error).  Java seems to be the exception.

[2020-10-20 16:38] brian316 commented on #237
I have the same issue, but when I added the user to root and reinstalled the vscode server it still does not work

[2020-10-20 16:51] MikhailArkhipov commented on #237
Could you please provide log output from VS IntelliCode tab. Thanks.

[2020-10-20 17:17] brian316 commented on #237
I dont see a tab

[2020-10-20 17:21] MikhailArkhipov commented on #237
I mean this one

![image](https://user-images.githubusercontent.com/12820357/96621840-fb598900-12bd-11eb-9212-f358a8a5fd0e.png)

[2020-10-20 17:27] MikhailArkhipov commented on #237
What is in the `Python Language Server` section? Also, have you tried `Pylance` language server?

[2020-10-20 17:27] brian316 commented on #237
I dont see the language server
![image](https://user-images.githubusercontent.com/3878246/96622501-de718580-12be-11eb-835a-c80c871e5600.png)

[2020-10-20 17:28] MikhailArkhipov commented on #237
What is in the `Python` section then

[2020-10-20 17:32] brian316 commented on #237
I installed pylance and it seems to be working now

[2020-10-20 17:41] MikhailArkhipov commented on #237
@apxitekt0r  - what happens in your case?

[2020-10-20 18:39] apxitekt0r commented on #237
So when I edited the settings.jason and change "python.languageServer":"" it's start to work.

[2020-10-20 18:40] MikhailArkhipov commented on #237
OK then, I guess we can close?

[2020-10-20 18:43] apxitekt0r commented on #237
I think yes.
Спасибо, Михаил!

[2020-10-20 18:44] MikhailArkhipov commented on #237
Пожалуйста :-)

[2020-10-22 19:36] gayanper opened #239 "[Question] Adding support for Eclipse"
Hi,
I'm a eclipse user and i do like to integrate your intellicode support for Eclipse. I saw, after decompiling the jdtls jar inside the extension that you have plugged into eclipse jdtls, we could do a similar integration into eclipse as a completion provider as well. So if you can provide me information how to download the models and if there is a possibility to reuse the model parsers i would

[2020-10-23 12:13] Hmve opened #240 "Code lens does not show references on const arrow functions (Typescript)"
**Product and Version** [VS/VSCode]: 1.50.1
**OS Version** [macOS/Windows]: Windows
**IntelliCode Extension Version**: v.1.2.10
**Target Platform or Language** [e.g. Node.js]: typescript

**Steps to Reproduce / Scenario:**

1. create an empty file e.g. test.ts
2. write code as follows:

[code]
3. Result:
![image](https://user-images.githubusercontent.com/73341358/97001667-0c61fe80-1539-11eb-9789-0

[2020-10-23 16:47] minestarks commented on #240
@hmve this appears to be a VS Code issue rather than something specific to the IntelliCode extension. Could you report at https://github.com/microsoft/vscode instead? Thanks!

[2020-10-23 16:47] #240 closed

[2020-10-26 06:23] flier268 opened #241 "Not support ".mjs" file(node.js 14)"
Node.js 14 will be LTS, but intellicode still not support .mjs file.

**Product and Version** :1.50.1
**OS Version** :Windows
**IntelliCode Extension Version**: 1.2.10
**Target Platform or Language** :Node.js 14

[2020-10-26 08:38] Hmve commented on #240
I will post it there. Thanks for your replay!

[2020-10-26 15:54] catycaldwell commented on #241
@uniqueiniquity @minestarks  is this something that you all can take a look ?

[2020-10-26 16:23] uniqueiniquity commented on #241
Hello @flier268!

Using VS Code 1.50.1 and the IntelliCode extension 1.2.10, I am able to get IntelliCode results in a .mjs file.

![mjsIntelliCode](https://user-images.githubusercontent.com/9092011/97199037-ca210300-176c-11eb-81e6-1f6160a967c8.gif)

Could you please share more concrete steps to reproduce the issue you are observing?

Thank you!

[2020-10-26 16:40] flier268 commented on #241
### a1.mjs
[code]
### a2.mjs
[code]
![圖片](https://user-images.githubusercontent.com/19989232/97201031-ebc1cf00-17ec-11eb-9439-5f20f4341d7a.png)

[2020-10-26 16:51] uniqueiniquity commented on #241
@flier268,

Thank you for the additional information!
This seems to be an issue with TypeScript's support for `.mjs` imports, rather than IntelliCode's.
Please file this issue, including the repro you provided, at https://github.com/microsoft/typescript and they'll best be able to help you.

[2020-10-26 17:32] #241 closed

[2020-10-26 17:33] DavidObando commented on #241
Thank you @flier268 for the report. Indeed this looks like this isn't IntelliCode as @uniqueiniquity mentioned. We'll go ahead and close this issue, but it appears you were affected by this: microsoft/typescript#27957

[2020-10-27 02:20] flier268 commented on #241
Thanks for @uniqueiniquity , @DavidObando  and @catycaldwell help.

[2020-10-28 23:18] DavidObando commented on #237
Closing as resolved. In the Raspberry Pi people should move to use Pylance as their language server in order to re-enable completions (IntelliSense).

[2020-10-28 23:18] #237 closed

[2020-10-30 04:16] nik-ahuja commented on #223
Hey @markw-t  any idea on this bug, I have tried multiple reinstalls didn't work for me.

[2020-10-30 15:22] markw-t commented on #223
tagging @osobeso on @nik-ahuja 's question above.

[2020-11-01 20:33] catycaldwell commented on #227
Thanks for your feedback @ldzqdrm ! We're hard at work improving this experience and it's great to get precise feedback like yours on where IntelliCode misses the mark.

[2020-11-02 01:29] nik-ahuja commented on #223
Hey, @markw-t @osobeso the issue is resolved for me, turns out the extensions can't use environment variables for proxy. Specifying the proxy settings in VS Code resolved the issue. Although I think there should be a fix for that, is it already planned?

[2020-11-03 00:31] osobeso commented on #223
Hi @nik-ahuja
This seems to be related to VS Code itself, and its way of handling proxy inside VS Code's environment.
We don't have anything planned in the near future to override this behavior on our side. We usually point to the proxy settings on VS Code for this kind of proxy configuration issues. Good to know that you found the setting and were able to fix it!

I'll let you know if I find out

[2020-11-03 05:24] nik-ahuja commented on #223
Thanks @osobeso  VS Code itself can access system env proxy variables but for some reasons Intellicode can't get that setting from VS Code. I am sure this was not the case earlier, maybe something changed in the recent updates from VS Code.

[2020-11-03 16:45] osobeso commented on #223
@nik-ahuja oh, I understand now, thanks for the observation.

I took a look at our codebase and it seems we do have a VsCode library that we haven't updated in a while (seems like all http request calls get tunneled trough these libraries, so the proxy settings are handled  automatically in there).

I'm not 100% sure if this is the root cause though, so I will investigate that and try and schedule

[2020-11-03 16:45] #223 closed

[2020-11-03 16:51] osobeso opened #242 "IntelliCode extension doesn't use Proxy defined environment variables as default."
A user reported that Visual Studio IntelliCode extension is not using the default Environment Variables for proxy and it requires that the user specifies the Proxy endpoint using VsCode, instead of just using Environment Variables.

After some investigation I noticed that one of the libraries we use for VsCode hasn't been updated in a while, so I think that should be a start.

We need to find a wa

[2020-11-03 21:29] catycaldwell commented on #239
Hi @gayanper, thank you for the question and your interest in IntelliCode. We currently only provide language support in Visual Studio and Visual Studio Code, and are not pursuing extending to additional IDEs at this point. Feature requests are always welcome, but we do ask that you abide by our license terms against reverse engineering, decompiling, and disassembling the IntelliCode extension. Th

[2020-11-03 21:29] #239 closed

[2020-11-04 06:57] gayanper commented on #239
Understand, that the same reason i did try to do any integration based on your implementation and report this question to if these things can be open sourced, so that community can do integrations into other editors like the coolest LSP from Microsoft. For example TabNine has the ability to be integrated like that.

[2020-11-04 16:47] Ben-Faessler opened #243 "activate error on Raspberry Pi 4"
I want to use VS Code on my Raspberry Pi 4 with Raspberry Pi OS 32 Bit.
But wen I open a python file comes a error:
Beim Aktivieren der IntelliCode-Unterstützung für Python ist leider ein Problem aufgetreten. Weitere Informationen finden Sie in den Ausgabefenstern "Python" und "VS IntelliCode".
Can you fix this?

[2020-11-05 14:16] ghost opened #244 "Intellicode does not allow users to disable it"
![ic](https://user-images.githubusercontent.com/2473545/98252144-5ba42800-1f58-11eb-9bb6-bfd609d4384e.png)

**Steps to Reproduce / Scenario:**
When a user does not have Pylance installed, and     "python.languageServer" is configured to "Jedi", intellicode will ask users to install the "microsoft language server". There is no option to permanently disable this prompt. There is no option to disable

[2020-11-10 00:52] Andrey-Yur opened #245 "Cannot download IntelliCode model"
Issue Type: <b>Bug</b>

При открытии VS code появляется ошибка / I have been getting this error after starting of VS code:

Couldn't download IntelliCode model. Please check your network connectivity or firewall settings.

Extension version: 1.2.10
VS Code version: Code 1.51.0 (fcac248b077b55bae4ba5bab613fd6e9156c2f0c, 2020-11-05T18:18:23.642Z)
OS version: Windows_NT x64 10.0.19041

<details>
<sum

[2020-11-10 08:17] KarimKanounGit commented on #242
Intellicode is not activated when editing settings.json of Windows Terminal also.
Usually, Intellicode use $schema variable to help typing settings and valid values of settings.
Behind a corporate proxy (the URL is whitelisted since accessible from a browser) the Intellicode is unable to help.
N.B.: attached my proxy comfiguration in vscode settings, maybe I made a mistake
![image](https://user-im

[2020-11-11 07:03] Kobsharon commented on #215
Shifting to java 11 it worked for me. If you have settings.json then

    "java.home": "/usr/lib/jvm/java-11-openjdk-amd64

[2020-11-11 07:03] Kobsharon commented on #212
Shifting to java 11 it worked for me. If you have settings.json then

"java.home": "/usr/lib/jvm/java-11-openjdk-amd64

[2020-11-11 23:00] SBurk7 opened #246 "not responding on my vs code can not debug"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2020-11-12 20:23] LarnuUK opened #247 "IntelliCode SQL model file doesn't exist"
**Product and Version** [VS/VSCode]: Azure Data Studio 1.24
**OS Version** [macOS/Windows]: Windows 10 2004
**IntelliCode Extension Version**: 1.2.1
**Target Platform or Language** [e.g. Node.js]: T-SQL

**Steps to Reproduce / Scenario:**

1. Open Azure Data Studio
2. Get Error

Error presented at the bottom is:

The MSSQL output window is blank. VS IntelliCode presents the following:
[code]
I hav

[2020-11-12 20:32] vivlimmsft commented on #247
Please update your IntelliCode extension to the latest (currently 1.2.10) and restart Azure Data Studio.

If it's still showing the same error, please attach the contents of `/home/thom/.azuredatastudio/extensions/visualstudioexptteam.vscodeintellicode-1.2.10/cache/models.json`, and a list of files inside `/home/thom/.azuredatastudio/extensions/visualstudioexptteam.vscodeintellicode-1.2.10`. (note

[2020-11-12 20:33] LarnuUK commented on #247
@vivlimmsft 1.2.1 is the version that is available in ADS; you need to update your repository for me to update to 1.2.10.

[2020-11-12 20:38] LarnuUK commented on #247
Hmm, I think I see the issue; that's a linux path (`/home/thom`) but I'm using Windows. That's... odd.

[2020-11-12 20:41] LarnuUK commented on #247
Thanks for the comment, @vivlimmsft . I've fixed it, by uninstalling the extensiomn, deleting the folder `visualstudioexptteam.vscodeintellicode-1.2.1` in the `.azuredatastudio\extensions\` folder and then redownloading.

Though, I would still really appreciate if you can push 1.2.10 for ADS please! :)

[2020-11-12 20:41] #247 closed

[2020-11-15 10:47] Xiaoyuan18 commented on #113
I always see "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings"  these months! I read the reference webpage, and tried every suggestion , but still can't resolve the  problem

[2020-11-15 10:52] Xiaoyuan18 commented on #113
So, I want to ask,  whether it really reduce the effeciency when  "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings" .

[2020-11-16 03:53] joeytwiddle opened #248 "IntelliCode is not appearing in the VSCode marketplace"
**Steps to Reproduce / Scenario:**

1. Ctrl-P in Code, and paste `ext install VisualStudioExptTeam.vscodeintellicode`
2. The marketplace search opens in the sidebar, but "No extensions found."
3. The same if I just search for "IntelliCode"

**Caveats:**

- I am running Code - OSS, not VSCode
- I am running on Linux

Is the extension not available for one of those?

If so, I think that could be men

[2020-11-16 09:30] Anavi18 opened #249 "intellicode not working for java"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows 10
**IntelliCode Extension Version**: yes
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2020-11-17 19:14] ConceptJunkie commented on #102
Any news on offline installation capabilities for the the language models?   I started using VSCode, and am very impressed with it, but there are a few glaring omissions (e.g., visual merge in the diff tool, and the inability to do an offline installation of language models for Intellisense) that keep it from being the world-class tool it's clearly got the potential for.

At work, our development

[2020-11-19 12:24] bolamsydhom opened #250 "autocompleting stopped in JS file both for directory paths and exported variables across files"
<!--

Reporting a Problem
-------------------
To report a problem with IntelliCode for Visual Studio, please use the "Report a Problem..." feature built into the tool.
To report a problem with IntelliCode for Visual Studio Code, you're in the right place. Please copy and paste any details that are visible in the Output window logs for VS-IntelliCode and the lanuage you're using.

If your issue rel

[2020-11-19 18:40] catycaldwell commented on #244
@savannahostrowski

[2020-11-19 18:51] savannahostrowski commented on #244
@catycaldwell On the Pylance side, we fixed this in 2020.11.1 - see microsoft/pylance-release#568 (@phgmacedo filed a similar bug on our release repo).

[2020-11-19 19:12] catycaldwell commented on #244
Thanks @savannahostrowski - let's sync on next steps here.

[2020-11-19 19:50] catycaldwell commented on #249
@Anavi18  can you include more information?

[2020-11-19 19:52] catycaldwell commented on #245
Hi @Andrey-Yur , it appears that IntelliCode cannot download a model from our cloud service due to firewall or other network connectivity issue. Can you confirm that this isn't the issue?

[2020-11-19 19:52] catycaldwell commented on #250
@bolamsydhom, please provide more information for me to properly triage this issue.

[2020-11-19 19:56] catycaldwell commented on #248
Hi, @joeytwiddle, IntelliCode is not available for Code.  We do mention this on the Marketplace page noted in the screenshot below AND it is included as part of our license which is linked from the marketplace page.

![image](https://user-images.githubusercontent.com/908768/99717347-25899c80-2a5e-11eb-8c4f-0bc7469da6a5.png)

[2020-11-19 19:58] Andrey-Yur commented on #245
Hi, I didn’t find any block addresses in the firewall also turning off could not solve this problem

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Caty Caldwell <notifications@github.com>
Sent: Thursday, November 19, 2020 3:52:17 PM
To: MicrosoftDocs/intellicode <intellicode@noreply.github.com>
Cc: Andrei Iurchenko <Andrei.Iurchenko@easternstudent.ca>; Mention <

[2020-11-19 21:18] vivlimmsft commented on #243
The IntelliCode deep learning python model depends on [an external library, ONNXRuntime](https://www.npmjs.com/package/onnxruntime), which doesn't provide supported Linux ARM binaries.

The currently supported architectures for the deep learning model are:
* Windows x86, x64, ARM
* MacOS x64
* Linux x64

If you are using _Microsoft Python Language Server_, you can fall back to the non-deep learnin

[2020-11-19 21:18] #243 closed

[2020-11-19 21:25] vivlimmsft commented on #245
Can you please attach the contents of your "VS IntelliCode" output window?

[2020-11-19 21:33] vivlimmsft commented on #244
BTW -- there is an option to disable IntelliCode for Python:
[code]

[2020-11-19 21:35] Andrey-Yur commented on #245
![Untitled](https://user-images.githubusercontent.com/62293778/99726890-8b414d00-2a8d-11eb-86b5-645bdb4532f4.jpg)

[2020-11-19 21:37] Andrey-Yur commented on #245
![Untitled](https://user-images.githubusercontent.com/62293778/99727098-dc514100-2a8d-11eb-946c-d806e8752982.jpg)

[2020-11-19 21:38] Andrey-Yur commented on #245
![Untitled](https://user-images.githubusercontent.com/62293778/99727198-fb4fd300-2a8d-11eb-91c3-3e5fdb4ee788.jpg)

[2020-11-19 22:47] bolamsydhom commented on #250
I am using vscode on MacOs I just updated the OS to BigSur and since that intelsense is not working fine at all. no more completing modules in import sentence nor the path of directories nor variables names of any other methods in JS

[2020-11-19 22:53] vivlimmsft commented on #245
Sorry, by output window I meant:

1. ctrl+shift+p: `View: Toggle Output`
2. pick "VS IntelliCode" from this box:
![image](https://user-images.githubusercontent.com/27872315/99733751-802ef280-2a76-11eb-8102-6336f688e25a.png)
3. attach the text from that output window

[2020-11-20 00:05] Andrey-Yur commented on #245
Acquiring model 'intellisense-members' for javascript
Querying IntelliCode service for available models.
Downloading model.
Starting download of https://cdsmprodstg.blob.core.windows.net/models-prod-output/Output_1A3F919CD5B7725108B03C349630A1C82B03_4A84987F2428442A9EC84563BB2BC063?sv=2018-03-28&sr=b&sig=dHz6VMyFq%2BTLaJiouMB8%2F%2FW%2FA%2B%2Bgv6slpwNGPJXY%2FeA%3D&se=2020-11-19T21%3A34%3A06Z&sp=r

[2020-11-20 00:07] Andrey-Yur commented on #245
![image](https://user-images.githubusercontent.com/62293778/99739280-c8fca080-2aa2-11eb-97b4-841b7758a8b5.png)

[2020-11-20 00:15] Andrey-Yur commented on #245
It looks like that VS Code can not /has no right to download into this C:\Program Files\Microsoft VS Code directory.

[2020-11-20 03:03] catycaldwell commented on #250
Thanks @bolamsydhom for providing this information. Adding @vivlimmsft to help with triage.

[2020-11-20 04:01] TGauthier2011 opened #251 "optional senses"
I'm using VSCode in Windows 10 with extension Visual Studio IntelliCode v1.2.10 for Python, with Python 3.9 installed.

**I would like to see to see option's too:
 A- resize the inteli window that pop's up with suggestions
 B- cancel the inteli window via .json settings, on certain parameters
     such as the print function, as I do not need a window the size of
     half my screen popping up tell

[2020-11-20 21:37] ghosttie opened #252 "exception when attempting to train model"
This is in Visual Studio - I tried using the "Report a Problem..." feature but it doesn't work ("Oops, we have lost the connection to Visual Studio." every time)

It's happened for multiple solutions (all the ones I've tried so far)

[code]

**Product and Version** [VS]:
**OS Version** [Windows]:
**IntelliCode Extension Version**: 2.2.958.9542
**Target Platform or Language** [C#]:

**Steps to Repr

[2020-11-23 15:05] j-i-m-s-t-e-r commented on #124
Same here.  Disabled and unistalled the Visual Studio IntelliCode extension and restarted code, still complains every time I open a py file.

Might have to resintall code.

What a PITA

[2020-11-23 20:46] eldad-el opened #253 "intellicode not working for python"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2020-11-26 01:18] luisfergromo commented on #214
Same over here, Python v2020.11.371526539 and Visual Studio IntelliCode v1.2.10

<img width="1392" alt="Captura de Pantalla 2020-11-25 a la(s) 7 17 28 p m" src="https://user-images.githubusercontent.com/1296939/100296850-de664480-2f52-11eb-9c9f-4d535dc99498.png">
<img width="764" alt="Captura de Pantalla 2020-11-25 a la(s) 7 17 55 p m" src="https://user-images.githubusercontent.com/1296939/1002968

[2020-11-26 02:55] luisfergromo commented on #214
**Not working with python v2020.9.+**

Tested and works fine with Python 2020.8.109390

[2020-11-26 07:37] tonydattolo commented on #253
same issue

[2020-11-26 12:51] ShaikSaheb opened #254 "Intellicode not working - Authentication error while using Visual Studio IntelliCode Team Model Training"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2020-11-28 14:27] Anavi18 commented on #249
Whenever I type my code, the suggestions do not come as they used to. Even after I have finished typing there's no suggestion.
I have tried reinstalling VSCode as well as the extension pack but nothing helped.

[2020-12-01 09:01] Eskibear commented on #249
@Anavi18 Can you provide logs from output channel "VS IntelliCode", e.g.
![image](https://user-images.githubusercontent.com/2351748/100718788-b5343100-33f6-11eb-902c-f83a090ec79f.png)

Please also check "Language Support for Java" for any error message (if exists).

[2020-12-01 15:39] Poumm opened #255 "Intellicode not working typescript"
Intellicode stopped working.

I'm on the same project as some co-worker and it works fine with them.

I've spent time trying many things to get it to work.
At last, I've tried to remove everything and restart from fresh.

**Steps to Reproduce / Scenario:**

 - clear my usersetting.
 - uninstall every extension.
 - turn off user sync in vscode.
 - delete my .vscode and every file link to vscode in

[2020-12-01 16:40] catycaldwell commented on #251
Hi @TGauthier2011, the above screenshot is of IntelliSense in Visual Studio Code not IntelliCode, the stars on items you get at the top of your IntelliSense completions list. As you mentioned the settings.json file is the right location for customizing IntelliSense, however, you are not currently able to customize WHEN to show/not show the IntelliSense window on certain parameters.

For more infor

[2020-12-01 16:42] #251 closed

[2020-12-01 16:50] catycaldwell commented on #254
@ShaikSaheb, thanks for leaving an issue. Could you update with more information about what you're seeing so the team can help investigate your issue?

[2020-12-01 16:53] catycaldwell commented on #253
@tonydattolo  and @eldad-el, Which version of IntelliCode extension are you using for VS Code? Also, can you let me know which version of the Python Language Service you are using? You can find this information in the settings.json file for IntelliCode and the Python extensions.

[2020-12-01 16:56] catycaldwell commented on #252
@ghosttie, thank you for reporting this. We will have someone from the team investigate.

[2020-12-01 16:59] catycaldwell commented on #246
@Sburk, is IntelliCode causing VS Code to be not responsive?

[2020-12-01 17:16] DavidObando commented on #255
Hi @Poumm, can you try to reproduce the issue and copy the logs that IntelliCode produces in the output window in VSCode?
![image](https://user-images.githubusercontent.com/950290/100773548-e04a6080-33b5-11eb-9b89-0b5c581392df.png)

[2020-12-02 08:09] Poumm commented on #255
Hello,

unfortunately the only log I got is.

[code]

[2020-12-02 13:49] Poumm commented on #255
I manage to make it work.

I just discovered that vscode keep files in `C:\Users\{user}\AppData\Roaming\Code`.

Deleting this folder finally let me reset my vscode environment.

After this intellicode works fine.

Sorry for the trouble, I was out of options, so I call for help.

I'll close the issue since it wasn't  something in intellicode from the beginning.

Keep up the good work ! bye.

[2020-12-02 13:49] #255 closed

[2020-12-03 12:15] jtsom opened #256 "Intellicode not activating for Angular project - error in Developer tools"
When opening an Angular project in VS Code,  VS Intellicode produces an error in the developer tools debugger console:
[code]

There is nothing in the Output window for Intellicode, there isn't even a selection for it in the dropdown.

**Product and Version** [VS/VSCode]:
[code]
**OS Version** [macOS/Windows]: WIndows 10
**IntelliCode Extension Version**: 1.2.10
**Target Platform or Language** [e.

[2020-12-04 23:47] AnqiLi6 commented on #252
@ghosttie Can you try to reproduce this issue and copy this folder to us? %localappdata%\microsoft\visualstudio\<instanceID>\ComponentModelCache\

If you are not sure what the instanceID is, you can just give us all the folders under %localappdata%\microsoft\visualstudio.
Thank you very much!

[2020-12-05 02:37] ghosttie commented on #252
[ComponentModelCache.zip](https://github.com/MicrosoftDocs/intellicode/files/5646367/ComponentModelCache.zip)

[2020-12-07 16:55] DavidObando commented on #252
Thank you @ghosttie, from the logs it appears that Visual Studio is having issues finding one of the required IntelliCode components:
[code]
We're looking into this. We'll let you know shortly how to proceed to get yourself unblocked. Sorry for the inconvenience!

[2020-12-07 16:57] DavidObando commented on #256
Thank you for the report. We're actively working to get this resolved. It's currently only affecting VSCode Insiders, and using the regular (blue icon) VSCode shouldn't present you with this problem. We'll make sure to notify you when an update is available and this is resolved.

[2020-12-08 05:08] yang-zhao commented on #102
I prompt this. Offline stuff must be essential as to product release and how could it ever been a disposal?

[2020-12-08 06:01] vivlimmsft commented on #252
I'm not sure that error could be causing this issue with model training, it might be an upstream issue in the Roslyn ExternalAccess api for signature help.

It's possible that there were other composition errors that were logged in previous sessions but were overwritten. Let's clear and rebuild the cache, so we'll have a .err log containing everything.
@ghosttie, could you please open a Developer

[2020-12-08 06:47] leti367 commented on #256
This is caused by vscode issue [111913](https://github.com/microsoft/vscode/issues/111913). Will update compiler version to fix it. Thanks!

[2020-12-08 09:17] yang-zhao commented on #113
This is really upsetting. Python debug failed to launch and I suspected it be the root cause.

[2020-12-08 15:28] ghosttie commented on #252
Here is the err and log file, but there wasn't an ActivityLog.xml

[logs.zip](https://github.com/MicrosoftDocs/intellicode/files/5660152/logs.zip)

[2020-12-08 21:38] vivlimmsft commented on #252
From your log, it seems like the IntelliCode C# package isn't activating, normally there's a line in the IntelliCode log which starts with
`[2020-12-02 20:15:21.926 CSharp.Package I] [C# IntelliCode] C# IntelliCode Completions` followed by a version number.

To look further into that, I'll need a couple things: the ActivityLog.xml and install logs.
The ActivityLog.xml is only fully written to disk

[2020-12-08 22:14] ghosttie commented on #252
Thanks, I got the activity log to work using your instructions, I'll send you an email regarding the other file

[ActivityLog.zip](https://github.com/MicrosoftDocs/intellicode/files/5662241/ActivityLog.zip)

[2020-12-08 22:55] vivlimmsft commented on #252
Thanks! We're looking at the logs now. I removed the ActivityLog.xml link from your last comment after I was able to download it.

[2020-12-11 14:18] johndaintree commented on #252
I'm getting the same problem when trying to report a problem with Visual Studio 2019 Preview. I just start VS, (no solution loaded) and hit Help->Send Feedback->Report a Problem, and I always get: "Oops, we have lost the connection to Visual Studio."

VS details follow:

Microsoft Visual Studio Professional 2019 Preview
Version 16.9.0 Preview 2.0
VisualStudio.16.Preview/16.9.0-pre.2.0+30803.129
Mi

[2020-12-14 08:47] J4s0nHu4n9 commented on #102
Need offline support in my working environment too.

[2020-12-15 09:18] hyt589 commented on #108
any updates on this feature?

[2020-12-15 13:32] PhilParisot commented on #108
@catycaldwell @samoretc should this be tagged as a "feature request" instead of "product-feedback"?

[2020-12-15 23:03] vivlimmsft commented on #252
Hi @ghosttie,

Sorry for the delay in getting back to you. We found an issue where if IntelliCode was ever installed from the Visual Studio Marketplace before upgrading to 16.8, the component which provides IntelliSense stars and model training for C# would not be installed.
A fix for this has been implemented internally and will be released in the upcoming Visual Studio 16.8.4.

@johndaintree, ar

[2020-12-15 23:11] ghosttie commented on #252
Thanks, I'll look forward to it 😁

[2020-12-16 15:38] travisboss commented on #113
This is what fixed it for me, the folder is inside of a docker container so I moved it to one of my path folders and was able to get it to work.

[2020-12-16 17:23] LoopGlitch26 opened #257 "Not working even after restarting VSC"
Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

[2020-12-16 17:23] LoopGlitch26 commented on #257
for python

[2020-12-17 12:58] antonioscervan commented on #257
What's your VS Code version? I was having the same problem and solved it by updating from 1.50 to 1.52

[2020-12-17 16:13] SonOfDiablo opened #258 "Doesn't seem to work with Python "Anonymous Files""
Issue Type: <b>Bug</b>

Open new tab > Change language to Python > Write code...

Example code I used as a test:
[code]

Suggestions I got was:
datetime
PyZipFile
ZipFile

![ym66R7LcGA](https://user-images.githubusercontent.com/9123250/102513161-27f60b00-408b-11eb-8b83-505bf7773454.png)

Extension version: 1.2.10
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16

[2020-12-17 16:18] SonOfDiablo commented on #258
A quick update:

I tried saving the file and then it suddenly worked.
![9ZnCcBUYBC](https://user-images.githubusercontent.com/9123250/102513773-ee71cf80-408b-11eb-8504-9cca5a168f22.png)

[2020-12-22 04:41] m00ke5h opened #259 "Error in activation of vs intellicode"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1. In VS IntelliCode output window:
Language server is set to Pylance.
Acquiring model
Acquiring model 'intellisense-members-lstm-pylance' for python
Querying IntelliCode service for available models.
vs-intelli

[2020-12-22 12:19] mmajange opened #260 "Support for Raspberry Pi/ arm32"
**Product and Version** [VS/VSCode]: VSCode 1.51.1
**OS Version** [macOS/Windows]:Raspbian OS (arm32)
**IntelliCode Extension Version**:  v1.2.10
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. Start a python file on a Raspberry Pi on VS Code
2. Start typing code, error will appear "Sorry, something went wrong activating intellicode support for Python

[2020-12-26 02:43] #62 closed

[2020-12-28 16:13] nonameolsson commented on #204
Hey! Just wanted to see if there has been any update on this?

[2020-12-30 18:36] aabdou5 opened #261 "Intellicode not working for python"
Issue Type: <b>Bug</b>

Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

Extension version: 1.2.10
VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Int

[2021-01-04 12:59] vishalverma116 opened #262 "VS Intllicode is not working"
Issue Type: <b>Performance Issue</b>

It stopped working since last 4 to 5 days. It occurs on startup. I don't know what the hell i going on. All options are enabled still it dosn't work.

Extension version: 1.2.10
VS Code version: Code 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69, 2020-10-02T17:57:01.595Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|

[2021-01-04 19:09] uniqueiniquity commented on #204
@nonameolsson Thanks for checking in! Unfortunately, we haven't been able to address this yet.

[2021-01-04 19:48] catycaldwell commented on #257
@LoopGlitch26, can you share more details of your setup environment - VS Code extension version, Python language server, OS?

[2021-01-04 19:53] catycaldwell commented on #258
@savannahostrowski @jakebailey - adding to bubble up this feature request to the Python Language Server team.

[2021-01-04 19:55] catycaldwell commented on #258
@SonOfDiablo, Thank you for providing this feedback and providing the work around. The IntelliCode team is looking into this. Thanks!

[2021-01-04 19:59] catycaldwell commented on #259
Adding @savannahostrowski, @jakebailey for their investigation.

@M-ar-sh-h, can you share more environment information, Python extension version, OS, and VS Code version?

[2021-01-04 20:01] catycaldwell commented on #260
Hi @mmajange, the IntelliCode team is currently working on this feature. We will update once this becomes available.

[2021-01-04 20:03] catycaldwell commented on #261
@aabdou5, Thank you for providing such great detail on your environment. This was helpful. Could you try updating to the latest VS Code version to determine if this is still an issue?

[2021-01-04 20:06] catycaldwell commented on #262
@savannahostrowski @jakebailey - adding so you can take a look?

[2021-01-04 20:18] jakebailey commented on #262
I don't think there's enough info here to indicate that this is related to Python or Pylance. I think @vishalverma116 may need to provide a bit more info about what they're doing, what message they're seeing, etc, especially given that the type is marked as a performance problem (is it hanging? something else?).

[2021-01-04 20:21] jakebailey commented on #258
This is microsoft/pylance-release#739, and IC would be fixed with it.

[2021-01-05 02:48] LoopGlitch26 commented on #257
VSC version 1.50, python extension from vscode? and macOS

[2021-01-05 22:39] ahmedhamdy2121 opened #263 "VSCode JavaDoc Code Completion is not showing"
VSCode JavaDoc Code Completion is not showing for Java code; If you write the first some letters of a function, then pressed control + space (or it will be shown automatically), you expect to see code completion with documentation per function, but what is happening is that the code completion is the only one shown, do documentation at all.

However, if I hover over a function, the JavaDoc is show

[2021-01-07 22:03] gewarren opened #264 "Convert to FAQ page type"
Consider converting this FAQ page to the new FAQ page type for better SEO.

https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-faq-guide?branch=master

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 319e91fe-5e43-c02c-cc72-d0fd7b3b8fdc
* Version Independent ID: 7fbb0db9-0607-7893-abcc-708772453c65

[2021-01-08 04:48] dungmv commented on #92
up up

[2021-01-08 19:57] sagivharel commented on #102
Offline support is a must for me

[2021-01-10 12:39] aabdou5 commented on #261
I have updated VS Code, it works well now, thank you.

[2021-01-10 15:42] vishalverma116 commented on #262
hi @jakebailey ,
i apologies for being late.
i think this can help.

Language server is set to Microsoft.
Acquiring model 'intellisense-members-lstm' for python
Querying IntelliCode service for available models.
vs-intellicode-python was passed a model: {}.
Downloading model.
Starting download of https://cdsmprodstg.blob.core.windows.net/models-prod-output/Output_15708AE89896CA5DF1690433B7A8D93D28

[2021-01-11 18:26] jakebailey commented on #262
These are the for IntelliCode, but IntelliCode itself doesn't actually do anything, Pylance does (if you're using that). Do you have logs from the "python language server" output window?

[2021-01-11 18:50] pvoigt commented on #252
While waiting for 16.8.4, is there any solution to the issue?

[2021-01-11 19:28] markw-t commented on #264
We should consider moving the FAQ to the new format

[2021-01-11 19:52] markw-t commented on #263
Hi @ahmedhamdy90 ,

Thanks for raising this problem. It looks like IntelliCode itself is working as normal but there is a problem with the Java support in VS Code. Tagging @Eskibear  to take a look and confirm next steps.

Thanks
mark

[2021-01-12 02:40] Eskibear commented on #263
I can reproduce it. Let me take a look.

[2021-01-12 03:33] Eskibear commented on #263
Found the culprit: there's a bug when converting completion items between LSP format and Code format.

I'll send out a PR later. It will look like below then:

![image](https://user-images.githubusercontent.com/2351748/104265984-b1053400-54c9-11eb-8ebf-dd528301bdb8.png)

[2021-01-12 09:53] D35-doctor opened #265 "Activating Anaconda Environment"
<!--
For the past few weeks I successfully installed Anaconda as well as its essential components such as navigator to my computer. However, when practicing with anaconda especially with the "Hello World" sequence, I received an error saying I need to activate anaconda environment. The problem is that I tried to activate the anaconda environment, but which do I need to apply and activate so I prac

[2021-01-12 16:28] markw-t commented on #263
Thank you for investigating and finding the root cause @Eskibear! Once the PR is out can you advise how @ahmedhamdy90 can pick up the updated bits? Will he be auto-updated if he has the Java extension for VS Code installed?

[2021-01-12 22:50] pvoigt commented on #252
And the wait is over.... the issue appears to be resolved with 16.8.4 for me at least.

[2021-01-13 02:50] Eskibear commented on #263
The PR is for Java part of IntelliCode-VSCode, and the fix will be shipped with IntelliCode.

[2021-01-13 11:41] MoElaSec opened #266 "something went wrong activating IntelliCode support for Python+ Error while activating Python: {}"
**Product and Version** : VSCode
**OS Version** : Windows
**IntelliCode Extension Version**:  v1.2.10
**Target Platform or Language** : Python 3.9 (I used to have 3.8 and same problem happened)

**Steps to Reproduce / Scenario:**

1.Open VS-Code
2. Wait for extensions to load

No this's different from this issue [#57](https://github.com/MicrosoftDocs/intellicode/issues/57)
non of what's said there

[2021-01-13 12:32] MoElaSec commented on #266
So I wasn't able to solve the problem but due to the fact I must work with flask for the time being I did the following:
- **TLDR: worked with Jedi and abandoned IntelliCode**😊
1. Disabled Visual Studio IntelliCode
2.  in settings.json I wrote:
**``` "python.languageServer": "Jedi", ```**
3. VS-Code prompts me that I should reload the python server so I clicked re-load.

& now everything is fine:

[2021-01-14 03:53] trusktr opened #267 "Unable to install, "No extensions found""
Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-19T14:42:39.893Z
Electron: 9.4.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.85-1-MANJARO

**Steps to Reproduce / Scenario:**

1. Open marketplace
2. Search for "AssemblyScript" or other things.
3. No results.
4. Network tab in devtools shows the following response from https://ope

[2021-01-14 03:54] trusktr commented on #267
I meant to post in VS Code, but I can't find the IntelliCode extension either.

[2021-01-14 03:55] #267 closed

[2021-01-14 11:49] vishalverma116 commented on #262
these are the logs from output of "python",

at f.getInitializationOptions (/home/vishalverma116/.vscode/extensions/ms-python.python-2020.12.424452561/out/client/extension.js:59:35520)
	at f.getAnalysisOptions (/home/vishalverma116/.vscode/extensions/ms-python.python-2020.12.424452561/out/client/extension.js:9:273787)
	at /home/vishalverma116/.vscode/extensions/ms-python.python-2020.12.424452561/o

[2021-01-14 15:29] kjh107704 opened #268 "DeprecationWarning: Buffer() is deprecated due to security and usability issues"
I got the following error message on console of Developer Tools in VSCode.

[Extension Host] (node:5344) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

I checked [this](https://github.com/microsoft/vscode/issues/93177#issue-585749179) issue on microsoft/vscode,  and I

[2021-01-14 18:13] jakebailey commented on #262
That output implies things failed because you don't have a Python interpreter selected. Do you have one selected at the bottom left, or is it saying there isn't one?

[2021-01-15 18:42] mallorygiles commented on #102
I would also benefit from being able to at least be able to download the model and transfer that model to an offline machine to be able to use this extension

[2021-01-19 12:23] aleksastojsic opened #269 "Method brackets don't auto open&close after using the extension"
The extension works great. The only downside for me as a beginner is that when I'm using the extension the brackets for methods, for example, `response.json()` do not automatically close. When I disable the extension they are opening/closing just fine.

**Product and Version**: Visual Studio Code 1.52.1
**OS Version**: Windows 10 Pro
**IntelliCode Extension Version**: v1.2.10
**Target Platform or

[2021-01-19 17:02] minestarks commented on #269
Hi @aleksa-stojsic , from your description I'm assuming the "Complete Function Calls" `javascript.suggest.completeFunctionCalls` setting is enabled in VS Code. Could you confirm?

I couldn't reproduce the issue easily - auto-completing braces works for me regardless of IntelliCode is enabled or not.

Is it possible for you to share a whole file / project that demonstrates this behavior?

[2021-01-19 18:29] aleksa-stojsic commented on #269
I checked and I have Complete Function Calls set to true `"javascript.suggest.completeFunctionCalls": true` in my settings.

Where could I share the files? I tried pasting the code here with `` but it gets all messy. This is my first issue request on GitHub so it might also be that I'm just bad.

[2021-01-19 18:56] minestarks commented on #269
@aleksa-stojsic  no worries, GitHub actually makes it kind of tricky. To paste large snippets of code you can surround it with ``` (three backticks). Alternatively, if you're sharing a whole project with multiple files, some people just create a new repo on GitHub with their sample code and share a link to it.

[2021-01-19 20:04] aleksa-stojsic commented on #269
[Here is the link to those 2 files](https://github.com/aleksa-stojsic/javascript-ninja/tree/master/weather_app/scripts) where I used the methods mentioned above and was not getting the brackets. Thanks for the help and tips @minestarks !

[2021-01-19 20:38] minestarks commented on #269
Thanks! Using that repo, I can repro your issue now. We'll investigate as soon as we can!

[2021-01-19 21:43] omid3098 commented on #81
+1

[2021-01-20 15:50] cognitus commented on #92
up

[2021-01-22 04:53] tamnm commented on #102
We also need offline support.

[2021-01-22 18:35] rubikron opened #270 "VSCode on Mac IntelliCode issues."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

On the VSCode app, there is an error saying "Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details."

Also, my pylint fo

[2021-01-24 00:28] FunnyBones commented on #253
I just ran into the same thing on the latest Visual Studio Insiders build (1.53.0). I tried multiple ways of installing python, reinstalling intellisense, etc. What seemed to work was I deleted the .vscode folder in the directory I was in, and presto.

I looked at what the settings.json file had in it and it was a hard link, so to speak, to an old interpreter version.

Hope this helps someone.

[2021-01-24 14:35] ifarshgar opened #271 "VS IntelliCode fails when opening Python files"
We have written the needed data into your clipboard bec
Issue Type: <b>Bug</b>

Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details.

The error above eccurs when I try to open a python file. The notifications comes from the VS IntelliCode extension. I tried to restart all the settings again to default but

[2021-01-24 14:42] ifarshgar commented on #271
"python.pythonPath" : "C:\\Python",

The issue was fixed after settings the right path to python executables in settings.js
Thank you.

[2021-01-24 14:42] #271 closed

[2021-01-25 07:51] qzyse2017 commented on #45
Hi, there has been two years since the issue is opened and more and more developers began to use golang, is there any plan for golang support?

[2021-01-25 19:38] markw-t commented on #270
Sorry you're seeing this.

Please can you provide a little more detail on the following:
Product and Version [VS/VSCode]: ??
OS Version [macOS/Windows]:  ??
IntelliCode Extension Version: ??
Python Language Server setting in use (Jedi/Microsoft/Pylance)?

It would also be good to see a full contents of your IntelliCode output window in Visual Studio Code (you can see this by going to Output and se

[2021-01-25 19:41] markw-t commented on #266
@savannahostrowski please can you take a look at this issue?

[2021-01-25 19:42] markw-t commented on #268
@leti367  please can you take a look?

[2021-01-25 19:44] markw-t commented on #265
Closing this as there's not enough info for us to work on this problem.

If you are still seeing a problem please can you provide more detail? From the description this may not be an IntelliCode problem and is more likely to be Python related?

Thanks
Mark

[2021-01-25 19:44] #265 closed

[2021-01-25 19:47] leti367 commented on #268
Sure. I will look into it today.

________________________________
From: Mark Wilson-Thomas <notifications@github.com>
Sent: Monday, January 25, 2021 11:43:15 AM
To: MicrosoftDocs/intellicode <intellicode@noreply.github.com>
Cc: Lei Tian <leti@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/intellicode] DeprecationWarning: Buffer() is deprecated due to security and

[2021-01-25 21:53] jakebailey commented on #266
The error trace here seems to say that your VS Code version is too low. Can you upgrade to at least VS Code 1.51? (Your original post did not provide the VS Code version you are using.)

[2021-01-26 18:14] minestarks commented on #269
Investigation notes: This behavior is coming from the TypeScript IntelliCode plugin.

Comparing the good/bad logs shows that we're marking the element as a "property", whereas VS Code expects "method" to add the function call braces.

From the tsserver logs...

IntelliCode off:
`{"name":"json","kind":"method","kindModifiers":"declare","sortText":"0"}`

IntelliCode on:
`{"name":"★ json","kind":"pro

[2021-01-27 00:20] mrolinek commented on #102
Yes, please!

[2021-01-27 09:15] TFrascaroli commented on #263
Is there an ETA for the fix to be included in an update? I'm on Linux, if that makes any difference.

[2021-01-27 15:57] markw-t commented on #263
I'll let @Eskibear comment on timelines for release in an update.

[2021-01-28 01:48] Eskibear commented on #263
The patch has been merged. IntelliCode Core team is in charge of the release. I'm requesting a new release to ship the fix, and I'll let you know if there's any progress or response.

[2021-02-02 16:56] markw-t commented on #249
@Anavi18 since we don't have the output channel log info that @Eskibear requested above, we cannot take any further action on this issue. If you are still seeing this issue and can provide the logs from the output pane "VS IntellICode" as described to help us investigate, please feel free to re-open this issue.

[2021-02-02 16:56] #249 closed

[2021-02-02 16:58] markw-t commented on #258
doc-bug to document current behavior as described by this bug.

[2021-02-02 17:09] markw-t commented on #254
Removing doc-bug label.

@ShaikSaheb we are currently unable to take further action on this problem without additional information on what exactly you are seeing and when it shows up. If you are still seeing this problem please can you re-open with details of the problem being seen, when you see it, and the contents of your VS IntelliCode Output pane when the problem occurs, so we can investigate?

[2021-02-02 17:09] #254 closed

[2021-02-02 17:10] markw-t commented on #252
Thanks for confirming @pvoigt ! I'm closing out the issue.

[2021-02-02 17:10] #252 closed

[2021-02-02 17:13] #225 closed

[2021-02-02 17:18] markw-t commented on #217
This is documented in https://docs.microsoft.com/en-us/visualstudio/intellicode/overview#telemetry "In Visual Studio Code, you can disable telemetry reporting by following these instructions." which links to the vscode FAQ on disabling telemetry.

Hope this helps.

[2021-02-02 17:18] #217 closed

[2021-02-02 18:09] savannahostrowski commented on #258
This was fixed in Pylance 2021.1.0 and should no longer be an issue.

[2021-02-02 18:39] markw-t commented on #258
Based on @savannahostrowski comment, this should no longer need documenting as it's fixed. Closing

[2021-02-02 18:39] #258 closed

[2021-02-08 19:46] DavidObando commented on #260
We need support for both arm32 and armv7

[2021-02-10 18:34] ionecum commented on #74
You ran the command WHERE?

[2021-02-10 18:40] markw-t commented on #74
Hey @ionecum - do you have a new issue to report? Not sure what your comment is in relation to!

[2021-02-10 18:42] markw-t commented on #266
@MoElaSec did you have a chance to try @jakebailey 's advice?  Are you running VS Code 1.51 or higher?

[2021-02-10 18:44] MoElaSec commented on #266
Yeah after I asked the Q a time went by and I run the latest VSCode ver still got the same issue but as I said earlier stopped using the extension.
Got caught it in project to worry about something basic like this.

[2021-02-10 18:47] markw-t commented on #266
OK, thanks for getting back to us, and appreciate the info @MoElaSec . @jakebailey any further follow up steps possible here?

[2021-02-10 18:50] jakebailey commented on #266
The next version of the Python extension correctly indicates its minimum version of VS Code to prevent installing it on incompatible versions, but if the issue was not fixed by updating, then we'd need a new stack trace to see what's going on.

[2021-02-10 18:52] jakebailey commented on #266
For reference, the info would be the "Python" output logs that you had screenshooted in the original issue (as well as the VS Code version in use).

[2021-02-11 07:08] Leastrio opened #272 "Couldn't download IntelliCode model. Please check your network connectivity or firewall settings."
[code]

Trying to open a python file gives me this error.  Im on windows 10 and VSCode version 1.53, Intellicode version 1.2.11

[2021-02-13 09:33] Rhitt01 commented on #208
and also c++

[2021-02-16 14:45] Leastrio commented on #272
I created a json file in the C:\Program Files\Microsoft VS Code\models.json path and that seemed to fix it.

[2021-02-16 14:45] #272 closed

[2021-02-16 16:10] MattN25 commented on #4
FWIW, I solved this on my machine as follows:

Version: 1.53.2 (user setup)
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.18363

IntelliCode plugin v1.2.11

Corp proxy with auth and SSL/TLS in the middle.

I finally solved the issue by setting NODE_TLS_REJECT_

[2021-02-16 20:02] vivlimmsft commented on #272
It's strange that `models.json` was created there, it's usually created within the .vscode folder owned by your user. Could you please check your config.json and see if the setting `vsintellicode.modelDownloadPath` is configured? (and if it is, what it's configured to)

Either way we should print a different error message when download fails due to a local permissions issue, as the current message

[2021-02-16 20:19] Leastrio commented on #272
Where do I find my config.json?

[2021-02-16 20:20] Leastrio commented on #272
Nevermind! Found it. the ```vsintellicode.modelDownloadPath``` is just set to ```""```

[2021-02-17 14:58] snow3461 commented on #4
This is only a workaround, and a very insecure one... I would suggest to revert this once vscode has downloaded intellicode models.

[2021-02-18 16:45] estringfellow commented on #266
Hi Jake,
I am experiencing the same issue. In case it's helpful, please find the stack trace from the "Python" output log below.
I'd prefer to not abandon Intellicode and go with another solution, so I appreciate any insights you might have here!
Please let me know if you require any additional info on my behalf.
Thanks!

[Python Intellicode stack trace error.txt](https://github.com/MicrosoftDocs/

[2021-02-18 16:50] estringfellow commented on #266
I think I fixed it - after upgrading VSCode, there wasn't a Python interpreter selected by default for some reason. I selected a Python interpreter and that seems to have fixed the problem. I'm not getting the same error message when loading VSCode or in the Python logs.
Thanks!

[2021-02-19 11:51] Rdxcoder3 opened #273 "autosuggestion not working"
Issue Type: <b>Feature Request</b>

VS intellicode is not working on java 15 version please improve these features

Extension version: 1.2.11
VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042

[2021-02-19 16:12] markw-t commented on #273
Tagging @Eskibear to see this issue.

@Rdxcoder3 can you provide some more information of what you see when you try to use IntelliCode in VSCode on Java 15? In particular what do you see in the IntelliCode Output window in VS Code (which you can see by selecting the View menu in VS Code, then selecting Output - once the Output pane shows up, choose VS IntelliCode from the drop down at the right ha

[2021-02-19 23:16] laurava21 commented on #273
I think that I have the same problem, but my version is Java 11, the autosuggestion doesn't work well, it works sometimes with recent words that I use. When I put for first time for example "Thread.", it doesn't suggest anything.

[2021-02-20 02:42] Eskibear commented on #273
Try 1.2.11 again, let me know if the problem still exists. If you can stably reproduce the issue, can you provide below logs? That'd be very helpful for us to find out potential issues.
* Logs in IntelliCode Output window
* Logs in "Language Support for Java" Output window. (please change setting `java.trace.server` to "verbose" first)

[2021-02-28 14:53] a2br opened #275 "Displays unexpected props"
**Product and Version** [VS/VSCode]: VSCode 1.53.2 (https://github.com/microsoft/vscode/tree/1.53.2)
**OS Version**: Windows
**IntelliCode Extension Version**: v1.2.11
**Target Platform or Language**: Typescript

**Steps to Reproduce / Scenario:**

1. Create a class named `Session`
2. Type `new Session().` (or equivalent) and `Ctrl+[SPACE]` to display suggestions.
3. Displays unexpected properties

[2021-03-01 18:49] markw-t commented on #275
tagging @uniqueiniquity to see this report

[2021-03-03 19:33] markw-t commented on #253
Hey @tonydattolo @eldad-el  - can you give some further details on what exactly you are seeing please? It will help us to have the following:
1.  Versions of IntelliCode extension and VS Code, as well as the Python Language Service (is it Microsoft Python LS , PyLance or Jedi?)
2. What do you see in the IntelliCode output window when you try and use IntelliCode? You can see this window under  View

[2021-03-03 19:36] tonydattolo commented on #253
@markw-t
sorry, should've updated. it worked after a computer restart
i think at the time I was messing with a few different intellisense tools, the default one, pylance, and kite runner

[2021-03-03 19:39] markw-t commented on #253
Thanks @tonydattolo; glad it's working now for you and that a restart fixed it :-)

@eldad-el since we don't have details I can't tell if you were suffering the same issue as Tony; I'll close this issue but if you have the details above please feel free to re-open with them!

[2021-03-03 19:39] #253 closed

[2021-03-03 23:55] markw-t commented on #141
The feature has now released (in Visual Studio 16.8) and is no longer in preview.

[2021-03-04 02:20] #141 closed

[2021-03-04 02:20] #184 closed

[2021-03-04 02:20] #186 closed

[2021-03-05 16:19] baistcoder opened #278 "Sorry, something went wrong activating IntelliCode support for Python. Please check the "Python" and "VS IntelliCode" output windows for details."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**IntelliCode Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2021-03-05 19:26] markw-t commented on #278
Hi @baistcoder - sorry you are hitting this issue.

Please can you provide a little more detail to help us understand what you are seeing?

 It would be particularly helpful to see the contents of your Python and VS IntelliCode output windows for debugging purposes. You can check these by going to the View menu in VSCode and selecting Output. Then select VS IntelliCode from the dropdown and copy t

[2021-03-10 23:37] keg247 commented on #266
I have the same issue while running VS Code 1.54.1.  Everything worked fine in 1.52.1, but failed as soon as I updated to 1.54.1.  Python output attached.

[python_output.txt](https://github.com/MicrosoftDocs/intellicode/files/6119436/python_output.txt)

[2021-03-10 23:39] markw-t commented on #266
tagging @jakebailey to see @keg247 's new output

[2021-03-10 23:44] jakebailey commented on #266
I don't think this is related to the other users in this thread. IIRC there was some mutual bugfixes that went out for both VS Code and the Python extension to resolve some proposed API problems. @luabud or @karthiknadig may recall better if this applies.

[code]

But, I do not know who is enabling that proposed API. "nullExtensionDescription" does not appear in the Python extension, the Pylance e

[2021-03-10 23:47] jakebailey commented on #266
The message implies some extension has a null description, but none in the Python stack is missing the property in their package.json...

[2021-03-11 04:04] sc0ttwad3 commented on #278
No settings or configuration changes have been made for months in Visual Studio Code, working on the same project; but today, I also starting getting this "Sorry, something went wrong..." error this afternoon...

VS IntelliCode - Output Window
[code]

Python - Output Window
[code]

[2021-03-11 13:18] BoyanXu commented on #278
Same issue here, on VS Code - Insider, macOS

![image](https://user-images.githubusercontent.com/34408790/110793021-1cdc0100-82af-11eb-9c8e-857dcf6b248a.png)

![image](https://user-images.githubusercontent.com/34408790/110793127-3c732980-82af-11eb-9c0d-baadc6cfd351.png)

[2021-03-11 14:32] deepan-py commented on #278
Same issue

[2021-03-11 16:53] savannahostrowski commented on #278
@claudiaregio Looping you in here because it seems that there might be a notebooks issue at play.

[2021-03-11 17:22] claudiaregio commented on #278
For all those on this thread, could you please try updating to the latest version of VS Code, Python Ext, Jupyter Ext and IntelliCode Ext and let me know if the problem still persists?

[2021-03-11 19:31] Heydok commented on #278
Seems like the problem goes away when setting the language server to Microsoft instead of Pylance in my case anyways.

[2021-03-11 19:33] savannahostrowski commented on #278
@Heydok Can you share your logs with us when you try to use Pylance?

cc: @jakebailey

[2021-03-11 19:40] Heydok commented on #278
Python Output:

[code]

VS IntelliCode:

[code]

[2021-03-11 19:44] jakebailey commented on #278
The `TypeError: this.notebook.onDidChangeCellLanguage is not a function` is caused by some recent churn with the Python and Jupyter extensions when it comes to notebook support (Pylance is only involved because Jupyter hooks in to give cells to Pylance).

VS Code insiders keeps changing faster than the extensions that depend on it can release, and I think that only the insiders builds of the Jupyt

[2021-03-12 08:01] kukuxiahuni commented on #113
check your http.proxy config. Mine is that.

[2021-03-12 17:13] anatolyburakov commented on #165
it has been a year since this was reported, any updates?

[2021-03-12 23:22] Heydok commented on #278
Issue seems to be resolved after installing 'Python extension - v2021.4.647206359-dev'

[2021-03-13 04:23] sc0ttwad3 commented on #278
@Heydok Is that with "pylance.insidersChannel": "daily" set?

[2021-03-13 04:29] sc0ttwad3 commented on #278
Resolved for me as well, after the update to 'Python ext. v2021.4.647206359-dev' and 'Pylance ext. 2021.3.2-pre.1'

[2021-03-17 09:06] Xiaoxiong-Liu commented on #102
Any update for offline support now?

[2021-03-17 15:20] phydev commented on #102
Everyone working in a server for sensitive data under GDPR strict regulation, i.e. not internet access, will need offline support.  Please make this available.

[2021-03-18 02:43] Xiaoyuan18 commented on #113
您好！
&nbsp; &nbsp; &nbsp; 非常感谢您的提示！
&nbsp; &nbsp; &nbsp; 我分别安装了vs code 与vs code insiders 两个版本在自己手提电脑上。vs code 用的是user版，vs code insiders用的是系统版，前者自动装在了C盘，后者装在了D盘。前者可以自动下载IntelliCode model；后者就总是出错。感觉似乎应该不是proxy设置的问题。如果是proxy设置问题，两个都应该下载不了才对。
&nbsp; &nbsp; &nbsp;我只好把vs code insiders中的IntelliCode extension 给卸载了,使用了下载量较少的IntelliCode insider.
&nbsp; &nbsp; &nbsp;vs code的代码自动提示，是不是不依赖intellicode? 我卸载了Intel

[2021-03-18 02:47] Xiaoyuan18 commented on #113
董晓远
深圳社科院

 联系我

&nbsp;
&nbsp;
&nbsp;
------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;;
发送时间:&nbsp;2021年3月12日(星期五) 凌晨0:01
***@***.***&gt;;
***@***.***&gt;; ***@***.***&gt;;
主题:&nbsp;Re: [MicrosoftDocs/intellicode] Couldn't download IntelliCode model. Please check your network connectivity or firewall settings. New Update 1.1.8  (#113)

&nbsp;

check your http.proxy config. Mine

[2021-03-18 07:21] EralpCelebi commented on #57
I am having the same issue right now:/

[2021-03-20 10:47] samdruster opened #279 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscodeintellicode`
- Extension Version: `1.2.12`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.54.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-03-22 09:47] sglbl commented on #165
Today I faced with the same problem. Yesterday, I opened outbound rules from Control Panel -> Network and Sharing Center -> Windows Firewall -> Advanced Setting -> Outbound Rules. Then I blocked an application's internet connection. ( not vscode or similar. It was an pdf app) and after that I had this problem. Today I solved it with opening Outbound Rules and deleting that rule that I blocked. And

[2021-03-25 16:43] pedro15 opened #280 "C# ?"
When we can expect to get C# added to this plugin?

i mean the original intellicode has C# in visual studio 2019, why we can't get it on visual studio code?

[2021-03-27 20:31] jnnkB commented on #203
This would be really cool.

[2021-03-28 08:26] tarunkishore2303 opened #281 "Import not working properly !"
**Product and Version** [VS/VSCode]:
![image](https://user-images.githubusercontent.com/53224551/112746566-31b5d580-8fcd-11eb-82a1-5d5c032d4157.png)

**OS Version** [macOS/Windows]: Windows
**IntelliCode Extension Version**:  1.2.12
**Target Platform or Language** : Java

**Steps to Reproduce / Scenario:**

https://user-images.githubusercontent.com/53224551/112746597-6164dd80-8fcd-11eb-9920-9cc846

[2021-04-01 02:37] #185 closed

[2021-04-01 02:37] #177 closed

[2021-04-01 02:37] #139 closed

[2021-04-01 02:37] #97 closed

[2021-04-01 15:45] markw-t commented on #137
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:45] markw-t commented on #94
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:45] markw-t commented on #105
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:46] markw-t commented on #123
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:46] markw-t commented on #125
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:47] markw-t commented on #138
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:48] markw-t commented on #143
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:48] markw-t commented on #192
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:48] markw-t commented on #171
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:49] markw-t commented on #171
#102 covers this question, so closing as dupe of that

[2021-04-01 15:49] #171 closed

[2021-04-01 15:49] markw-t commented on #177
#102 covers this case

[2021-04-01 15:50] markw-t commented on #179
Reopening due to erroneous bot closure. Apologies for any confusion

[2021-04-01 15:51] markw-t commented on #185
We have changed the way IntelliCode setup works in more recent editions of Visual Studio, and you can now uncheck IntelliCode in the individual components tab of setup before installing if you want to opt out. Hope this helps!

[2021-04-01 15:53] markw-t commented on #257
Are you still seeing this issue @LoopGlitch26 ? There have been several releases of the new Pylance extension since this bug was raised and I wanted to verify.

[2021-04-01 15:56] LoopGlitch26 commented on #257
I updated my VSC version and so far I don't see any more issues.

[2021-04-01 15:59] markw-t commented on #279
@samdruster thanks for the report - we need a little more detail of what you are seeing before we can make any progress with this issue. Please can you add the info below so we can investigate further? Thanks!:

1. What language are you trying to use IntelliCode with? (Python/JavaScript/TypeScript/Java/SQL)?
2. What happens when you try to type a method/property in that language for a common class

[2021-04-01 16:12] markw-t commented on #281
Thanks for the report. This looks like a Java extension issues, so tagging @Eskibear to take a look

[2021-04-01 16:19] markw-t commented on #257
Thanks for the rapid reply, glad to hear that you are no longer experiencing problems. I'll close this item in that case, but please do reach out and let us know if you're experiencing any problems with IntelliCode again. I would also love to hear any feedback you may have about IntelliCode overall - good and bad. Are there things you wish it would do for you that it does not? Feel free to contact

[2021-04-01 16:19] #257 closed

[2021-04-01 16:54] Eskibear commented on #281
I can repro it. Same when IntelliCode is not installed.

https://user-images.githubusercontent.com/2351748/113327732-e3e2f980-934d-11eb-8617-35db0536e7b5.mp4

[2021-04-01 17:00] markw-t commented on #281
Thanks @Eskibear - I will leave the investigation with you as it's not an IntelliCode issue. OK?

[2021-04-01 17:05] markw-t commented on #97
This issue has not gathered any upvotes so leaving closed. If you are interested in this feature feel free to reopen and comment/vote

[2021-04-01 17:06] markw-t commented on #112
Reopening due to erroneous bot closure. Sorry for any confusion.

[2021-04-01 17:07] Eskibear commented on #281
Sure. I just created an issue for Java extension. We'll track and fix it there.

[2021-04-01 17:08] markw-t commented on #281
Great! Closing this issue in favor of the one @Eskibear raised above.

[2021-04-01 17:08] #281 closed

[2021-04-01 17:14] markw-t commented on #139
Thanks for using IntelliCode and for raising this feature request. We are considering potential future features that could help with comment-authoring in the future, and would love to hear more about ways in which a comment authoring experience could help you.  Do feel free to contact me directly mwthomas at microsoft dot com about this, or raise a new issue here with things that would help.

This

[2021-04-02 05:35] usmanchaudary commented on #225
i am not able to find intellicode feature in tools -> options anywhere, neither visual studio is suggesting me to enable it by default,.
my visual studio is updated.

[2021-04-02 14:56] markw-t commented on #225
@usmanchaudary please can you check that IntelliCode is installed on your Visual Studio instance? Visit the Visual Studio installer and click Modify on your instance. You should see tabs including an Individual Components tab, which you can search. Make sure that IntelliCode is checked:
![image](https://user-images.githubusercontent.com/12836119/113425851-69cf6680-9387-11eb-82b2-e9360fd88651.png)

[2021-04-04 08:38] TransparentLC opened #282 "IntelliCode not working for Python: Sorry, something went wrong activating IntelliCode support for Python."
**Product and Version** [VS/VSCode]: VSCode 1.55.0 (system setup, commit c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:55.261Z)
**OS Version** [macOS/Windows]: Windows_NT x64 10.0.19041
**IntelliCode Extension Version**: 1.2.12
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**

1. Open a .py file.
2. Wait until the toast appears: "Sorry, someth

[2021-04-05 18:48] DavidObando commented on #282
Hi @TransparentLC from the screenshot you posted it looks like the Python extension isn't activating correctly. Can you take a quick look into the "Log (Extension Host)" output for errors found during the Python extension activation, and share the errors here?

[2021-04-06 01:36] TransparentLC commented on #282
[log-extension-host.txt](https://github.com/MicrosoftDocs/intellicode/files/6261273/log-extension-host.txt)

After checking the log I found Python is not the only extension that failed to load and throws a lot of JS code into the log. These errors are caused by ["vscode babel transform"](https://marketplace.visualstudio.com/items?itemName=AndyHsu.vscode-babel-transform) extension. I disabled (or u

[2021-04-06 01:36] #282 closed

[2021-04-11 09:57] DavyDeDurpel commented on #113
I just installed the extension on a device outside the corporate network and I copied the 'cache' folder from that one to the corporate one.  Works like a charm.  You can find the cache folder inside C:\Users\<username>\.vscode\extensions\visualstudioexptteam.vscodeintellicode-<extension-version>

[2021-04-12 10:21] z20240 opened #283 "Typescript is die in 5 times"
Issue Type: <b>Bug</b>

Typescript is die in 5 times

Extension version: 1.2.12
VS Code version: Code 1.55.1 (Universal) (08a217c4d27a02a5bcde898fd7981bda5b49391b, 2021-04-07T18:22:52.186Z)
OS version: Darwin arm64 20.3.0
Remote OS version: Linux x64 5.4.0-1040-gcp

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|undefined|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: